Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

Bundle only server code for API routes (#7443)
  packages/next/server/on-demand-entry-handler.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Improvements to build watcher (#7441)
  packages/next/client/dev-build-watcher.js
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Enable strict export presence in webpack (#7446)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.40
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add tests for build activity indicator (#7448)
  test/integration/build-indicator/pages/a.js
  test/integration/build-indicator/pages/b.js
  test/integration/build-indicator/pages/index.js
  test/integration/build-indicator/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Run lint-fix
  examples/with-apollo-auth/lib/initApollo.js
  examples/with-flow/components/Page.js
  examples/with-graphql-hooks/lib/init-graphql.js
  examples/with-graphql-react/pages/index.js
  examples/with-immutable-redux-wrapper/components/AddCount.js
  examples/with-ioc/components/endbutton.js
  examples/with-ioc/components/endpoint.js
  examples/with-ioc/pages/blog.js
  examples/with-jest-flow/components/Page.js
  examples/with-kea/pages/index.js
  examples/with-loading/pages/_app.js
  examples/with-mobx/pages/_app.js
  examples/with-react-css-modules/pages/index.js
  examples/with-react-multi-carousel/components/image.js
  examples/with-react-multi-carousel/src/getPageContext.js
  examples/with-redux-wrapper/components/AddCount.js
  examples/with-rematch/shared/store.js
  examples/with-rematch/shared/utils.js
  examples/with-sentry-simple/pages/_app.js
  examples/with-sentry-simple/pages/_document.js
  examples/with-sentry-simple/pages/index.js
  package.json
Owners: @kheruc, @lfades

Add amp.canonicalBase option to set absolute URL (#7262)
  packages/next-server/lib/utils.ts
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/render.tsx
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/index.js
  packages/next/pages/_document.tsx
  test/integration/amphtml/next.config.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Do not force `noEmit` option into TypeScript configuration (#7451)
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Correctly pass props down in with-lingui example HOC (#7445)
  examples/with-lingui/components/withLang.js
Owners: @kheruc, @lfades

Remove react-ssr-prepass as it’s only needed for experimental feature (#7455)
  package.json
  packages/next-server/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Disable optional param routing code paths (#7459)
  packages/next-server/lib/router/utils.ts
  test/integration/dynamic-routing/pages/blog/$post/comment/$id.js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Don't run standard for tsx files in husky to match lint-fix (#7463)
  package.json
Owners: none

Make react-ssr-prepeass external if not enabled (#7466)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Render valid optimized AMP by default (#7465)
  packages/next-server/package.json
  packages/next-server/server/optimize-amp.ts
  packages/next-server/server/render.tsx
  packages/next/README.md
  packages/next/export/worker.js
  packages/next/pages/_document.tsx
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml/test/index.test.js
  test/integration/basic/test/dynamic.js
  test/integration/export-default-map/pages/some.js
  test/integration/production/test/dynamic.js
  test/integration/serverless/pages/some-amp.js
  test/integration/serverless/test/index.test.js
  test/lib/amp-test-utils.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Improve contributing doc without yarn link (#7471)
  contributing.md
Owners: none

Revise dynamic route generation (mark 3) (#7473)
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/router/utils/route-matcher.ts
  packages/next-server/lib/router/utils/route-regex.ts
  packages/next-server/lib/router/utils/sorted-routes.ts
  packages/next-server/server/next-server.ts
  packages/next/server/next-dev-server.js
  test/unit/__snapshots__/page-route-sorter.test.js.snap
  test/unit/page-route-sorter.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove old optional dynamic <Link> test (#7474)
  test/integration/dynamic-routing/pages/index.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Do not leave Promise unresolved (#7475)
  packages/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Reuse router logic instead of duping in client (#7476)
  packages/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add new stub file for exports
  packages/next-server/lib/router/utils/index.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.41
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Refresh query on mount for exported pages (#7462)
  packages/next-server/server/render.tsx
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/pages/_app.tsx
  test/integration/client-navigation/test/rendering.js
  test/integration/dynamic-routing/next.config.js
  test/integration/dynamic-routing/pages/$post/comments.js
  test/integration/dynamic-routing/pages/$post/index.js
  test/integration/dynamic-routing/pages/blog/$post/comment/$id.js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/on-mount/$post.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/export-subfolders/next.config.js
  test/integration/export/next.config.js
  test/integration/export/test/browser.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.42
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Consolidate import statements
  packages/next-server/server/next-server.ts
  packages/next/server/next-dev-server.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Upgrade to latest typescript (#7477)
  package.json
  packages/next-server/package.json
  packages/next/build/flying-shuttle.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove .includes from _app for ie compatibility (#7482)
  packages/next/pages/_app.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add identifier for Next.js AMP pages (#7485)
  packages/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.43
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update ant design examples (#7490)
  examples/with-ant-design-less/next.config.js
  examples/with-ant-design-less/package.json
  examples/with-ant-design/next.config.js
  examples/with-ant-design/package.json
  examples/with-ant-design/pages/_document.js
  examples/with-antd-mobile/next.config.js
  examples/with-antd-mobile/package.json
Owners: @kheruc, @lfades

Allow to describe initial props in the NextPage type (#7491)
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Disable <title/> warning when React Helmet is used (#7483)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix serverDir resolving for autoExporting (#7504)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.44
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

fix create command - react-relay-network-modern (#7502)
  examples/with-react-relay-network-modern/README.md
Owners: @kheruc, @lfades

Fix serverless dynamic routes (#7505)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

API interface extensions (#7363)
  packages/next-server/lib/utils.ts
  packages/next-server/package.json
  packages/next-server/server/api-utils.ts
  packages/next-server/server/next-server.ts
  packages/next/types/index.d.ts
  test/integration/api-support/big.json
  test/integration/api-support/pages/api/cookies.js
  test/integration/api-support/pages/api/error.js
  test/integration/api-support/pages/api/parse/index.js
  test/integration/api-support/pages/api/posts/index.js
  test/integration/api-support/pages/api/users.js
  test/integration/api-support/pages/user.js
  test/integration/api-support/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Simplify a few parts of the codebase (#7506)
  package.json
  packages/next-server/lib/router/router.ts
  packages/next/build/index.ts
  packages/next/build/output/index.ts
  packages/next/client/dev/amp-dev.js
  packages/next/client/dev/dev-build-watcher.js
  packages/next/client/dev/error-overlay/eventsource.js
  packages/next/client/dev/error-overlay/format-webpack-messages.d.ts
  packages/next/client/dev/error-overlay/format-webpack-messages.js
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/dev/error-overlay/source-map-support.ts
  packages/next/client/dev/event-source-polyfill.js
  packages/next/client/dev/noop.js
  packages/next/client/dev/on-demand-entries-client.js
  packages/next/client/dev/on-demand-entries-utils.js
  packages/next/client/dev/webpack-hot-middleware-client.js
  packages/next/client/error-boundary.ts
  packages/next/client/index.js
  packages/next/client/next-dev.js
  packages/next/pages/_app.tsx
  packages/next/pages/_document.tsx
  packages/next/server/hot-reloader.js
  packages/next/taskfile-babel.js
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix autoExport on windows and add tests (#7514)
  packages/next/build/index.ts
  test/integration/auto-export-fs/next.config.js
  test/integration/auto-export-fs/pages/123/hello.js
  test/integration/auto-export-fs/pages/abc.js
  test/integration/auto-export-fs/pages/another.js
  test/integration/auto-export-fs/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.45
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix auto export in serverless (#7517)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/auto-export-serverless/next.config.js
  test/integration/auto-export-serverless/pages/$post.js
  test/integration/auto-export-serverless/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
