Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Add ThemedStyleSheet.registerInterface to react-with-styles example (#13284)
  examples/with-react-with-styles/pages/_app.js
Owners: @lfades, @Timer

Special case default template in CNA (#12109)
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Allows multiple lines for `Module not found` errors (#10797)
  packages/next/client/dev/error-overlay/format-webpack-messages.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix retry for Windows tests (#13296)
  test/integration/basic/test/hmr.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.3-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix method return shape (#13299)
  packages/next/server/hot-reloader.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

chore(next): export/lib/next-server missing types (#13320)
  packages/next/export/index.ts
  packages/next/lib/recursive-copy.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/next-server/lib/amp.ts
  packages/next/next-server/lib/dynamic.tsx
  packages/next/next-server/lib/head.tsx
  packages/next/next-server/lib/runtime-config.ts
  packages/next/next-server/lib/side-effect.tsx
  packages/next/next-server/lib/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix wrong README of blog-starter-typescript example (#13330)
  examples/blog-starter-typescript/README.md
Owners: @lfades, @Timer

skip node internals (#13345)
  .vscode/launch.json
Owners: @Timer

Fix "Commitment to Open Source" link in contributing.md (#13352)
  contributing.md
Owners: @Timer

Update Amp dependencies (#13354)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Refactor with redux saga (#13342)
  examples/with-redux-saga/actions.js
  examples/with-redux-saga/components/counter.js
  examples/with-redux-saga/components/page.js
  examples/with-redux-saga/package.json
  examples/with-redux-saga/pages/_app.js
  examples/with-redux-saga/pages/index.js
  examples/with-redux-saga/pages/other.js
  examples/with-redux-saga/reducer.js
  examples/with-redux-saga/store.js
Owners: @lfades, @Timer

Refactor with redux thunk example (#13336)
  examples/with-redux-thunk/actions.js
  examples/with-redux-thunk/package.json
  examples/with-redux-thunk/pages/index.js
Owners: @lfades, @Timer

Update with-style-sheet example (#13323)
  examples/with-style-sheet/.babelrc
  examples/with-style-sheet/babel.config.js
  examples/with-style-sheet/lib/styleSheet.js
  examples/with-style-sheet/next.config.js
  examples/with-style-sheet/package.json
  examples/with-style-sheet/pages/index.js
Owners: @lfades, @Timer

Refactor with redux persist example (#13338)
  examples/with-redux-persist/components/counter.js
  examples/with-redux-persist/components/data-list.js
  examples/with-redux-persist/components/examples.js
  examples/with-redux-persist/package.json
  examples/with-redux-persist/pages/index.js
  examples/with-redux-persist/store.js
Owners: @lfades, @Timer

[examples] with-ts-eslint-jest example app (#12025)
  .eslintignore
  examples/with-typescript-eslint-jest/.babelrc
  examples/with-typescript-eslint-jest/.eslintignore
  examples/with-typescript-eslint-jest/.eslintrc.json
  examples/with-typescript-eslint-jest/.gitignore
  examples/with-typescript-eslint-jest/.prettierignore
  examples/with-typescript-eslint-jest/.prettierrc
  examples/with-typescript-eslint-jest/README.md
  examples/with-typescript-eslint-jest/jest.config.js
  examples/with-typescript-eslint-jest/next-env.d.ts
  examples/with-typescript-eslint-jest/package.json
  examples/with-typescript-eslint-jest/pages/api/hello.tsx
  examples/with-typescript-eslint-jest/pages/index.tsx
  examples/with-typescript-eslint-jest/public/favicon.ico
  examples/with-typescript-eslint-jest/public/vercel.svg
  examples/with-typescript-eslint-jest/test/__mocks__/fileMock.js
  examples/with-typescript-eslint-jest/test/pages/__snapshots__/index.test.tsx.snap
  examples/with-typescript-eslint-jest/test/pages/index.test.tsx
  examples/with-typescript-eslint-jest/test/testUtils.ts
  examples/with-typescript-eslint-jest/tsconfig.json
Owners: @Timer, @lfades

Add a few extra types (#13363)
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/export/index.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/require.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update Monaco Editor Example (#13369)
  examples/with-monaco-editor/pages/index.js
Owners: @lfades, @Timer

Convert export worker to typescript (#13381)
  packages/next/export/index.ts
  packages/next/export/worker.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fixed with-iron-session to work on Windows systems (#13386)
  examples/with-iron-session/package.json
Owners: @lfades, @Timer

with-overmind server error because of incorrect getStaticProps return statement (#13385)
  examples/with-overmind/pages/about.js
  examples/with-overmind/pages/index.js
Owners: @lfades, @Timer

Refactor with rematch example (#13392)
  examples/with-rematch/package.json
  examples/with-rematch/pages/_app.js
  examples/with-rematch/pages/github-users.js
  examples/with-rematch/pages/index.js
  examples/with-rematch/shared/components/counter-display.js
  examples/with-rematch/shared/components/header.js
  examples/with-rematch/shared/models/counter.js
  examples/with-rematch/shared/models/github.js
  examples/with-rematch/shared/utils.js
Owners: @lfades, @Timer

Make page path case sensitive in dev (#8848)
  packages/next/server/lib/find-page-file.ts
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update PR stats action branch check (#13394)
  .github/actions/next-stats-action/src/index.js
  .github/actions/next-stats-action/src/prepare/action-info.js
Owners: @Timer

Fixing Redundant React imports on next.js/examples (#13384)
  examples/with-ant-design/pages/_app.js
  examples/with-dynamic-import/pages/index.js
  examples/with-iron-session/pages/index.js
  examples/with-iron-session/pages/login.js
  examples/with-iron-session/pages/profile-sg.js
  examples/with-iron-session/pages/profile-ssr.js
  examples/with-monaco-editor/pages/index.js
  examples/with-next-page-transitions/pages/_app.js
  examples/with-next-page-transitions/pages/_document.js
  examples/with-next-page-transitions/pages/index.js
  examples/with-react-with-styles/pages/_app.js
  examples/with-react-with-styles/pages/index.js
  examples/with-style-sheet/pages/index.js
Owners: @lfades, @Timer

feat(cli): use default template when GH is offline (#12194)
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/index.ts
  packages/create-next-app/package.json
  test/integration/create-next-app/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix `with-sentry-simple` example (#13404)
  examples/with-sentry-simple/pages/_error.js
Owners: @lfades, @Timer

docs(static-html-export): note getServerSideProps (#13401)
  docs/advanced-features/static-html-export.md
Owners: @Timer

fix(client-routing): page render (#13305)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/getserversideprops/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Bundle env configs in serverless mode (#13406)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/lib/load-env-config.ts
  packages/next/server/hot-reloader.ts
  test/integration/env-config/app/next.config.js
  test/integration/env-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add failing paths to export error summary (#10026)
  packages/next/export/index.ts
  test/integration/handles-export-errors/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Experimental] Do not type check twice (#13419)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  test/integration/typescript-ignore-errors/next.config.js
  test/integration/typescript-ignore-errors/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.3-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Removed redundant react imports from with-overmind (#13422)
  examples/with-overmind/pages/about.js
  examples/with-overmind/pages/index.js
Owners: @lfades, @Timer

Update Static HTML Export documentation (#11814)
  docs/advanced-features/static-html-export.md
  docs/basic-features/data-fetching.md
Owners: @Timer

Refactor class components to functional @ examples (#13398)
  examples/with-carbon-components/pages/index.js
  examples/with-cerebral/pages/index.js
  examples/with-cerebral/pages/other.js
  examples/with-custom-babel-config/pages/index.js
  examples/with-dynamic-app-layout/pages/_app.js
  examples/with-firebase-cloud-messaging/pages/index.js
  examples/with-next-page-transitions/pages/about.js
  examples/with-portals-ssr/package.json
  examples/with-portals-ssr/pages/index.js
  examples/with-segment-analytics/package.json
  examples/with-segment-analytics/pages/contact.js
  examples/with-slate/pages/multiple.js
  examples/with-videojs/components/Player.js
  examples/with-videojs/package.json
  examples/with-videojs/pages/index.js
Owners: @lfades, @Timer

Fix auto export opting out from _error edge case (#13425)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/auto-export-error-bail/pages/app/_error.js
  test/integration/auto-export-error-bail/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make sure to not duplicate exports with exportTrailingSlash (#11011)
  packages/next/export/index.ts
  test/integration/export/next.config.js
  test/integration/export/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Example: Static Generation of local Apollo GraphQL schema (#13202)
  examples/api-routes-apollo-server/README.md
  examples/api-routes-apollo-server/package.json
  examples/api-routes-apollo-server/pages/[username].js
  examples/api-routes-apollo-server/pages/api/graphql.js
  examples/api-routes-apollo-server/pages/index.js
  examples/api-routes-apollo-server/shared/query-graphql/index.js
Owners: @lfades, @Timer

chore(next-server): api-utils,crypto-utils,next-server missing types (#13431)
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/crypto-utils.ts
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
