Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Revert "Test"
  UPGRADING.md
Owners: @Timer

Small grammar fix (#10317)
  docs/faq.md
Owners: @Timer

fix: 9919 Add warning when no config is exported from next.con… (#10228)
  errors/empty-configuration.md
  packages/next/next-server/server/config.ts
  test/integration/config-empty/next.config.js
  test/integration/config-empty/pages/index.js
  test/integration/config-empty/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update workflow for testing against react@next (#10323)
  .github/workflows/test_react_next.yml
Owners: @Timer

v9.2.2-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Repair advanced feature reference (#10330)
  examples/with-google-analytics/README.md
Owners: @lfades, @Timer

Disable caching for react@next workflow as its not supported (#10331)
  .github/workflows/test_react_next.yml
Owners: @Timer

[Experimental] Nomodule polyfills chunk (#10212)
  packages/next-polyfill-nomodule/package.json
  packages/next-polyfill-nomodule/src/index.js
  packages/next/build/babel/preset.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/client/index.js
  packages/next/client/polyfills-nomodule.js
  packages/next/package.json
  test/integration/polyfilling-minimal/next.config.js
  test/integration/polyfilling-minimal/pages/index.js
  test/integration/polyfilling-minimal/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update note about public and pages overlap (#10287)
  docs/basic-features/static-file-serving.md
Owners: @Timer

Update the default template of create-next-app (#10327)
  packages/create-next-app/templates/default/components/nav.js
  packages/create-next-app/templates/default/pages/index.js
  packages/create-next-app/templates/default/public/zeit.svg
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade with-carbon-components to built-in SCSS (#10321)
  examples/with-carbon-components/next.config.js
  examples/with-carbon-components/package.json
  examples/with-carbon-components/pages/_app.js
  examples/with-carbon-components/pages/_document.js
  examples/with-carbon-components/pages/index.js
  examples/with-carbon-components/static/myCustomTheme.scss
  examples/with-carbon-components/styles/custom-theme.scss
  examples/with-carbon-components/styles/export.scss
Owners: @lfades, @Timer

v9.2.2-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fixes #10333 `with-next-seo` sample issues (#10335)
  examples/with-next-seo/pages/_app.js
  examples/with-next-seo/pages/index.js
  examples/with-next-seo/pages/jsonld.js
Owners: @lfades, @Timer

Fix api-routes-apollo-server-and-client-auth Example (#10334)
  examples/api-routes-apollo-server-and-client-auth/pages/signin.js
  examples/api-routes-apollo-server-and-client-auth/pages/signout.js
Owners: @lfades, @Timer

TypeScript documentation for _app.tsx (#10345)
  docs/advanced-features/custom-app.md
  docs/basic-features/typescript.md
Owners: @Timer

Improve api-routes-apollo-server-and-client-auth Example (#10358)
  examples/api-routes-apollo-server-and-client-auth/pages/signin.js
  examples/api-routes-apollo-server-and-client-auth/pages/signout.js
Owners: @lfades, @Timer

Increase watch limit for GitHub actions testing (#10367)
  .github/workflows/build_test_deploy.yml
  .github/workflows/test_react_next.yml
Owners: @Timer

added fix for #8893 (#10370)
  examples/with-firebase-hosting/package.json
Owners: @lfades, @Timer

Make sure to not override initial navigation when refreshing static page's query (#10353)
  packages/next/client/index.js
  test/integration/dynamic-routing/pages/[name]/on-mount-redir.js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add support for runtimeConfigs in serverless mode (#10365)
  errors/serverless-publicRuntimeConfig.md
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/config.ts
  test/integration/handle-non-page-in-pages/test/index.test.js
  test/integration/serverless-runtime-configs/pages/config.js
  test/integration/serverless-runtime-configs/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add check that dynamic route is API route in handleApiRequest (#10360)
  packages/next/next-server/server/next-server.ts
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Implement experimental pages/404.js for custom 404 page (#10329)
  errors/404-get-initial-props.md
  packages/next/build/index.ts
  packages/next/lib/constants.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/server/next-dev-server.ts
  test/integration/404-page/next.config.js
  test/integration/404-page/pages/404.js
  test/integration/404-page/pages/err.js
  test/integration/404-page/pages/index.js
  test/integration/404-page/test/index.test.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update Preact Example (#10380)
  examples/using-preact/README.md
  examples/using-preact/package.json
Owners: @lfades, @Timer

v9.2.2-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Custom AMP Validator Variable Name Collision Fix (#10371)
  packages/next/export/index.ts
  packages/next/export/worker.js
  test/integration/amphtml-custom-validator/next.config.js
  test/integration/amphtml-custom-validator/pages/index.js
  test/integration/amphtml-custom-validator/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix bug in catch-all routes with SSG (#10379)
  packages/next/build/utils.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update create app docs (#10382)
  packages/create-next-app/templates/default/README.md
  packages/create-next-app/templates/default/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make sure runtime config is set before any imports for serverless (#10386)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless-runtime-configs/pages/_app.js
  test/integration/serverless-runtime-configs/pages/_document.js
  test/integration/serverless-runtime-configs/pages/api/config.js
  test/integration/serverless-runtime-configs/pages/config.js
  test/integration/serverless-runtime-configs/server.js
  test/integration/serverless-runtime-configs/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to not show API not ended warning when response is piped to (#10342)
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/pages/api/test-res-pipe.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add TypeScript Definitions for Sass (#10363)
  lint-staged.config.js
  package.json
  packages/next/types/global.d.ts
  test/integration/typescript/components/hello.module.sass
  test/integration/typescript/components/hello.module.scss
  test/integration/typescript/components/hello.ts
  test/integration/typescript/next.config.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.2-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove Old Records (#10398)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix with-reasonml example (#10399)
  examples/with-reasonml/next.config.js
  examples/with-reasonml/package.json
Owners: @lfades, @Timer

Skip undefined attribute in Head (#9856)
  packages/next/client/head-manager.js
  test/integration/client-navigation/pages/head.js
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make sure runtime config works in dev mode for serverless targ… (#10402)
  packages/next/next-server/server/next-server.ts
  test/integration/serverless-runtime-configs/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Check for invalid pages (#10403)
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/pages/__ytho__/lel.js
  test/integration/telemetry/pages/hello.test.skip
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
