Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

feat: update api-routes example to SSG (#11019)
  examples/api-routes/components/Person.js
  examples/api-routes/package.json
  examples/api-routes/pages/index.js
  examples/api-routes/pages/person/[id].js
Owners: @lfades, @Timer

Fix Test for Windows
  test/integration/scss/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update amp-first example to use GSSP (#11028)
  examples/amp-first/pages/index.js
Owners: @lfades, @Timer

Update with-zeit-fetch example to use SSG (#11026)
  examples/with-zeit-fetch/pages/index.js
  examples/with-zeit-fetch/pages/preact.js
Owners: @lfades, @Timer

Update next-sass example to use built-in sass support (#11015)
  examples/with-next-sass/README.md
  examples/with-next-sass/components/hello-world.js
  examples/with-next-sass/components/hello-world.module.scss
  examples/with-next-sass/next.config.js
  examples/with-next-sass/package.json
  examples/with-next-sass/pages/_app.js
  examples/with-next-sass/pages/index.js
  examples/with-next-sass/styles.scss
  examples/with-next-sass/styles/style.scss
Owners: @lfades, @Timer

Correct Cache-Control Behavior for GS(S)P (#11022)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/send-payload.ts
  test/integration/getserversideprops-preview/pages/index.js
  test/integration/getserversideprops/pages/custom-cache.js
  test/integration/getserversideprops/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update custom-server-fastify example to not use internal fn (#11040)
  examples/custom-server-fastify/package.json
  examples/custom-server-fastify/server.js
Owners: @lfades, @Timer

Updated analyze-bundles example (#11031)
  examples/analyze-bundles/package.json
  examples/analyze-bundles/pages/index.js
Owners: @lfades, @Timer

v9.3.1-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Use getServerSideProps (#11057)
  examples/api-routes/pages/index.js
  examples/api-routes/pages/person/[id].js
Owners: @lfades, @Timer

Update custom-server-express example with getServerSideProps (#11035)
  examples/custom-server-express/package.json
  examples/custom-server-express/pages/index.js
  examples/custom-server-express/pages/posts.js
  examples/custom-server-express/server.js
Owners: @lfades, @Timer

Upgrade next.js version on datocms example (#11039)
  examples/cms-datocms/package.json
  examples/cms-datocms/public/images/author.jpg
  examples/cms-datocms/public/images/image.jpg
Owners: @lfades, @Timer

Update with-loading example to SSG (#11050)
  examples/with-loading/README.md
  examples/with-loading/package.json
  examples/with-loading/pages/_app.js
  examples/with-loading/pages/about.js
  examples/with-loading/pages/forever.js
  examples/with-loading/pages/index.js
Owners: @lfades, @Timer

update form handler example (#11059)
  examples/form-handler/components/index.js
  examples/form-handler/package.json
  examples/form-handler/pages/_app.js
  examples/form-handler/pages/index.js
  examples/form-handler/server.js
Owners: @lfades, @Timer

Add support for static 404 when _error does not have custom GIP (#11062)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/pages/_error.tsx
  test/integration/404-page-custom-error/pages/_error.js
  test/integration/404-page-custom-error/pages/err.js
  test/integration/404-page-custom-error/pages/index.js
  test/integration/404-page-custom-error/test/index.test.js
  test/integration/static-404/next.config.js
  test/integration/static-404/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update ssr-caching example with getServerSideProps (#11032)
  examples/ssr-caching/pages/blog.js
  examples/ssr-caching/pages/blog/[id].js
Owners: @lfades, @Timer

Upgrade styled-jsx (#11070)
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update preset.ts: Remove any and use updated Node.js types (#11075)
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update @next/bundle-analyzer dependencies (#11068)
  package.json
  packages/next-bundle-analyzer/package.json
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.1-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update introduction.md (#11092)
  docs/advanced-features/amp-support/introduction.md
Owners: @Timer

Fix prettier linting
  docs/advanced-features/amp-support/introduction.md
Owners: @Timer

Add support for SCSS options (#11063)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/next-server/server/config.ts
  test/integration/scss-fixtures/basic-module-include-paths/next.config.js
  test/integration/scss-fixtures/basic-module-include-paths/pages/index.js
  test/integration/scss-fixtures/basic-module-include-paths/pages/index.module.scss
  test/integration/scss-fixtures/basic-module-include-paths/styles/_vars.scss
  test/integration/scss/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.1-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update API routes documentation to correctly mention middlewar… (#11083)
  docs/api-routes/api-middlewares.md
Owners: @Timer

Update with-react-multi-carousel example to use GSSP (#11069)
  examples/with-react-multi-carousel/package.json
  examples/with-react-multi-carousel/pages/index.js
Owners: @lfades, @Timer

Move public directory for development in examples/with-firebas… (#11085)
  examples/with-firebase-hosting-and-docker/package.json
  examples/with-firebase-hosting-and-docker/src/app/public/placeholder.html
  examples/with-firebase-hosting-and-typescript/package.json
  examples/with-firebase-hosting-and-typescript/src/app/public/placeholder.html
  examples/with-firebase-hosting/package.json
  examples/with-firebase-hosting/src/app/public/placeholder.html
Owners: @lfades, @Timer

v9.3.1-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update CLI custom config documentation link (#11152)
  packages/next/cli/next-build.ts
  packages/next/cli/next-dev.ts
  packages/next/cli/next-start.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add error when attempting to export GSSP page (#11154)
  errors/gssp-export.md
  packages/next/export/worker.js
  packages/next/lib/constants.ts
  test/integration/getserversideprops-export-error/pages/index.js
  test/integration/getserversideprops-export-error/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add CSS file to build output (#11145)
  packages/next/build/utils.ts
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update <dir> reference in help text
  packages/next/cli/next-build.ts
  packages/next/cli/next-dev.ts
  packages/next/cli/next-export.ts
  packages/next/cli/next-start.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove react-ssr-prepass alias as it's not longer needed (#11170)
  examples/using-preact/package.json
Owners: @lfades, @Timer

upgrade @ampproject/toolbox-optimizer to 2.0.1 (#11168)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add section on reading files (#11084)
  docs/basic-features/data-fetching.md
Owners: @Timer

[Examples] fix `remark` link in blog-starter's README (#11177)
  examples/blog-starter/README.md
Owners: @lfades, @Timer

v9.3.2-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Updated with-typescript example to SSG (#11081)
  examples/with-typescript/components/Layout.tsx
  examples/with-typescript/pages/about.tsx
  examples/with-typescript/pages/api/users/[id].ts
  examples/with-typescript/pages/index.tsx
  examples/with-typescript/pages/users/[id].tsx
  examples/with-typescript/pages/users/index.tsx
  examples/with-typescript/utils/sample-api.ts
Owners: @lfades, @Timer

Group CSS files in shared build output separate from JS files (#11184)
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades
