Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc

Add checking of react versions (#6892)
  .circleci/config.yml
  errors/invalid-react-version.md
  packages/next/bin/next.ts
  packages/next/server/next-dev-server.js
  test/unit/handles-incorrect-react.test.js
Owners: @kheruc, @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.11
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make Client request BUILD_ID from the Server (#6891)
  errors/head-build-id.md
  packages/next-server/lib/constants.js
  packages/next-server/server/render.tsx
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/build/write-build-id.ts
  packages/next/client/index.js
  packages/next/client/page-loader.js
  packages/next/package.json
  packages/next/pages/_document.js
  packages/next/server/hot-reloader.js
  test/integration/serverless-on-demand-pages/next.config.js
  test/integration/serverless-on-demand-pages/pages/abc.js
  test/integration/serverless-on-demand-pages/pages/fetch.js
  test/integration/serverless-on-demand-pages/pages/index.js
  test/integration/serverless-on-demand-pages/run-server.js
  test/integration/serverless-on-demand-pages/server.js
  test/integration/serverless-on-demand-pages/test/index.test.js
  yarn.lock
Owners: @kheruc, @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Compute Chunk Graph file hashes on emit (#6897)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  test/integration/chunk-graph/next.config.js
  test/integration/chunk-graph/pages/index.js
  test/integration/chunk-graph/test/index.test.js
  test/integration/dist-dir/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add ** experimental page globbing support (#6899)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Correctly compute unknown module ids (#6898)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.12
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Extract styled-jsx (#6901)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.13
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Turn off module opts when selective page building (#6903)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.14
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Temporarily only do one pass (#6900)
  package.json
  packages/next-server/package.json
  packages/next-server/server/render.tsx
  packages/next-server/types/index.d.ts
  packages/next/package.json
  packages/next/pages/_document.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.15
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Revert "Extract styled-jsx (#6901)" (#6907)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Only handle on catch in render (#6908)
  packages/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add query for debugging amp data (#6909)
  packages/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add useRequest hook and RequestContext (#6910)
  packages/next-server/lib/request-context.ts
  packages/next-server/server/render.tsx
  packages/next/client/router.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.16
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add more chunk graph data (#6911)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.17
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Better debug build message (#6915)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add a build all but specified pages mode (#6916)
  packages/next/build/index.ts
  test/unit/select-pages/__snapshots__/select-pages.test.js.snap
  test/unit/select-pages/pages/_app.js
  test/unit/select-pages/pages/_document.js
  test/unit/select-pages/pages/a.js
  test/unit/select-pages/pages/b.jsx
  test/unit/select-pages/pages/c.mdx
  test/unit/select-pages/select-pages.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.18
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix page resolution (#6920)
  packages/next/build/index.ts
  test/unit/select-pages/__snapshots__/select-pages.test.js.snap
  test/unit/select-pages/pages/c/index.mdx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove route cache key (#6921)
  packages/next/lib/data.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.19
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make chunk graph more accurate (#6923)
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.20
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add lambda version of shared chunks (#6924)
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  test/unit/select-pages/select-pages.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.21
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix nesting level of client page scripts (#6925)
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/pages/_document.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.22
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add babel-plugin-transform-async-to-promises (#6929)
  packages/next/build/babel/preset.ts
  test/unit/router.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.23
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Bump parallelism on circleci (#6926)
  .circleci/config.yml
Owners: none

use var as libraryTarget (#6945)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Disable terser for server build (#6951)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Simplify options assignment (#6949)
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Optimize resolve configuration (#6954)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.24
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades
