Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.4-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove passing of NODE_OPTIONS='--inspect' to subprocesses (#11041)
  packages/next/server/lib/utils.ts
  packages/next/server/next-dev-server.ts
  test/integration/cli/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to make sure AMP only bundles are always removed in pro… (#11527)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/amphtml/pages/another-amp.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Example/update unstated (#11534)
  examples/with-unstated/README.md
  examples/with-unstated/components/Clock.js
  examples/with-unstated/components/Counter.js
  examples/with-unstated/components/index.js
  examples/with-unstated/containers/ClockContainer.js
  examples/with-unstated/containers/CounterContainer.js
  examples/with-unstated/containers/clock.js
  examples/with-unstated/containers/counter.js
  examples/with-unstated/containers/index.js
  examples/with-unstated/package.json
  examples/with-unstated/pages/_app.js
  examples/with-unstated/pages/about.js
  examples/with-unstated/pages/index.js
Owners: @lfades, @Timer

Update build output with renamed column (#11401)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/build-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.4-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add notes to styled-components example README (#11540)
  examples/with-styled-components/README.md
Owners: @lfades, @Timer

Update hello-world example React version & name for CodeSandbox (#11550)
  examples/hello-world/package.json
Owners: @lfades, @Timer

v9.3.4-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix styled-components example README notes (#11548)
  examples/with-styled-components/README.md
Owners: @lfades, @Timer

Prevent extraneous re-renders with next/dynamic (#11587)
  packages/next/next-server/lib/loadable.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to make sure to respond with 400 for invalid URLs (#11561)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/router/utils/route-matcher.ts
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

add: `jsx` to list of supported files in docs (#11579)
  docs/basic-features/pages.md
Owners: @Timer

[docs] document how root routes coexist with dynamic api routes (#11591)
  docs/api-routes/dynamic-api-routes.md
Owners: @Timer

v9.3.5-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[docs] Remove broken link to example api-routes-micro (#11597)
  docs/api-routes/introduction.md
Owners: @Timer

Update minimum required node version to be more specific (#11604)
  docs/getting-started.md
Owners: @Timer

Rename unstable GSP field (#11602)
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
  test/integration/env-config/app/pages/index.js
  test/integration/env-config/app/pages/some-ssg.js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/blog/index.js
  test/integration/prerender/pages/catchall-explicit/[...slug].js
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/pages/user/[user]/profile.js
  test/integration/typescript/pages/ssg/[slug].tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Replace getInitialProps with getServerSideProps (#11586)
  examples/with-firebase-authentication/pages/index.js
Owners: @lfades, @Timer

[Docs] Remove concepts folder (#11621)
  docs/concepts/_data-fetching.md
  docs/concepts/_server-side-and-client-side.md
Owners: @Timer

make providers headlines so they become linkable (#11613)
  errors/no-cache.md
Owners: @Timer

[fix:typo] - Fixing a typo in the typescript example (#11630)
  examples/with-typescript/README.md
Owners: @lfades, @Timer

Fix Preview Mode in `<iframe>` (#11638)
  packages/next/next-server/server/api-utils.ts
  packages/next/package.json
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/prerender-preview/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.5-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update FAQ link (#11636)
  docs/faq.md
Owners: @Timer

Updated with-shallow-routing to use getServerSideProps (#11585)
  examples/with-shallow-routing/README.md
  examples/with-shallow-routing/package.json
  examples/with-shallow-routing/pages/index.js
Owners: @lfades, @Timer

Add error when GSSP methods are added as page component members (#11645)
  errors/gssp-component-member.md
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  test/integration/ssg-component-members-error/pages/index.js
  test/integration/ssg-component-members-error/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.5-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Warn when user has pages/_error but no pages/404 (#11603)
  errors/custom-error-no-custom-404.md
  packages/next/build/utils.ts
  packages/next/next-server/server/next-server.ts
  test/integration/build-output/test/index.test.js
  test/integration/custom-error/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Updating native-url version (#11670)
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Integrate with-atlaskit (#11269)
  examples/with-atlaskit/.babelrc
  examples/with-atlaskit/README.md
  examples/with-atlaskit/components/ButtonComponent.js
  examples/with-atlaskit/components/CheckboxComponent.js
  examples/with-atlaskit/components/DateTimePickerComponent.js
  examples/with-atlaskit/components/DropdownMenuComponent.js
  examples/with-atlaskit/package.json
  examples/with-atlaskit/pages/_document.js
  examples/with-atlaskit/pages/index.js
Owners: @lfades, @Timer

Fix documentation link in Basic API routes example (#11671)
  examples/api-routes/README.md
Owners: @lfades, @Timer

add links to sections in data fetching documentation (#11666)
  docs/basic-features/data-fetching.md
Owners: @Timer

[create-next-app] update logic for shouldUseYarn function (#11683)
  packages/create-next-app/helpers/should-use-yarn.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update Automatic Static Optimization docs (#11618)
  docs/advanced-features/automatic-static-optimization.md
Owners: @Timer

A little bit of maintenance on the ReasonML examples (#11662)
  examples/with-reasonml-todo/.babelrc
  examples/with-reasonml-todo/package.json
  examples/with-reasonml/.babelrc
  examples/with-reasonml/package.json
Owners: @lfades, @Timer

Use function for function components (#11695)
  packages/create-next-app/templates/default/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.5-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add dependencies used by compiled files (#11699)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
