Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Support `repeat`ing Dynamic Route Params (#9599)
  packages/next/next-server/lib/router/utils/route-matcher.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix extra prerender error for invalid getStaticProps usage (#9593)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Support for Event Flushing (#9606)
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade Webpack and Terser (#9608)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Use NextComponentType in NextPage (#9575)
  packages/next/next-server/lib/utils.ts
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update yarn.lock
  yarn.lock
Owners: @Timer

Aggressively Replace Constants (#9610)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/unit/next-babel-loader.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enhancement: Upgrade devalue version to 2.0.1 (#9611)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

with-material-ui example linked to mui-org/material-ui (#9605) (#9616)
  examples/with-material-ui/README.md
  examples/with-material-ui/package.json
  examples/with-material-ui/pages/_app.js
  examples/with-material-ui/pages/about.js
  examples/with-material-ui/pages/index.js
  examples/with-material-ui/src/Link.js
  examples/with-material-ui/src/ProTip.js
  examples/with-material-ui/src/theme.js
Owners: @lfades, @Timer

Enhancement: Upgrade css-loader version to 1.0.0 (#9629)
  examples/with-algolia-react-instantsearch/package.json
Owners: @lfades, @Timer

Enhancement: Remove caret range for node-sass (#9630)
  examples/with-next-sass/package.json
Owners: @lfades, @Timer

Add babel-plugin-graphql-tag to the with-apollo example (#9635)
  examples/with-apollo/.babelrc
  examples/with-apollo/package.json
Owners: @lfades, @Timer

Only Load JS Files for Polyfills (#9628)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update with-socket.io example (#9583)
  examples/with-socket.io/README.md
  examples/with-socket.io/hooks/useSocket.js
  examples/with-socket.io/package.json
  examples/with-socket.io/pages/clone.js
  examples/with-socket.io/pages/index.js
Owners: @lfades, @Timer

Fix react@next tests missing chromedriver env (#9632)
  .circleci/config.yml
Owners: @Timer

Remove Extraneous Imports in Pages (#9627)
  packages/next/build/babel/plugins/dangerously-remove-unused-imports.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/world.txt
  test/unit/next-babel-loader.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix instructions for with-netlify-cms example (#9637)
  examples/with-netlify-cms/readme.md
Owners: @lfades, @Timer

Correct URI Encoding Order (#9638)
  packages/next/client/page-loader.js
  test/integration/preload-viewport/pages/dynamic/[hello].js
  test/integration/preload-viewport/pages/multi-prefetch.js
  test/integration/preload-viewport/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

adding duration for custom performance marks (#9592)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Separate SSG Transform from Config (#9639)
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Rewrite SSG Transform (#9640)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add SSG Support for VariableDeclarations (#9641)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove Scope Bindings for SSG (#9642)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Additional SSG Transform Test
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix Import Shaking for Namespaces (#9650)
  packages/next/build/babel/plugins/dangerously-remove-unused-imports.ts
  test/unit/next-babel-loader.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix SSG Named Export Transform (#9649)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Rewrite SSG Transform for Recursive Cleanup (#9652)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Only Remove Server-Side Imports (#9653)
  packages/next/build/babel/plugins/dangerously-remove-unused-imports.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/unit/babel-plugin-next-ssg-transform.test.js
  test/unit/next-babel-loader.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix Linting Pre-Commit Hook (#9654)
  lint-staged.config.js
Owners: @Timer

Bump Babel Cache Key (#9655)
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Use Real Identifier for SSG Transform (#9656)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable SSG Transform on Non-SSG Pages (#9657)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update example analyze bundles (#9645)
  examples/analyze-bundles/README.md
  examples/analyze-bundles/next.config.js
  examples/analyze-bundles/package.json
Owners: @lfades, @Timer

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
