Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Fix with-tailwindcss build issues (#9179)
  examples/with-tailwindcss/package.json
Owners: @lfades, @Timer

Check Files during Install (#9182)
  .circleci/config.yml
  azure-pipelines.yml
  package.json
Owners: @Timer

v9.1.2-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Reenable AMP Tests (#9162)
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml-fragment-style/test/index.test.js
  test/integration/amphtml/test/index.test.js
  test/integration/styled-jsx-module/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

docs(api-routes): fix micro-cors example (#9184)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

update with-mdx example to latest packages (#9186)
  examples/with-mdx/next.config.js
  examples/with-mdx/package.json
Owners: @lfades, @Timer

Ensure directory before flushing cache file (#9187)
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/pages/user/[user]/profile.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add `StrictMode` toggle (#9161)
  packages/next/build/webpack-config.ts
  packages/next/client/index.js
  packages/next/next-server/server/config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Ensure that all <link> elements have a key prop (#9204)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update Babel dependencies (#9203)
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update with-react-intl example (#9180)
  examples/with-react-intl/pages/_app.js
Owners: @lfades, @Timer

allow NextScript to optionally defer javascript (#8980)
  .circleci/config.yml
  package.json
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
  packages/next/pages/_document.tsx
  test/integration/defer-scripts/next.config.js
  test/integration/defer-scripts/pages/index.js
  test/integration/defer-scripts/test/index.test.js
  test/integration/production/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.2-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

API: Take multiple values into account for the query (#9196)
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/pages/api/query.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix react-native-web example by adding babel plugin (#9078)
  examples/with-react-native-web/babel.config.js
  examples/with-react-native-web/next.config.js
  examples/with-react-native-web/package.json
Owners: @lfades, @Timer

Fix examples #9064: bumps next-redux-wrapper package version that contains babel runtime fix (#9214)
  examples/with-immutable-redux-wrapper/README.md
  examples/with-immutable-redux-wrapper/package.json
Owners: @lfades, @Timer

Remove `react-ssr-prepass` from Next Deps (#9224)
  package.json
  packages/next/package.json
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add warning for getStaticParams without getStaticProps (#9226)
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  run-tests.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add configuration flags to disable integrated type checker (#9138)
  packages/next/README.md
  packages/next/build/output/store.ts
  packages/next/build/webpack-config.ts
  packages/next/server/hot-reloader.ts
  test/integration/typescript-ignore-errors/next.config.js
  test/integration/typescript-ignore-errors/pages/index.tsx
  test/integration/typescript-ignore-errors/test/index.test.js
  test/integration/typescript-ignore-errors/tsconfig.json
  test/integration/typescript/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable worker_threads by default for firebase compatibility (#9199)
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
  test/integration/firebase-grpc/pages/page-1.js
  test/integration/firebase-grpc/pages/page-2.js
  test/integration/firebase-grpc/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Restore package.json and yarn.lock to allow deploy (#9230)
  .circleci/config.yml
Owners: @Timer

Split TypeScript Flag Docs (#9231)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Delete _document.js (#9236)
  examples/with-next-sass/pages/_document.js
Owners: @lfades, @Timer

v9.1.2-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update examples: static export using dynamic routes instead exp… (#9237)
  examples/with-static-export/README.md
  examples/with-static-export/components/post.js
  examples/with-static-export/next.config.js
  examples/with-static-export/package.json
  examples/with-static-export/pages/post/[id].js
  examples/with-static-export/server.js
Owners: @lfades, @Timer

v9.1.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update static export example: clean up an extra query param (#9239)
  examples/with-static-export/next.config.js
Owners: @lfades, @Timer

Dynamic granular chunking (#9090)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  test/integration/chunking/pages/page2.js
  test/integration/chunking/pages/page3.js
  test/integration/chunking/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add unique identifier to router instance (#9015)
  packages/next/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove concurrency option from next export (#9197)
  packages/next/cli/next-export.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Framer Motion example (#9185)
  examples/with-framer-motion/README.md
  examples/with-framer-motion/components/Gallery.js
  examples/with-framer-motion/components/SingleImage.js
  examples/with-framer-motion/constants.js
  examples/with-framer-motion/package.json
  examples/with-framer-motion/pages/_app.js
  examples/with-framer-motion/pages/image/[id].js
  examples/with-framer-motion/pages/index.js
Owners: @lfades, @Timer

Improve serverless build performance (#9155)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Check if 'formatAmpMessages' returns a none empty string in Next.js build process (#8924)
  packages/next/build/output/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add test for #8924 (#9243)
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Prettier Commit Hook (#9245)
  examples/with-netlify-cms/public/static/admin/config.yml
  examples/with-next-offline/pages/index.js
  examples/with-next-offline/public/manifest.json
  examples/with-quill-js/next.config.js
  examples/with-tailwindcss/README.md
  examples/with-typescript/pages/api/users/[id].ts
  examples/with-typescript/pages/users/[id].tsx
  examples/with-zeit-fetch/fetch/package.json
  lerna.json
  lint-staged.config.js
  package.json
  packages/next/build/webpack-config.ts
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  yarn.lock
Owners: @lfades, @Timer, @timneutkens, @ijjk

Error when user tries to use uncompiled `next.config.ts` (#9223)
  packages/next/next-server/server/config.ts
  test/isolated/_resolvedata/js-ts-config/next.config.js
  test/isolated/_resolvedata/js-ts-config/next.config.json
  test/isolated/_resolvedata/js-ts-config/next.config.jsx
  test/isolated/_resolvedata/js-ts-config/next.config.ts
  test/isolated/_resolvedata/js-ts-config/next.config.tsx
  test/isolated/_resolvedata/typescript-config/next.config.ts
  test/isolated/config.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add experimental example of next-news (#9249)
  examples/z-experimental-next-news/.gitignore
  examples/z-experimental-next-news/components/comment-form.js
  examples/z-experimental-next-news/components/comment.js
  examples/z-experimental-next-news/components/header.js
  examples/z-experimental-next-news/components/item.js
  examples/z-experimental-next-news/components/login-form.js
  examples/z-experimental-next-news/components/logo.js
  examples/z-experimental-next-news/components/meta.js
  examples/z-experimental-next-news/components/nav.js
  examples/z-experimental-next-news/components/page.js
  examples/z-experimental-next-news/components/stories.js
  examples/z-experimental-next-news/components/story.js
  examples/z-experimental-next-news/components/updating-story.js
  examples/z-experimental-next-news/lib/db.js
  examples/z-experimental-next-news/lib/get-comments.js
  examples/z-experimental-next-news/lib/get-item.js
  examples/z-experimental-next-news/lib/get-stories.js
  examples/z-experimental-next-news/lib/time-ago.js
  examples/z-experimental-next-news/now.json
  examples/z-experimental-next-news/package.json
  examples/z-experimental-next-news/pages/ask.js
  examples/z-experimental-next-news/pages/index.js
  examples/z-experimental-next-news/pages/item/[id].js
  examples/z-experimental-next-news/pages/jobs.js
  examples/z-experimental-next-news/pages/login.js
  examples/z-experimental-next-news/pages/newest.js
  examples/z-experimental-next-news/pages/news/[id].js
  examples/z-experimental-next-news/pages/show.js
  examples/z-experimental-next-news/pages/submit.js
  examples/z-experimental-next-news/pages/user/[id].js
Owners: @lfades, @Timer

Add experimental config for React Mode (#9207)
  packages/next/build/webpack-config.ts
  packages/next/client/index.js
  packages/next/next-server/server/config.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Load granular chunks with correct asset prefix (#8993)
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make sure to handle paths with dot in name for SPR (#9227)
  packages/next/export/worker.js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
