Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Fix typo in invalid getStaticPaths value example (#10657)
  errors/invalid-getstaticpaths-value.md
Owners: @Timer

Update with-mobx-keystone-typescript example (#10638)
  examples/with-mobx-keystone-typescript/components/Clock.tsx
  examples/with-mobx-keystone-typescript/package.json
  examples/with-mobx-keystone-typescript/store/root.ts
Owners: @lfades, @Timer

Test Prerender in Emulated Serverless Mode (#10660)
  test/integration/prerender/server.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Improve Nested Catch-All Coverage (#10659)
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Double URL Encoding for Serverless (#10663)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless/pages/catchall/[...slug].js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add calling getStaticPaths in development before showing fallback (#10611)
  packages/next/build/utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  packages/next/server/static-paths-worker.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Show better error when non-array is returned from custom-routes (#10670)
  errors/routes-must-be-array.md
  packages/next/build/index.ts
  packages/next/lib/check-custom-routes.ts
  test/integration/invalid-custom-routes/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update error load fail test so that webdriver can still connect to app (#10673)
  test/integration/error-load-fail/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update example "with-typescript-graphql" (#10637)
  examples/with-typescript-graphql/.gitignore
  examples/with-typescript-graphql/.graphql-let.yml
  examples/with-typescript-graphql/lib/resolvers.ts
  examples/with-typescript-graphql/package.json
Owners: @lfades, @Timer

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @Timer

Delete 8.Question_about_next.md
  .github/ISSUE_TEMPLATE/8.Question_about_next.md
Owners: @Timer

Delete 3.Example_Bug_report.md
  .github/ISSUE_TEMPLATE/3.Example_Bug_report.md
Owners: @Timer

Update 1.Bug_report.md
  .github/ISSUE_TEMPLATE/1.Bug_report.md
Owners: @Timer

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @Timer

Fix apollo example (#10696)
  examples/with-apollo/lib/apollo.js
Owners: @lfades, @Timer

Update head-manager to compress better (#10687)
  packages/next/client/head-manager.js
  packages/next/client/index.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update README.md
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make sure rewrites are handled in serverless mode correctly (#10697)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/api/dynamic/[slug].js
  test/integration/custom-routes/server.js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update url prop handling for pages with new data methods (#10653)
  errors/reserved-page-prop.md
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_app.tsx
  test/integration/getserverprops/test/index.test.js
  test/integration/prerender/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add dataRoutes field to routes-manifest for SSG and serverProps routes (#10622)
  packages/next/build/index.ts
  test/integration/dynamic-routing/test/index.test.js
  test/integration/getserverprops/test/index.test.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Ability to Disable SSG Fallback (#10701)
  errors/invalid-getstaticpaths-value.md
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/export/worker.js
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/spr-cache.ts
  test/integration/catches-missing-getStaticProps/pages/[slug].js
  test/integration/dynamic-routing/pages/p1/p2/all-ssg/[...rest].js
  test/integration/dynamic-routing/pages/p1/p2/nested-all-ssg/[...rest]/index.js
  test/integration/dynamic-routing/pages/p1/p2/predefined-ssg/[...rest].js
  test/integration/mixed-ssg-serverprops-error/pages/index.js.alt
  test/integration/prerender-invalid-catchall-params/pages/[...slug].js
  test/integration/prerender-invalid-paths/pages/[foo]/[post].js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/catchall-explicit/[...slug].js
  test/integration/prerender/pages/user/[user]/profile.js
  test/integration/prerender/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.3-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix Error Message
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add --example=<github-url> to create-next-app (#10226)
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Rename getServerProps to getServerSideProps (#10722)
  docs/concepts/_data-fetching.md
  errors/404-get-initial-props.md
  examples/with-apollo/lib/apollo.js
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/lib/constants.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_app.tsx
  test/integration/404-page/test/index.test.js
  test/integration/getserversideprops/pages/another/index.js
  test/integration/getserversideprops/pages/blog/[post]/[comment].js
  test/integration/getserversideprops/pages/blog/[post]/index.js
  test/integration/getserversideprops/pages/blog/index.js
  test/integration/getserversideprops/pages/catchall/[...path].js
  test/integration/getserversideprops/pages/default-revalidate.js
  test/integration/getserversideprops/pages/index.js
  test/integration/getserversideprops/pages/invalid-keys.js
  test/integration/getserversideprops/pages/normal.js
  test/integration/getserversideprops/pages/something.js
  test/integration/getserversideprops/pages/user/[user]/profile.js
  test/integration/getserversideprops/test/index.test.js
  test/integration/getserversideprops/world.txt
  test/integration/mixed-ssg-serverprops-error/pages/index.js
  test/integration/mixed-ssg-serverprops-error/pages/index.js.alt
  test/integration/mixed-ssg-serverprops-error/test/index.test.js
Owners: @Timer, @lfades, @timneutkens, @ijjk

v9.2.3-canary.16
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix buildId being escaped breaking test with certain build ids (#10728)
  test/integration/getserversideprops/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix url-polyfill dep and re-enable native-url (#10726)
  packages/next-polyfill-nomodule/package.json
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.17
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Extract sendPayload and prepareServerlessUrl (#10732)
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Extract getStaticPaths helper (#10731)
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove old eslint-ignores from unstable_ prefix (#10740)
  packages/next/export/worker.js
  test/integration/client-navigation/pages/nav/url-prop-change.js
  test/integration/getserversideprops/pages/another/index.js
  test/integration/getserversideprops/pages/blog/[post]/[comment].js
  test/integration/getserversideprops/pages/blog/[post]/index.js
  test/integration/getserversideprops/pages/blog/index.js
  test/integration/getserversideprops/pages/catchall/[...path].js
  test/integration/getserversideprops/pages/default-revalidate.js
  test/integration/getserversideprops/pages/index.js
  test/integration/getserversideprops/pages/invalid-keys.js
  test/integration/getserversideprops/pages/something.js
  test/integration/getserversideprops/pages/user/[user]/profile.js
  test/integration/prerender-invalid-catchall-params/pages/[...slug].js
  test/integration/prerender-invalid-paths/pages/[foo]/[post].js
  test/integration/prerender-legacy/pages/blog/[post].js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/blog/index.js
  test/integration/prerender/pages/default-revalidate.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/pages/user/[user]/profile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Move upgrading guide to /docs (#10727)
  UPGRADING.md
  docs/manifest.json
  docs/upgrading.md
Owners: @Timer

Adding new types of performance monitoring (#10421)
  packages/next/client/index.js
  packages/next/client/performance-relayer.js
  test/integration/relay-analytics/pages/_app.js
  test/integration/relay-analytics/pages/index.js
  test/integration/relay-analytics/test/index.test.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Separate Low Priority Files from Main Files (#10756)
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/get-page-files.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/chunking/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Consistently Type GS(S)P (#10757)
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades
