Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Add example for polyfilling DOMParser in Node (#10782)
  examples/with-react-intl/README.md
  examples/with-react-intl/server.js
Owners: @lfades, @Timer

Update postcss.config.js (#11366)
  examples/with-tailwindcss/postcss.config.js
Owners: @lfades, @Timer

Update webpack and mkdirp (#11165)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add repository URL to package.json (#10748)
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Any elements must be direct children of next/head (#11557)
  docs/api-reference/next/head.md
Owners: @Timer

Add routing example with dynamic `as` prop (#11114)
  docs/routing/introduction.md
Owners: @Timer

Mention <title> and styled-jsx caveats in Document's docs (#11499)
  docs/advanced-features/custom-document.md
Owners: @Timer

[docs] Mention the new data fetching methods on missing places (#11620)
  docs/advanced-features/custom-error-page.md
  docs/api-reference/data-fetching/getInitialProps.md
  docs/api-reference/next/router.md
  docs/faq.md
Owners: @Timer

Allow top-level GitHub repo URLs as examples (#11691)
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/examples.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

import from compiled (#11684)
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove `node-promisepipe` library (#11700)
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update compiler.ts Improve TypeScript typings (#11074)
  packages/next/build/compiler.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Cleanup Build Output Types (#11076)
  packages/next/build/output/index.ts
  packages/next/build/output/store.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Utility Types (#11077)
  packages/next/build/plugins/collect-plugins.ts
  packages/next/next-server/lib/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add warning when a page is rendered without a starting / (#11418)
  errors/render-no-starting-slash.md
  packages/next/next-server/server/next-server.ts
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
  test/lib/next-test-utils.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update dependencies (#11707)
  examples/with-typescript-graphql/package.json
Owners: @lfades, @Timer

Update to not modify req.url for getServerSideProps requests (#11637)
  packages/next/next-server/server/next-server.ts
  test/integration/getserversideprops/pages/_app.js
  test/integration/getserversideprops/pages/blog/[post]/index.js
  test/integration/getserversideprops/pages/something.js
  test/integration/getserversideprops/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.5-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update typescript.md (#11717)
  docs/basic-features/typescript.md
Owners: @Timer

Remove outdated sentence from static-export example (#11708)
  examples/with-static-export/README.md
Owners: @lfades, @Timer

Update got in create-next-app (#11725)
  packages/create-next-app/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Examples] Update mobx examples to not use SSR (#11576)
  examples/with-custom-reverse-proxy/package.json
  examples/with-custom-reverse-proxy/pages/index.js
  examples/with-env-from-next-config-js/README.md
  examples/with-kea/package.json
  examples/with-kea/pages/index.js
  examples/with-mobx-react-lite/README.md
  examples/with-mobx-react-lite/pages/_app.js
  examples/with-mobx-react-lite/pages/index.js
  examples/with-mobx-react-lite/pages/other.js
  examples/with-mobx/README.md
  examples/with-mobx/pages/_app.js
  examples/with-mobx/pages/index.js
  examples/with-mobx/pages/other.js
  examples/with-mobx/store.js
Owners: @lfades, @Timer

[Example] Remove SSR from with-cerebral (#11562)
  examples/with-cerebral/pages/index.js
  examples/with-cerebral/pages/other.js
Owners: @lfades, @Timer

[Examples] Add SWR to api-routes and api-routes-middleware (#11385)
  examples/api-routes-middleware/package.json
  examples/api-routes-middleware/pages/api/cookies.js
  examples/api-routes-middleware/pages/index.js
  examples/api-routes/package.json
  examples/api-routes/pages/index.js
  examples/api-routes/pages/person/[id].js
Owners: @lfades, @Timer

[example] Add SWR to api-routes-graphql (#11383)
  examples/api-routes-graphql/package.json
  examples/api-routes-graphql/pages/index.js
Owners: @lfades, @Timer

chore(deps): remove next-css from examples/antd (#10804)
  examples/with-ant-design/.babelrc
  examples/with-ant-design/next.config.js
  examples/with-ant-design/package.json
  examples/with-ant-design/pages/_app.js
Owners: @lfades, @Timer

docs(examples): add with-iron-session example (#10973)
  examples/with-iron-session/README.md
  examples/with-iron-session/components/form.js
  examples/with-iron-session/components/header.js
  examples/with-iron-session/components/layout.js
  examples/with-iron-session/lib/fetch/index.js
  examples/with-iron-session/lib/hooks/useUser.js
  examples/with-iron-session/lib/session/index.js
  examples/with-iron-session/now.json
  examples/with-iron-session/package.json
  examples/with-iron-session/pages/api/login.js
  examples/with-iron-session/pages/api/logout.js
  examples/with-iron-session/pages/api/user.js
  examples/with-iron-session/pages/index.js
  examples/with-iron-session/pages/login.js
  examples/with-iron-session/pages/profile-sg.js
  examples/with-iron-session/pages/profile-ssr.js
Owners: @lfades, @Timer

Update to merge props from GSSP methods with _app pageProps (#11709)
  packages/next/next-server/server/render.tsx
  test/integration/gssp-pageProps-merge/pages/_app.js
  test/integration/gssp-pageProps-merge/pages/gsp.js
  test/integration/gssp-pageProps-merge/pages/gssp.js
  test/integration/gssp-pageProps-merge/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Confirm if user wants example when creating app (#10543)
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix inconsistent handling for /index (#11643)
  packages/next/next-server/server/require.ts
  packages/next/server/lib/find-page-file.ts
  test/integration/client-navigation/test/index.test.js
  test/integration/conflicting-public-file-page/test/index.test.js
  test/integration/custom-server/server.js
  test/integration/route-index/pages/index/index.js
  test/integration/route-index/test/index.test.js
  test/integration/route-indexes/pages/api/sub/[id].js
  test/integration/route-indexes/pages/api/sub/index.js
  test/integration/route-indexes/pages/index.js
  test/integration/route-indexes/pages/nested-index/index/index.js
  test/integration/route-indexes/pages/sub/[id].js
  test/integration/route-indexes/pages/sub/index.js
  test/integration/route-indexes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.5-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Updated with-webpack-bundle-size-analyzer to use SSG (#11657)
  examples/with-webpack-bundle-size-analyzer/pages/about.js
  examples/with-webpack-bundle-size-analyzer/pages/index.js
Owners: @lfades, @Timer

Make sure to handle "next" import gracefully (#11733)
  packages/next/build/webpack-config.ts
  test/integration/production/pages/next-import.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Updated with-xstate (#11658)
  examples/with-xstate/pages/index.js
Owners: @lfades, @Timer

[Examples] Update with-mobx-state-tree examples (#11736)
  examples/with-mobx-state-tree-typescript/README.md
  examples/with-mobx-state-tree-typescript/components/Clock.tsx
  examples/with-mobx-state-tree-typescript/components/SampleComponent.tsx
  examples/with-mobx-state-tree-typescript/package.json
  examples/with-mobx-state-tree-typescript/pages/_app.tsx
  examples/with-mobx-state-tree-typescript/pages/index.tsx
  examples/with-mobx-state-tree-typescript/pages/other.tsx
  examples/with-mobx-state-tree-typescript/pages/ssg.tsx
  examples/with-mobx-state-tree-typescript/pages/ssr.tsx
  examples/with-mobx-state-tree-typescript/store.ts
  examples/with-mobx-state-tree/README.md
  examples/with-mobx-state-tree/pages/_app.js
  examples/with-mobx-state-tree/pages/index.js
  examples/with-mobx-state-tree/pages/other.js
  examples/with-mobx-state-tree/pages/ssg.js
  examples/with-mobx-state-tree/pages/ssr.js
  examples/with-mobx-state-tree/store.js
  examples/with-mobx-state-tree/stores/store.js
Owners: @lfades, @Timer

Bump timeout for create-next-app tests (#11743)
  test/integration/create-next-app/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[contributing docs] Add more details about chromedriver for ma… (#11739)
  contributing.md
Owners: @Timer

Fix: small typo in `SERVER_PROPS_EXPORT_ERROR` constant (#11749)
  packages/next/lib/constants.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add New Provider (#11757)
  packages/next/build/index.ts
  packages/next/telemetry/ci-info.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Minor with-docker readme grammar fix (#11760)
  examples/with-docker/README.md
Owners: @lfades, @Timer

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
