Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

Add retrying to CircleCi and fixes for ncc'ed webpack (#7366)
  .circleci/config.yml
  packages/next/build/webpack/loaders/noop-loader.ts
  packages/next/build/webpack/plugins/dll-import.ts
  packages/next/build/webpack/plugins/fork-ts-checker-watcher-hook.ts
  packages/next/package.json
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.31
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Revert ncc webpack (#7370)
  .circleci/config.yml
  packages/next/build/compiler.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/build/webpack/loaders/next-data-loader.ts
  packages/next/build/webpack/loaders/next-minify-loader.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/loaders/noop-loader.ts
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/build/webpack/plugins/chunk-names-plugin.ts
  packages/next/build/webpack/plugins/dll-import.ts
  packages/next/build/webpack/plugins/fork-ts-checker-watcher-hook.ts
  packages/next/build/webpack/plugins/hashed-chunk-ids-plugin.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/build/webpack/plugins/nextjs-ssr-import.ts
  packages/next/build/webpack/plugins/nextjs-ssr-module-cache.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/build/webpack/plugins/shared-runtime-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/build/webpack/plugins/unlink-removed-pages-plugin.ts
  packages/next/package.json
  packages/next/server/hot-reloader.js
  packages/next/server/on-demand-entry-handler.js
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
  packages/next/types/loader-utils.d.ts
  packages/next/types/misc.d.ts
  packages/next/types/webpack.d.ts
  test/integration/config/next.config.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.32
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Disable babel-loader cache in flying shuttle mode (#7365)
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.33
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Re-add retrying tests in CircleCi to prevent false failures (#7374)
  .circleci/config.yml
Owners: none

Fix broken link (#7378)
  packages/next-server/server/render.tsx
  test/integration/no-override-next-props/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove outdated "extras" section in `with-tailwindcss` example README (#7379)
  examples/with-tailwindcss/README.md
Owners: @kheruc, @lfades

Reduce the maximum number of shuttles
  packages/next/build/flying-shuttle.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.34
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix string type on router.query (#7387)
  packages/next-server/lib/router/router.ts
  packages/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

[with-typescript] Remove obsolete TypeScript plugin and updated readme (#7368)
  examples/with-typescript/README.md
  examples/with-typescript/package.json
Owners: @kheruc, @lfades

Update to latest webpack-bundle-analyzer (#7389)
  package.json
  packages/next-bundle-analyzer/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Document useAmp in readme (#7405)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add auto static/dynamic (#7293)
  packages/next-server/lib/constants.ts
  packages/next-server/server/config.ts
  packages/next-server/server/load-components.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/render.tsx
  packages/next-server/server/require.ts
  packages/next/build/flying-shuttle.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/export/index.js
  packages/next/export/worker.js
  packages/next/pages/_app.tsx
  test/integration/amp-export-validation/next.config.js
  test/integration/amphtml/next.config.js
  test/integration/amphtml/test/index.test.js
  test/integration/client-navigation/next.config.js
  test/integration/client-navigation/pages/url-prop.js
  test/integration/export-default-map/next.config.js
  test/integration/export-subfolders/next.config.js
  test/integration/export/next.config.js
  test/integration/export/test/index.test.js
  test/integration/production/next.config.js
  test/integration/production/pages/error-in-ssr-render.js
  test/integration/production/pages/process-env.js
  test/integration/production/pages/query.js
  test/integration/production/test/index.test.js
  test/integration/serverless/next.config.js
  test/integration/serverless/pages/_app.js
  test/integration/serverless/run-server.js
  test/integration/serverless/server.js
  test/integration/serverless/test/index.test.js
  test/integration/ssr-ctx/pages/index.js
  test/integration/ssr-ctx/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.35
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make sure rendering behavior is only changed when autoExport is enabled (#7408)
  packages/next-server/server/next-server.ts
  packages/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Upgrade dependencies (#7412)
  examples/with-kea/store.js
  package.json
  packages/next-server/package.json
  packages/next/build/babel/plugins/next-data.ts
  packages/next/build/babel/plugins/next-drop-client-page.ts
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/build/flying-shuttle.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/export/worker.js
  packages/next/package.json
  yarn.lock
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

v8.1.1-canary.36
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Revert fs-extra upgrade due to issue in latest version with jest (#7414)
  package.json
  test/integration/with-router/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

[custom-server-typescript] fixed custom server build issues (#7385)
  examples/custom-server-typescript/.gitignore
  examples/custom-server-typescript/README.md
  examples/custom-server-typescript/nodemon.json
  examples/custom-server-typescript/package.json
  examples/custom-server-typescript/server/index.ts
  examples/custom-server-typescript/tsconfig.json
  examples/custom-server-typescript/tsconfig.server.json
Owners: @kheruc, @lfades

Types description (#7217)
  examples/with-typescript-styled-components/pages/_document.tsx
  packages/next-server/lib/head.tsx
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/utils.ts
  packages/next/pages/_app.tsx
  packages/next/pages/_document.tsx
  packages/next/pages/_error.tsx
  packages/next/types/index.d.ts
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Don't load from serverless in dev mode (#7416)
  packages/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.37
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Create with-redux-persist example (#7375)
  examples/with-redux-persist/README.md
  examples/with-redux-persist/components/clock.js
  examples/with-redux-persist/components/counter.js
  examples/with-redux-persist/components/data-list.js
  examples/with-redux-persist/components/examples.js
  examples/with-redux-persist/lib/with-redux-store.js
  examples/with-redux-persist/package.json
  examples/with-redux-persist/pages/_app.js
  examples/with-redux-persist/pages/index.js
  examples/with-redux-persist/store.js
Owners: @kheruc, @lfades

[with-reasonml] Show both internal and shared state managment. (#7312)
  examples/with-reasonml/components/Counter.re
  examples/with-reasonml/components/GlobalCount.re
Owners: @kheruc, @lfades

New Example: with-reasonml-todo(#7346)
  examples/with-reasonml-todo/.babelrc
  examples/with-reasonml-todo/.gitignore
  examples/with-reasonml-todo/README.md
  examples/with-reasonml-todo/bindings/Next.re
  examples/with-reasonml-todo/bsconfig.json
  examples/with-reasonml-todo/components/Header.re
  examples/with-reasonml-todo/components/TodoApp.re
  examples/with-reasonml-todo/components/TodoList.re
  examples/with-reasonml-todo/next.config.js
  examples/with-reasonml-todo/package.json
  examples/with-reasonml-todo/pages/about.re
  examples/with-reasonml-todo/pages/index.re
Owners: @kheruc, @lfades

Add document middleware (#7209)
  packages/next-server/server/load-components.ts
  packages/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/document-middleware/pages/_document.js
  test/integration/document-middleware/pages/another.js
  test/integration/document-middleware/pages/index.js
  test/integration/document-middleware/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Opt out of cache header if _app has custom getInitialProps (#7409)
  examples/with-redux-persist/components/data-list.js
  examples/with-redux-persist/pages/_app.js
  packages/next-server/lib/utils.ts
  test/integration/cache-header/pages/_app.js
  test/integration/cache-header/pages/index.js
  test/integration/cache-header/test/index.test.js
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Refactor server router (#7431)
  packages/next-server/server/load-components.ts
  packages/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix duplicate dynamic chunks (#7425)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update Tailwind CSS to v1.0 (#7421)
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/components/nav.js
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/postcss.config.js
  examples/with-tailwindcss/styles/button.css
  examples/with-tailwindcss/styles/index.css
  examples/with-tailwindcss/tailwind.config.js
Owners: @kheruc, @lfades

Dynamic routing mark 2 (#7432)
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/router/utils.ts
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/router.ts
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/package.json
  packages/next/server/next-dev-server.js
  test/integration/dynamic-routing/next.config.js
  test/integration/dynamic-routing/pages/$post/$comment.js
  test/integration/dynamic-routing/pages/$post/comments.js
  test/integration/dynamic-routing/pages/$post/index.js
  test/integration/dynamic-routing/pages/another.js
  test/integration/dynamic-routing/pages/blog/$post/comment/$id$.js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Allow passing of title to default error page (#7381)
  packages/next/README.md
  packages/next/pages/_error.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Implement UI to show building activity (#6526)
  packages/next/client/dev-build-watcher.js
  packages/next/client/dev-error-overlay/eventsource.js
  packages/next/client/index.js
  packages/next/client/next-dev.js
  packages/next/pages/_document.tsx
  packages/next/pages/_error.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.38
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update styles on build indicator container (#7436)
  packages/next/client/dev-build-watcher.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.39
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fixed typo in README.md (#7438)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
