Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @ijjk, @lfades

Docs: Fix comments in with-sentry example (server.js) (#8125)
  examples/with-sentry/server.js
Owners: @lfades

Add missing key prop for array elements in _document (#8132)
  packages/next/pages/_document.tsx
  test/integration/app-document/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

update README.md for with-http2 example (#8131)
  examples/with-http2/README.md
Owners: @lfades

v9.0.3-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix spelling in tsconfig.js of readme.md (#8138)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove next.config.js (#8139)
  packages/create-next-app/templates/default/README.md
  packages/create-next-app/templates/default/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade with-mdx example from mdx 0.16 → 1.1 (#8142)
  examples/with-mdx/package.json
Owners: @lfades

Remove kodiak
  .kodiak.toml
Owners: none

fix regex to not match any string with double underscore (#8153)
  packages/next/build/webpack-config.ts
  test/integration/production-config/next.config.js
  test/integration/production-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Allow manually setting amphtml and canonical links (#8129)
  packages/next/pages/_document.tsx
  test/integration/amphtml/pages/manual-rels.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Improve docs for API (#8155)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add 2 AWS Amplify SSR examples one with JS and one with TS (#8073)
  examples/with-aws-amplify-typescript/.gitignore
  examples/with-aws-amplify-typescript/README.md
  examples/with-aws-amplify-typescript/next-env.d.ts
  examples/with-aws-amplify-typescript/package.json
  examples/with-aws-amplify-typescript/pages/index.tsx
  examples/with-aws-amplify-typescript/pages/todo/[id].tsx
  examples/with-aws-amplify-typescript/schema.graphql
  examples/with-aws-amplify-typescript/tsconfig.json
  examples/with-aws-amplify/.gitignore
  examples/with-aws-amplify/README.md
  examples/with-aws-amplify/next-env.d.ts
  examples/with-aws-amplify/package.json
  examples/with-aws-amplify/pages/index.js
  examples/with-aws-amplify/pages/todo/[id].js
  examples/with-aws-amplify/schema.graphql
Owners: @lfades

Update webpack to 4.38.0 (#8147)
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

docs: Document change concerning api-routes (#8121)
  UPGRADING.md
Owners: none

Update missed lockfile
  yarn.lock
Owners: none

refactor(webpack): extract splitChunksConfig (#8161)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.3-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Include `scheduler` in React bundle (#8164)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Optional Server Compression (#8066)
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next/package.json
  test/integration/compression/pages/index.js
  test/integration/compression/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix build only server-side `/api/index.js` (#8167)
  packages/next/build/entries.ts
  test/integration/api-support/pages/api/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix a typo in README (#8177)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Provide AppTree to getInitialProps for getDataFromTree (#7732)
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/utils.ts
  packages/next-server/server/render.tsx
  packages/next/client/index.js
  packages/next/client/router.ts
  test/integration/app-tree/pages/_app.js
  test/integration/app-tree/pages/another.js
  test/integration/app-tree/pages/index.js
  test/integration/app-tree/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Test environment code should target Node (#8181)
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix: Add error message for duplicate route param name (#8047)
  packages/next-server/lib/router/utils/sorted-routes.ts
  test/unit/page-route-sorter.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.3-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix typo within blog-starter example (#8182)
  examples/blog-starter/pages/posts/syntax-highlighting.mdx
Owners: @lfades

Update examples for Apollo with AppTree (#8180)
  examples/with-apollo-auth/lib/withApollo.js
  examples/with-apollo/lib/with-apollo-client.js
Owners: @lfades

tests(circleci): Update chromedriver to latest (#8192)
  package.json
  yarn.lock
Owners: none

v9.0.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Golf page-loader (#8190)
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Don't require test job for deploying (#8194)
  .circleci/config.yml
Owners: none

Revert "Don't require test job for deploying" (#8199)
  .circleci/config.yml
Owners: none

Update TypeScript Instructions (#8200)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add some notes about Now deployment (#8205)
  UPGRADING.md
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

contributing guide rename initialprops (#8203)
  UPGRADING.md
Owners: none

Add test for dynamic routing/webpack HMR bug (#8061)
  packages/next/package.json
  packages/next/server/on-demand-entry-handler.js
  test/integration/dynamic-routing/pages/[name]/[comment].js
  test/integration/dynamic-routing/pages/[name]/comments.js
  test/integration/dynamic-routing/pages/[name]/index.js
  test/integration/dynamic-routing/pages/blog/[name]/comment/[id].js
  test/integration/dynamic-routing/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove useless code block in docs
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove Old Prerender Implementation (#8218)
  packages/next-server/lib/router/router.ts
  packages/next-server/server/render.tsx
  packages/next-server/types/index.d.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/export/worker.js
  test/integration/prerender/next.config.js
  test/integration/prerender/pages/another.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/nested/hello.js
  test/integration/prerender/pages/nested/old-school.js
  test/integration/prerender/pages/old-school.js
  test/integration/prerender/test/index.test.js
  test/integration/production/pages/something.js
  test/integration/production/pages/to-something.js
  test/integration/production/test/index.test.js
  test/integration/serverless/pages/something.js
  test/integration/serverless/pages/to-something.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

FIX- #8059 - Update relay version in examples to latest one (#8227)
  examples/with-relay-modern-server-express/package.json
  examples/with-relay-modern/package.json
Owners: @lfades

Add Create Next App instructions (#8224)
  packages/create-next-app/README.md
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens
/errors/                  @Timer
