Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

add package.json to example (#7004)
  examples/with-cookie-auth/package.json
Owners: @kheruc, @lfades

Simplify profiling and add serverless target (#7007)
  test/integration/profiling/next.config.js
  test/integration/profiling/pages/about.js
  test/integration/profiling/pages/index.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make async-to-promises babel plugin experimental (#7006)
  packages/next-server/server/config.js
  packages/next/build/babel/preset.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.30
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Disable terser on .min.js input files (#7008)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.31
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Switch to using `.next/cache` for flying shuttle and terser (#7013)
  packages/next/build/flying-shuttle.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/lib/recursive-delete.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.32
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update with-graphql-hooks example to exclude SSR library from commons chunk (#7015)
  examples/with-graphql-hooks/package.json
Owners: @kheruc, @lfades

Make sure AmpContext is available in _document (#7021)
  packages/next-server/server/render.tsx
  packages/next/pages/_document.js
  test/integration/amphtml/pages/_document.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Amp page level reload (#6971)
  examples/experimental-amp/README.md
  examples/experimental-amp/components/Byline.js
  examples/experimental-amp/next.config.js
  examples/experimental-amp/package.json
  examples/experimental-amp/pages/dog.js
  examples/experimental-amp/pages/index.js
  examples/with-amp/README.md
  examples/with-amp/components/Byline.js
  examples/with-amp/components/Layout.js
  examples/with-amp/pages/_document.js
  examples/with-amp/pages/dog.js
  examples/with-amp/pages/index.js
  examples/with-amp/pages/normal.js
  packages/next/client/amp-dev.js
  packages/next/server/hot-reloader.js
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

v8.0.5-canary.33
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Set descriptive displayName on withRouter HOC (#7017)
  packages/next/client/with-router.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix GitHub spelling (#7024)
  examples/form-handler/components/Social.js
  examples/with-cloud9/README.md
  examples/with-freactal/README.md
  examples/with-tailwindcss/components/nav.js
Owners: @kheruc, @lfades

Enable strict type checking on custom-server-typescript example (#7025)
  examples/custom-server-typescript/server/index.ts
  examples/custom-server-typescript/tsconfig.json
Owners: @kheruc, @lfades

Fix missing dash
  examples/with-dotenv/README.md
Owners: @kheruc, @lfades

Update README.md
  examples/with-dotenv/README.md
Owners: @kheruc, @lfades

Add x-powered-by (#7029)
  examples/custom-server-typescript/server/index.ts
  packages/next-server/server/config.js
  packages/next-server/server/next-server.ts
  packages/next-server/server/send-html.ts
  test/integration/config/next.config.js
  test/integration/config/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Add AMP docs to README (#7031)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Re-add experimental amp config (#7030)
  examples/amp/README.md
  examples/amp/components/Byline.js
  examples/amp/components/Layout.js
  examples/amp/next.config.js
  examples/amp/package.json
  examples/amp/pages/dog.js
  examples/amp/pages/index.js
  examples/amp/pages/normal.js
  packages/next-server/server/config.js
  packages/next-server/server/render.tsx
  packages/next-server/server/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/pages/_document.js
  test/integration/amp-export-validation/test/index.test.js
  test/integration/export-default-map/next.config.js
  test/integration/serverless/next.config.js
  test/integration/serverless/test/index.test.js
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Remove noDirtyAmp option (#7032)
  packages/next-server/server/config.js
  packages/next-server/server/next-server.ts
  packages/next-server/server/optimize-amp.ts
  packages/next-server/server/render.tsx
  packages/next/export/index.js
  packages/next/export/worker.js
  test/integration/amp-export-validation/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.34
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add experimental option to enable terser loader (#7033)
  packages/next-server/server/config.js
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Move next/router to Typescript (#7019)
  packages/next/client/router.ts
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove experimental amp config (#7046)
  packages/next-server/server/config.js
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove experimental flag (#7048)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove client bundles for AMP only pages (#7034)
  packages/next-server/lib/amp.ts
  packages/next/build/index.ts
  packages/next/lib/recursive-delete.ts
  packages/next/server/hot-reloader.js
  packages/next/server/on-demand-entry-handler.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

AMP fix escaped rel (#7045)
  packages/next-server/server/render.tsx
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add a dot to a note in README.md (#7053)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Updated handling of AMP page reloading (#7052)
  packages/next/client/amp-dev.js
  test/integration/amphtml/pages/hmr/amp.js
  test/integration/amphtml/pages/hmr/hybrid.js
  test/integration/amphtml/pages/root-hmr.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.35
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.0
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove un-needed config from example (#7055)
  examples/amp/next.config.js
Owners: @kheruc, @lfades

Update AMP example (#7056)
  examples/amp/pages/dog.js
  examples/amp/pages/index.js
  examples/amp/pages/normal.js
Owners: @kheruc, @lfades

Update AMP example to AMP-first wording
  examples/amp/pages/dog.js
  examples/amp/pages/index.js
Owners: @kheruc, @lfades

update dependency to fix with-next-page-transitions example (#7049)
  examples/with-next-page-transitions/package.json
Owners: @kheruc, @lfades

Add test for /dashboard/index (#7065)
  packages/next-server/server/get-page-files.ts
  packages/next-server/server/require.ts
  test/integration/custom-server/pages/dashboard/index.js
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

with-apollo example: explicitly pass fetch to HttpLink (#7072)
  examples/with-apollo/lib/init-apollo.js
Owners: @kheruc, @lfades

Update fela example (#7051)
  examples/with-fela/FelaProvider.js
  examples/with-fela/package.json
  examples/with-fela/pages/_document.js
  examples/with-fela/pages/index.js
Owners: @kheruc, @lfades

Disable Terser loader when debugging (#7079)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
