Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @kheruc, @lfades

v8.0.4-canary.11
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Remove sourceMaps from amp styles to not go over limit (#6674)
  packages/next/pages/_document.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Remove empty paragraphs and missing examples (#6677)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk

A little missing documentation was added. (#6600)
  README-zh-CN.md
Owners: none

Update custom-server-typescript example (#6627)
  examples/custom-server-typescript/package.json
  examples/custom-server-typescript/server/index.ts
  examples/custom-server-typescript/tsconfig.json
  examples/custom-server-typescript/tsconfig.server.json
Owners: @kheruc, @lfades

Port with-mobx to with-mobx-react-lite (#6617)
  examples/with-mobx-react-lite/.babelrc
  examples/with-mobx-react-lite/README.md
  examples/with-mobx-react-lite/components/Clock.js
  examples/with-mobx-react-lite/components/Page.js
  examples/with-mobx-react-lite/package.json
  examples/with-mobx-react-lite/pages/_app.js
  examples/with-mobx-react-lite/pages/index.js
  examples/with-mobx-react-lite/pages/other.js
  examples/with-mobx-react-lite/store.js
Owners: @kheruc, @lfades

Add with-linaria example (#6510)
  examples/with-linaria/.babelrc
  examples/with-linaria/.gitignore
  examples/with-linaria/README.md
  examples/with-linaria/next.config.js
  examples/with-linaria/package.json
  examples/with-linaria/pages/index.js
Owners: @kheruc, @lfades

Add experimental exportTrailingSlash config (#6664)
  packages/next-server/lib/router/router.ts
  packages/next-server/server/config.js
  packages/next/build/webpack-config.ts
  packages/next/client/link.js
  test/integration/export/next.config.js
  test/integration/export/test/browser.js
  test/integration/export/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Add possible explanation for webpack resolve error (#6682)
  errors/config-resolve-alias.md
  packages/next/build/index.ts
  test/integration/config-resolve-alias/next.config.js
  test/integration/config-resolve-alias/pages/index.js
  test/integration/config-resolve-alias/test/index.test.js
Owners: @kheruc, @timneutkens, @Timer, @dav-is, @ijjk

Add error handling for error being thrown in _app getinitialProps (#6680)
  package.json
  packages/next-server/server/render.tsx
  test/integration/app-document/pages/_app.js
  test/integration/app-document/test/rendering.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Make react-loadable-manifest only have modules that are part of dynamic chunks (#6622)
  packages/next/build/webpack/plugins/react-loadable-plugin.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Small fix to example custom-server-typescript (#6695)
  examples/custom-server-typescript/nodemon.json
Owners: @kheruc, @lfades

Remove conflicting <head> tags in amp mode (#6693)
  errors/conflicting-amp-tag.md
  packages/next/pages/_document.js
  test/integration/amphtml/pages/conflicting-tag.js
  test/integration/amphtml/test/index.test.js
Owners: @kheruc, @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.12
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

update with-rematch example (#6699)
  examples/with-rematch/package.json
  examples/with-rematch/pages/github-users.js
  examples/with-rematch/pages/index.js
  examples/with-rematch/shared/store.js
  examples/with-rematch/shared/utils/withRematch.js
Owners: @kheruc, @lfades

Remove headManager property as it’s unused (#6700)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Clean up ErrorBoundary component (#6703)
  packages/next/client/error-boundary.js
  packages/next/client/error-boundary.ts
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

First pass of runtime amp validator (#6708)
  packages/next/build/output/index.ts
  packages/next/package.json
  packages/next/pages/_document.js
  packages/next/server/next-dev-server.js
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Add support for creating AMP pages (#6706)
  examples/experimental-amp/pages/cat.amp.js
  examples/experimental-amp/pages/dog.amp.js
  examples/experimental-amp/pages/duck/index.amp.js
  examples/with-env-from-next-config-js/next.config.js
  examples/with-mobx-react-lite/store.js
  packages/next-server/server/get-page-files.ts
  packages/next-server/server/load-components.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/require.ts
  packages/next/server/hot-reloader.js
  packages/next/server/lib/find-page-file.ts
  packages/next/server/next-dev-server.js
  packages/next/server/on-demand-entry-handler.js
  test/integration/amphtml/pages/conflicting-tag.amp.js
  test/integration/amphtml/pages/index.amp.js
  test/integration/amphtml/pages/nested/index.amp.js
  test/integration/amphtml/pages/nested/index.js
  test/integration/amphtml/pages/styled.amp.js
  test/integration/amphtml/pages/use-amp-hook.amp.js
  test/integration/amphtml/test/index.test.js
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Fix with-mobx-state-tree-typescript modules export (#6704)
  examples/with-mobx-state-tree-typescript/package.json
  examples/with-mobx-state-tree-typescript/stores/store.ts
Owners: @kheruc, @lfades

Adds example for Office UI Fabric React. (#6705)
  examples/with-office-ui-fabric-react/README.md
  examples/with-office-ui-fabric-react/package.json
  examples/with-office-ui-fabric-react/pages/index.js
  examples/with-office-ui-fabric-react/server.js
Owners: @kheruc, @lfades

v8.0.4-canary.13
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Add checking for corresponding pages for link tags (#6719)
  packages/next-server/server/load-components.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/render.tsx
  packages/next-server/server/require.ts
  packages/next/pages/_document.js
  packages/next/server/next-dev-server.js
  packages/next/server/on-demand-entry-handler.js
  test/integration/amphtml/pages/normal.js
  test/integration/amphtml/pages/only-amp.amp.js
  test/integration/amphtml/test/index.test.js
  test/isolated/require-page.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Shrink the size of profiling test (#6723)
  test/integration/profiling/components/hello-context.js
  test/integration/profiling/components/hello1.js
  test/integration/profiling/components/hello2.js
  test/integration/profiling/components/welcome.js
  test/integration/profiling/pages/another.js
  test/integration/profiling/pages/counter.js
  test/integration/profiling/pages/dynamic/bundle.js
  test/integration/profiling/pages/dynamic/index.js
  test/integration/profiling/pages/dynamic/no-chunk.js
  test/integration/profiling/pages/dynamic/no-ssr-custom-loading.js
  test/integration/profiling/pages/dynamic/no-ssr.js
  test/integration/profiling/pages/dynamic/ssr-true.js
  test/integration/profiling/pages/dynamic/ssr.js
  test/integration/profiling/pages/error-in-browser-render-status-code.js
  test/integration/profiling/pages/error-in-browser-render.js
  test/integration/profiling/pages/error-in-ssr-render.js
  test/integration/profiling/pages/finish-response.js
  test/integration/profiling/pages/prefetch.js
  test/integration/profiling/pages/process-env.js
  test/integration/profiling/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.14
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Ensure browser gets closed during testing (#6724)
  test/integration/amphtml/test/index.test.js
  test/integration/app-aspath/test/index.test.js
  test/integration/app-document/test/client.js
  test/integration/app-document/test/csp.js
  test/integration/basic/test/client-navigation.js
  test/integration/basic/test/dynamic.js
  test/integration/basic/test/error-recovery.js
  test/integration/basic/test/hmr.js
  test/integration/basic/test/process-env.js
  test/integration/client-404/test/client-navigation.js
  test/integration/config/test/client.js
  test/integration/custom-server/test/index.test.js
  test/integration/export/test/browser.js
  test/integration/export/test/dev.js
  test/integration/ondemand/test/index.test.js
  test/integration/page-extensions/test/hmr.js
  test/integration/production-config/test/index.test.js
  test/integration/production/test/dynamic.js
  test/integration/production/test/index.test.js
  test/integration/production/test/process-env.js
  test/integration/production/test/security.js
  test/integration/serverless/test/index.test.js
  test/integration/with-router/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Skip console clearing when not in a TTY (#6726)
  packages/next/build/output/store.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Adjust CircleCI flow (#6728)
  .circleci/config.yml
  package.json
Owners: none

Add support for amp to export (#6725)
  packages/next-server/server/render.tsx
  packages/next-server/server/require.ts
  packages/next-server/server/utils.ts
  packages/next/export/index.js
  packages/next/export/worker.js
  packages/next/pages/_document.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Catch errors when loading a page in case a script 404s (#6729)
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Remove unused parameters (#6735)
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.15
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Update export tests and fixed import (#6738)
  packages/next/export/worker.js
  test/integration/export-default-map/next.config.js
  test/integration/export-default-map/pages/docs/index.amp.js
  test/integration/export-default-map/pages/some.amp.js
  test/integration/export-default-map/pages/some.js
  test/integration/export-default-map/pages/v1.12/docs.js
  test/integration/export-default-map/pages/v1.12/index.js
  test/integration/export-default-map/test/index.test.js
  test/integration/export/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.16
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Add more export tests for AMP (#6740)
  packages/next/export/index.js
  packages/next/export/worker.js
  test/integration/export-default-map/pages/docs/index.amp.js
  test/integration/export-default-map/pages/docs/index.js
  test/integration/export-default-map/pages/info.js
  test/integration/export-default-map/pages/info/index.amp.js
  test/integration/export-default-map/pages/just-amp/index.amp.js
  test/integration/export-default-map/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.17
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Fix amphtml href with nested amp page (#6741)
  packages/next/export/index.js
  test/integration/export-default-map/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.18
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Fix export not checking amp right for /index.amp (#6748)
  packages/next-server/server/require.ts
  packages/next/export/index.js
  test/integration/export-default-map/pages/index.amp.js
  test/integration/export-default-map/pages/index.js
  test/integration/export-default-map/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.19
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
