Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Update Next.js Telemetry Event Shapes (#8628)
  packages/next/build/index.ts
  packages/next/server/next-dev-server.js
  packages/next/telemetry/events/build.ts
  packages/next/telemetry/events/plugins.ts
  packages/next/telemetry/events/version.ts
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.6-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Improve with-apollo-auth example (#8633)
  examples/with-apollo-auth/components/RegisterBox.js
  examples/with-apollo-auth/components/SigninBox.js
  examples/with-apollo-auth/lib/apollo.js
  examples/with-apollo-auth/package.json
Owners: @lfades, @Timer

Fix typo in README.md #8640 (#8642)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Apollo Server and Client Example App (#8195)
  examples/api-routes-apollo-server-and-client/README.md
  examples/api-routes-apollo-server-and-client/apollo/resolvers.js
  examples/api-routes-apollo-server-and-client/apollo/schema.js
  examples/api-routes-apollo-server-and-client/apollo/type-defs.js
  examples/api-routes-apollo-server-and-client/lib/init-apollo.js
  examples/api-routes-apollo-server-and-client/lib/with-apollo-client.js
  examples/api-routes-apollo-server-and-client/package.json
  examples/api-routes-apollo-server-and-client/pages/about.js
  examples/api-routes-apollo-server-and-client/pages/api/graphql.js
  examples/api-routes-apollo-server-and-client/pages/index.js
Owners: @lfades, @Timer

Mention Custom App GIP in UPGRADING (#8647)
  UPGRADING.md
  errors/opt-out-automatic-prerendering.md
Owners: @Timer

Update Create Next App Template (#8648)
  packages/create-next-app/templates/default/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[docs] `useRouter` cannot be used with classes (#8649)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove extra pages (#8651)
  test/integration/handles-export-errors/pages/index copy 10.js
  test/integration/handles-export-errors/pages/index copy 11.js
  test/integration/handles-export-errors/pages/index copy 12.js
  test/integration/handles-export-errors/pages/index copy 13.js
  test/integration/handles-export-errors/pages/index copy 2.js
  test/integration/handles-export-errors/pages/index copy 3.js
  test/integration/handles-export-errors/pages/index copy 4.js
  test/integration/handles-export-errors/pages/index copy 5.js
  test/integration/handles-export-errors/pages/index copy 6.js
  test/integration/handles-export-errors/pages/index copy 7.js
  test/integration/handles-export-errors/pages/index copy 8.js
  test/integration/handles-export-errors/pages/index copy 9.js
  test/integration/handles-export-errors/pages/index copy.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix yarn workspaces example (#8631)
  examples/with-yarn-workspaces/now.json
Owners: @lfades, @Timer

Adds the PnP plugin by default (#8653)
  packages/next/build/webpack-config.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Revert "Remove extra pages from export test" (#8658)
  test/integration/handles-export-errors/pages/page-1.js
  test/integration/handles-export-errors/pages/page-10.js
  test/integration/handles-export-errors/pages/page-11.js
  test/integration/handles-export-errors/pages/page-12.js
  test/integration/handles-export-errors/pages/page-13.js
  test/integration/handles-export-errors/pages/page-2.js
  test/integration/handles-export-errors/pages/page-3.js
  test/integration/handles-export-errors/pages/page-4.js
  test/integration/handles-export-errors/pages/page-5.js
  test/integration/handles-export-errors/pages/page-6.js
  test/integration/handles-export-errors/pages/page-7.js
  test/integration/handles-export-errors/pages/page-8.js
  test/integration/handles-export-errors/pages/page-9.js
  test/integration/handles-export-errors/pages/page.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add intl and Apollo to packages of interest (#8665)
  packages/next/telemetry/events/plugins.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove Telemetry Registration (#8664)
  packages/next/telemetry/anonymous-meta.ts
  packages/next/telemetry/anonymous-traits.ts
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Re-enable anonymous telemetry (#8667)
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Resolve externals using webpack's context (#8669)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Uses the PnP API when available (#8668)
  packages/next/build/webpack-config.ts
  packages/next/lib/resolve-request.ts
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

better type for AppTree in NextPageContext (#8662)
  packages/next/next-server/lib/utils.ts
  test/integration/app-tree/pages/_app.tsx
  test/integration/app-tree/pages/hello.tsx
  test/integration/app-tree/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update stats-config to be more deterministic (#8679)
  test/.stats-app/stats-config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix relay modern server express example (#8683)
  examples/with-relay-modern-server-express/server/db.js
  examples/with-relay-modern-server-express/server/rootValue.js
  examples/with-relay-modern-server-express/server/schema.graphql
Owners: @lfades, @Timer

Support non-flag variant of telemetry cmds (#8695)
  packages/next/cli/next-telemetry.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add telemetry CLI tests (#8696)
  test/integration/telemetry/pages/index.js
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Optimize test setup (#8644)
  .circleci/config.yml
  azure-pipelines.yml
  package.json
  run-tests.js
  test/jest-global-teardown.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test non-flag and re-runs of telemetry cmds (#8697)
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Delay updating asPath for auto exported pages (#8681)
  packages/next/client/index.js
  test/integration/auto-export/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add electron typescript example (#8682)
  examples/with-electron-typescript/README.md
  examples/with-electron-typescript/electron-src/electron-next.d.ts
  examples/with-electron-typescript/electron-src/index.ts
  examples/with-electron-typescript/electron-src/preload.ts
  examples/with-electron-typescript/electron-src/tsconfig.json
  examples/with-electron-typescript/package.json
  examples/with-electron-typescript/renderer/components/Layout.tsx
  examples/with-electron-typescript/renderer/components/List.tsx
  examples/with-electron-typescript/renderer/components/ListDetail.tsx
  examples/with-electron-typescript/renderer/components/ListItem.tsx
  examples/with-electron-typescript/renderer/interfaces/index.ts
  examples/with-electron-typescript/renderer/next-env.d.ts
  examples/with-electron-typescript/renderer/pages/about.tsx
  examples/with-electron-typescript/renderer/pages/detail.tsx
  examples/with-electron-typescript/renderer/pages/index.tsx
  examples/with-electron-typescript/renderer/pages/initial-props.tsx
  examples/with-electron-typescript/renderer/tsconfig.json
  examples/with-electron-typescript/renderer/utils/sample-api.ts
Owners: @lfades, @Timer

Fix login popup not working (#8700)
  examples/with-firebase-authentication/README.md
Owners: @lfades, @Timer

Catch all requests in custom server (#8704)
  examples/custom-server-express/server.js
  examples/custom-server-fastify/server.js
  examples/custom-server-hapi/server.js
  examples/custom-server-koa/server.js
  examples/custom-server-polka/server.js
Owners: @lfades, @Timer

Lock CircleCi image for now (#8706)
  .circleci/config.yml
Owners: @Timer

TypeScript report on active pages only (#8703)
  packages/next/build/output/index.ts
  test/integration/typescript/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update pages-loader to return one value (#8629)
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Nit: sort experimental keys (#8707)
  packages/next/next-server/server/config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Warn build on duplicate pages (#8646)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/server/lib/find-page-file.ts
  test/integration/duplicate-pages/pages/hello.js
  test/integration/duplicate-pages/pages/hello/index.js
  test/integration/duplicate-pages/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Organize webpack configuration imports (#8711)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add test for duplicate scripts and add extra de-duping (#8709)
  packages/next/pages/_document.tsx
  test/integration/dedupes-scripts/components/hello.js
  test/integration/dedupes-scripts/pages/index.js
  test/integration/dedupes-scripts/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Docs] Prefetch disabled for 2g or SaveData header (#8717)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Refactor api-routes-apollo-server-and-client example (#8673)
  examples/api-routes-apollo-server-and-client/apollo/client.js
  examples/api-routes-apollo-server-and-client/apollo/resolvers.js
  examples/api-routes-apollo-server-and-client/apollo/type-defs.js
  examples/api-routes-apollo-server-and-client/lib/init-apollo.js
  examples/api-routes-apollo-server-and-client/lib/with-apollo-client.js
  examples/api-routes-apollo-server-and-client/pages/index.js
Owners: @lfades, @Timer

Migrate GitHub Action config and remove un-used secret (#8719)
  .github/main.workflow
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Owners: @Timer

Update actions config
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Owners: @Timer

Disable telemetry for tests (#8725)
  .circleci/config.yml
  azure-pipelines.yml
Owners: @Timer
