Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

fixup self-externalization
  packages/next/taskfile-ncc.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

raw-body
  packages/next/next-server/server/api-utils.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

etag
  packages/next/next-server/server/send-html.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

http-proxy
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

externals refactor
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

browserslist
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

chalk, ci-info
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/output/index.ts
  packages/next/build/output/log.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/build/webpack/loaders/error-loader.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/constants.ts
  packages/next/cli/next-telemetry.ts
  packages/next/export/index.ts
  packages/next/lib/load-env-config.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/next-server/server/config.ts
  packages/next/package.json
  packages/next/server/lib/find-page-file.ts
  packages/next/taskfile.js
  packages/next/telemetry/ci-info.ts
  packages/next/telemetry/storage.ts
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

node-fetch, ora
  packages/next/build/spinner.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/telemetry/post-payload.ts
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

fresh
  packages/next/next-server/server/send-html.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

send
  packages/next/next-server/server/serve-static.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

@ampproject/toolbox-optimizer
  packages/next/next-server/server/optimize-amp.ts
  packages/next/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

lodash.curry
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/helpers.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

polyfills
  packages/next/client/dev/amp-dev.js
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/dev/event-source-polyfill.js
  packages/next/client/dev/on-demand-entries-utils.js
  packages/next/client/index.js
  packages/next/client/polyfills.js
  packages/next/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

async-retry
  packages/next/lib/recursive-copy.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/telemetry/post-payload.ts
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

ignore-loader
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

remove unused babel types
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

postcss loaders
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

cookie
  packages/next/next-server/server/api-utils.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

devalue
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

lru-cache
  packages/next/next-server/server/spr-cache.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

amphtml-validator
  packages/next/export/worker.js
  packages/next/package.json
  packages/next/server/next-dev-server.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

json5
  packages/next/build/webpack-config.ts
  packages/next/lib/find-config.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

react-error-overlay
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

thread-loader
  packages/next/build/webpack-config.ts
  packages/next/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

babel revert
  packages/next/build/babel/plugins/amp-attributes.ts
  packages/next/build/babel/plugins/commonjs.ts
  packages/next/build/babel/plugins/jsx-pragma.ts
  packages/next/build/babel/plugins/next-data.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/build/babel/preset.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/telemetry/events/version.ts
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

source-map, manifest type fix
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/package.json
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

correct babel dev dependency
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

refactor ncc optimization, babel optimization
  packages/next/build/babel/plugins/amp-attributes.ts
  packages/next/build/babel/plugins/commonjs.ts
  packages/next/build/babel/plugins/jsx-pragma.ts
  packages/next/build/babel/plugins/next-data.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/build/babel/preset.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/telemetry/events/version.ts
  packages/next/types/misc.d.ts
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

file-loader
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

compress, content-type
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

string-hash, strip-ansi
  packages/next/build/output/index.ts
  packages/next/build/output/store.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/loaders/next-data-loader.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix lockfile
  yarn.lock
Owners: @Timer

path-to-regexp
  packages/next/build/index.ts
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/router.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.4-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Drop url dependency (#11503)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update environment support (#11524)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/index.ts
  packages/next/lib/load-env-config.ts
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/utils.ts
  packages/next/types/index.d.ts
  test/integration/env-config-errors/app/package.json
  test/integration/env-config-errors/app/pages/api/hello.js
  test/integration/env-config-errors/app/pages/index.js
  test/integration/env-config-errors/app/pages/ssp.js
  test/integration/env-config-errors/test/index.test.js
  test/integration/env-config/app/.env
  test/integration/env-config/app/pages/api/all.js
  test/integration/env-config/app/pages/global.js
  test/integration/env-config/app/pages/index.js
  test/integration/env-config/app/pages/some-ssg.js
  test/integration/env-config/app/pages/some-ssp.js
  test/integration/env-config/app/pages/ssp.js
  test/integration/env-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update checking for existing dotenv usage (#11496)
  packages/next/lib/load-env-config.ts
  test/integration/env-config-disable/app/package.json
  test/integration/env-config-disable/app/packages/sub-app/.env/.env.development
  test/integration/env-config-disable/app/packages/sub-app/package.json
  test/integration/env-config-disable/app/packages/sub-app/pages/index.js
  test/integration/env-config-disable/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

update auth0 example with getServerSideProps (#11051)
  examples/auth0/pages/advanced/ssr-profile.js
  examples/auth0/pages/profile.js
Owners: @lfades, @Timer

added "with-route-as-modal" example (#11473)
  examples/with-route-as-modal/README.md
  examples/with-route-as-modal/components/Post.js
  examples/with-route-as-modal/components/PostCard.js
  examples/with-route-as-modal/package.json
  examples/with-route-as-modal/pages/_app.js
  examples/with-route-as-modal/pages/index.js
  examples/with-route-as-modal/pages/post/[postId].js
  examples/with-route-as-modal/style.css
Owners: @lfades, @Timer

Generic Type for GetStaticPaths (#11430)
  packages/next/types/index.d.ts
  test/integration/typescript/pages/ssg/[slug].tsx
  test/integration/typescript/pages/ssr/[slug].tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
