Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc

revert nccing webpack (#7189)
  packages/next/build/compiler.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/build/webpack/loaders/next-data-loader.ts
  packages/next/build/webpack/loaders/next-minify-loader.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/build/webpack/plugins/chunk-names-plugin.ts
  packages/next/build/webpack/plugins/hashed-chunk-ids-plugin.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/build/webpack/plugins/nextjs-ssr-import.ts
  packages/next/build/webpack/plugins/nextjs-ssr-module-cache.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/build/webpack/plugins/shared-runtime-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/build/webpack/plugins/unlink-removed-pages-plugin.ts
  packages/next/package.json
  packages/next/server/hot-reloader.js
  packages/next/server/on-demand-entry-handler.js
  packages/next/taskfile.js
  packages/next/types/loader-utils.d.ts
  packages/next/types/misc.d.ts
  packages/next/types/webpack.d.ts
  test/integration/config/next.config.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.19
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Allow _app and _document to be extended with other props (#7184)
  packages/next-server/lib/utils.ts
  packages/next/client/router.ts
  packages/next/pages/_app.tsx
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make sure not to require react before NODE_ENV has been set (#7200)
  packages/next/bin/next.ts
  test/integration/ssr-ctx/pages/index.js
  test/integration/ssr-ctx/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Browserstack optimisations (#7201)
  test/jest-environment.js
  test/jest-global-setup.js
  test/jest-global-teardown.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make sure Cache-Control header is set when no getInitialProps (#7202)
  packages/next-server/lib/utils.ts
  test/integration/serverless/pages/_app.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix firefox bug with detecting instanceof Promise in dynamic (#7203)
  packages/next-server/lib/dynamic.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

add theme to styled-components example (#7206)
  examples/with-styled-components/README.md
  examples/with-styled-components/pages/_app.js
  examples/with-styled-components/pages/index.js
Owners: @kheruc, @lfades

Fix wrong task name on watch for next/export files (#7204)
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Use intersection observer to preload in viewport (#7196)
  packages/next/client/link.tsx
  test/integration/preload-viewport/pages/another.js
  test/integration/preload-viewport/pages/first.js
  test/integration/preload-viewport/pages/index.js
  test/integration/preload-viewport/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Create CODE_OF_CONDUCT.md (#7207)
  CODE_OF_CONDUCT.md
Owners: none

Use modern syntax in Next client code (e.g. async await) (#7014)
  examples/with-fela/FelaProvider.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/taskfile.js
  test/integration/basic/.babelrc
  test/integration/basic/babel.config.js
  test/integration/basic/pages/process-env.js
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Clean up code/testing artifacts from #7014 (#7211)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/integration/basic/.babelrc
  test/integration/basic/babel.config.js
  test/integration/basic/pages/process-env.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make sure next-head class isn't added to title (#7214)
  packages/next-server/lib/head.tsx
  test/integration/client-navigation/pages/nav/head-1.js
  test/integration/client-navigation/pages/nav/head-2.js
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add stats to build tree (#7194)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/lib/pretty-bytes.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.20
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Clear stale files from Next.js' babel-loader cache (#7221)
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/loaders/next-babel-loader.ts
  packages/next/build/webpack/loaders/next-babel-loader/Error.ts
  packages/next/build/webpack/loaders/next-babel-loader/LICENSE
  packages/next/build/webpack/loaders/next-babel-loader/cache.ts
  packages/next/build/webpack/loaders/next-babel-loader/transform.ts
  packages/next/build/webpack/loaders/noop-loader.js
  packages/next/build/webpack/loaders/noop-loader.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.21
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix missing injectCaller (#7223)
  packages/next/build/webpack/loaders/next-babel-loader.ts
  packages/next/build/webpack/loaders/next-babel-loader/injectCaller.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.22
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove unnecessary type from LinkProps (#7233)
  packages/next/client/link.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.23
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add support for /public (#7213)
  packages/next-server/lib/constants.ts
  packages/next-server/server/lib/recursive-readdir-sync.ts
  packages/next-server/server/next-server.ts
  packages/next/export/index.js
  packages/next/server/next-dev-server.js
  packages/next/taskfile-babel.js
  test/integration/basic/pages/about.js
  test/integration/basic/public/about
  test/integration/basic/public/data/data.txt
  test/integration/basic/public/file
  test/integration/basic/test/index.test.js
  test/integration/basic/test/public-folder.js
  test/integration/export/public/about/data.txt
  test/integration/export/public/query
  test/integration/export/static/data/item.txt
  test/integration/export/test/index.test.js
  test/integration/export/test/ssr.js
  test/integration/production/public/about
  test/integration/production/public/data/data.txt
  test/integration/production/public/file
  test/integration/production/test/index.test.js
  test/integration/production/test/security.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.24
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

update webpack to 4.30.0 (#7238)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix default meta tag being added in AMP mode (#7248)
  packages/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/amp-export-validation/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Tweak ReasonML example (#7254)
  examples/with-reasonml/.bsb.lock
  examples/with-reasonml/.gitignore
  examples/with-reasonml/bindings/Next.re
  examples/with-reasonml/bsconfig.json
  examples/with-reasonml/components/Counter.re
  examples/with-reasonml/components/Header.re
  examples/with-reasonml/next.config.js
  examples/with-reasonml/package.json
  examples/with-reasonml/pages/about.re
  examples/with-reasonml/pages/index.re
Owners: @kheruc, @lfades

Fix webpack fetch error (#7253)
  packages/next/build/webpack-config.ts
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make sure to update asPath on hashOnlyChange to (#7255)
  packages/next-server/lib/router/router.ts
  test/integration/client-navigation/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove reload and use only location.reload (#7257)
  packages/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update to latest version of browserstack-local (#7236)
  package.json
  yarn.lock
Owners: none

Fix application output (#7264)
  packages/next/build/output/store.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add docs to public (#7239)
  examples/public-file-serving/README.md
  examples/public-file-serving/next.config.js
  examples/public-file-serving/now.json
  examples/public-file-serving/package.json
  examples/public-file-serving/pages/index.js
  examples/public-file-serving/public/favicon.ico
  examples/public-file-serving/public/robots.txt
  examples/public-file-serving/public/sitemap.xml
  examples/root-static-files/server.js
  examples/with-sitemap-and-robots-express-server-typescript/README.md
  examples/with-sitemap-and-robots-express-server-typescript/package.json
  examples/with-sitemap-and-robots-express-server-typescript/src/public/robots.txt
  examples/with-sitemap-and-robots-express-server-typescript/src/server/app.ts
  examples/with-sitemap-and-robots-express-server-typescript/src/server/sitemap.ts
  examples/with-sitemap-and-robots-express-server/README.md
  examples/with-sitemap-and-robots-express-server/package.json
  examples/with-sitemap-and-robots-express-server/public/robots.txt
  examples/with-sitemap-and-robots-express-server/server/app.js
  examples/with-sitemap-and-robots-express-server/server/sitemap.js
  packages/next/README.md
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Fix attempting to observe non-DOM refs in Link (#7249)
  packages/next/client/link.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add test for invalid ref in Link (#7266)
  test/integration/preload-viewport/pages/invalid-ref.js
  test/integration/preload-viewport/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Renamed IContext to be NextPageContext (#7272)
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/utils.ts
  packages/next/client/with-router.tsx
  packages/next/pages/_app.tsx
  packages/next/pages/_error.tsx
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

With apollo auth proxy (#7165)
  examples/with-apollo-auth/lib/initApollo.js
  examples/with-apollo-auth/package.json
Owners: @kheruc, @lfades

Fix FOUC issue on with-fela example (#7229)
  examples/with-ant-design-less/next.config.js
  examples/with-fela/FelaProvider.js
  examples/with-fela/pages/_app.js
  examples/with-fela/pages/_document.js
  examples/with-fela/pages/index.js
  examples/with-ioc/jest.config.js
  examples/with-kea/store.js
Owners: @kheruc, @lfades

Add example with babel-plugin-react-css-modules (#7219)
  examples/with-react-css-modules/.babelrc
  examples/with-react-css-modules/README.md
  examples/with-react-css-modules/next.config.js
  examples/with-react-css-modules/package.json
  examples/with-react-css-modules/pages/index.css
  examples/with-react-css-modules/pages/index.js
Owners: @kheruc, @lfades

Revert migrating babel-loader into Next.js (#7265)
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/loaders/next-babel-loader.ts
  packages/next/build/webpack/loaders/next-babel-loader/Error.ts
  packages/next/build/webpack/loaders/next-babel-loader/LICENSE
  packages/next/build/webpack/loaders/next-babel-loader/cache.ts
  packages/next/build/webpack/loaders/next-babel-loader/injectCaller.ts
  packages/next/build/webpack/loaders/next-babel-loader/transform.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades
