Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

[Experimental] Catch-all Route Support (#9416)
  packages/next/build/index.ts
  packages/next/next-server/lib/router/utils/route-matcher.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  packages/next/next-server/lib/router/utils/sorted-routes.ts
  packages/next/next-server/server/config.ts
  test/integration/dynamic-routing/next.config.js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/p1/p2/all-ssr/[...rest].js
  test/integration/dynamic-routing/test/index.test.js
  test/unit/__snapshots__/page-route-sorter.test.js.snap
  test/unit/page-route-sorter.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove top level usage of loader imports in next/document (#9419)
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Clean up old flag (#9421)
  packages/next/next-server/server/config.ts
  test/integration/conflicting-public-file-page/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Adjust Client Nav Test (#9422)
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.4-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove getInitialProps from the faunadb example (#9427)
  examples/with-graphql-faunadb/components/Hero.js
  examples/with-graphql-faunadb/fetch/browser.js
  examples/with-graphql-faunadb/fetch/package.json
  examples/with-graphql-faunadb/fetch/server.js
  examples/with-graphql-faunadb/graphql/api.js
  examples/with-graphql-faunadb/lib/useFetch.js
  examples/with-graphql-faunadb/package.json
  examples/with-graphql-faunadb/pages/index.js
  examples/with-graphql-faunadb/styles/hero.js
Owners: @lfades, @Timer

Fix recursive copy failing if more folders than concurrency (#9429)
  packages/next/lib/recursive-copy.ts
  test/unit/recursive-copy.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.4-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix typo in serverless loader (#9431)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  test/integration/serverless/pages/api/top-level-error.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.4-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update router to have only one route traverse pass (#9435)
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/docs/v2/more/now-for-github.js
  test/integration/custom-routes/public/static/hello.txt
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.4-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove re-exports of default when they don't exist (#9450)
  packages/next/amp.d.ts
  packages/next/babel.d.ts
  packages/next/data.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add test for forward nav after reload (#9452)
  test/integration/client-navigation/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Adds missing dependency (#9453)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Exclude cache from being deleted in dev (#9448)
  packages/next/lib/recursive-delete.ts
  packages/next/server/hot-reloader.ts
  test/isolated/_resolvedata/aa/cache.js
  test/isolated/_resolvedata/cache/test.txt
  test/unit/recursive-delete.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add handling for rewriting to /_next with catchall (#9466)
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes-catchall/next.config.js
  test/integration/custom-routes-catchall/pages/hello.js
  test/integration/custom-routes-catchall/public/another.txt
  test/integration/custom-routes-catchall/public/static/data.json
  test/integration/custom-routes-catchall/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Typo in with-next-offline example manifest.json (#9472)
  examples/with-next-offline/public/manifest.json
Owners: @lfades, @Timer

v9.1.5-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update purgecss search path (#9432)
  examples/with-tailwindcss/postcss.config.js
Owners: @lfades, @Timer

Upgrade Babel Dependencies (#9478)
  package.json
  packages/next/build/babel/plugins/amp-attributes.ts
  packages/next/build/babel/plugins/commonjs.ts
  packages/next/build/babel/plugins/jsx-pragma.ts
  packages/next/build/babel/plugins/next-data.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Error on Size Reduction (#9485)
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Ensure CSS Is Preloaded First (#9486)
  packages/next/pages/_document.tsx
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix typos (#9488)
  examples/amp-first/components/Layout.js
  examples/amp-first/public/install-serviceworker.html
Owners: @lfades, @Timer

`next export` should skip iSSG fallback page (#9491)
  packages/next/export/index.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Example] Fix typo in with-rbx-bulma-pro (#9494)
  examples/with-rbx-bulma-pro/README.md
Owners: @lfades, @Timer

Updated with-jest example to latest versions (#9490)
  examples/with-jest/.eslintrc
  examples/with-jest/__tests__/__snapshots__/index.test.js.snap
  examples/with-jest/__tests__/index.test.js
  examples/with-jest/package.json
Owners: @lfades, @Timer

Add err.sh for invalid multi-match usage (#9498)
  errors/invalid-multi-match.md
  packages/next/next-server/server/next-server.ts
  test/integration/invalid-multi-match/next.config.js
  test/integration/invalid-multi-match/pages/hello.js
  test/integration/invalid-multi-match/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Drop Re-Exported iSSG Imports (#9512)
  packages/next/build/babel/plugins/next-page-config.ts
  test/unit/babel-plugin-next-page-config.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update CI/test set up (#9499)
  .circleci/config.yml
  azure-pipelines.yml
  package.json
  test/integration/empty-object-getInitialProps/test/index.test.js
  test/integration/future/test/index.test.js
  test/jest-environment.js
  test/jest-global-setup.js
  test/jest-global-teardown.js
  test/lib/next-webdriver.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Purge Babel Cache (#9514)
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove Legacy Code (#9515)
  packages/next/build/babel/plugins/next-page-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove Broken Example (`with-apollo-auth`) (#9516)
  examples/with-apollo-auth/README.md
  examples/with-apollo-auth/components/RegisterBox.js
  examples/with-apollo-auth/components/SigninBox.js
  examples/with-apollo-auth/lib/apollo.js
  examples/with-apollo-auth/lib/checkLoggedIn.js
  examples/with-apollo-auth/lib/redirect.js
  examples/with-apollo-auth/package.json
  examples/with-apollo-auth/pages/create-account.js
  examples/with-apollo-auth/pages/index.js
  examples/with-apollo-auth/pages/signin.js
  examples/with-apollo-auth/project.graphcool
Owners: @lfades, @Timer

Fix AMP HTML content emit (#9468)
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/amphtml/pages/special-chars.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades
