Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

adding no html-link lint rule to eslint-plugin (#12969)
  packages/eslint-plugin-next/lib/rules/no-html-link-for-pages.js
  packages/eslint-plugin-next/lib/utils/url.js
  test/eslint-plugin-next/custom-pages/index.jsx
  test/eslint-plugin-next/custom-pages/list/[id].jsx
  test/eslint-plugin-next/no-html-link-for-pages.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

chore(next): check-custom-routes - recursive-copy missing types (#13065)
  packages/next/lib/check-custom-routes.ts
  packages/next/lib/recursive-copy.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove taskr typescript plugin as it's no longer used (#13081)
  packages/next/taskfile-typescript.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Added path (#13075)
  .gitignore
Owners: @Timer

Remove redundant code from with-portals-ssr example (#13060)
  examples/with-portals-ssr/pages/_app.js
  examples/with-portals-ssr/pages/index.js
Owners: @lfades, @Timer

Update prefetching explanation to correctly reflect data prefetching (#13088)
  docs/api-reference/next/link.md
Owners: @Timer

Fix building server-side generated AMP pages (#13046)
  packages/next/build/index.ts
  packages/next/export/worker.js
  packages/next/next-server/server/next-server.ts
  test/integration/amphtml-ssg/pages/blog/[slug].js
  test/integration/amphtml-ssg/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.2-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Improve Redux Toolkit example (#12858)
  examples/with-redux-toolkit/README.md
  examples/with-redux-toolkit/components/add-note.js
  examples/with-redux-toolkit/components/clock.js
  examples/with-redux-toolkit/components/counter.js
  examples/with-redux-toolkit/components/edit-note.js
  examples/with-redux-toolkit/lib/slices/clockSlice.js
  examples/with-redux-toolkit/lib/slices/counterSlice.js
  examples/with-redux-toolkit/lib/slices/notesSlice.js
  examples/with-redux-toolkit/lib/useForm.js
  examples/with-redux-toolkit/package.json
  examples/with-redux-toolkit/pages/_app.js
  examples/with-redux-toolkit/pages/api/notes.js
  examples/with-redux-toolkit/pages/index.js
  examples/with-redux-toolkit/pages/notes.js
  examples/with-redux-toolkit/store.js
Owners: @lfades, @Timer

Add error when exporting pages with fallback: true (#13063)
  errors/ssg-fallback-true-export.md
  packages/next/export/index.ts
  packages/next/lib/constants.ts
  test/integration/export-fallback-true-error/pages/[slug].js
  test/integration/export-fallback-true-error/test/index.test.js
  test/integration/prerender/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update the Automatic Static Optimization docs to explicitly state that Next.js will trigger an update. (#13096)
  docs/advanced-features/automatic-static-optimization.md
Owners: @Timer

fix(examples): align with-absolute-imports with next 9.4 (#13090)
  examples/with-absolute-imports/jsconfig.json
  examples/with-absolute-imports/next.config.js
Owners: @lfades, @Timer

[Example] Unsubscribe Router.on.events (#13102)
  examples/with-google-analytics/pages/_app.js
Owners: @lfades, @Timer

Add Kodiak Configuration (#13103)
  .github/.kodiak.toml
Owners: @Timer

Fix catch-all route + index.js in dev when accessed with trailing slash (#10502)
  packages/next/next-server/server/next-server.ts
  test/integration/api-catch-all/pages/api/users/[...slug].js
  test/integration/api-catch-all/pages/api/users/index.js
  test/integration/api-catch-all/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Lint
  test/integration/api-catch-all/pages/api/users/[...slug].js
  test/integration/api-catch-all/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Stabilize `config` tests (#13116)
  test/integration/config/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update DatoCMS Example (#13008)
  examples/cms-datocms/components/alert.js
  examples/cms-datocms/components/footer.js
  examples/cms-datocms/components/hero-post.js
  examples/cms-datocms/components/intro.js
  examples/cms-datocms/components/layout.js
  examples/cms-datocms/components/meta.js
  examples/cms-datocms/components/more-stories.js
  examples/cms-datocms/components/post-header.js
  examples/cms-datocms/components/post-preview.js
  examples/cms-datocms/jsconfig.json
  examples/cms-datocms/next.config.js
  examples/cms-datocms/package.json
  examples/cms-datocms/pages/_app.js
  examples/cms-datocms/pages/api/preview.js
  examples/cms-datocms/pages/index.js
  examples/cms-datocms/pages/posts/[slug].js
  examples/cms-datocms/postcss.config.js
  examples/cms-datocms/styles/index.css
  examples/cms-datocms/tailwind.config.js
Owners: @lfades, @Timer

Enable `update_branch_immediately`
  .github/.kodiak.toml
Owners: @Timer

Revert "Enable `update_branch_immediately`"
  .github/.kodiak.toml
Owners: @Timer

[Examples] Update with-sentry-simple (#13074)
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/pages/404.js
  examples/with-sentry-simple/pages/_app.js
  examples/with-sentry-simple/pages/_error.js
  examples/with-sentry-simple/pages/client/test1.js
  examples/with-sentry-simple/pages/client/test2.js
  examples/with-sentry-simple/pages/client/test3.js
  examples/with-sentry-simple/pages/client/test4.js
  examples/with-sentry-simple/pages/client/test5.js
  examples/with-sentry-simple/pages/client/test6.js
  examples/with-sentry-simple/pages/client/test7.js
  examples/with-sentry-simple/pages/client/test8.js
  examples/with-sentry-simple/pages/index.js
  examples/with-sentry-simple/pages/server/test1.js
  examples/with-sentry-simple/pages/server/test2.js
  examples/with-sentry-simple/pages/server/test3.js
  examples/with-sentry-simple/pages/server/test4.js
Owners: @lfades, @Timer

Add support for debugging Next.js core (#13101)
  .vscode/launch.json
  package.json
  packages/next/taskfile-babel.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Read process.env after loading .env files (#13087)
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Experimental] Only consider files within plugins (#12943)
  packages/next/build/plugins/collect-plugins.ts
  test/integration/next-plugins/app/node_modules/next-plugin-normal/src/dir-with-ext.js/index.js
  test/integration/next-plugins/app/node_modules/next-plugin-normal/src/dir-without-ext/index.js
  test/integration/next-plugins/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

example(contentful): set up content types with required fields (#12591)
  examples/cms-contentful/contentful/export.json
Owners: @lfades, @Timer

[Examples] Fix with-yarn-workspaces Vercel deploy button (#12867)
  examples/with-yarn-workspaces/now.json
  examples/with-yarn-workspaces/packages/web-app/pages/api/echo/[word].js
Owners: @lfades, @Timer

Use `eval-source-map` for Server Side Errors (#13123)
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/server/hot-reloader.ts
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
  test/acceptance/ReactRefreshLogBox.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

chore: Remove some redundant imports (#13066)
  examples/with-three-js/pages/_app.js
  examples/with-three-js/pages/birds.js
  examples/with-three-js/pages/boxes.js
  examples/with-three-js/pages/index.js
  examples/with-typestyle/pages/index.js
  examples/with-universal-configuration-runtime/pages/index.js
  examples/with-videojs/components/Player.js
  examples/with-videojs/pages/index.js
  examples/with-why-did-you-render/components/header.js
  examples/with-yarn-workspaces/packages/bar/index.js
  examples/with-zeit-fetch/pages/preact.js
Owners: @lfades, @Timer

With stitches (#12677)
  examples/with-stitches-styled/README.md
  examples/with-stitches-styled/css/index.js
  examples/with-stitches-styled/package.json
  examples/with-stitches-styled/pages/_app.js
  examples/with-stitches-styled/pages/_document.js
  examples/with-stitches-styled/pages/index.js
  examples/with-stitches-styled/public/favicon.ico
  examples/with-stitches-styled/public/zeit.svg
  examples/with-stitches/css/index.js
  examples/with-stitches/pages/index.js
Owners: @lfades, @Timer

GranularChunks conformance check (#11710)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/granular-chunks-conformance.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/index.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/utils/utils.ts
  test/integration/conformance/next.config.js
  test/integration/conformance/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enable jest/no-try-expect (#13124)
  .eslintrc.json
  test/integration/create-next-app/index.test.js
  test/isolated/config.test.js
  test/isolated/require-page.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Upgrade Next Redux Wrapper to version 6 in examples (#11802)
  examples/with-redux-wrapper/README.md
  examples/with-redux-wrapper/package.json
  examples/with-redux-wrapper/pages/_app.js
  examples/with-redux-wrapper/pages/index.js
  examples/with-redux-wrapper/pages/other.js
  examples/with-redux-wrapper/store/store.js
Owners: @lfades, @Timer

Fix the link for Custom Server documentation (#13137)
  examples/custom-server-koa/README.md
Owners: @lfades, @Timer

Correctly eliminate destructuring assignment (#13144)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.2-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update Create Next App to handle rename of org (#13138)
  packages/create-next-app/helpers/examples.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Eliminate array destructuring assignment (#13151)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Windows LogBox Test (#13147)
  test/acceptance/ReactRefreshLogBox.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Feat/remove redundant imports from examples (#13062)
  examples/amp-first/pages/index.js
  examples/amp-first/pages/offline.js
  examples/with-aphrodite/pages/index.js
  examples/with-app-layout/pages/_app.js
  examples/with-aws-amplify/pages/index.js
  examples/with-aws-amplify/pages/todo/[id].js
  examples/with-babel-macros/pages/_document.js
  examples/with-babel-macros/pages/index.js
  examples/with-carbon-components/pages/index.js
  examples/with-chakra-ui/src/pages/_app.js
  examples/with-chakra-ui/src/pages/index.js
  examples/with-chakra-ui/src/theme.js
  examples/with-cookie-auth-fauna/pages/index.js
  examples/with-cookie-auth-fauna/pages/login.js
  examples/with-cookie-auth-fauna/pages/signup.js
  examples/with-custom-babel-config/pages/index.js
  examples/with-glamor/pages/index.js
  examples/with-graphql-hooks/pages/_app.js
  examples/with-grommet/pages/_app.js
  examples/with-grommet/pages/index.js
  examples/with-i18n-rosetta/pages/_app.js
  examples/with-jest/pages/index.js
Owners: @lfades, @Timer

Record presence of `reportWebVitals` (#13155)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/pages/_app_withoutreportwebvitals.empty
  test/integration/telemetry/pages/_app_withreportwebvitals.empty
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
