Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

Add deprecation message for next/dynamic modules (#7750)
  errors/next-dynamic-modules.md
  packages/next-server/lib/dynamic.tsx
Owners: @kheruc, @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.68
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update to have default pageProps of {} instead of null (#7734)
  packages/next-server/lib/utils.ts
  test/unit/loadGetInitialProps.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Improve automatic prerendering warning (#7759)
  errors/opt-out-automatic-prerendering.md
  packages/next/build/index.ts
Owners: @kheruc, @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove old docs (#7760)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.69
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

[typings] Allow getInitialProps to be sync (#7763)
  packages/next-server/lib/utils.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix serverless loader for API routes (#7767)
  packages/next-server/server/api-utils.ts
  packages/next-server/server/next-server.ts
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Experimentalize `public/` (#7771)
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next/server/next-dev-server.js
  test/integration/basic/next.config.js
  test/integration/export/next.config.js
  test/integration/production/next.config.js
  test/integration/serverless/next.config.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

API routes documentation (#7562)
  examples/api-routes-micro/README.md
  examples/api-routes-micro/package.json
  examples/api-routes-micro/pages/api/posts.js
  examples/api-routes-micro/pages/index.js
  examples/api-routes/README.md
  examples/api-routes/components/Person.js
  examples/api-routes/data.js
  examples/api-routes/package.json
  examples/api-routes/pages/api/people/[id].js
  examples/api-routes/pages/api/people/index.js
  examples/api-routes/pages/index.js
  examples/api-routes/pages/person.js
  packages/next/README.md
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

v8.1.1-canary.70
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add UPGRADING doc (#7773)
  UPGRADING.md
Owners: none

v9.0.0
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Link invalid-resolve-alias as it is being linked in the codebase
  errors/invalid-resolve-alias.md
Owners: @kheruc

Copy invalid-resolve-alias as it is being linked in the codebase
  errors/invalid-resolve-alias.md
Owners: @kheruc

Further clarification that api routes should be inside the page… (#7780)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Note TypeScript migration (#7787)
  UPGRADING.md
Owners: none

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
