Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

[Examples] Update data-fetch example (#12617)
  examples/data-fetch/pages/index.js
  examples/data-fetch/pages/preact-stars.js
Owners: @lfades, @Timer

[Fast Refresh] Overlay hash must consider stack (#12639)
  packages/react-dev-overlay/src/internal/container/Errors.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Allow `@babel/preset-typescript` to be configured (#11840)
  .prettierignore
  .prettierignore_staged
  package.json
  packages/create-next-app/package.json
  packages/next/build/babel/preset.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  test/integration/typescript-only-remove-type-imports/.babelrc
  test/integration/typescript-only-remove-type-imports/User.ts
  test/integration/typescript-only-remove-type-imports/UserStatistics.ts
  test/integration/typescript-only-remove-type-imports/pages/index.tsx
  test/integration/typescript-only-remove-type-imports/pages/normal.tsx
  test/integration/typescript-only-remove-type-imports/test/index.test.js
  test/integration/typescript-only-remove-type-imports/tsconfig.json
  test/unit/next-babel.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

More renaming ZEIT → Vercel (#12649)
  docs/api-reference/next/router.md
  docs/deployment.md
  examples/blog-starter/lib/constants.js
  examples/cms-datocms/lib/constants.js
  examples/cms-prismic/lib/constants.js
  examples/cms-sanity/lib/constants.js
  examples/cms-takeshape/lib/constants.js
  examples/with-iron-session/lib/session.js
  examples/with-iron-session/pages/profile-sg.js
  packages/next/README.md
  packages/next/taskfile.js
  test/integration/client-navigation/lib/data.json
  test/integration/client-navigation/test/rendering.js
  test/integration/export-serverless/next.config.js
  test/integration/export-serverless/pages/index.js
  test/integration/export-serverless/test/browser.js
  test/integration/export/next.config.js
  test/integration/export/pages/index.js
  test/integration/export/test/browser.js
Owners: @Timer, @lfades, @timneutkens, @ijjk

Disable experimental pageEnv stub by default (#12644)
  packages/next/next-server/server/config.ts
  test/integration/process-env-stub/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Cont. Update performance relayer and remove unstable prefix (#12665)
  docs/advanced-features/measuring-performance.md
  docs/manifest.json
  packages/next/build/webpack-config.ts
  packages/next/client/index.js
  packages/next/client/performance-relayer.js
  packages/next/next-server/lib/fid-measure.js
  packages/next/next-server/lib/fid.ts
  packages/next/next-server/server/config.ts
  packages/next/package.json
  packages/next/pages/_document.tsx
  test/integration/relay-analytics/pages/_app.js
  test/integration/relay-analytics/test/index.test.js
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Fast Refresh] Reorder Loaders (#12671)
  packages/next/build/webpack-config.ts
  test/acceptance/ReactRefreshLogBox.test.js
  test/acceptance/helpers.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Resize Arrows and Preserve Newlines (#12672)
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/styles.ts
  packages/react-dev-overlay/src/internal/container/Errors.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Do not draw eye to collapsed frames (#12673)
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.17
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

fix: use latest experimental method names (#12669)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix check utility in tests (#12678)
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.18
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

chore(create-next-app): add missing return types on helpers (#12616)
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/helpers/git.ts
  packages/create-next-app/helpers/is-folder-empty.ts
  packages/create-next-app/helpers/should-use-yarn.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Add additional test case (#12674)
  test/acceptance/ReactRefreshLogBox.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update documentation that refers to isomorphic fetch libs (#12686)
  docs/advanced-features/custom-error-page.md
  docs/api-reference/data-fetching/getInitialProps.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
Owners: @Timer

chore(create-next-app): add missing types (#12691)
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/helpers/install.ts
  packages/create-next-app/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

chore(next): link/router/document missing types (#12692)
  packages/next/client/link.tsx
  packages/next/client/router.ts
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enable Fast Refresh by Default (#12640)
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/index.js
  packages/next/next-server/server/config.ts
  packages/next/pages/_document.tsx
  packages/react-refresh-utils/internal/ReactRefreshModule.runtime.ts
  packages/react-refresh-utils/internal/helpers.ts
  test/integration/amphtml/test/index.test.js
  test/integration/basic/test/error-recovery.js
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/getserversideprops/test/index.test.js
  test/integration/invalid-href/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/integration/typescript-hmr/test/index.test.js
  test/integration/typescript-ignore-errors/test/index.test.js
  test/integration/typescript/test/index.test.js
  test/integration/with-router/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade deps (#12700)
  package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/compiled/babel-loader/index.js
  packages/next/compiled/cookie/index.js
  packages/next/compiled/cssnano-simple/index.js
  packages/next/compiled/file-loader/cjs.js
  packages/next/compiled/find-up/index.js
  packages/next/compiled/is-wsl/index.js
  packages/next/compiled/json5/index.js
  packages/next/compiled/raw-body/index.js
  packages/next/package.json
  test/integration/typescript-numeric-sep-exclusive/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.7-canary.19
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Examples] Update firebase authentication (#12687)
  examples/with-firebase-authentication-serverless/.env
  examples/with-firebase-authentication-serverless/.gitignore
  examples/with-firebase-authentication-serverless/README.md
  examples/with-firebase-authentication-serverless/env.js
  examples/with-firebase-authentication-serverless/package.json
  examples/with-firebase-authentication-serverless/pages/index.js
  examples/with-firebase-authentication/.env.example
  examples/with-firebase-authentication/.gitignore
  examples/with-firebase-authentication/README.md
  examples/with-firebase-authentication/components/FirebaseAuth.js
  examples/with-firebase-authentication/credentials/client.js
  examples/with-firebase-authentication/credentials/server.js
  examples/with-firebase-authentication/next.config.js
  examples/with-firebase-authentication/package.json
  examples/with-firebase-authentication/pages/_document.js
  examples/with-firebase-authentication/pages/api/login.js
  examples/with-firebase-authentication/pages/api/logout.js
  examples/with-firebase-authentication/pages/auth.js
  examples/with-firebase-authentication/pages/example.js
  examples/with-firebase-authentication/pages/index.js
  examples/with-firebase-authentication/server.js
  examples/with-firebase-authentication/sessions/.gitkeep
  examples/with-firebase-authentication/utils/auth/firebaseAdmin.js
  examples/with-firebase-authentication/utils/auth/firebaseSessionHandler.js
  examples/with-firebase-authentication/utils/auth/hooks.js
  examples/with-firebase-authentication/utils/auth/initFirebase.js
  examples/with-firebase-authentication/utils/auth/logout.js
  examples/with-firebase-authentication/utils/auth/user.js
  examples/with-firebase-authentication/utils/middleware/commonMiddleware.js
  examples/with-firebase-authentication/utils/middleware/cookieSession.js
  examples/with-firebase-authentication/utils/middleware/cookieSessionRefresh.js
  examples/with-firebase-authentication/utils/pageWrappers/withAuthUser.js
  examples/with-firebase-authentication/utils/pageWrappers/withAuthUserInfo.js
Owners: @lfades, @Timer

Update code sample in performance measurement docs (#12690)
  docs/advanced-features/measuring-performance.md
Owners: @Timer

Enable sassOptions support in next.config.js (#12685)
  docs/basic-features/built-in-css-support.md
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
  test/integration/scss-fixtures/basic-module-include-paths/next.config.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.7-canary.20
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Link Made by Vercel to vercel.com (#12702)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Docs] Environment Variables (#12696)
  docs/api-reference/next.config.js/environment-variables.md
  docs/basic-features/environment-variables.md
  docs/manifest.json
Owners: @Timer

Use @/ to show module alias instead of @ prefixed (#12600)
  docs/advanced-features/module-path-aliases.md
Owners: @Timer

fix logout in with-iron-session example (#12704)
  examples/with-iron-session/pages/api/logout.js
Owners: @lfades, @Timer

Add test for API route with fetch polyfill (#12680)
  test/integration/fetch-polyfill/pages/api/api-route.js
  test/integration/fetch-polyfill/serverless-server.js
  test/integration/fetch-polyfill/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.21
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Minor update to "Measuring performance" docs (#12741)
  docs/advanced-features/measuring-performance.md
Owners: @Timer

Add missing parenthesis in Sending results to analytics example (#12733)
  docs/advanced-features/measuring-performance.md
Owners: @Timer

Add message when automatic dotenv loading is disabled (#12744)
  errors/env-loading-disabled.md
  packages/next/lib/load-env-config.ts
  test/integration/env-config-disable/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Fast Refresh] Cleaner Console Output (#12745)
  packages/next/client/dev/error-overlay/hot-dev-client.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

(docs): fixed typo error (#12746)
  docs/api-reference/next/router.md
Owners: @Timer

v9.4.1-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Use an if statement instead of expression statement (#12747)
  docs/advanced-features/measuring-performance.md
Owners: @Timer

Fix typo in Environment Variables doc page (#12770)
  docs/basic-features/environment-variables.md
Owners: @Timer

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
