Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Fix `static/` file name encoding (#11373)
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/basic/test/index.test.js
  test/integration/basic/test/security.js
  test/integration/dynamic-routing/static/hello copy.txt
  test/integration/dynamic-routing/static/hello%20copy.txt
  test/integration/dynamic-routing/static/hello+copy.txt
  test/integration/dynamic-routing/static/hello.txt
  test/integration/dynamic-routing/test/index.test.js
  test/integration/production/test/security.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.2-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Example] Use .jpg for images in blog-starter (#11176)
  examples/blog-starter/_posts/dynamic-routing.md
  examples/blog-starter/_posts/preview.md
  examples/blog-starter/public/assets/blog/dynamic-routing/cover.jpg
  examples/blog-starter/public/assets/blog/dynamic-routing/cover.webp
  examples/blog-starter/public/assets/blog/preview/cover.jpg
  examples/blog-starter/public/assets/blog/preview/cover.webp
Owners: @lfades, @Timer

Add with-redux-toolkit example (#11358)
  examples/with-redux-toolkit/README.md
  examples/with-redux-toolkit/components/clock.js
  examples/with-redux-toolkit/components/counter.js
  examples/with-redux-toolkit/lib/useInterval.js
  examples/with-redux-toolkit/package.json
  examples/with-redux-toolkit/pages/_app.js
  examples/with-redux-toolkit/pages/index.js
  examples/with-redux-toolkit/store.js
Owners: @lfades, @Timer

v9.3.2-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Revert "Fix assignment of props in WithApollo.getInitialProps (#11236)" (#11384)
  examples/with-apollo/lib/apollo.js
Owners: @lfades, @Timer

Add support for comments in tsconfig.json
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/typescript-paths/tsconfig.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

docs: Replace micro-cors with cors middleware (#11395)
  docs/api-routes/introduction.md
Owners: @Timer

Add support for comments in tsconfig.json (#11392)
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/typescript-paths/tsconfig.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

fixed typo: libraray -> library (#11435)
  examples/custom-server-actionhero/README.md
Owners: @lfades, @Timer

Minor change in README.md (#11434)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix with-aphrodite readme typo (#11436)
  examples/with-aphrodite/README.md
Owners: @lfades, @Timer

Update api-rest-example to SSG (#11362)
  examples/api-routes-rest/package.json
  examples/api-routes-rest/pages/api/users.js
  examples/api-routes-rest/pages/index.js
  examples/api-routes-rest/pages/user/[id].js
Owners: @lfades, @Timer

Change mdx options description (#11409)
  packages/next-mdx/readme.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update .gitignore (#11421)
  examples/with-firebase-hosting-and-typescript/.gitignore
Owners: @lfades, @Timer

Update emotion dependencies in with-emotion-11 (#11414)
  examples/with-emotion-11/package.json
Owners: @lfades, @Timer

Fix #11396 (#11397)
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix type ignore (#11479)
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Typos fixed: overriden --> overridden and innaccurate -->inacc… (#11454)
  examples/with-sentry-simple/README.md
Owners: @lfades, @Timer

Fix small punctuation issue (#11439)
  docs/routing/dynamic-routes.md
Owners: @Timer

v9.3.3-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update to not add path segments to redirect query automatically (#11497)
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Use Lax Cookie for Preview Mode (#11495)
  packages/next/next-server/server/api-utils.ts
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/prerender-preview/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix(performance-relayer): properly clean up event listeners (#11410)
  packages/next/client/performance-relayer.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.4-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

babel-loader, cache-loader
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

conf
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/telemetry/storage.ts
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

gzip-size
  packages/next/build/utils.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

webpack-dev-middleware, webpack-hot-middleware
  packages/next/package.json
  packages/next/server/hot-reloader.ts
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

find-up
  packages/next/build/index.ts
  packages/next/build/plugins/collect-plugins.ts
  packages/next/cli/next-dev.ts
  packages/next/export/index.ts
  packages/next/lib/find-config.ts
  packages/next/lib/load-env-config.ts
  packages/next/next-server/server/config.ts
  packages/next/package.json
  packages/next/server/next-dev-server.ts
  packages/next/taskfile.js
  packages/next/telemetry/events/plugins.ts
  packages/next/telemetry/events/version.ts
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

escape-string-regexp
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

terser
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/minify.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

jsonwebtoken
  packages/next/next-server/server/api-utils.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

is-docker, is-wsl
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/telemetry/anonymous-meta.ts
  packages/next/telemetry/storage.ts
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

autodll-webpack-plugin
  packages/next/build/bundles/autodll-webpack-plugin.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/dll-import.ts
  packages/next/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

recast, babel core sharing
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/duplicate-polyfills-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/index.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/utils/ast-utils.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Revert "@ampproject/toolbox-optimizer"
  packages/next/next-server/server/optimize-amp.ts
  packages/next/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

launch-editor
  packages/next/package.json
  packages/next/server/lib/error-overlay-middleware.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades
