Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Remove with-cookie-auth (#11865)
  examples/with-cookie-auth/README.md
  examples/with-cookie-auth/components/header.js
  examples/with-cookie-auth/components/layout.js
  examples/with-cookie-auth/package.json
  examples/with-cookie-auth/pages/api/login.js
  examples/with-cookie-auth/pages/api/profile.js
  examples/with-cookie-auth/pages/index.js
  examples/with-cookie-auth/pages/login.js
  examples/with-cookie-auth/pages/profile.js
  examples/with-cookie-auth/utils/auth.js
  examples/with-cookie-auth/utils/get-host.js
Owners: @lfades, @Timer

Remove unused import (#11875)
  packages/next-polyfill-nomodule/src/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Situation Where Build Can Hang Indefinitely (#11881)
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.5-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Handle Potential Promise Rejection in Serverless (#11882)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add support for params in header key/values (#10324)
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix(export): fallback to empty string for basePath (#11880)
  packages/next/next-server/lib/router/router.ts
  test/unit/router-add-base-path.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.5-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update with-redux-thunk example to include HMR (#11816)
  examples/with-redux-thunk/README.md
  examples/with-redux-thunk/actions.js
  examples/with-redux-thunk/components/clock.js
  examples/with-redux-thunk/components/counter.js
  examples/with-redux-thunk/components/examples.js
  examples/with-redux-thunk/lib/with-redux-store.js
  examples/with-redux-thunk/pages/_app.js
  examples/with-redux-thunk/pages/index.js
  examples/with-redux-thunk/pages/show-redux-state.js
  examples/with-redux-thunk/reducers.js
  examples/with-redux-thunk/store.js
  examples/with-redux-thunk/types.js
Owners: @lfades, @Timer

v9.3.5-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

docs(auth): add with-iron-session to the alternatives list (#11903)
  examples/with-cookie-auth/README.md
Owners: @lfades, @Timer

docs(Link): precise how prefetch works (#11792)
  docs/api-reference/next/link.md
Owners: @Timer

Fix: Update shallow routing docs (#11894)
  docs/routing/shallow-routing.md
Owners: @Timer

Fix NEXT_PUBLIC env values not being inlined (#11896)
  packages/next/build/webpack-config.ts
  test/integration/env-config/app/next.config.js
  test/integration/env-config/app/pages/next-config-loaded-env.js
  test/integration/env-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Correct Global and Local CSS Loading Order in Dev (#11901)
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  test/integration/css-fixtures/global-and-module-ordering/pages/_app.js
  test/integration/css-fixtures/global-and-module-ordering/pages/index.js
  test/integration/css-fixtures/global-and-module-ordering/pages/index.module.css
  test/integration/css-fixtures/global-and-module-ordering/styles/global.css
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Ensure module not found error is shown with jsconfig paths (#11889)
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add initial process.env stubbing for new env support (#11893)
  errors/missing-env-value.md
  packages/next/build/webpack-config.ts
  test/integration/process-env-stub/next.config.js
  test/integration/process-env-stub/pages/also-not-missing.js
  test/integration/process-env-stub/pages/api/hi.js
  test/integration/process-env-stub/pages/missing-gsp.js
  test/integration/process-env-stub/pages/missing-gssp.js
  test/integration/process-env-stub/pages/missing.js
  test/integration/process-env-stub/pages/not-missing.js
  test/integration/process-env-stub/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.6-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Upgrade `terser-webpack-plugin` for Webpack 5 (#11922)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.d.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/minify.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/options.json
  packages/next/compiled/autodll-webpack-plugin/autodll-webpack-plugin.js
  packages/next/compiled/terser-webpack-plugin/LICENSE
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/compiled/terser-webpack-plugin/package.json
  packages/next/compiled/terser-webpack-plugin/worker.js
  packages/next/compiled/terser/bundle.min.js
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add initial configuration changes for webpack 5 (#11917)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Updated shallow docs (#11925)
  docs/api-reference/next/link.md
  docs/api-reference/next/router.md
Owners: @Timer

v9.3.6-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Improved steps for examples/cms-prismic (#11935)
  examples/cms-prismic/README.md
  examples/cms-prismic/types/author.json
  examples/cms-prismic/types/post.json
Owners: @lfades, @Timer

add warning about manually installing PostCSS plugins (#11966)
  docs/advanced-features/customizing-postcss-config.md
Owners: @Timer

Allow disabling runtime JS in production for certain pages (#11949)
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  packages/next/types/index.d.ts
  test/integration/disable-js/next.config.js
  test/integration/disable-js/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

docs: improve wording on some pages according to alex.js (#11973)
  docs/advanced-features/automatic-static-optimization.md
  docs/advanced-features/custom-document.md
  docs/advanced-features/custom-server.md
  docs/advanced-features/customizing-babel-config.md
  docs/advanced-features/multi-zones.md
  docs/advanced-features/preview-mode.md
  docs/advanced-features/static-html-export.md
  docs/api-reference/data-fetching/getInitialProps.md
  docs/api-reference/next/link.md
  docs/api-reference/next/router.md
  docs/api-routes/introduction.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  docs/basic-features/typescript.md
  docs/deployment.md
  docs/routing/introduction.md
Owners: @Timer

Enable "paths" support by default (#11970)
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
  test/integration/env-config/app/next.config.js
  test/integration/jsconfig-paths/next.config.js
  test/integration/typescript-paths/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Serialize JSON Warnings Before Event (#11976)
  packages/next/build/output/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update HMR Client Runtime (#11977)
  packages/next/client/dev/error-overlay/hot-dev-client.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add Missing Hook for MainTemplate (#11984)
  packages/next/types/webpack.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Strongly Type Usage of Client Pages Loader (#11985)
  packages/next/build/entries.ts
  packages/next/server/on-demand-entry-handler.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add API route to default CNA template (#11981)
  packages/create-next-app/templates/default/pages/api/hello.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

with-iron-session: fix link to next-iron-session (#11974)
  examples/with-iron-session/README.md
Owners: @lfades, @Timer

Fix On Demand Types in Hot Reloader (#11987)
  packages/next/server/hot-reloader.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

refactor(next-client-pages-loader): allow toggling router HMR (#11989)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/server/hot-reloader.ts
  packages/next/server/on-demand-entry-handler.ts
  test/integration/production-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Create React Refresh Utils (#12006)
  .eslintignore
  .prettierignore
  packages/react-refresh-utils/.gitignore
  packages/react-refresh-utils/README.md
  packages/react-refresh-utils/ReactRefreshWebpackPlugin.ts
  packages/react-refresh-utils/internal/ReactRefreshModule.runtime.ts
  packages/react-refresh-utils/internal/helpers.ts
  packages/react-refresh-utils/loader.ts
  packages/react-refresh-utils/package.json
  packages/react-refresh-utils/runtime.ts
  packages/react-refresh-utils/tsconfig.json
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

examples/with-react-helmet: upgrade react-helmet to v6.0.0 (#12000)
  examples/with-react-helmet/package.json
  examples/with-react-helmet/pages/_app.js
  examples/with-react-helmet/pages/_document.js
  examples/with-react-helmet/pages/about.js
Owners: @lfades, @Timer
