Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Fix build stalling with styled-jsx plugins (#12952)
  package.json
  packages/next/compiled/chalk/index.js
  packages/next/compiled/cssnano-simple/index.js
  packages/next/compiled/debug/index.js
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/compiled/postcss-loader/index.js
  packages/next/compiled/postcss-preset-env/index.js
  packages/next/package.json
  test/integration/styled-jsx-plugin/app/.babelrc.js
  test/integration/styled-jsx-plugin/app/package.json
  test/integration/styled-jsx-plugin/app/pages/index.js
  test/integration/styled-jsx-plugin/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.1-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test TypeScript Enum (#12954)
  test/integration/typescript/pages/hello.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add experimental Storybook preset (#12934)
  packages/next-plugin-storybook/package.json
  packages/next-plugin-storybook/preset.js
  packages/next-plugin-storybook/readme.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Use a top level heading (#12960)
  docs/advanced-features/module-path-aliases.md
Owners: @Timer

Bypass OPTIONS handling for API routes (#12978)
  package.json
  packages/next/server/hot-reloader.ts
  test/integration/api-support/pages/api/cors.js
  test/integration/api-support/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.1-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove unused babel-preset-react dep from babel-macros example (#12990)
  examples/with-babel-macros/package.json
Owners: @lfades, @Timer

Update Babel Cache Key (#12989)
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.1-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Only retry tests on CI (#12998)
  run-tests.js
  test/jest-setup-after-env.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Experimental] Add support for production browser source maps (#13018)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/next-server/server/config.ts
  test/integration/production-browser-sourcemaps/next.config.js
  test/integration/production-browser-sourcemaps/pages/ssr.js
  test/integration/production-browser-sourcemaps/pages/static.js
  test/integration/production-browser-sourcemaps/serverless-server.js
  test/integration/production-browser-sourcemaps/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix modal overlay in RTL layouts (#13000)
  packages/react-dev-overlay/src/internal/styles/CssReset.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

feat: Remove redundant imports in XState example (#13020)
  examples/with-xstate/components/Toggle.js
  examples/with-xstate/pages/index.js
Owners: @lfades, @Timer

Convert test to be inline (#13022)
  test/unit/__snapshots__/page-route-sorter.test.js.snap
  test/unit/page-route-sorter.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Avoid over-transpiling core libs (#11803)
  packages/next/taskfile-babel.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.2-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Experimental] Implement optional catch all routes (#12887)
  docs/api-routes/dynamic-api-routes.md
  docs/routing/dynamic-routes.md
  packages/next/build/index.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  packages/next/next-server/lib/router/utils/sorted-routes.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/dynamic-optional-routing/next.config.js
  test/integration/dynamic-optional-routing/pages/[[...optionalName]].js
  test/integration/dynamic-optional-routing/pages/about.js
  test/integration/dynamic-optional-routing/pages/api/post/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/nested/[[...optionalName]].js
  test/integration/dynamic-optional-routing/test/index.test.js
  test/unit/page-route-sorter.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.2-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Examples] Chakra UI - Move CSSReset inside ColorModeProvider (#13044)
  examples/with-chakra-ui/src/pages/_app.js
Owners: @lfades, @Timer

Stabilize test for Windows (#13050)
  test/integration/getserversideprops/test/index.test.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Improve jsconfig.json error message (#13053)
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/jsconfig/jsconfig.json
  test/integration/jsconfig/pages/hello.js
  test/integration/jsconfig/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

An empty `jsconfig.json` should not fail the build (#13051)
  packages/next/build/webpack-config.ts
  test/integration/jsconfig-empty/jsconfig.json
  test/integration/jsconfig-empty/next.config.js
  test/integration/jsconfig-empty/pages/index.js
  test/integration/jsconfig-empty/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add PR labeler action (#13054)
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @Timer

Revert "Add PR labeler action" (#13055)
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @Timer

x-powered-by is added to response, not request (#13037)
  docs/api-reference/next.config.js/disabling-x-powered-by.md
Owners: @Timer

Correct multi-match behavior for queries and header values (#13017)
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix with-emotion examples (#13005)
  examples/with-emotion-11/pages/_document.js
  examples/with-emotion/pages/_document.js
Owners: @lfades, @Timer

[Examples] Added public folder to with-docker example (#12879)
  examples/with-docker/Dockerfile.multistage
  examples/with-docker/pages/index.js
  examples/with-docker/public/vercel.svg
Owners: @lfades, @Timer

docs: add prismic locale note (#12862)
  examples/cms-prismic/README.md
Owners: @lfades, @Timer

chore: use function component on with-typescript example (#12695)
  examples/with-typescript/pages/users/[id].tsx
Owners: @lfades, @Timer

fix crash when NODE_OPTIONS includes --inspect-port (#12555)
  packages/next/server/lib/utils.ts
  test/unit/get-node-options-without-inspect.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add eslint-plugin-jest (#13003)
  .eslintrc.json
  package.json
  test/integration/404-page-custom-error/test/index.test.js
  test/integration/amphtml/test/index.test.js
  test/integration/app-document/test/rendering.js
  test/integration/config/node_modules/module-only-package/index.js
  test/integration/config/test/client.js
  test/integration/config/test/index.test.js
  test/integration/config/test/rendering.js
  test/integration/conformance/test/index.test.js
  test/integration/css-modules/test/index.test.js
  test/integration/custom-error/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/file-serving/test/index.test.js
  test/integration/firebase-grpc/test/index.test.js
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/legacy-ssg-methods-error/test/index.test.js
  test/integration/prerender-preview/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/integration/scss-modules/test/index.test.js
  test/integration/typescript-paths/test/index.test.js
  test/lib/next-test-utils.js
  test/unit/mitt.test.js
  test/unit/next-babel-loader.test.js
  test/unit/page-route-sorter.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add monaco-editor example (#11232)
  examples/with-monaco-editor/README.md
  examples/with-monaco-editor/code-sample.js
  examples/with-monaco-editor/next.config.js
  examples/with-monaco-editor/package.json
  examples/with-monaco-editor/pages/index.js
Owners: @lfades, @Timer

chore: hot-reloader, htmlescape, next-dev-server missing types (#12730)
  packages/next/server/hot-reloader.ts
  packages/next/server/htmlescape.ts
  packages/next/server/next-dev-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix lint
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Removed redundant code from the with-portals example (#13059)
  examples/with-portals/components/Modal.js
  examples/with-portals/pages/index.js
Owners: @lfades, @Timer

v9.4.2-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add sourcemaps to Next.js core compilation (#13049)
  packages/next/next-server/lib/amp-context.ts
  packages/next/next-server/lib/document-context.ts
  packages/next/next-server/lib/head-manager-context.ts
  packages/next/next-server/lib/loadable-context.ts
  packages/next/next-server/lib/request-context.ts
  packages/next/next-server/lib/router-context.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  packages/next/taskfile-babel.js
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades
