Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Add missing Link import to routing doc (#8728)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.6-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Externalize experimental package (#8731)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update pull_request workflow
  .github/workflows/pull_request.yml
Owners: @Timer

Make sure renderOpts is available before checking (#8734)
  packages/next/export/worker.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.6-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Make sure to fail export when prerender fails with serverless bundle (#8738)
  packages/next/export/worker.js
  test/integration/auto-export-serverless-error/next.config.js
  test/integration/auto-export-serverless-error/pages/index.js
  test/integration/auto-export-serverless-error/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update readme.md
  packages/next-mdx/readme.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Prevents externalizing non-hoisted packages (#8739)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Document the intended behavior of our externals (#8741)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Ensure requests are resolved as directories (#8742)
  packages/next/build/webpack-config.ts
  test/.stats-app/stats-config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.6-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add autoExport to __NEXT_DATA__ (#8746)
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  test/integration/production/test/index.test.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add link to docs for prerender indicator and allow disabling (#8610)
  packages/next/README.md
  packages/next/build/webpack-config.ts
  packages/next/client/dev/prerender-indicator.js
  packages/next/client/next-dev.js
  packages/next/next-server/server/config.ts
  test/integration/build-indicator/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Improve prettier ignore (#8753)
  .prettierignore
Owners: @Timer

Convert Readme Custom Error Pages To Functional Component (#8513)
  package.json
  packages/next/README.md
Owners: @Timer, @timneutkens, @ijjk, @lfades

Prettier fix (#8754)
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  errors/app-container-deprecated.md
  errors/incompatible-href-as.md
  errors/invalid-href-passed.md
  errors/minification-disabled.md
  examples/custom-server-typescript/tsconfig.json
  examples/with-aws-amplify-typescript/README.md
  examples/with-aws-amplify-typescript/tsconfig.json
  examples/with-aws-amplify/README.md
  examples/with-electron-typescript/README.md
  examples/with-electron-typescript/electron-src/electron-next.d.ts
  examples/with-electron-typescript/electron-src/index.ts
  examples/with-electron-typescript/electron-src/preload.ts
  examples/with-electron-typescript/electron-src/tsconfig.json
  examples/with-electron-typescript/renderer/tsconfig.json
  examples/with-firebase-hosting-and-typescript/src/app/tsconfig.json
  examples/with-firebase-hosting-and-typescript/src/functions/tsconfig.json
  examples/with-jest-typescript/tsconfig.json
  examples/with-react-intl/lang/en.json
  examples/with-react-intl/pages/index.js
  examples/with-react-intl/server.js
  examples/with-typescript-styled-components/tsconfig.json
  examples/with-typescript/tsconfig.json
  examples/with-yarn-workspaces/now.json
  examples/with-zones/README.md
  lerna.json
  packages/next/README.md
  test/integration/app-tree/tsconfig.json
  test/integration/custom-server-types/tsconfig.json
  test/integration/handle-non-page-in-pages/tsconfig.json
Owners: @Timer, @lfades, @timneutkens, @ijjk

Catch error from failing to unobserve (#8578)
  packages/next/client/link.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update build feedback with dots indicating activity (#8382)
  package.json
  packages/next/build/index.ts
  packages/next/build/spinner.ts
  packages/next/export/index.js
  packages/next/package.json
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Prevent URL from being updated while asPath is delayed (#8756)
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  test/integration/auto-export/pages/[post]/[cmnt].js
  test/integration/auto-export/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix(examples): use hooks in with-cookie-auth example (#8729)
  examples/with-cookie-auth/utils/auth.js
Owners: @lfades, @Timer

v9.0.6-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Match public files priority in dev (#8641)
  errors/conflicting-public-file-page.md
  errors/public-next-folder-conflict.md
  packages/next/build/index.ts
  packages/next/lib/constants.ts
  packages/next/server/next-dev-server.js
  test/integration/basic/public/about
  test/integration/basic/public/file
  test/integration/basic/test/public-folder.js
  test/integration/conflicting-public-file-page/next.config.js
  test/integration/conflicting-public-file-page/pages/another/conflict.js
  test/integration/conflicting-public-file-page/pages/another/index.js
  test/integration/conflicting-public-file-page/pages/hello.js
  test/integration/conflicting-public-file-page/public/another/conflict
  test/integration/conflicting-public-file-page/public/another/index
  test/integration/conflicting-public-file-page/public/hello
  test/integration/conflicting-public-file-page/public/normal.txt
  test/integration/conflicting-public-file-page/test/index.test.js
  test/integration/dynamic-routing/public/hello.txt
  test/integration/dynamic-routing/test/index.test.js
  test/integration/export/public/query
  test/integration/export/test/ssr.js
  test/integration/production/public/about
  test/integration/production/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix windows paths mismatching for type errors (#8766)
  packages/next/build/output/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.6-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Example update: with-sentry-simple (#8684)
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/package.json
  examples/with-sentry-simple/pages/_app.js
  examples/with-sentry-simple/pages/_document.js
  examples/with-sentry-simple/pages/_error.js
  examples/with-sentry-simple/pages/client/test1.js
  examples/with-sentry-simple/pages/client/test2.js
  examples/with-sentry-simple/pages/client/test3.js
  examples/with-sentry-simple/pages/client/test4.js
  examples/with-sentry-simple/pages/client/test5.js
  examples/with-sentry-simple/pages/client/test6.js
  examples/with-sentry-simple/pages/client/test7.js
  examples/with-sentry-simple/pages/client/test8.js
  examples/with-sentry-simple/pages/index.js
  examples/with-sentry-simple/pages/server/test1.js
  examples/with-sentry-simple/pages/server/test2.js
  examples/with-sentry-simple/pages/server/test3.js
  examples/with-sentry-simple/pages/server/test4.js
Owners: @lfades, @Timer

Add hard retrying for Azure test runs (#8761)
  azure-pipelines.yml
  package.json
  run-tests.js
  yarn.lock
Owners: @Timer

Revert "Add hard retrying for Azure test runs (#8761)" (#8772)
  azure-pipelines.yml
  package.json
  run-tests.js
  yarn.lock
Owners: @Timer

Show dots for non-TTY (#8771)
  packages/next/build/spinner.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.6-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.0.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update README.md (#8780)
  examples/with-aws-amplify-typescript/README.md
Owners: @lfades, @Timer

Make favicon work (#8776)
  packages/create-next-app/templates/default/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update webpack typings (#8783)
  packages/next/build/compiler.ts
  packages/next/types/webpack.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Run all Azure tests with node v10 (#8782)
  azure-pipelines.yml
  test/integration/css/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test CSS Source Map generation (#8785)
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add caching yarn cache to Azure (#8787)
  azure-pipelines.yml
Owners: @Timer

Reduce Install Size (#8788)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/package.json
  packages/next/types/misc.d.ts
  test/integration/css/next.config.js
  test/integration/css/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Simplify development hiding (#8789)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
