Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @kheruc, @lfades

Update local testing doc to show our own workflow (#6753)
  contributing.md
Owners: none

Make pages-manifest-plugin compatible with webpack 5 (#6760)
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Remove error-debug.js checks as the chunk is removed (#6761)
  packages/next/build/webpack/plugins/nextjs-ssr-module-cache.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Update to have default value for renderToHTML (#6755)
  packages/next/server/next-dev-server.js
  test/integration/custom-server/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Remove PropTypes from _error and next/dynamic (#6763)
  packages/next-server/lib/loadable-capture.tsx
  packages/next-server/lib/loadable-context.ts
  packages/next-server/lib/loadable.js
  packages/next-server/server/render.tsx
  packages/next/pages/_error.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Remove hoist-non-react-statics from with-router (#6765)
  packages/next/build/webpack-config.ts
  packages/next/client/with-router.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Separate toRoute function (#6766)
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/router/to-route.ts
  packages/next-server/server/render.tsx
  packages/next/client/with-router.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk

ncc nanoid (#6768)
  packages/next/build/index.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Don't use array for main chunk (#6767)
  packages/next-server/lib/utils.js
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.20
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

ncc resolve and arg (#6771)
  packages/next/bin/next.ts
  packages/next/build/webpack-config.ts
  packages/next/cli/next-build.ts
  packages/next/cli/next-dev.ts
  packages/next/cli/next-export.ts
  packages/next/cli/next-start.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/index.d.ts
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Remove magic-string (#6772)
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Add static-no-js site example (#6770)
  examples/static-no-js/.gitignore
  examples/static-no-js/README.md
  examples/static-no-js/package.json
  examples/static-no-js/pages/_document.js
  examples/static-no-js/pages/about.js
  examples/static-no-js/pages/index.js
Owners: @kheruc, @lfades

Revert "Add static-no-js site example (#6770)" (#6774)
  examples/static-no-js/.gitignore
  examples/static-no-js/README.md
  examples/static-no-js/package.json
  examples/static-no-js/pages/_document.js
  examples/static-no-js/pages/about.js
  examples/static-no-js/pages/index.js
Owners: @kheruc, @lfades

Add X-Powered-By info to the docs (#6775)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.21
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

Make main.js override work correctly (#6781)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk

v8.0.4-canary.22
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
