Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Revert version bump for routes-manifest (#9896)
  packages/next/build/index.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add headers support to custom-routes (#9879)
  packages/next/build/index.ts
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/invalid-custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix with-next-offline example (#9900)
  examples/with-next-offline/next.config.js
Owners: @lfades, @Timer

Remove example (#9910)
  examples/with-typings-for-css-modules/README.md
  examples/with-typings-for-css-modules/next-env.d.ts
  examples/with-typings-for-css-modules/next.config.js
  examples/with-typings-for-css-modules/package.json
  examples/with-typings-for-css-modules/pages/index.tsx
  examples/with-typings-for-css-modules/style.css
  examples/with-typings-for-css-modules/style.css.d.ts
  examples/with-typings-for-css-modules/tsconfig.json
Owners: @lfades, @Timer

Fix User Error in Async API Endpoint (#9911)
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/pages/api/user-error-async.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove dynamic assetPrefix from docs (#9912)
  docs/advanced-features/custom-server.md
Owners: @Timer

Fix shadowing of apolloClient (#9917)
  examples/with-apollo/lib/apollo.js
Owners: @lfades, @Timer

Update the docker multistage to copy only the necessary files (#9899)
  examples/with-docker/Dockerfile.multistage
  examples/with-docker/README.md
  examples/with-docker/package.json
Owners: @lfades, @Timer

Remove extra logging from on-demand-entries (#9909)
  packages/next/server/on-demand-entry-handler.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove leftover symlink
  linkfolder
Owners: @Timer

Update contributing.md
  contributing.md
Owners: @Timer

Enable catchAllRouting by default (#9922)
  packages/next/build/index.ts
  packages/next/next-server/server/config.ts
  test/integration/dynamic-routing/next.config.js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix _app global css import order (#9836)
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  test/integration/app-document-import-order/next.config.js
  test/integration/app-document-import-order/pages/_app.js
  test/integration/app-document-import-order/pages/_document.js
  test/integration/app-document-import-order/pages/index.js
  test/integration/app-document-import-order/requiredByApp.js
  test/integration/app-document-import-order/requiredByPage.js
  test/integration/app-document-import-order/sideEffectModule.js
  test/integration/app-document-import-order/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

😌 (#9923)
  examples/api-routes-apollo-server-and-client/apollo/client.js
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo/lib/apollo.js
Owners: @lfades, @Timer

Fix New CSS Support Media Paths (#9916)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  test/integration/css-fixtures/url-global-asset-prefix-1/assets/light.svg
  test/integration/css-fixtures/url-global-asset-prefix-1/next.config.js
  test/integration/css-fixtures/url-global-asset-prefix-1/pages/_app.js
  test/integration/css-fixtures/url-global-asset-prefix-1/pages/index.js
  test/integration/css-fixtures/url-global-asset-prefix-1/styles/dark.svg
  test/integration/css-fixtures/url-global-asset-prefix-1/styles/dark2.svg
  test/integration/css-fixtures/url-global-asset-prefix-1/styles/global1.css
  test/integration/css-fixtures/url-global-asset-prefix-1/styles/global2.css
  test/integration/css-fixtures/url-global-asset-prefix-1/styles/global2b.css
  test/integration/css-fixtures/url-global-asset-prefix-2/assets/light.svg
  test/integration/css-fixtures/url-global-asset-prefix-2/next.config.js
  test/integration/css-fixtures/url-global-asset-prefix-2/pages/_app.js
  test/integration/css-fixtures/url-global-asset-prefix-2/pages/index.js
  test/integration/css-fixtures/url-global-asset-prefix-2/styles/dark.svg
  test/integration/css-fixtures/url-global-asset-prefix-2/styles/dark2.svg
  test/integration/css-fixtures/url-global-asset-prefix-2/styles/global1.css
  test/integration/css-fixtures/url-global-asset-prefix-2/styles/global2.css
  test/integration/css-fixtures/url-global-asset-prefix-2/styles/global2b.css
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Tailwind example only run PurgeCSS in production (#9846)
  examples/with-tailwindcss/postcss.config.js
Owners: @lfades, @Timer

v9.1.7-canary.16
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add with-mobx-keystone-typescript example (#9844)
  examples/with-mobx-keystone-typescript/.babelrc
  examples/with-mobx-keystone-typescript/README.md
  examples/with-mobx-keystone-typescript/components/Clock.tsx
  examples/with-mobx-keystone-typescript/components/Sample.tsx
  examples/with-mobx-keystone-typescript/next-env.d.ts
  examples/with-mobx-keystone-typescript/package.json
  examples/with-mobx-keystone-typescript/pages/_app.tsx
  examples/with-mobx-keystone-typescript/pages/index.tsx
  examples/with-mobx-keystone-typescript/pages/other.tsx
  examples/with-mobx-keystone-typescript/store/index.tsx
  examples/with-mobx-keystone-typescript/store/root.ts
  examples/with-mobx-keystone-typescript/tsconfig.json
Owners: @lfades, @Timer

Test 3rd Party CSS Modules (#9924)
  test/integration/css-fixtures/3rd-party-module/pages/index.js
  test/integration/css-fixtures/3rd-party-module/pages/index.module.css
  test/integration/css-modules/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix get(Static|Initial)Props re-running when updating query (#9907)
  packages/next/client/index.js
  test/integration/export-serverless/next.config.js
  test/integration/export-serverless/pages/query-update.js
  test/integration/export-serverless/test/browser.js
  test/integration/export/next.config.js
  test/integration/export/pages/query-update.js
  test/integration/export/test/browser.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add a missing word to the Static Optimization doc (#9926)
  docs/advanced-features/automatic-static-optimization.md
Owners: @Timer

Fixup the Static HTML Export doc (#9928)
  docs/advanced-features/static-html-export.md
Owners: @Timer

Fix mistakes in the Custom Server doc (#9930)
  docs/advanced-features/custom-server.md
Owners: @Timer

Enable New Chunking Behavior (#9731)
  packages/next/next-server/server/config.ts
  test/integration/build-output/test/index.test.js
  test/integration/preload-viewport/pages/multi-prefetch.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix mistakes in the Deployment doc (#9925)
  docs/deployment.md
Owners: @Timer

v9.1.8-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix Safari Script Test Count (#9932)
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix js template to be TS compatible (#9941)
  packages/create-next-app/templates/default/components/nav.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix getting data in class based example (#9938)
  docs/api-reference/data-fetching/getInitialProps.md
Owners: @Timer

Don't bundle prop-types to then tree shake it (#9944)
  packages/next/client/link.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove experiment (#9945)
  package.json
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/experiment-data.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/index.js
  packages/next/lib/data.ts
  packages/next/next-server/lib/data-manager-context.ts
  packages/next/next-server/lib/data-manager.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/data/data/get-uptime.js
  test/integration/data/next.config.js
  test/integration/data/pages/_app.js
  test/integration/data/pages/about.js
  test/integration/data/pages/index.js
  test/integration/data/test/index.test.js
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove async from void functions in page-loader (#9948)
  packages/next/client/page-loader.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove rewriteUrlForNextExport from bundles when option is not enabled (#9946)
  packages/next/client/link.tsx
  packages/next/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Allow for shortened names for certain items (#9949)
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/utils.ts
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
