Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Explain Ignored PostCSS Plugin (#10240)
  errors/postcss-ignored-plugin.md
  packages/next/build/webpack/config/blocks/css/plugins.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

PostCSS Error When Exporting Function (#10242)
  errors/postcss-function.md
  packages/next/build/webpack/config/blocks/css/plugins.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add info on storing cache in GitHub Actions (#10231)
  errors/no-cache.md
Owners: @Timer

Tweak export test to be more stable (#10241)
  test/integration/export-serverless/pages/index.js
  test/integration/export-serverless/test/browser.js
  test/integration/export/pages/index.js
  test/integration/export/test/browser.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Adding conformance webpack plugin (#9716)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/TestInterface.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/minification-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/constants.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/index.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Error on Invalid PostCSS Shape (#10244)
  errors/postcss-shape.md
  packages/next/build/webpack/config/blocks/css/plugins.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.1-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix missing file extensions in docs (#10251)
  docs/routing/dynamic-routes.md
  docs/routing/introduction.md
Owners: @Timer

De-dupe escape-regex with escape-string-regexp (#10257)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/package.json
  test/integration/custom-routes/test/index.test.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update static check vars and fix types (#10260)
  packages/next/build/index.ts
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update SSG types and clean up RenderOpts type (#10259)
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update _next/data URL handling in serverless-loader (#10261)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[example with-typescript-graphql] Fix type error (#10269)
  examples/with-typescript-graphql/README.md
  examples/with-typescript-graphql/lib/resolvers.ts
Owners: @lfades, @Timer

Update built-in-css-support.md
  docs/basic-features/built-in-css-support.md
Owners: @Timer

Update typo in typescript docs (#10276)
  docs/basic-features/typescript.md
Owners: @Timer

Update FaunaDB Example Instructions (#10280)
  examples/with-graphql-faunadb/README.md
  examples/with-graphql-faunadb/scripts/setup.js
Owners: @lfades, @Timer

Add .jsx as a valid file extension in the pages directory (#10281)
  docs/getting-started.md
Owners: @Timer

Improved wording in comment (#10277)
  packages/next/next-server/server/config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Improve Stalled Requests Grammar (#10283)
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Added support for BigInt to API routes (#10215)
  packages/next/build/babel/preset.ts
  packages/next/package.json
  test/integration/bigint/pages/api/bigint.js
  test/integration/bigint/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

docs: remove --save from npm install; avoid system-ui (#10252)
  docs/basic-features/built-in-css-support.md
  docs/getting-started.md
  examples/with-stencil/packages/test-component/readme.md
  packages/next-bundle-analyzer/readme.md
  packages/next-mdx/readme.md
  packages/next/bin/next.ts
  packages/next/server/next-dev-server.ts
  test/unit/handles-incorrect-react.test.js
Owners: @Timer, @lfades, @timneutkens, @ijjk

Add catch all routes example and a link to it in docs (#10202)
  docs/routing/dynamic-routes.md
  examples/catch-all-routes/README.md
  examples/catch-all-routes/components/header.js
  examples/catch-all-routes/package.json
  examples/catch-all-routes/pages/about.js
  examples/catch-all-routes/pages/index.js
  examples/catch-all-routes/pages/post/[...slug].js
  examples/dynamic-routing/README.md
Owners: @Timer, @lfades

Migrate CircleCi config to GitHub actions (#10274)
  .circleci/config.yml
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/release_stats.yml
  .github/workflows/test_react_next.yml
  publish-release.sh
  run-tests.js
  test/integration/api-support/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update pass job name
  .github/workflows/build_test_deploy.yml
Owners: @Timer

Update test pass job name
  .github/workflows/build_test_deploy.yml
Owners: @Timer

Fix Experimental Modern Mode with CSS (#10289)
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  test/integration/css-client-nav/test/index.test.js
  test/integration/css-fixtures/multi-module-modern/next.config.js
  test/integration/css-fixtures/multi-module-modern/pages/blue.js
  test/integration/css-fixtures/multi-module-modern/pages/blue.module.css
  test/integration/css-fixtures/multi-module-modern/pages/none.js
  test/integration/css-fixtures/multi-module-modern/pages/red.js
  test/integration/css-fixtures/multi-module-modern/pages/red.module.css
  test/integration/css-fixtures/multi-module/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add initial support for unstable_getServerProps (#10077)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/worker.js
  packages/next/lib/constants.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/getserverprops/pages/another/index.js
  test/integration/getserverprops/pages/blog/[post]/[comment].js
  test/integration/getserverprops/pages/blog/[post]/index.js
  test/integration/getserverprops/pages/blog/index.js
  test/integration/getserverprops/pages/catchall/[...path].js
  test/integration/getserverprops/pages/default-revalidate.js
  test/integration/getserverprops/pages/index.js
  test/integration/getserverprops/pages/invalid-keys.js
  test/integration/getserverprops/pages/normal.js
  test/integration/getserverprops/pages/something.js
  test/integration/getserverprops/pages/user/[user]/profile.js
  test/integration/getserverprops/test/index.test.js
  test/integration/getserverprops/world.txt
  test/integration/mixed-ssg-serverprops-error/pages/index.js
  test/integration/mixed-ssg-serverprops-error/pages/index.js.alt
  test/integration/mixed-ssg-serverprops-error/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update actions config for canary jobs (#10299)
  .github/workflows/build_test_deploy.yml
  publish-release.sh
  test/integration/size-limit/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.2-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix with-orbit-components's name in package.json (#10307)
  examples/with-orbit-components/package.json
Owners: @lfades, @Timer

Fix typo in FaunaDB example (#10304)
  examples/with-graphql-faunadb/scripts/setup.js
Owners: @lfades, @Timer

Updated PostCSS docs and added a link to it (#10292)
  docs/advanced-features/customizing-postcss-config.md
  docs/basic-features/built-in-css-support.md
Owners: @Timer

Make sure to exit publish script with correct code (#10310)
  publish-release.sh
Owners: @Timer

Allowing skipping local selenium server when not needed (#10312)
  .github/workflows/build_test_deploy.yml
  test/jest-environment.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.2-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix preprocessor loader error (#10235)
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
  test/integration/scss-fixtures/loader-order/pages/_app.js
  test/integration/scss-fixtures/loader-order/pages/index.js
  test/integration/scss-fixtures/loader-order/styles/global.scss
  test/integration/scss/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enable static 404 config to allow static 404 page when availab… (#10290)
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/static-404/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Test
  UPGRADING.md
Owners: @Timer

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
