Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Add missing dependency to next-server (#8507)
  packages/next-server/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove _app from with-apollo example (#8504)
  examples/with-apollo/README.md
  examples/with-apollo/lib/with-apollo.js
  examples/with-apollo/pages/_app.js
  examples/with-apollo/pages/about.js
  examples/with-apollo/pages/index.js
Owners: @lfades, @Timer

Normalize errors to use nextjs.org (#8518)
  errors/api-routes-static-export.md
  errors/build-dir-not-writeable.md
  errors/export-path-mismatch.md
  errors/get-initial-props-as-an-instance-method.md
  errors/invalid-page-config.md
  errors/opt-out-automatic-prerendering.md
Owners: @Timer

Update with-react-intl for v3 (#8526)
  examples/with-react-intl/README.md
  examples/with-react-intl/components/Layout.js
  examples/with-react-intl/components/Nav.js
  examples/with-react-intl/lang/en.json
  examples/with-react-intl/lib/withIntl.js
  examples/with-react-intl/package.json
  examples/with-react-intl/pages/_app.js
  examples/with-react-intl/pages/_document.js
  examples/with-react-intl/pages/about.js
  examples/with-react-intl/pages/index.js
  examples/with-react-intl/server.js
Owners: @lfades, @Timer

Improve with-apollo example (#8508)
  examples/with-apollo/lib/apollo.js
  examples/with-apollo/lib/init-apollo.js
  examples/with-apollo/lib/with-apollo.js
  examples/with-apollo/pages/index.js
Owners: @lfades, @Timer

Improve With Firebase Authentication example (#8533)
  examples/with-firebase-authentication/README.md
  examples/with-firebase-authentication/credentials/client.js
  examples/with-firebase-authentication/credentials/server.js
  examples/with-firebase-authentication/pages/index.js
Owners: @lfades, @Timer

Update with-zones example (#8459)
  examples/with-zones/README.md
  examples/with-zones/blog/next.config.js
  examples/with-zones/blog/package.json
  examples/with-zones/blog/pages/blog.js
  examples/with-zones/blog/pages/blog/index.js
  examples/with-zones/blog/pages/blog/post/[id].js
  examples/with-zones/blog/static/nextjs2.png
  examples/with-zones/home/package.json
  examples/with-zones/now.json
Owners: @lfades, @Timer

Specify loader paths for PnP support (#8531)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add `modern-preset` Babel option (#8521)
  packages/next/build/babel/preset.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/unit/next-babel.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove link (#8539)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix typo in link in example's README (#8545)
  examples/with-jest-react-testing-library/README.md
Owners: @lfades, @Timer

Fix with-context-api example (#8559)
  examples/with-context-api/components/CounterProvider.js
Owners: @lfades, @Timer

Refactor active-class-name example (#8558)
  examples/active-class-name/components/ActiveLink.js
  examples/active-class-name/components/Link.js
  examples/active-class-name/components/Nav.js
  examples/active-class-name/pages/about.js
  examples/active-class-name/pages/index.js
Owners: @lfades, @Timer

Anonymous Telemetry (#8529)
  packages/next/bin/next.ts
  packages/next/build/index.ts
  packages/next/cli/next-telemetry.ts
  packages/next/package.json
  packages/next/server/next-dev-server.js
  packages/next/taskfile.js
  packages/next/telemetry/anonymous-traits.ts
  packages/next/telemetry/events/build.ts
  packages/next/telemetry/events/index.ts
  packages/next/telemetry/events/plugins.ts
  packages/next/telemetry/events/version.ts
  packages/next/telemetry/post-payload.ts
  packages/next/telemetry/project-id.ts
  packages/next/telemetry/storage.ts
  packages/next/types/misc.d.ts
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Encode URL paths in HTML and CSR (#8435)
  packages/next/client/page-loader.js
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add err.sh for incompatible href and as (#8561)
  errors/incompatible-href-as.md
  packages/next-server/lib/router/router.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Make sure to 404 for /_next/static (#8564)
  packages/next-server/server/next-server.ts
  test/integration/production/test/index.test.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix serverless chunking (#8569)
  packages/next-server/server/config.ts
  packages/next/build/webpack-config.ts
  test/integration/serverless-now/next.config.js
  test/integration/serverless-now/pages/index.js
  test/integration/serverless-now/test/index.test.js
  test/integration/serverless-trace/pages/api/dynamic/[path]/index.js
  test/integration/serverless-trace/test/index.test.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix docs (#8577)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove extra default export from readme (#8579)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update performance marking (#8527)
  packages/next/client/index.js
  test/integration/production/pages/mark-in-head.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update styled-jsx (#8583)
  packages/next-server/package.json
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update README.md badge text (#8593)
  README-zh-CN.md
  packages/next/README.md
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix react-native-web example FOUC (#8576)
  examples/with-react-native-web/pages/_document.js
Owners: @lfades, @Timer

Update README and data-fetch example to use function components. (#8546)
  examples/data-fetch/pages/index.js
  examples/data-fetch/pages/preact.js
  packages/next/README.md
Owners: @lfades, @Timer, @timneutkens, @ijjk

Fix with-slate example (#8566)
  examples/with-slate/CustomKeygenEditor/index.js
  examples/with-slate/components/NextEditor.js
  examples/with-slate/lib/useCustomKeygen.js
  examples/with-slate/pages/index.js
  examples/with-slate/pages/multiple.js
Owners: @lfades, @Timer

Refactor with-loading example (#8560)
  examples/with-loading/pages/_app.js
  examples/with-loading/pages/_document.js
  examples/with-loading/pages/about.js
  examples/with-loading/pages/forever.js
  examples/with-loading/pages/index.js
Owners: @lfades, @Timer

add cookie path property (#8594)
  examples/with-apollo-auth/components/RegisterBox.js
Owners: @lfades, @Timer

Remove _app.js from with-apollo-auth example (#8556)
  examples/with-apollo-auth/lib/apollo.js
  examples/with-apollo-auth/lib/initApollo.js
  examples/with-apollo-auth/lib/withApollo.js
  examples/with-apollo-auth/pages/_app.js
  examples/with-apollo-auth/pages/create-account.js
  examples/with-apollo-auth/pages/index.js
  examples/with-apollo-auth/pages/signin.js
Owners: @lfades, @Timer

This example shows how to use STOMP inside a Next.js application. (#8511)
  examples/with-stomp/README.md
  examples/with-stomp/next.config.js
  examples/with-stomp/package.json
  examples/with-stomp/pages/index.js
  examples/with-stomp/useClient.js
  examples/with-stomp/useStomp.js
Owners: @lfades, @Timer

Use import instead of require in with-apollo example (#8575)
  examples/with-apollo/lib/apollo.js
Owners: @lfades, @Timer

Use URL-friendly chunk names (#8609)
  examples/with-stomp/next.config.js
  packages/next/build/webpack-config.ts
  test/integration/chunking/test/index.test.js
Owners: @lfades, @Timer, @timneutkens, @ijjk

Add data-ampdevmode attribute for AMP scripts (#8524)
  packages/next/build/output/index.ts
  packages/next/pages/_document.tsx
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable Telemetry (#8614)
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix production test failing in ie11 (#8612)
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.6-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Delete next-env.d.ts in JS implementation example (#8619)
  examples/with-aws-amplify/next-env.d.ts
Owners: @lfades, @Timer

Fix getInitialProps issue in with-apollo example (#8620)
  examples/with-apollo/components/Header.js
  examples/with-apollo/components/InfoBox.js
  examples/with-apollo/components/PostList.js
  examples/with-apollo/lib/apollo.js
  examples/with-apollo/package.json
  examples/with-apollo/pages/client-only.js
Owners: @lfades, @Timer

Update commons glob for granular chunks (#8622)
  test/.stats-app/stats-config.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update workers for `next export` (#8623)
  packages/next/export/index.js
  packages/next/export/worker.js
  test/integration/handles-export-errors/pages/index copy 10.js
  test/integration/handles-export-errors/pages/index copy 11.js
  test/integration/handles-export-errors/pages/index copy 12.js
  test/integration/handles-export-errors/pages/index copy 13.js
  test/integration/handles-export-errors/pages/index copy 2.js
  test/integration/handles-export-errors/pages/index copy 3.js
  test/integration/handles-export-errors/pages/index copy 4.js
  test/integration/handles-export-errors/pages/index copy 5.js
  test/integration/handles-export-errors/pages/index copy 6.js
  test/integration/handles-export-errors/pages/index copy 7.js
  test/integration/handles-export-errors/pages/index copy 8.js
  test/integration/handles-export-errors/pages/index copy 9.js
  test/integration/handles-export-errors/pages/index copy.js
  test/integration/handles-export-errors/pages/index.js
  test/integration/handles-export-errors/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
