Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Catch Telemetry Initialization Error (#9518)
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update progressive enhancement example (#9507)
  examples/progressive-render/README.md
  examples/progressive-render/package.json
  examples/progressive-render/pages/index.js
Owners: @lfades, @Timer

CSS Support Customization (#9502)
  package.json
  packages/next/build/webpack-config.ts
  packages/next/lib/find-config.ts
  packages/next/package.json
  test/integration/css/fixtures/bad-custom-configuration/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration/styles/global.css
  test/integration/css/fixtures/custom-configuration/.postcssrc.json
  test/integration/css/fixtures/custom-configuration/pages/_app.js
  test/integration/css/fixtures/custom-configuration/pages/index.js
  test/integration/css/fixtures/custom-configuration/styles/global.css
  test/integration/css/fixtures/with-tailwindcss/package.json
  test/integration/css/fixtures/with-tailwindcss/pages/_app.js
  test/integration/css/fixtures/with-tailwindcss/pages/index.js
  test/integration/css/fixtures/with-tailwindcss/styles/global.css
  test/integration/css/test/index.test.js
  test/unit/find-config.test.js
  test/unit/fixtures/config-down/.testrc.json
  test/unit/fixtures/config-down/one/two/three/.gitkeep
  test/unit/fixtures/config-json/.testrc.json
  test/unit/fixtures/config-package-json/package.json
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Specify Invalid Dynamic Route Values (#9525)
  packages/next/next-server/lib/router/router.ts
  test/integration/invalid-href/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add custom timings for CircleCi (#9523)
  .circleci/config.yml
  package.json
  run-tests.js
  yarn.lock
Owners: @Timer

Bump CircleCi concurrency (#9526)
  .circleci/config.yml
Owners: @Timer

Replace `url` polyfill with `self.URL` (#9200)
  packages/next/build/webpack-config.ts
  packages/next/client/polyfills.js
  packages/next/package.json
  test/integration/chunking/test/index.test.js
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add custom routes to build output (#9517)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Allow custom amp validation (#9191)
  packages/next/export/index.ts
  packages/next/export/worker.js
  packages/next/server/next-dev-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Wait till load for paint metrics (#9406)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[modern] preset-modules & fix custom babelrc (#9489)
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/minify.ts
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update Yarn Lockfile
  yarn.lock
Owners: @Timer

Add file attribute to timings data (#9535)
  run-tests.js
Owners: @Timer

Fix deduplicating dynamic (array) meta tags (#9315)
  packages/next/next-server/lib/head.tsx
  test/integration/client-navigation/pages/head.js
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update `native-url` package for IE compat (#9539)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Simplify src-dir test suite (#9533)
  test/integration/src-dir-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix: resolve preset-modules (#9538)
  packages/next/build/webpack/plugins/next-esm-plugin.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fixed next-offline example to serve service worker (#9531)
  examples/with-next-offline/next.config.js
  examples/with-next-offline/package.json
Owners: @lfades, @Timer

Update the graphql-react example. (#9550)
  examples/with-graphql-react/README.md
  examples/with-graphql-react/next.config.js
  examples/with-graphql-react/package.json
  examples/with-graphql-react/pages/_app.js
  examples/with-graphql-react/pages/index.js
Owners: @lfades, @Timer

[WIP] Add err.sh for prerender error (#9548)
  errors/prerender-error.md
  packages/next/export/worker.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Increase CI Parallelism (#9552)
  .circleci/config.yml
Owners: @Timer

Update to latest fork-ts-checker version (#9555)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Next.js Version as Metadata (#9551)
  packages/next/telemetry/anonymous-meta.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update next package script (#9543)
  package.json
Owners: @Timer

Native url (#9561)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Lint in parallel (#9560)
  package.json
  yarn.lock
Owners: @Timer

Stabilize TypeScript HMR Test (#9562)
  test/integration/typescript-hmr/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Tweak concurrency for CircleCi (#9558)
  .circleci/config.yml
Owners: @Timer

Run Lint Separate (#9563)
  .circleci/config.yml
Owners: @Timer

v9.1.5-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Upgrade `path-to-regexp` (#9553)
  packages/next/build/index.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  test/integration/custom-routes/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

s/getStaticParams/getStaticPaths/ (#9565)
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  test/integration/prerender-invalid-paths/pages/[foo]/[post].js
  test/integration/prerender-invalid-paths/test/index.test.js
  test/integration/prerender-legacy/pages/blog/[post].js
  test/integration/prerender-legacy/test/index.test.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
  test/unit/babel-plugin-next-page-config.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make sure to parse query values for SSG page after hydration (#9545)
  packages/next/client/index.js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix missing getStaticProps error in serverless mode (#9532)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/catches-missing-getStaticProps/pages/[slug].js
  test/integration/catches-missing-getStaticProps/test/index.test.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.5-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix docs typo: “your sites SEO” (#9579)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Move cross-env from devDependencies to dependencies (#9580)
  examples/custom-server-express/package.json
  examples/custom-server-fastify/package.json
  examples/custom-server-hapi/package.json
  examples/custom-server-koa/package.json
  examples/custom-server-micro/package.json
  examples/custom-server-nodemon/package.json
  examples/custom-server-polka/package.json
  examples/custom-server-reasonml/package.json
  examples/custom-server-typescript/package.json
Owners: @lfades, @Timer

Add SSG Tests with Catch All Routing (#9594)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/p1/p2/all-ssg/[...rest].js
  test/integration/dynamic-routing/pages/p1/p2/predefined-ssg/[...rest].js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Simplify getRouteRegex Callsites (#9597)
  packages/next/build/utils.ts
  packages/next/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades
