Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Resolve TypeScript Extension in Correct Order (#12014)
  packages/next/build/webpack-config.ts
  test/integration/typescript/extension-order/js-first.js
  test/integration/typescript/extension-order/js-first.ts
  test/integration/typescript/pages/hello.tsx
  test/integration/typescript/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Experimental: React Refresh Support (#12008)
  .eslintignore
  .prettierignore
  package.json
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/config.ts
  packages/next/package.json
  packages/next/server/hot-reloader.ts
  test/acceptance/.gitignore
  test/acceptance/ReactRefresh.test.js
  test/acceptance/helpers.js
  test/acceptance/next.config.js
  test/lib/next-webdriver.d.ts
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Stabilize HMR tests on CI (#12029)
  packages/next/client/dev/error-overlay/hot-dev-client.js
  test/acceptance/helpers.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fast Refresh: Test Syntax Error Recovery (#12032)
  test/acceptance/ReactRefresh.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add `module.hot.invalidate()` to webpack HMR (#12038)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/lib/HotModuleReplacement.runtime.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add Heroku to list of cache examples (#12037)
  errors/no-cache.md
Owners: @Timer

[Examples] Update draft-js to v0.11.5 and add editorKey prop i… (#12011)
  examples/with-draft-js/package.json
  examples/with-draft-js/pages/index.js
Owners: @lfades, @Timer

bug: error when using transition property in tailwindcss + emo… (#12027)
  examples/with-tailwindcss-emotion/pages/index.js
Owners: @lfades, @Timer

Update next/head docs to clarify duplicate tags. (#12033)
  docs/api-reference/next/head.md
Owners: @Timer

Add documentation on `next build` output. (#12034)
  docs/api-reference/cli.md
Owners: @Timer

Add note about polyfilling CSS Grid for IE11. (#12035)
  docs/advanced-features/customizing-postcss-config.md
Owners: @Timer

Fix typo in next/amp docs (#12040)
  docs/api-reference/next/amp.md
Owners: @Timer

Fix linting
  docs/api-reference/next/head.md
Owners: @Timer

Fix with mobx (#11907)
  examples/with-mobx/README.md
  examples/with-mobx/components/Clock.js
  examples/with-mobx/components/Page.js
  examples/with-mobx/package.json
  examples/with-mobx/pages/_app.js
  examples/with-mobx/pages/ssg.js
  examples/with-mobx/pages/ssr.js
  examples/with-mobx/store.js
Owners: @lfades, @Timer

Update to only apply experimental process.env stub in developm… (#12055)
  packages/next/build/webpack-config.ts
  test/integration/process-env-stub/components/hello.js
  test/integration/process-env-stub/pages/missing.js
  test/integration/process-env-stub/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

(examples) Fix link in with-passport example README (#12056)
  examples/with-passport/README.md
Owners: @lfades, @Timer

[Fast Refresh] Module re-execution tests from Metro (#12059)
  test/acceptance/ReactRefreshRequire.test.js
  test/acceptance/helpers.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.6-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update year on license files
  license.md
  packages/next-mdx/license.md
  packages/next/license.md
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add additional check for segments in destination but not source (#12067)
  packages/next/lib/check-custom-routes.ts
  test/integration/invalid-custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make sure to not show _error without 404 warning in some cases (#12061)
  packages/next/next-server/server/next-server.ts
  test/integration/custom-error/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix postcss.config.js warnings (#12070)
  examples/blog-starter/postcss.config.js
Owners: @lfades, @Timer

Add Experimental React Refresh Example (#12081)
  examples/z-experimental-refresh/README.md
  examples/z-experimental-refresh/components/ClickCount.js
  examples/z-experimental-refresh/components/ClickCount.module.css
  examples/z-experimental-refresh/global.css
  examples/z-experimental-refresh/next.config.js
  examples/z-experimental-refresh/package.json
  examples/z-experimental-refresh/pages/_app.js
  examples/z-experimental-refresh/pages/index.js
Owners: @lfades, @Timer

Rosetta i18n example (#11841)
  examples/with-i18n-rosetta/README.md
  examples/with-i18n-rosetta/components/title.js
  examples/with-i18n-rosetta/hooks/use-i18n.js
  examples/with-i18n-rosetta/lib/i18n.js
  examples/with-i18n-rosetta/locales/de.json
  examples/with-i18n-rosetta/locales/en.json
  examples/with-i18n-rosetta/next.config.js
  examples/with-i18n-rosetta/package.json
  examples/with-i18n-rosetta/pages/[lng]/index.js
  examples/with-i18n-rosetta/pages/_app.js
  examples/with-i18n-rosetta/pages/dashboard.js
Owners: @lfades, @Timer

[Fast Refresh] propagates a module that stops accepting in nex… (#12062)
  test/acceptance/ReactRefreshRequire.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade webpack (#12082)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/lib/HotModuleReplacement.runtime.js
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to track test timings separate for Azure and Actions (#12083)
  azure-pipelines.yml
  run-tests.js
Owners: @Timer

v9.3.6-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix type on NextApiHandler (#11988)
  packages/next/next-server/lib/utils.ts
  test/integration/typescript/pages/api/async.tsx
  test/integration/typescript/pages/api/sync.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade ora to 4.0.4 to prevent undefined progress on CI build (#12088)
  packages/next/compiled/ora/LICENSE
  packages/next/compiled/ora/index.js
  packages/next/compiled/ora/package.json
  packages/next/compiled/strip-ansi/index.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Evaluate App before Page in Dev for CSS Ordering (#12090)
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  packages/next/package.json
  packages/next/pages/_document.tsx
  test/integration/css-fixtures/global-and-module-ordering/pages/index.js
  test/integration/css-fixtures/global-and-module-ordering/pages/index.module.css
  test/integration/css-fixtures/global-and-module-ordering/pages/index2.module.css
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Additional Test Case for CSS Order in Dev (#12007)
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update engines in package.json (#12022)
  package.json
Owners: @Timer

Fix typo in example (#12094)
  examples/with-env-from-next-config-js/README.md
Owners: @lfades, @Timer

[internal] Dedupe monorepo deps (#12093)
  packages/next/build/babel/plugins/amp-attributes.ts
  packages/next/build/babel/plugins/commonjs.ts
  packages/next/build/babel/plugins/jsx-pragma.ts
  packages/next/build/babel/plugins/next-data.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/compiled/chalk/index.js
  packages/next/compiled/compression/index.js
  packages/next/compiled/conf/index.js
  packages/next/compiled/cssnano-simple/index.js
  packages/next/compiled/find-up/index.js
  packages/next/compiled/http-proxy/index.js
  packages/next/compiled/json5/index.js
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/compiled/postcss-loader/index.js
  packages/next/compiled/postcss-preset-env/index.js
  packages/next/compiled/send/index.js
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/package.json
  packages/react-refresh-utils/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix(dev-server): render 404 when dynamic ssg path doesn't exist (#12085)
  packages/next/server/next-dev-server.ts
  test/integration/ssg-dynamic-routes-404-page/pages/404.js
  test/integration/ssg-dynamic-routes-404-page/pages/post/[id].js
  test/integration/ssg-dynamic-routes-404-page/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
