Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Change /static directory in favor of /public directory for create-next-app (#8984)
  packages/create-next-app/templates/default/README.md
  packages/create-next-app/templates/default/pages/index.js
  packages/create-next-app/templates/default/public/favicon.ico
Owners: @timneutkens, @Timer, @ijjk, @lfades

Match `public/static/` folder before `static/` (#8986)
  packages/next/next-server/server/next-server.ts
  test/integration/basic/public/static/legacy.txt
  test/integration/basic/test/public-folder.js
  test/integration/production/public/static/legacy.txt
  test/integration/production/test/index.test.js
  test/integration/serverless/public/static/legacy.txt
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Custom Webpack Config in Inferno Example (#8987)
  examples/using-inferno/next.config.js
Owners: @lfades, @Timer

v9.1.1-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix can-not-output-to-public error title (#8988)
  errors/can-not-output-to-public.md
Owners: @Timer

Remove pass-server-data example (#8992)
  examples/pass-server-data/README.md
  examples/pass-server-data/data/item.json
  examples/pass-server-data/operations/get-item.js
  examples/pass-server-data/package.json
  examples/pass-server-data/pages/index.js
  examples/pass-server-data/pages/item.js
  examples/pass-server-data/server.js
Owners: @lfades, @Timer

Add extra note about canary branch in contributing (#8991)
  contributing.md
Owners: @Timer

Update AMP Optimizer to 1.1.1 (#8994)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update resetting log for spinners (#8995)
  packages/next/build/spinner.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.2-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Monkeypatch @zeit/next-css@0.2.1-canary.4 (#8996)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.2-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add src directory support for global CSS (#8999)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update README-zh-CN.md static-file-serving-eg-images (#9002)
  README-zh-CN.md
Owners: @Timer

Add CSS fixture for src dir (#9001)
  packages/next/build/webpack-config.ts
  test/integration/css/fixtures/single-global-src/src/pages/_app.js
  test/integration/css/fixtures/single-global-src/src/pages/index.js
  test/integration/css/fixtures/single-global-src/styles/global.css
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix global Bluebird causing HMR connection to fail (#9009)
  packages/next/server/on-demand-entry-handler.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Change to public folder in with-loading example (#9016)
  examples/with-loading/pages/_app.js
  examples/with-loading/public/nprogress.css
Owners: @lfades, @Timer

Update Auth0 example with new version (#9020)
  examples/auth0/lib/auth0.js
  examples/auth0/package.json
Owners: @lfades, @Timer

Next offline (#9010)
  examples/with-next-offline/README.md
  examples/with-next-offline/next.config.js
  examples/with-next-offline/package.json
  examples/with-next-offline/pages/_document.js
  examples/with-next-offline/pages/index.js
  examples/with-next-offline/public/manifest.json
  examples/with-next-offline/public/static/pwa.png
Owners: @lfades, @Timer

Test no-path relative CSS imports (#9028)
  test/integration/css/fixtures/url-global/styles/dark2.svg
  test/integration/css/fixtures/url-global/styles/global1.css
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add buildId to SPR data routes (#8929)
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/index.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Do Not Rely on Module State (#8968)
  packages/next/build/index.ts
  packages/next/cli/next-telemetry.ts
  packages/next/export/index.ts
  packages/next/server/next-dev-server.ts
  packages/next/telemetry/events/build.ts
  packages/next/telemetry/events/plugins.ts
  packages/next/telemetry/events/version.ts
  packages/next/telemetry/project-id.ts
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add @zeit/fetch example (#9029)
  examples/with-zeit-fetch/README.md
  examples/with-zeit-fetch/fetch/browser.js
  examples/with-zeit-fetch/fetch/package.json
  examples/with-zeit-fetch/fetch/server.js
  examples/with-zeit-fetch/package.json
  examples/with-zeit-fetch/pages/index.js
  examples/with-zeit-fetch/pages/preact.js
Owners: @lfades, @Timer

Update to error on usage of serverRuntimeConfig with serverless (#9030)
  errors/serverless-publicRuntimeConfig.md
  packages/next/README.md
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/serverless-runtime-configs/pages/index.js
  test/integration/serverless-runtime-configs/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Trigger error overlay for dynamic route mismatch (#9031)
  packages/next/next-server/lib/router/router.ts
  test/integration/invalid-href/pages/dynamic-route-mismatch.js
  test/integration/invalid-href/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Updated multiple examples to use /public (#9033)
  examples/blog-starter/components/head.js
  examples/blog-starter/posts/rss-feed.js
  examples/blog-starter/public/favicon.ico
  examples/blog-starter/public/static/_jolvera.png
  examples/blog-starter/public/static/next.svg
  examples/blog-starter/public/static/site-feature.png
  examples/with-algolia-react-instantsearch/components/head.js
  examples/with-algolia-react-instantsearch/public/favicon.ico
  examples/with-algolia-react-instantsearch/public/static/instantsearch.css
  examples/with-asset-imports/README.md
  examples/with-asset-imports/pages/index.js
  examples/with-asset-imports/public/logo.png
  examples/with-noscript/public/static/img/angular.jpg
  examples/with-noscript/public/static/img/nextjs.png
  examples/with-noscript/public/static/img/reactjs.png
  examples/with-noscript/public/static/img/vuejs.png
  examples/with-react-md/README.md
  examples/with-react-md/pages/index.js
  examples/with-react-md/public/react-md.light_blue-yellow.min.css
  examples/with-react-md/static/react-md.light_blue-yellow.min.css
Owners: @lfades, @Timer

Update storybook example to v5.2 with CSF (#9036)
  examples/with-storybook/.storybook/config.js
  examples/with-storybook/package.json
  examples/with-storybook/stories/button.stories.js
  examples/with-storybook/stories/helloWorld.stories.js
  examples/with-storybook/stories/index.stories.js
  examples/with-storybook/stories/welcome.stories.js
Owners: @lfades, @Timer

Update README.md (#9040)
  examples/auth0/README.md
Owners: @lfades, @Timer

Remove static optimization from message (#9045)
  errors/page-without-valid-component.md
  packages/next/build/index.ts
  test/integration/invalid-page-automatic-static-optimization/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.2-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix a minor typo in link (#9049)
  examples/with-zeit-fetch/README.md
Owners: @lfades, @Timer

[Docs] Update static file serving section (#9062)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove _document context (#9068)
  packages/next/next-server/lib/document-context.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update framework chunk test regex to not select nested dependencies (#9012)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix import in `@zeit/fetch` example (#9074)
  examples/with-zeit-fetch/fetch/browser.js
Owners: @lfades, @Timer

Pin Azure Chromedriver (#9075)
  azure-pipelines.yml
Owners: @Timer

Update no-document-title.md (#9082)
  errors/no-document-title.md
Owners: @Timer

Temporary: Add Support for Now Platform Headers (#9085)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Temporary: SPR: Use Group Index Mapping (#9089)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless/pages/dr/[slug].js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
