Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Add an example for Fauna using cookie based auth (round 2) (#9986)
  examples/with-cookie-auth-fauna/.env
  examples/with-cookie-auth-fauna/README.md
  examples/with-cookie-auth-fauna/components/header.js
  examples/with-cookie-auth-fauna/components/layout.js
  examples/with-cookie-auth-fauna/next.config.js
  examples/with-cookie-auth-fauna/now.json
  examples/with-cookie-auth-fauna/package.json
  examples/with-cookie-auth-fauna/pages/api/login.js
  examples/with-cookie-auth-fauna/pages/api/logout.js
  examples/with-cookie-auth-fauna/pages/api/profile.js
  examples/with-cookie-auth-fauna/pages/api/signup.js
  examples/with-cookie-auth-fauna/pages/index.js
  examples/with-cookie-auth-fauna/pages/login.js
  examples/with-cookie-auth-fauna/pages/profile.js
  examples/with-cookie-auth-fauna/pages/signup.js
  examples/with-cookie-auth-fauna/utils/auth.js
  examples/with-cookie-auth-fauna/utils/fauna-auth.js
Owners: @lfades, @Timer

Honor exportTrailingSlash for default 404 (#10109)
  packages/next/export/index.ts
  test/integration/export-serverless/test/ssr.js
  test/integration/export/test/index.test.js
  test/integration/export/test/ssr.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Rename Build SPR to SSG (#10114)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add specific warning for require() PostCSS plugin (#10121)
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css-customization/test/index.test.js
  test/integration/css-fixtures/bad-custom-configuration-arr-8/pages/_app.js
  test/integration/css-fixtures/bad-custom-configuration-arr-8/pages/index.js
  test/integration/css-fixtures/bad-custom-configuration-arr-8/postcss.config.js
  test/integration/css-fixtures/bad-custom-configuration-arr-8/styles/global.css
Owners: @timneutkens, @Timer, @ijjk, @lfades

added amp-img example with fallback attribute (#10122)
  examples/amp/pages/index.js
Owners: @lfades, @Timer

Remove outdated readme (#10123)
  README-zh-CN.md
Owners: @Timer

Support unnamed parameters in custom-routes correctly (#9920)
  packages/next/build/index.ts
  packages/next/next-server/server/lib/path-match.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Error on query values in exportPathMap for auto export page (#9908)
  packages/next/export/worker.js
  test/integration/auto-export-query-error/next.config.js
  test/integration/auto-export-query-error/pages/amp.js
  test/integration/auto-export-query-error/pages/hello.js
  test/integration/auto-export-query-error/pages/ssg.js
  test/integration/auto-export-query-error/pages/ssr.js
  test/integration/auto-export-query-error/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix SSG data request failing with trailing slash (#10140)
  packages/next/next-server/lib/router/router.ts
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.1-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Switch from `defer` to `async` (#10143)
  packages/next/pages/_document.tsx
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.1-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

update readme.md (#10136)
  examples/with-sitemap-and-robots-express-server/README.md
Owners: @lfades, @Timer

Fix hydration with custom _app and granular chunks (#10144)
  packages/next/build/entries.ts
  packages/next/pages/_app.tsx
  test/integration/hydration/pages/_app.js
  test/integration/hydration/pages/_document.js
  test/integration/hydration/pages/details.js
  test/integration/hydration/pages/index.js
  test/integration/hydration/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.1-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update with-tailwindcss example (#10141)
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/pages/index.js
  examples/with-tailwindcss/postcss.config.js
  examples/with-tailwindcss/styles/index.css
Owners: @lfades, @Timer

chore(examples): Update firebase version (#10145)
  examples/with-firebase-authentication/package.json
  examples/with-firebase-cloud-messaging/package.json
  examples/with-firebase-hosting-and-docker/package.json
  examples/with-firebase-hosting-and-typescript/package.json
  examples/with-firebase-hosting/package.json
Owners: @lfades, @Timer

Update static-html-export.md (#10155)
  docs/advanced-features/static-html-export.md
Owners: @Timer

Minor update for the "with-react-ga" example (#10156)
  examples/with-react-ga/pages/_app.js
Owners: @lfades, @Timer

Add option arg to changeState when onlyAHashChange (#10003)
  packages/next/next-server/lib/router/router.ts
  test/integration/client-navigation/pages/nav/hash-changes-with-state.js
  test/integration/client-navigation/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix broken link in error page (#10159)
  errors/empty-object-getInitialProps.md
Owners: @Timer

Add initial support for static 404 page (#10113)
  packages/next/build/index.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/static-404/pages/index.js
  test/integration/static-404/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove @zeit/next-css from docs (#10168)
  docs/api-reference/next.config.js/custom-webpack-config.md
Owners: @Timer

v9.2.1-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

sends Google Analytics correct url path on fresh page load (#10146)
  examples/with-google-analytics/pages/_document.js
Owners: @lfades, @Timer

Remove `native-url` (#10176)
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Test Query String Behavior (#10102)
  test/integration/query-with-encoding/pages/index.js
  test/integration/query-with-encoding/pages/newline.js
  test/integration/query-with-encoding/pages/percent.js
  test/integration/query-with-encoding/pages/space.js
  test/integration/query-with-encoding/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add error for invalid distDir value (#10177)
  packages/next/next-server/server/config.ts
  test/integration/dist-dir/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[docs] Added related links to next.config.js (#10174)
  docs/advanced-features/custom-app.md
  docs/api-reference/next.config.js/build-target.md
  docs/api-reference/next.config.js/cdn-support-with-asset-prefix.md
  docs/api-reference/next.config.js/compression.md
  docs/api-reference/next.config.js/configuring-onDemandEntries.md
  docs/api-reference/next.config.js/configuring-the-build-id.md
  docs/api-reference/next.config.js/custom-page-extensions.md
  docs/api-reference/next.config.js/custom-webpack-config.md
  docs/api-reference/next.config.js/disabling-etag-generation.md
  docs/api-reference/next.config.js/disabling-x-powered-by.md
  docs/api-reference/next.config.js/environment-variables.md
  docs/api-reference/next.config.js/exportPathMap.md
  docs/api-reference/next.config.js/ignoring-typescript-errors.md
  docs/api-reference/next.config.js/runtime-configuration.md
  docs/api-reference/next.config.js/setting-a-custom-build-directory.md
  docs/api-reference/next.config.js/static-optimization-indicator.md
  docs/api-routes/introduction.md
  docs/basic-features/pages.md
  docs/basic-features/typescript.md
  docs/getting-started.md
Owners: @Timer

feat(build): Transpile assuming higher version of runtime (#9511)
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Delay hydration until after page is visible in development (#10164)
  packages/next/client/dev/fouc.js
  packages/next/client/index.js
  packages/next/client/next-dev.js
  test/integration/initial-ref/pages/index.js
  test/integration/initial-ref/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add example: with-firebase-authentication-serverless (#10078)
  examples/with-firebase-authentication-serverless/.env
  examples/with-firebase-authentication-serverless/.gitignore
  examples/with-firebase-authentication-serverless/README.md
  examples/with-firebase-authentication-serverless/components/FirebaseAuth.js
  examples/with-firebase-authentication-serverless/env.js
  examples/with-firebase-authentication-serverless/next.config.js
  examples/with-firebase-authentication-serverless/package.json
  examples/with-firebase-authentication-serverless/pages/_document.js
  examples/with-firebase-authentication-serverless/pages/api/login.js
  examples/with-firebase-authentication-serverless/pages/api/logout.js
  examples/with-firebase-authentication-serverless/pages/auth.js
  examples/with-firebase-authentication-serverless/pages/example.js
  examples/with-firebase-authentication-serverless/pages/index.js
  examples/with-firebase-authentication-serverless/utils/auth/firebaseAdmin.js
  examples/with-firebase-authentication-serverless/utils/auth/firebaseSessionHandler.js
  examples/with-firebase-authentication-serverless/utils/auth/hooks.js
  examples/with-firebase-authentication-serverless/utils/auth/initFirebase.js
  examples/with-firebase-authentication-serverless/utils/auth/logout.js
  examples/with-firebase-authentication-serverless/utils/auth/user.js
  examples/with-firebase-authentication-serverless/utils/middleware/commonMiddleware.js
  examples/with-firebase-authentication-serverless/utils/middleware/cookieSession.js
  examples/with-firebase-authentication-serverless/utils/middleware/cookieSessionRefresh.js
  examples/with-firebase-authentication-serverless/utils/pageWrappers/withAuthUser.js
  examples/with-firebase-authentication-serverless/utils/pageWrappers/withAuthUserInfo.js
Owners: @lfades, @Timer

example: Convert _app.js to functional components (#10115)
  examples/with-app-layout/pages/_app.js
Owners: @lfades, @Timer

feat(examples:tailwind): add postcss-preset-env (#10160)
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/postcss.config.js
  examples/with-tailwindcss/styles/button.css
Owners: @lfades, @Timer

Serve `public/` folder when page routes are disabled (#10169)
  packages/next/next-server/server/next-server.ts
  test/integration/filesystempublicroutes/public/hello.txt
  test/integration/filesystempublicroutes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[with-emotion-10,11] Update emotion examples to v10 & v11 (#9646)
  examples/with-emotion-10/README.md
  examples/with-emotion-10/package.json
  examples/with-emotion-10/pages/_app.js
  examples/with-emotion-10/pages/_document.js
  examples/with-emotion-10/pages/index.js
  examples/with-emotion-10/shared/styles.js
  examples/with-emotion-11/README.md
  examples/with-emotion-11/package.json
  examples/with-emotion-11/pages/_app.js
  examples/with-emotion-11/pages/_document.js
  examples/with-emotion-11/pages/index.js
  examples/with-emotion-11/shared/styles.js
  examples/with-emotion-fiber/README.md
  examples/with-emotion-fiber/hoc/withEmotion.component.js
  examples/with-emotion-fiber/pages/index.js
Owners: @lfades, @Timer

Update Relay Modern example (#10150)
  examples/with-relay-modern/components/BlogPostPreview.js
  examples/with-relay-modern/components/BlogPosts.js
  examples/with-relay-modern/package.json
  examples/with-relay-modern/pages/index.js
  examples/with-relay-modern/queries/indexPage.js
Owners: @lfades, @Timer

v9.2.1-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add support for catch-all routes with SSG (#10175)
  packages/next/build/utils.ts
  test/integration/prerender-invalid-catchall-params/pages/[...slug].js
  test/integration/prerender-invalid-catchall-params/test/index.test.js
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add `with-stencil` example (#10125)
  examples/with-stencil/README.md
  examples/with-stencil/now.json
  examples/with-stencil/package.json
  examples/with-stencil/packages/test-component/.gitignore
  examples/with-stencil/packages/test-component/LICENSE
  examples/with-stencil/packages/test-component/package.json
  examples/with-stencil/packages/test-component/readme.md
  examples/with-stencil/packages/test-component/src/components.d.ts
  examples/with-stencil/packages/test-component/src/components/my-component/my-component.css
  examples/with-stencil/packages/test-component/src/components/my-component/my-component.e2e.ts
  examples/with-stencil/packages/test-component/src/components/my-component/my-component.tsx
  examples/with-stencil/packages/test-component/src/components/my-component/readme.md
  examples/with-stencil/packages/test-component/src/index.html
  examples/with-stencil/packages/test-component/src/index.ts
  examples/with-stencil/packages/test-component/src/utils/utils.spec.ts
  examples/with-stencil/packages/test-component/src/utils/utils.ts
  examples/with-stencil/packages/test-component/stencil.config.ts
  examples/with-stencil/packages/test-component/tsconfig.json
  examples/with-stencil/packages/web-app/package.json
  examples/with-stencil/packages/web-app/pages/_app.js
  examples/with-stencil/packages/web-app/pages/index.js
Owners: @lfades, @Timer

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
