Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Test CSS Behavior (#9733)
  test/integration/css-fixtures/composes-basic/pages/index.js
  test/integration/css-fixtures/composes-basic/pages/index.module.css
  test/integration/css-fixtures/composes-external/pages/index.js
  test/integration/css-fixtures/composes-external/pages/index.module.css
  test/integration/css-fixtures/composes-external/pages/other.css
  test/integration/css-modules/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix query values being passed in dev mode for SSG (#9734)
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Emit Static Export Intent (#9737)
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/next-server/lib/constants.ts
  test/integration/export-intent/fixtures/bad-export/.gitignore
  test/integration/export-intent/fixtures/bad-export/pages/index.js
  test/integration/export-intent/fixtures/custom-export/.gitignore
  test/integration/export-intent/fixtures/custom-export/next.config.js
  test/integration/export-intent/fixtures/custom-export/pages/index.js
  test/integration/export-intent/fixtures/custom-out/.gitignore
  test/integration/export-intent/fixtures/custom-out/next.config.js
  test/integration/export-intent/fixtures/custom-out/pages/index.js
  test/integration/export-intent/fixtures/default-export/.gitignore
  test/integration/export-intent/fixtures/default-export/pages/index.js
  test/integration/export-intent/fixtures/no-export/.gitignore
  test/integration/export-intent/fixtures/no-export/pages/index.js
  test/integration/export-intent/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable CSS Support When Manually Configured (#9735)
  package.json
  packages/create-next-app/package.json
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/build/webpack/plugins/mini-css-extract-plugin.ts
  packages/next/package.json
  packages/next/taskfile.js
  test/integration/production-config/next.config.js
  test/integration/production-config/pages/_app.js
  test/integration/production-config/pages/index.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.6-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test failed SSG data request (#9738)
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Compute Gzip Sizes of Files (#9745)
  packages/next/build/utils.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add experiment for prefetching (#9747)
  packages/next/build/webpack-config.ts
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Normalize RegEx source between node versions (#9749)
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/lib/next-test-utils.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix typo (change `imperatively` to `imperative`) (#9750)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Shared Sizes Missing Commons (#9752)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/build-output/fixtures/with-amp/pages/amp.js
  test/integration/build-output/fixtures/with-amp/pages/hybrid.js
  test/integration/build-output/fixtures/with-amp/pages/index.js
  test/integration/build-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add check for invalid assetPrefix (#9759)
  errors/invalid-assetprefix.md
  packages/next/next-server/server/config.ts
  test/integration/invalid-config-values/pages/index.js
  test/integration/invalid-config-values/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add tests ensuring auto-exported amphtml rel is valid (#9762)
  test/integration/amphtml/test/index.test.js
  test/integration/serverless-trace/test/index.test.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix AMP HMR for child components (#9736)
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/server/hot-reloader.ts
  test/integration/amphtml/components/hello.js
  test/integration/amphtml/pages/hmr/comp.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add handling for external redirects (#9764)
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix error message typo: "Keys that need moved" (#9772)
  packages/next/build/utils.ts
  packages/next/next-server/server/render.tsx
  test/integration/prerender-invalid-paths/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update with-sentry example to not use sentry-testkit (#9777)
  examples/with-sentry/utils/sentry.js
Owners: @lfades, @Timer

Update auth0 sample: bump dependencies and improve config management (#9778)
  examples/auth0/README.md
  examples/auth0/lib/auth0.js
  examples/auth0/lib/config.js
  examples/auth0/package.json
Owners: @lfades, @Timer

[example] Added AMP Google Analytics example (#9723)
  examples/with-google-analytics-amp/README.md
  examples/with-google-analytics-amp/components/Header.js
  examples/with-google-analytics-amp/components/Page.js
  examples/with-google-analytics-amp/components/amp/AmpAnalytics.js
  examples/with-google-analytics-amp/components/amp/AmpIncludeCustomElement.js
  examples/with-google-analytics-amp/lib/gtag.js
  examples/with-google-analytics-amp/package.json
  examples/with-google-analytics-amp/pages/_app.js
  examples/with-google-analytics-amp/pages/_document.js
  examples/with-google-analytics-amp/pages/about.js
  examples/with-google-analytics-amp/pages/contact.js
  examples/with-google-analytics-amp/pages/index.js
Owners: @lfades, @Timer

Add parsing of route source during checking (#9787)
  errors/invalid-route-source.md
  packages/next/lib/check-custom-routes.ts
  test/integration/invalid-custom-routes/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Updated packages for examples/with-typescript (#9791)
  examples/with-typescript/package.json
Owners: @lfades, @Timer

Update to close SSE connection before unload (#9798)
  packages/next/client/dev/on-demand-entries-client.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update prerender test for Windows (#9800)
  test/integration/prerender/pages/something.js
  test/integration/prerender/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Prevent re-observing for an already prefetched page (#9644)
  packages/next/client/link.tsx
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  test/integration/preload-viewport/pages/de-duped.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix source in electron build (#9802)
  examples/with-electron-typescript/electron-src/electron-next.d.ts
  examples/with-electron-typescript/electron-src/index.ts
  examples/with-electron-typescript/package.json
  examples/with-electron/main/index.js
  examples/with-electron/package.json
  examples/with-electron/renderer/next.config.js
  examples/with-electron/renderer/pages/index.js
Owners: @lfades, @Timer

[docs] update custom-server-reasonml README to use create-next-app (#9792)
  examples/custom-server-reasonml/.gitignore
  examples/custom-server-reasonml/README.md
  examples/custom-server-reasonml/package.json
  examples/custom-server-reasonml/server/http.re
Owners: @lfades, @Timer

Fix relay URL (#9806)
  examples/with-react-relay-network-modern/README.md
  examples/with-relay-modern-server-express/README.md
  examples/with-relay-modern/README.md
Owners: @lfades, @Timer

chore: fix typo of Unkown to Unknown (#9809)
  examples/with-context-api/components/Counter.js
Owners: @lfades, @Timer

Turn on CSS support for config test (#9814)
  test/integration/config/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[with-react-intl] Fix message extraction script on consecutive builds (#9788)
  examples/with-react-intl/.babelrc
  examples/with-react-intl/package.json
  examples/with-react-intl/scripts/default-lang.js
  examples/with-react-intl/scripts/extract.js
Owners: @lfades, @Timer

Add Specific Error for Function in PostCSS Config (#9815)
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css-customization/test/index.test.js
  test/integration/css-fixtures/bad-custom-configuration-func/pages/_app.js
  test/integration/css-fixtures/bad-custom-configuration-func/pages/index.js
  test/integration/css-fixtures/bad-custom-configuration-func/postcss.config.js
  test/integration/css-fixtures/bad-custom-configuration-func/styles/global.css
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add checking filesystem after each rewrite (#9568)
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/blog/[post]/index.js
  test/integration/custom-routes/pages/hello.js
  test/integration/custom-routes/public/blog/data.json
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades
