Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Update to latest watchpack with dynamic route rename fix (#10351)
  packages/next/package.json
  test/integration/dynamic-route-rename/pages/[pid].js
  test/integration/dynamic-route-rename/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Bump amphtml-validator to 1.0.30 (#10588)
  package.json
  yarn.lock
Owners: @Timer

Add Failing CSS Test Case (#10590)
  packages/next/package.json
  test/integration/css-fixtures/compilation-and-prefixing/styles/global.css
  test/integration/css/test/index.test.js
  test/integration/scss-fixtures/compilation-and-prefixing/styles/global.scss
  test/integration/scss/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Do not cache 404 SSR responses (#10596)
  examples/ssr-caching/server.js
Owners: @lfades, @Timer

Fix Nested Index Dynamic Routes in Development (#10595)
  packages/next/server/next-dev-server.ts
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/p1/p2/nested-all-ssg/[...rest]/index.js
  test/integration/dynamic-routing/pages/p1/p2/nested-all-ssg/[...rest]/styles.module.css
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Emit ES5 Friendly Code in Program#exit Visitor (#10591)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
  test/unit/next-babel-loader.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fixed pathname check in router (#10547)
  packages/next/next-server/lib/router/router.ts
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

use clearInterval instead of clearTimer on a timer (#10597)
  packages/next/client/dev/error-overlay/eventsource.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix AMP Validator Version (#10600)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

fix: Improve grammar of apollo.js comments (#10601)
  examples/with-apollo/lib/apollo.js
Owners: @lfades, @Timer

Clean up landed experimental flags (#10593)
  packages/next/build/index.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/server/next-dev-server.ts
  test/integration/404-page/next.config.js
  test/integration/404-page/test/index.test.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/static-404/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Updated links (#10604)
  docs/basic-features/built-in-css-support.md
Owners: @Timer

v9.2.3-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add err.sh for invalid getStaticPaths return value (#10605)
  errors/invalid-getstaticpaths-value.md
  packages/next/build/utils.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove extra whitespace
  errors/invalid-getstaticpaths-value.md
Owners: @Timer

upgrade next-transpile-modules to latest everywhere (#10607)
  examples/with-patternfly/next.config.js
  examples/with-patternfly/package.json
  examples/with-reasonml-todo/next.config.js
  examples/with-reasonml-todo/package.json
  examples/with-yarn-workspaces/packages/web-app/package.json
Owners: @lfades, @Timer

Disable setImmediate polyfill (#10612)
  packages/next/build/webpack-config.ts
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add navigation test specific for Safari 10 (#10616)
  .github/workflows/build_test_deploy.yml
  test/integration/production-nav/pages/another.js
  test/integration/production-nav/pages/index.js
  test/integration/production-nav/test/index.test.js
  test/lib/next-webdriver.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.3-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Make sure to handle failing to load _error (#10617)
  packages/next/next-server/lib/router/router.ts
  test/integration/error-load-fail/pages/broken.js
  test/integration/error-load-fail/pages/index.js
  test/integration/error-load-fail/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update legacy safari test for GitHub actions (#10618)
  test/integration/production-nav/test/index.test.js
  test/jest-environment.js
  test/lib/next-webdriver.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Re-Enable Native `url` Module (#10530)
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add err.sh for getStaticProps error (#10619)
  errors/invalid-getstaticprops-value.md
  packages/next/cli/next-build.ts
  packages/next/export/worker.js
  packages/next/next-server/server/render.tsx
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add error messages for dynamic SSG page without getStaticPaths (#10620)
  packages/next/build/utils.ts
  packages/next/next-server/server/render.tsx
  test/integration/dynamic-routing/pages/p1/p2/all-ssg/[...rest].js
  test/integration/dynamic-routing/pages/p1/p2/nested-all-ssg/[...rest]/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Revert "Re-Enable Native `url` Module (#10530)" (#10623)
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

remove next/link (#10625)
  examples/with-chakra-ui/src/components/CTA.js
  examples/with-chakra-ui/src/pages/index.js
Owners: @lfades, @Timer

Update error-load-fail test to use check to handle reload taking longer on windows (#10631)
  test/integration/error-load-fail/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove deprecated static folder (#10632)
  examples/custom-server-typescript/nodemon.json
Owners: @lfades, @Timer

Fix Cookie Expiration (#10634)
  packages/next/next-server/server/api-utils.ts
  test/integration/prerender-preview/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Preview Mode Should Not Cache (#10636)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  test/integration/prerender-preview/server.js
  test/integration/prerender-preview/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Invalidate cache for link[preload] in dev for CSS files (#10630)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update link to GitHub Discussions beta
  .github/ISSUE_TEMPLATE/8.Question_about_next.md
Owners: @Timer

v9.2.3-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Make sure to log errors from data fetching in dev mode in the console (#10652)
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades
