Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Disable cache warning on supported platforms (#12495)
  packages/next/build/index.ts
  packages/next/telemetry/ci-info.ts
  test/integration/build-warnings/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Better Tabbing Order (#12503)
  packages/react-dev-overlay/src/internal/components/CodeFrame/CodeFrame.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Correctly Trap Focus in Overlay (#12502)
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  packages/react-dev-overlay/src/internal/components/Overlay/Overlay.tsx
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable Comment Extraction (#12496)
  packages/next/build/webpack-config.ts
  test/integration/build-output/fixtures/basic-app/pages/index.js
  test/integration/build-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Fix overlay display on Safari (#12523)
  packages/react-dev-overlay/src/internal/components/Overlay/styles.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update tests to poll for output instead of wait for it (#12534)
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Don't add `.amp` to pathname (#12528)
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update dynamic-import.md (#12541)
  docs/advanced-features/dynamic-import.md
Owners: @Timer

[Fast Refresh] New Compile Error Overlay (#12543)
  packages/next/build/webpack-config.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/server/hot-reloader.ts
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/react-dev-overlay/src/internal/bus.ts
  packages/react-dev-overlay/src/internal/components/Overlay/Overlay.tsx
  packages/react-dev-overlay/src/internal/components/Overlay/styles.tsx
  packages/react-dev-overlay/src/internal/components/Terminal/Terminal.tsx
  packages/react-dev-overlay/src/internal/components/Terminal/index.tsx
  packages/react-dev-overlay/src/internal/components/Terminal/styles.tsx
  packages/react-dev-overlay/src/internal/container/BuildError.tsx
  packages/react-dev-overlay/src/internal/styles/ComponentStyles.tsx
  test/acceptance/ReactRefresh.test.js
  test/acceptance/helpers.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Adds missing deps (#12519)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add documentation for TypeScript baseUrl and paths option (#12379)
  docs/advanced-features/module-path-aliases.md
  docs/basic-features/typescript.md
  docs/manifest.json
Owners: @Timer

Update blog-starter to use Tailwind CSS v1.4's new built-in purge option (#12452)
  examples/blog-starter/README.md
  examples/blog-starter/package.json
  examples/blog-starter/postcss.config.js
  examples/blog-starter/styles/index.css
  examples/blog-starter/tailwind.config.js
Owners: @lfades, @Timer

fix: hello world missing default exports (#12551)
  examples/hello-world/pages/index.js
Owners: @lfades, @Timer

Mention nesting in arrays alongside Fragments in next/head docs (#12420)
  docs/api-reference/next/head.md
Owners: @Timer

Update AMP dependencies (#12536)
  packages/next/compiled/amphtml-validator/index.js
  packages/next/package.json
  test/integration/amphtml-custom-optimizer/next.config.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Toggling of Collapsed Frames (#12560)
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Separate LogBox Tests (#12564)
  test/acceptance/ReactRefresh.test.js
  test/acceptance/ReactRefreshLogBox.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Resolve bug with Prismic Locales (#12132)
  examples/cms-prismic/.env.example
  examples/cms-prismic/README.md
  examples/cms-prismic/lib/api.js
  examples/cms-prismic/next.config.js
Owners: @lfades, @Timer

[Fast Refresh] Add more test cases (#12568)
  test/acceptance/ReactRefreshLogBox.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Export NextApiRequest type as interface (#12186)
  packages/next/next-server/lib/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

example: added Ant Design Pro Layout less (#12408)
  examples/with-ant-design-mobile/.babelrc
  examples/with-ant-design-mobile/README.md
  examples/with-ant-design-mobile/components/Layout.js
  examples/with-ant-design-mobile/next.config.js
  examples/with-ant-design-mobile/package.json
  examples/with-ant-design-mobile/pages/_app.js
  examples/with-ant-design-mobile/pages/about.js
  examples/with-ant-design-mobile/pages/index.js
  examples/with-ant-design-pro-layout-less/.babelrc
  examples/with-ant-design-pro-layout-less/README.md
  examples/with-ant-design-pro-layout-less/assets/antd-custom.less
  examples/with-ant-design-pro-layout-less/layouts/main.tsx
  examples/with-ant-design-pro-layout-less/next-env.d.ts
  examples/with-ant-design-pro-layout-less/next.config.js
  examples/with-ant-design-pro-layout-less/package.json
  examples/with-ant-design-pro-layout-less/pages/example.tsx
  examples/with-ant-design-pro-layout-less/pages/index.tsx
  examples/with-ant-design-pro-layout-less/pages/welcome.tsx
  examples/with-ant-design-pro-layout-less/tsconfig.json
Owners: @lfades, @Timer

Update to run tests in headless mode on Azure (#12574)
  run-tests.js
  test/acceptance/helpers.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix `moduleId` not resolving correctly on Windows (#12584)
  packages/react-dev-overlay/src/middleware.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Experimental: New ESLint Plugin (#11986)
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-css-tags.js
  packages/eslint-plugin-next/lib/rules/no-sync-scripts.js
  packages/eslint-plugin-next/package.json
  test/eslint-plugin-next/no-css-tags.test.js
  test/eslint-plugin-next/no-sync-scripts.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add cross-env package (#12581)
  examples/with-firebase-authentication-serverless/package.json
Owners: @lfades, @Timer

Add flag to disable API warning (#11380)
  docs/api-routes/api-middlewares.md
  packages/next/next-server/server/api-utils.ts
  packages/next/types/index.d.ts
  test/integration/api-support/pages/api/external-resolver-false-positive.js
  test/integration/api-support/pages/api/external-resolver.js
  test/integration/api-support/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update to latest version of stacktrace-parser (#12597)
  packages/react-dev-overlay/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix DatePicker Day.js bug in Ant Design example (#12580)
  examples/with-ant-design/components/DatePicker.js
  examples/with-ant-design/next.config.js
  examples/with-ant-design/package.json
  examples/with-ant-design/pages/index.js
Owners: @lfades, @Timer

[Examples]: With react bootstrap (#12421)
  examples/with-react-bootstrap/README.md
  examples/with-react-bootstrap/package.json
  examples/with-react-bootstrap/pages/_app.jsx
  examples/with-react-bootstrap/pages/index.jsx
  examples/with-react-bootstrap/public/favicon-32x32.png
  examples/with-react-bootstrap/public/favicon.ico
  examples/with-react-bootstrap/public/vercel.svg
  examples/with-react-bootstrap/style/index.css
Owners: @lfades, @Timer

Fix error toast pluralization (#12622)
  packages/react-dev-overlay/src/internal/container/Errors.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Clarify dismissal message (#12624)
  packages/react-dev-overlay/src/internal/container/BuildError.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Adjust Overlay Styling (#12623)
  packages/react-dev-overlay/src/internal/components/CodeFrame/styles.tsx
  packages/react-dev-overlay/src/internal/components/Dialog/styles.ts
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/styles.ts
  packages/react-dev-overlay/src/internal/components/Terminal/styles.tsx
  packages/react-dev-overlay/src/internal/components/Toast/styles.ts
  packages/react-dev-overlay/src/internal/container/BuildError.tsx
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
  packages/react-dev-overlay/src/internal/styles/Base.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Context types for getStaticProps and getServerSideProps (#12606)
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Upgrade `react-refresh` for SC (#12627)
  package.json
  packages/next/compiled/debug/index.js
  packages/next/package.json
  packages/react-refresh-utils/package.json
  test/acceptance/ReactRefreshRegression.test.js
  test/acceptance/helpers.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.7-canary.16
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
