Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

v8.1.1-canary.46
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Replace recursive-copy with own implementation (#7263)
  bench/package.json
  bench/recursive-copy/run.js
  examples/with-sitemap-and-robots-express-server-typescript/src/server/sitemap.ts
  examples/with-typescript/utils/sample-api.ts
  linkfolder
  packages/next/export/index.js
  packages/next/lib/recursive-copy.ts
  packages/next/package.json
  test/unit/recursive-copy.test.js
  test/unit/recursive-delete.test.js
  yarn.lock
Owners: @timneutkens, @dav-is, @kheruc, @lfades, @Timer, @ijjk

Clean up _document documentation (#7523)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Adjust Flying Shuttle message (#7522)
  packages/next/build/flying-shuttle.ts
  test/integration/flying-shuttle/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add types for `<Html>` and `<Head>` element (#7524)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.47
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Default `target` in `loadConfig` instead of `next build` (#7521)
  packages/next-server/server/config.ts
  packages/next/build/index.ts
  test/integration/serverless-now/next.config.js
  test/integration/serverless-now/pages/index.js
  test/integration/serverless-now/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Restore onMouseEnter event (#7531)
  packages/next/client/link.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

with-cookie-auth: don't rely on the Host header (#7435)
  examples/with-cookie-auth/README.md
  examples/with-cookie-auth/api/index.js
  examples/with-cookie-auth/api/package.json
  examples/with-cookie-auth/now.json
  examples/with-cookie-auth/www/next.config.js
  examples/with-cookie-auth/www/package.json
  examples/with-cookie-auth/www/pages/login.js
  examples/with-cookie-auth/www/pages/profile.js
  examples/with-cookie-auth/www/server.js
Owners: @kheruc, @lfades

fixes `constants` link in readme (#7534)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

TS: don't set page component props to the App's props by default (#7535)
  packages/next/pages/_app.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add Typescript to next-mdx readme (#7540)
  packages/next-mdx/readme.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.48
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add export const config support and make withAmp a no-op (#7525)
  examples/amp/pages/dog.js
  examples/amp/pages/index.js
  packages/next-server/lib/amp.ts
  packages/next-server/server/load-components.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/render.tsx
  packages/next/README.md
  packages/next/build/babel/plugins/next-drop-client-page.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/types/index.d.ts
  test/integration/amp-export-validation/pages/cat.js
  test/integration/amp-export-validation/pages/dog-cat.js
  test/integration/amp-export-validation/pages/dog.js
  test/integration/amp-export-validation/pages/first.js
  test/integration/amp-export-validation/pages/second.js
  test/integration/amp-export-validation/pages/third.js
  test/integration/amphtml-fragment-style/pages/index.js
  test/integration/amphtml/pages/amp-script.js
  test/integration/amphtml/pages/conflicting-tag.js
  test/integration/amphtml/pages/custom-scripts.js
  test/integration/amphtml/pages/hmr/amp.js
  test/integration/amphtml/pages/hmr/hybrid.js
  test/integration/amphtml/pages/index.js
  test/integration/amphtml/pages/nested/index.js
  test/integration/amphtml/pages/only-amp.js
  test/integration/amphtml/pages/root-hmr.js
  test/integration/amphtml/pages/styled.js
  test/integration/amphtml/pages/use-amp-hook.js
  test/integration/export-default-map/pages/docs/index.js
  test/integration/export-default-map/pages/info.js
  test/integration/export-default-map/pages/some.js
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Fix next start in serverless mode with public directory (#7541)
  packages/next-server/server/next-server.ts
  test/integration/serverless/public/hello.txt
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.49
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix sentence in with-context-api example (#7542)
  examples/with-context-api/README.md
Owners: @kheruc, @lfades

Create file referencing Next.js types (#7545)
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Don't confuse the user with an eagerly created `tsconfig.json` (#7546)
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Adding TypeScript description to next export (#7547)
  packages/next-server/server/next-server.ts
  packages/next/server/next-dev-server.js
  packages/next/server/next.d.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Improve TypeScript package install experience (#7548)
  examples/with-typescript/next-env.d.ts
  examples/with-typescript/tsconfig.json
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/taskfile.js
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

v8.1.1-canary.50
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove invalid meta type (#7549)
  packages/next-server/lib/head.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add static page marker to page info (#7552)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Mark whether page is a lambda or static file in build output (#7553)
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Tune default Terser configuration (#7554)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.51
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Strip queries before matching route on client (#7566)
  packages/next-server/lib/router/router.ts
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Added new blog example (#7511)
  examples/blog-starter/.babelrc
  examples/blog-starter/README.md
  examples/blog-starter/blog.config.js
  examples/blog-starter/components/blog-index-item.js
  examples/blog-starter/components/container.js
  examples/blog-starter/components/footer.js
  examples/blog-starter/components/head.js
  examples/blog-starter/components/header.js
  examples/blog-starter/components/layouts/blog-post.js
  examples/blog-starter/components/layouts/default.js
  examples/blog-starter/components/layouts/page.js
  examples/blog-starter/components/nav.js
  examples/blog-starter/components/next-prev-post.js
  examples/blog-starter/components/profile.js
  examples/blog-starter/components/syntax-highlight.css
  examples/blog-starter/components/syntax-highlight.js
  examples/blog-starter/components/title.js
  examples/blog-starter/components/utils/published-at.js
  examples/blog-starter/next.config.js
  examples/blog-starter/now.json
  examples/blog-starter/package.json
  examples/blog-starter/pages/_document.js
  examples/blog-starter/pages/about.mdx
  examples/blog-starter/pages/index.js
  examples/blog-starter/pages/posts/deploy-to-now.mdx
  examples/blog-starter/pages/posts/syntax-highlighting.mdx
  examples/blog-starter/pages/posts/welcome.mdx
  examples/blog-starter/posts/get-blog-posts.js
  examples/blog-starter/posts/index.js
  examples/blog-starter/posts/rss-feed.js
  examples/blog-starter/static/_jolvera.png
  examples/blog-starter/static/favicon.ico
  examples/blog-starter/static/next.svg
  examples/blog-starter/static/site-feature.png
Owners: @kheruc, @lfades

v8.1.1-canary.52
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add handling for invalid pages during autoExport (#7574)
  errors/page-without-valid-component.md
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/invalid-page-autoExport/next.config.js
  test/integration/invalid-page-autoExport/pages/also-invalid.js
  test/integration/invalid-page-autoExport/pages/also-valid.js
  test/integration/invalid-page-autoExport/pages/invalid.js
  test/integration/invalid-page-autoExport/pages/valid.js
  test/integration/invalid-page-autoExport/test/index.test.js
Owners: @kheruc, @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Improve docs (#7564)
  README-zh-CN.md
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Added nodemon config to watch for .ts and .js files in the server folder (#7592)
  examples/custom-server-typescript/nodemon.json
Owners: @kheruc, @lfades

Re-require all module information for client-side initializers list (#7571)
  packages/next-server/server/render.tsx
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add `next/dynamic` test (#7600)
  test/integration/next-dynamic/apples/index.js
  test/integration/next-dynamic/components/one.js
  test/integration/next-dynamic/components/three.js
  test/integration/next-dynamic/components/two.js
  test/integration/next-dynamic/pages/index.js
  test/integration/next-dynamic/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.53
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

(examples/with-immutable-redux-wrapper) Fix README.md (#7597)
  examples/with-immutable-redux-wrapper/README.md
Owners: @kheruc, @lfades

Ensure Node types are installed (for `process` types) (#7603)
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Correctly define NODE_ENV and `process.browser` (#7604)
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

`typeof window` will always be undefined on the server (#7605)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
