Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Update default chromedriver version (#9252)
  package.json
  yarn.lock
Owners: @Timer

v9.1.3-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Bugfix/Performance: Start the modern child compiler earlier (#9257)
  packages/next/build/webpack/plugins/next-esm-plugin.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make sure to pipe output from staticCheckWorkers (#9256)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix `import next from "next"` (#9216)
  packages/next/server/next.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update with-apollo-and-redux example (#9270)
  examples/with-apollo-and-redux/README.md
  examples/with-apollo-and-redux/components/AddCount.js
  examples/with-apollo-and-redux/components/Clock.js
  examples/with-apollo-and-redux/components/Counter.js
  examples/with-apollo-and-redux/components/ErrorMessage.js
  examples/with-apollo-and-redux/components/Layout.js
  examples/with-apollo-and-redux/components/Nav.js
  examples/with-apollo-and-redux/components/Page.js
  examples/with-apollo-and-redux/components/PostList.js
  examples/with-apollo-and-redux/components/PostUpvoter.js
  examples/with-apollo-and-redux/components/Submit.js
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo-and-redux/lib/initApollo.js
  examples/with-apollo-and-redux/lib/redux.js
  examples/with-apollo-and-redux/lib/store.js
  examples/with-apollo-and-redux/lib/useInterval.js
  examples/with-apollo-and-redux/lib/withApollo.js
  examples/with-apollo-and-redux/package.json
  examples/with-apollo-and-redux/pages/_app.js
  examples/with-apollo-and-redux/pages/apollo.js
  examples/with-apollo-and-redux/pages/index.js
  examples/with-apollo-and-redux/pages/redux.js
  examples/with-apollo-and-redux/store.js
Owners: @lfades, @Timer

Update _app documentation to reflect no longer needing next/app (#9268)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix example active-class-anme: Add support for children of ActiveLink without a className. (#9271)
  examples/active-class-name/components/ActiveLink.js
Owners: @lfades, @Timer

Remove dead code elimination for when iSSG isn't used (#9267)
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/next-server/lib/router/router.ts
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add handling for exportTrailingSlash for iSSG pages (#9258)
  packages/next/export/index.ts
  test/integration/prerender/pages/blog/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.3-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Require Node 8.10 (#9278)
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disallow iSSG revalidation period of zero (#9280)
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fixed spelling of cookies (#9283)
  packages/next/next-server/server/api-utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Polyfill `window.fetch` by Default (#9168)
  packages/next/build/index.ts
  packages/next/build/polyfills/fetch.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/polyfills.js
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/package.json
  packages/next/pages/_document.tsx
  test/integration/build-stats-output/test/index.test.js
  test/integration/defer-scripts/test/index.test.js
  test/integration/production/test/index.test.js
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Patternfly example (#9251)
  examples/with-patternfly/README.md
  examples/with-patternfly/next.config.js
  examples/with-patternfly/package.json
  examples/with-patternfly/pages/_app.js
  examples/with-patternfly/pages/index.js
Owners: @lfades, @Timer

Handle backslashes for plugins (#9282)
  packages/next/build/plugins/collect-plugins.ts
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Call getInitialProps on Component when it’s not defined on App (#9287)
  packages/next/next-server/lib/utils.ts
  test/integration/app-functional/next.config.js
  test/integration/app-functional/pages/_app.js
  test/integration/app-functional/pages/index.js
  test/integration/app-functional/shared-module.js
  test/integration/app-functional/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Simplify Build Output (#9281)
  examples/with-patternfly/next.config.js
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  test/integration/build-stats-output/react-site/pages/something.js
  test/integration/build-stats-output/test/index.test.js
Owners: @lfades, @Timer, @timneutkens, @ijjk

Enforce the `framework` Chunk (#9250)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Allow TypeScript Namespaces (#9308)
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.3-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Prevent CSS script tags in granular chunks (#9306)
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Only add static files route if folder exists (#9305)
  packages/next/next-server/server/next-server.ts
  test/integration/static-page-name/pages/index.js
  test/integration/static-page-name/pages/static.js
  test/integration/static-page-name/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

update with-jest-react-testing-library (#9307)
  examples/with-jest-react-testing-library/__tests__/index.test.js
  examples/with-jest-react-testing-library/package.json
Owners: @lfades, @Timer

[with-firebase] Update to Node v10 and fix lint errors (#9318)
  examples/with-firebase-hosting-and-typescript/package.json
  examples/with-firebase-hosting-and-typescript/src/app/components/App.tsx
  examples/with-firebase-hosting-and-typescript/src/app/components/Header.tsx
  examples/with-firebase-hosting-and-typescript/src/app/pages/about.tsx
  examples/with-firebase-hosting-and-typescript/src/app/pages/index.tsx
Owners: @lfades, @Timer

Track polyfill file changes (#9321)
  test/.stats-app/stats-config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Track framework bundle separately (#9322)
  test/.stats-app/stats-config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Revert experimental plugins code from sentry example (#9317)
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/package.json
  examples/with-sentry-simple/pages/_app.js
  examples/with-sentry-simple/pages/_error.js
Owners: @lfades, @Timer

Ensure we correctly decide on which packages need better interopt (#9327)
  packages/next/telemetry/events/plugins.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.3-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove the parameterized-routing example (#9297)
  examples/parameterized-routing/README.md
  examples/parameterized-routing/package.json
  examples/parameterized-routing/pages/blog.js
  examples/parameterized-routing/pages/index.js
  examples/parameterized-routing/server.js
  packages/next/README.md
Owners: @lfades, @Timer, @timneutkens, @ijjk

v9.1.3-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add readme with experimental warning for plugins (#9345)
  packages/next-plugin-google-analytics/readme.md
  packages/next-plugin-material-ui/readme.md
  packages/next-plugin-sentry/readme.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.3-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add check for now.json and custom server (#9346)
  packages/next/build/index.ts
  packages/next/cli/next-dev.ts
  packages/next/export/index.ts
  packages/next/server/next-dev-server.ts
  packages/next/telemetry/events/version.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade styled-jsx (#9348)
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add a routes manifest with the dynamic routes (#9347)
  packages/next/build/index.ts
  packages/next/next-server/lib/constants.ts
  test/integration/dynamic-routing/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Ignore shell-quote on Windows (#9296)
  lint-staged.config.js
Owners: @Timer

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
