Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

refactor(with-sentry): example (#13434)
  examples/with-sentry/package.json
  examples/with-sentry/pages/index.js
Owners: @lfades, @Timer

Fix AMP Test Flake (#13450)
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add warning when reserved pages are nested (#13449)
  errors/nested-reserved-page.md
  packages/next/build/index.ts
  test/integration/auto-export-error-bail/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Docs]: minor typo in `jsx` file extension (#13451)
  docs/basic-features/pages.md
Owners: @Timer

v9.4.3-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add release argument to SentryWebpackPlugin (#13459)
  examples/with-sentry-simple/next.config.js
Owners: @lfades, @Timer

Do not throw away `tsconfig.json` comments (#13458)
  packages/next/compiled/comment-json/LICENSE
  packages/next/compiled/comment-json/index.js
  packages/next/compiled/comment-json/package.json
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/tsconfig-verifier/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add type inference for getStaticProps and getServerSideProps (#11842)
  docs/basic-features/data-fetching.md
  packages/next/types/index.d.ts
  test/integration/typescript/pages/ssg/blog/[post].tsx
  test/integration/typescript/pages/ssg/blog/index.tsx
  test/integration/typescript/pages/ssr/blog/[post].tsx
  test/integration/typescript/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove beta label from Netlify Plugins (#13465)
  errors/no-cache.md
Owners: @Timer

Add Route as Modal Page Example (#12945)
  examples/with-route-as-modal/README.md
  examples/with-route-as-modal/app-styles.module.css
  examples/with-route-as-modal/components/Article.js
  examples/with-route-as-modal/components/Grid.js
  examples/with-route-as-modal/components/PostCard.js
  examples/with-route-as-modal/components/styles.module.css
  examples/with-route-as-modal/pages/_app.js
  examples/with-route-as-modal/pages/article/[articleId].js
  examples/with-route-as-modal/pages/index.js
  examples/with-route-as-modal/pages/post/[postId].js
Owners: @lfades, @Timer

v9.4.3-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add note about GS(S)P imports (#13475)
  docs/basic-features/data-fetching.md
Owners: @Timer

Do not import from `fs-extra` (#13481)
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.4-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

refactor(with-redux): update example to use getStaticProps (#13378)
  examples/with-redux/README.md
  examples/with-redux/components/clock.js
  examples/with-redux/components/counter.js
  examples/with-redux/components/nav.js
  examples/with-redux/components/page.js
  examples/with-redux/lib/redux.js
  examples/with-redux/pages/_app.js
  examples/with-redux/pages/index.js
  examples/with-redux/pages/ssg.js
  examples/with-redux/pages/ssr.js
  examples/with-redux/store.js
Owners: @lfades, @Timer

Lint for invalid imports (#13482)
  .eslintrc.json
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/helpers/git.ts
  packages/create-next-app/helpers/install.ts
  packages/create-next-app/helpers/is-folder-empty.ts
  packages/create-next-app/helpers/validate-pkg.ts
  packages/create-next-app/index.ts
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-polyfill-nomodule/src/index.js
  packages/next/build/bundles/autodll-webpack-plugin.js
  packages/next/build/profiler/profiler.js
  packages/next/build/webpack/plugins/webpack-conformance-plugin/TestInterface.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/duplicate-polyfills-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/react-sync-scripts-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/index.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/utils/ast-utils.ts
  packages/next/server/on-demand-entry-handler.ts
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  packages/next/types/webpack.d.ts
  packages/react-dev-overlay/src/middleware.ts
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Better NODE_ENV explanation (#13476)
  errors/non-standard-node-env.md
  packages/next/lib/constants.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update some examples to Vercel (#13477)
  examples/with-monaco-editor/README.md
  examples/with-reason-relay/README.md
  examples/with-stitches-styled/README.md
  examples/with-stitches/README.md
Owners: @lfades, @Timer

v9.4.5-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update proxy example to http-proxy-middleware ^1 (#13507)
  examples/with-custom-reverse-proxy/package.json
  examples/with-custom-reverse-proxy/server.js
Owners: @lfades, @Timer

Add example with next-translate (#13511)
  examples/with-next-translate/.gitignore
  examples/with-next-translate/README.md
  examples/with-next-translate/_pages/index.js
  examples/with-next-translate/components/Layout.js
  examples/with-next-translate/i18n.json
  examples/with-next-translate/locales/ca/common.json
  examples/with-next-translate/locales/ca/home.json
  examples/with-next-translate/locales/en/common.json
  examples/with-next-translate/locales/en/home.json
  examples/with-next-translate/package.json
  examples/with-next-translate/public/favicon.ico
Owners: @lfades, @Timer

[experimental] filtering unwanted jsx type in eslint plugin (#13520)
  packages/eslint-plugin-next/lib/rules/no-css-tags.js
  packages/eslint-plugin-next/lib/rules/no-sync-scripts.js
  test/eslint-plugin-next/no-css-tags.test.js
  test/eslint-plugin-next/no-sync-scripts.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix typo (#13523)
  examples/with-next-translate/README.md
Owners: @lfades, @Timer

Fail production build quickly (#13496)
  packages/next/build/compiler.ts
  packages/next/build/webpack/config/blocks/base.ts
  test/integration/config/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Example] Add with-web-worker example (#13444)
  examples/with-web-worker/README.md
  examples/with-web-worker/next.config.js
  examples/with-web-worker/package.json
  examples/with-web-worker/pages/index.js
  examples/with-web-worker/utils/pi.js
  examples/with-web-worker/worker.js
Owners: @lfades, @Timer

Update firebase to fix install errors on node 14 (#13493)
  package.json
  yarn.lock
Owners: @Timer

refactor(typescript): extract preflight functions (#13510)
  packages/next/lib/oxford-comma-list.ts
  packages/next/lib/typescript/FatalTypeScriptError.ts
  packages/next/lib/typescript/getTypeScriptConfiguration.ts
  packages/next/lib/typescript/getTypeScriptIntent.ts
  packages/next/lib/typescript/hasNecessaryDependencies.ts
  packages/next/lib/typescript/writeAppTypeDeclarations.ts
  packages/next/lib/typescript/writeConfigurationDefaults.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  test/integration/tsconfig-verifier/test/index.test.js
  test/unit/oxford-comma.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.5-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Speedup tests (#13461)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  test/acceptance/helpers.js
  test/integration/basic/test/index.test.js
  test/integration/client-navigation/test/index.test.js
  test/integration/getserversideprops/test/index.test.js
  test/integration/invalid-href/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/integration/typescript-hmr/test/index.test.js
  test/integration/with-router/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Replace `fork-ts-checker-webpack-plugin` with faster alternative (#13529)
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/lib/typescript/TypeScriptCompileError.ts
  packages/next/lib/typescript/diagnosticFormatter.ts
  packages/next/lib/typescript/runTypeCheck.ts
  packages/next/lib/typescript/writeConfigurationDefaults.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/package.json
  packages/next/server/next-dev-server.ts
  packages/next/types/misc.d.ts
  test/integration/typescript-ignore-errors/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.5-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

fix: update ampproject/toolbox-optimizer (#13547)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update babel config found log to new logging output (#13550)
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove old reloading code (#13554)
  packages/next/server/hot-reloader.ts
  packages/next/server/on-demand-entry-handler.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.5-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add support for rewriting non-fallback SSG pages (#11010)
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/next.config.js
  test/integration/prerender/pages/lang/[lang]/about.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update AMP validation docs (#13525)
  docs/advanced-features/amp-support/amp-validation.md
Owners: @Timer

Make Linaria great again (#13568)
  examples/with-linaria/package.json
Owners: @lfades, @Timer
