Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Correctly Dedupe Prefetching (#10758)
  packages/next/client/link.tsx
  test/integration/preload-viewport/pages/not-de-duped.js
  test/integration/preload-viewport/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add params to getStaticProps on err.sh (#10751)
  errors/invalid-getstaticprops-value.md
Owners: @Timer

updating links to dynamic-routes section of docs (#10759)
  docs/upgrading.md
Owners: @Timer

v9.2.3-canary.18
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove `dangerousAsPath` from `RenderOpts` (#10773)
  packages/next/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove Dead Code from Next Server (#10772)
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

examples: react-native-web: fix config to prefer .web.* exts (#10774)
  examples/with-react-native-web/next.config.js
Owners: @lfades, @Timer

v9.2.3-canary.19
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix RenderOpts in `next-server` (#10776)
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/prerender-preview/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Prefetch SSG Data (#10127)
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  test/integration/preload-viewport/next.config.js
  test/integration/preload-viewport/pages/ssg/basic.js
  test/integration/preload-viewport/pages/ssg/catch-all/[...slug].js
  test/integration/preload-viewport/pages/ssg/dynamic-nested/[slug1]/[slug2].js
  test/integration/preload-viewport/pages/ssg/dynamic/[slug].js
  test/integration/preload-viewport/pages/ssg/fixture/index.js
  test/integration/preload-viewport/pages/ssg/fixture/mismatch.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.20
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix next/config module mismatch in new serverless mode (#10792)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless-runtime-configs/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.21
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Adding conformance checks (#10314)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/duplicate-polyfills-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/minification-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/react-sync-scripts-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/index.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/utils/ast-utils.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/utils/file-utils.ts
  test/integration/conformance/components/one.js
  test/integration/conformance/next.config.js
  test/integration/conformance/pages/index.js
  test/integration/conformance/pages/page1.js
  test/integration/conformance/pages/page2.js
  test/integration/conformance/pages/page3.js
  test/integration/conformance/test/index.test.js
  test/integration/static-404/next.config.js
  test/integration/static-404/pages/_error.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove old env from workflow since it is replaced with WebHook (#10798)
  .github/workflows/pull_request_stats.yml
Owners: @Timer

Measure `getStaticProps`, `getServerSideProps` (#10800)
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/pages/gip.js
  test/integration/telemetry/pages/gssp.js
  test/integration/telemetry/pages/ssg.js
  test/integration/telemetry/pages/ssg/[dynamic].js
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.22
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Throw NoFallbackError instead of returning (#10793)
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add identifier to NEXT_DATA for gs(s)p (#10812)
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  test/integration/getserversideprops/test/index.test.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to output jest data for posting failed tests comment (#10814)
  .github/workflows/build_test_deploy.yml
  jest.config.js
  run-tests.js
Owners: @Timer

fix(cli): inspect flag is deprecated (#10819)
  docs/api-reference/cli.md
  packages/next/bin/next.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update to make sure preview mode works with getServerSideProps (#10813)
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
  test/integration/getserversideprops-preview/pages/api/preview.js
  test/integration/getserversideprops-preview/pages/api/reset.js
  test/integration/getserversideprops-preview/pages/index.js
  test/integration/getserversideprops-preview/server.js
  test/integration/getserversideprops-preview/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Send Credentials for `getServerSideProps` Requests (#10826)
  packages/next/next-server/lib/router/router.ts
  test/integration/getserversideprops-preview/pages/to-index.js
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/prerender-preview/pages/to-index.js
  test/integration/prerender-preview/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.23
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update release stats with different name from pr stats (#10827)
  .github/workflows/release_stats.yml
Owners: @Timer

Add docs for static 404 and pages/404 (#10811)
  docs/advanced-features/custom-error-page.md
Owners: @Timer

Make sure to error when setting too large of preview data (#10831)
  packages/next/next-server/server/api-utils.ts
  test/integration/getserversideprops-preview/pages/api/preview.js
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/prerender-preview/pages/api/preview.js
  test/integration/prerender-preview/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Ensure an accessible default viewport meta tag (#10823)
  packages/next/next-server/lib/head.tsx
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update Pages and Data Fetching docs for SSG improvements (#10837)
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
Owners: @Timer

v9.2.3-canary.24
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update Custom Server README's (#10843)
  examples/api-routes-apollo-server-and-client-auth/README.md
  examples/api-routes-apollo-server-and-client/README.md
  examples/custom-server-express/README.md
  examples/custom-server-fastify/README.md
  examples/custom-server-hapi/README.md
  examples/custom-server-koa/README.md
  examples/custom-server-micro/README.md
  examples/custom-server-nodemon/README.md
  examples/custom-server-polka/README.md
  examples/custom-server-reasonml/README.md
  examples/custom-server-typescript/README.md
  examples/custom-server/README.md
Owners: @lfades, @Timer

Fix data fetching learn more links
  docs/basic-features/data-fetching.md
Owners: @Timer

Re-add Sass Docs (#10850)
  docs/basic-features/built-in-css-support.md
Owners: @Timer

Update README-template.md
  packages/create-next-app/templates/default/README-template.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix getStaticPaths modules being cached in dev mode (#10852)
  packages/next/server/static-paths-worker.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.25
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

add example for why-did-you-render (#10662)
  examples/with-why-did-you-render/README.md
  examples/with-why-did-you-render/components/header.js
  examples/with-why-did-you-render/package.json
  examples/with-why-did-you-render/pages/_app.js
  examples/with-why-did-you-render/pages/index.js
Owners: @lfades, @Timer

Update method for attaching GS(S)P identifier to page (#10859)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/client/index.js
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_app.tsx
  test/unit/babel-plugin-next-ssg-transform.test.js
  test/unit/next-babel-loader.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix `getServerSideProps` Test Case (#10862)
  packages/next/next-server/server/render.tsx
  test/integration/getserversideprops/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Prerender Test Cases (#10861)
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades
