Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

[ EXAMPLES ] Added with-mongodb example (#13028)
  examples/with-mongodb-mongoose/.env.local.example
  examples/with-mongodb-mongoose/.gitignore
  examples/with-mongodb-mongoose/README.md
  examples/with-mongodb-mongoose/components/Form.js
  examples/with-mongodb-mongoose/css/form.css
  examples/with-mongodb-mongoose/css/style.css
  examples/with-mongodb-mongoose/models/Pet.js
  examples/with-mongodb-mongoose/package.json
  examples/with-mongodb-mongoose/pages/[id]/edit.js
  examples/with-mongodb-mongoose/pages/[id]/index.js
  examples/with-mongodb-mongoose/pages/_app.js
  examples/with-mongodb-mongoose/pages/api/pets/[id].js
  examples/with-mongodb-mongoose/pages/api/pets/index.js
  examples/with-mongodb-mongoose/pages/index.js
  examples/with-mongodb-mongoose/pages/new.js
  examples/with-mongodb-mongoose/public/favicon.ico
  examples/with-mongodb-mongoose/public/zeit.svg
  examples/with-mongodb-mongoose/utils/dbConnect.js
  examples/with-mongodb-mongoose/vercel.json
Owners: @lfades, @Timer

Stripe example updates (#13581)
  examples/with-stripe-typescript/.env.example
  examples/with-stripe-typescript/.env.local.example
  examples/with-stripe-typescript/.gitignore
  examples/with-stripe-typescript/README.md
  examples/with-stripe-typescript/components/CheckoutForm.tsx
  examples/with-stripe-typescript/components/Layout.tsx
  examples/with-stripe-typescript/next.config.js
  examples/with-stripe-typescript/package.json
  examples/with-stripe-typescript/pages/api/checkout_sessions/[id].ts
  examples/with-stripe-typescript/pages/api/checkout_sessions/index.ts
  examples/with-stripe-typescript/pages/api/payment_intents/index.ts
  examples/with-stripe-typescript/pages/api/webhooks/index.ts
  examples/with-stripe-typescript/styles.css
  examples/with-stripe-typescript/vercel.json
Owners: @lfades, @Timer

Enhance with redux persist (#13577)
  examples/with-redux-persist/components/clock.js
  examples/with-redux-persist/components/examples.js
  examples/with-redux-persist/lib/with-redux-store.js
  examples/with-redux-persist/pages/_app.js
  examples/with-redux-persist/store.js
Owners: @lfades, @Timer

Add ETag Support (#12802)
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enhance with redux thunk example (#13576)
  examples/with-redux-thunk/components/clock.js
  examples/with-redux-thunk/components/examples.js
  examples/with-redux-thunk/lib/with-redux-store.js
  examples/with-redux-thunk/pages/_app.js
  examples/with-redux-thunk/pages/index.js
  examples/with-redux-thunk/pages/show-redux-state.js
  examples/with-redux-thunk/store.js
Owners: @lfades, @Timer

Update browserslist/caniuse-lite (#13605)
  lint-staged.config.js
  packages/next/compiled/conf/index.js
  packages/next/compiled/postcss-preset-env/index.js
  test/integration/css/test/index.test.js
  test/integration/scss/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix examples using __NEXT_DATA__ (#13567)
  examples/with-aphrodite/pages/_document.js
  examples/with-aphrodite/pages/index.js
  examples/with-glamor/pages/_document.js
  examples/with-glamor/pages/index.js
  examples/with-react-intl/pages/_app.js
  examples/with-react-with-styles/pages/_document.js
Owners: @lfades, @Timer

Add .vercel to gitignore (#13595)
  .gitignore
Owners: @Timer

[Examples] Remove unused file from with-redux (#13570)
  examples/with-redux/lib/redux.js
Owners: @lfades, @Timer

Update waitUntilValid parameters (#13612)
  packages/next/server/hot-reloader.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update environment variables documentation (#13618)
  docs/basic-features/environment-variables.md
Owners: @Timer

Update links in environment variables documentation (#13621)
  docs/basic-features/environment-variables.md
Owners: @Timer

Handle encoding for data requests and fix fallback response (#13622)
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/pages/fallback-only/[slug].js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.5-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

make getStaticPaths work with optional catch-all routes (#13559)
  packages/next/build/utils.ts
  packages/next/export/worker.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  packages/next/next-server/server/next-server.ts
  test/integration/dynamic-optional-routing/pages/[[...optionalName]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths-fallback/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths-false/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths-null/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths-undefined/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/nested/[[...optionalName]].js
  test/integration/dynamic-optional-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Updated with-magic example with new Environment Variables Support in Next.js 9.4+ (#13623)
  examples/with-magic/.env.example
  examples/with-magic/README.md
  examples/with-magic/next.config.js
  examples/with-magic/now.json
  examples/with-magic/package.json
  examples/with-magic/pages/login.js
Owners: @lfades, @Timer

Fix with antd ssg (#13611)
  examples/with-ant-design/.babelrc
  examples/with-ant-design/components/DatePicker.js
  examples/with-ant-design/package.json
Owners: @lfades, @Timer

Remove unnecessary catch (#13639)
  packages/create-next-app/helpers/examples.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove middleware function that is never called (#13642)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

[with-typescript] Remove React.FC (#13643)
  examples/with-typescript/pages/about.tsx
  examples/with-typescript/pages/api/users/index.ts
  examples/with-typescript/pages/users/[id].tsx
Owners: @lfades, @Timer

docs([[...rest]]): add experimental banner (#13641)
  docs/api-routes/dynamic-api-routes.md
  docs/routing/dynamic-routes.md
Owners: @Timer

Propagate Serverless Errors to Platform (#12841)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/pages/api/bad.js
  test/integration/prerender/pages/bad-gssp.js
  test/integration/prerender/pages/bad-ssr.js
  test/integration/prerender/server.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.5-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update with-redux-wrapper example (#13649)
  examples/with-redux-wrapper/package.json
  examples/with-redux-wrapper/pages/_app.js
Owners: @lfades, @Timer

Use inclusive naming for variables / examples (#13657)
  examples/custom-server-actionhero/config/api.js
  examples/with-redux-persist/README.md
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/react-dev-overlay/src/internal/helpers/launchEditor.ts
Owners: @lfades, @Timer, @timneutkens, @ijjk

Remove granularChunks experimental option as it was launched (#13663)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/next-server/server/config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove remaining granular chunks references (#13672)
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/granular-chunks-conformance.ts
  packages/next/client/page-loader.js
  test/.stats-app/stats-config.js
  test/integration/chunking/test/index.test.js
  test/integration/conformance/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Skip reading filesystem in favor of `sourcesContent` [ch1898] (#13677)
  packages/react-dev-overlay/src/middleware.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove refs to old css experiment (#13673)
  examples/with-react-md/next.config.js
  examples/z-experimental-refresh/next.config.js
  test/acceptance/next.config.js
  test/integration/config/next.config.js
  test/integration/css-features/fixtures/next.config.js
  test/integration/css-fixtures/custom-configuration-legacy/next.config.js
  test/integration/legacy-sass/next.config.js
  test/integration/production-config/next.config.js
Owners: @lfades, @Timer, @timneutkens, @ijjk
