Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

[with-electron] Upgrade electron & transpile for the installed version (#8399)
  examples/with-electron/package.json
  examples/with-electron/renderer/babel.config.js
Owners: @lfades, @Timer

Adds basic support for PnP (#8427)
  packages/next/build/babel/preset.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update with-apollo-auth example (#8416)
  examples/with-apollo-auth/components/RegisterBox.js
  examples/with-apollo-auth/components/SigninBox.js
  examples/with-apollo-auth/lib/withApollo.js
  examples/with-apollo-auth/package.json
  examples/with-apollo-auth/pages/_app.js
  examples/with-apollo-auth/pages/create-account.js
  examples/with-apollo-auth/pages/index.js
Owners: @lfades, @Timer

Adjust Create Next App install env (#8431)
  packages/create-next-app/helpers/install.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Adjust experimental warning (#8432)
  packages/next-server/server/config.ts
  test/integration/config-experimental-warning/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

🗜 Optimize client-side routing manifest (#8429)
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/package.json
  test/.stats-app/stats-config.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Change FAQ for dynamic routing (#8439)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove `__NEXT_REPLACE__BUILD_ID__` workaround (#8445)
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix custom page extension in development (#8446)
  packages/next/server/next-dev-server.js
  test/integration/custom-page-extension/next.config.js
  test/integration/custom-page-extension/pages/blog/[pid].page.js
  test/integration/custom-page-extension/pages/blog/index.page.js
  test/integration/custom-page-extension/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add package.json to with-zones example, make create-next-app work (#8453)
  examples/with-zones/README.md
  examples/with-zones/package.json
Owners: @lfades, @Timer

Initial optimizeLibraries experimental flag (#8345)
  package.json
  packages/next-server/server/config.ts
  packages/next/build/webpack-config.ts
  test/integration/future/next.config.js
  test/integration/future/pages/index.js
  test/integration/future/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix build-manifest not removing _app files for modern (#8447)
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  test/integration/chunking-minimal/next.config.js
  test/integration/chunking-minimal/pages/index.js
  test/integration/chunking-minimal/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.5-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

doc: typo fix (#8460)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove Duplicate Assignment (#8464)
  packages/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix a broken link in webpack config (#8456)
  packages/next/build/webpack-config.ts
  test/integration/config-promise-error/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[with-apollo] Remove prefetch attibutes (#8465)
  examples/with-apollo/components/Header.js
Owners: @lfades, @Timer

Update redux example using hooks api (#8410)
  examples/with-redux/README.md
  examples/with-redux/components/counter.js
  examples/with-redux/components/examples.js
  examples/with-redux/package.json
Owners: @lfades, @Timer

Adjust lib chunk naming algorithm and prevent duplicate react-dom (#8450)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix bug in hook destructuring optimization when ignoring array elements (#8455)
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  test/unit/next-babel.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.5-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add warning when empty object is returned from getInitialProps (#8474)
  errors/empty-object-getInitialProps.md
  packages/next-server/lib/utils.ts
  packages/next-server/server/render.tsx
  test/integration/empty-object-getInitialProps/pages/another.js
  test/integration/empty-object-getInitialProps/pages/index.js
  test/integration/empty-object-getInitialProps/pages/static.js
  test/integration/empty-object-getInitialProps/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add deprecation warning for App Container (#8475)
  errors/app-container-deprecated.md
  packages/next/pages/_app.tsx
  test/integration/app-aspath/pages/_app.js
  test/integration/app-document/pages/_app.js
  test/integration/app-tree/pages/_app.tsx
  test/integration/no-override-next-props/pages/_app.js
  test/integration/production-config/pages/_app.js
  test/integration/with-router/pages/_app.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Debug TypeScript test suite (#8476)
  packages/next/build/webpack-config.ts
  packages/next/client/dev/on-demand-entries-client.js
  test/integration/typescript-hmr/next.config.js
  test/integration/typescript-hmr/pages/hello.tsx
  test/integration/typescript-hmr/pages/type-error-recover.tsx
  test/integration/typescript-hmr/test/index.test.js
  test/integration/typescript-hmr/tsconfig.json
  test/integration/typescript/test/hmr.js
  test/integration/typescript/test/index.test.js
  test/integration/typescript/test/typescript.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix duplicate spaces in readme (#8484)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Check for TypeScript files for auto setup (#8479)
  packages/next/lib/verifyTypeScriptSetup.ts
  test/integration/tsconfig-verifier/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix invalid href with-tailwindcss example (#8488)
  examples/with-tailwindcss/components/nav.js
Owners: @lfades, @Timer

Remove prefetch attributes from examples (#8481)
  examples/data-fetch/pages/index.js
  examples/data-fetch/pages/preact.js
  examples/using-inferno/pages/index.js
  examples/with-apollo-and-redux-saga/components/Header.js
  examples/with-apollo-and-redux/components/Header.js
  examples/with-apollo-auth/pages/create-account.js
  examples/with-apollo-auth/pages/signin.js
  examples/with-graphql-hooks/components/header.js
  examples/with-tailwindcss/components/nav.js
Owners: @lfades, @Timer

Tweaks and test for library chunks fixes (#8482)
  packages/next/build/webpack-config.ts
  test/integration/chunking/components/one.js
  test/integration/chunking/next.config.js
  test/integration/chunking/pages/page2.js
  test/integration/chunking/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update `./static/` folder documentation (#8477)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Refactor data-fetch example (#8490)
  examples/data-fetch/pages/index.js
  examples/data-fetch/pages/preact.js
Owners: @lfades, @Timer

Update prerender-manifest structure (#8497)
  packages/next/build/index.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.5-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove extension from err.sh link (#8500)
  packages/next-server/server/config.ts
  test/integration/config-promise-error/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add config for diffing fetched pages (#8492)
  test/.stats-app/stats-config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add version property to Next.js instance (#8499)
  packages/next/client/index.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.5-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.0.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Replace worker-farm with jest-worker (#8496)
  packages/next/build/index.ts
  packages/next/build/static-checker.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/worker.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix backslashes in stats causing tests to fail on windows (#8505)
  test/integration/chunking/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
