Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

Fix broken link (#7087)
  examples/with-react-toolbox/README.md
Owners: @kheruc, @lfades

Upgrade with-reasonml example to Reason React 0.7 and JSX 3 (#7078)
  examples/with-reasonml/.bsb.lock
  examples/with-reasonml/bindings/Next.re
  examples/with-reasonml/bsconfig.json
  examples/with-reasonml/components/Counter.re
  examples/with-reasonml/components/Header.re
  examples/with-reasonml/package.json
  examples/with-reasonml/pages/about.re
  examples/with-reasonml/pages/index.re
Owners: @kheruc, @lfades

Update the recommendation section in examples/with-reasonml (#7089)
  examples/with-reasonml/README.md
Owners: @kheruc, @lfades

Run optimizer after validating in dirty AMP mode (#7063)
  packages/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Detect built ins in externals (#7083)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Move react-ssr-prepass import inside of (#7095)
  packages/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Export 404 even if undefined in exportPathMap (#6912)
  packages/next/export/index.js
  test/integration/export/test/ssr.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove dynamic-import-node from the preset (#7096)
  packages/next/build/babel/preset.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update to share HMR and ondemand SSE connection (#7084)
  packages/next/client/dev-error-overlay/eventsource.js
  packages/next/client/on-demand-entries-client.js
  packages/next/client/on-demand-entries-utils.js
  packages/next/server/hot-reloader.js
  packages/next/server/on-demand-entry-handler.js
  test/integration/ondemand/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Upgrade Terser (#6981)
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.0
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update removing AMP pages to not require during build (#7081)
  packages/next/build/babel/plugins/next-drop-client-page.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/server/on-demand-entry-handler.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make styles compatible in AMP mode (#7060)
  packages/next/pages/_document.js
  test/integration/amphtml-fragment-style/pages/_document.js
  test/integration/amphtml-fragment-style/pages/index.js
  test/integration/amphtml-fragment-style/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Cache Babel and AutoDll plugin in `dirDir/cache` (#7102)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/dll-import.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.1
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make next export respect experimental.exportTrailingSlash (#6752)
  packages/next/export/index.js
  packages/next/export/worker.js
  test/integration/export-subfolders/next.config.js
  test/integration/export-subfolders/pages/about.js
  test/integration/export-subfolders/pages/index.js
  test/integration/export-subfolders/pages/posts/index.js
  test/integration/export-subfolders/pages/posts/single.js
  test/integration/export-subfolders/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add more TypeScript types (#7054)
  packages/next-server/lib/head.tsx
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/utils.js
  packages/next-server/lib/utils.ts
  packages/next-server/server/render.tsx
  packages/next/package.json
  packages/next/pages/_app.tsx
  packages/next/pages/_document.tsx
  packages/next/pages/_error.tsx
  packages/next/types/amp-react.d.ts
  packages/next/types/index.d.ts
  test/unit/loadGetInitialProps.test.js
  tslint.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Rewrote .circleci/config.yml to 2.1 schema (#7103)
  .circleci/config.yml
Owners: none

Wait for entry to resolve in production build (#7104)
  packages/next/build/webpack-config.ts
  packages/next/server/hot-reloader.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

fix: add repository to next-server package.json (#7105)
  packages/next-server/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update types for with-router (#7106)
  packages/next/client/with-router.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Replace the typescript compiler with @babel/preset-typescript (#7016)
  packages/next/package.json
  packages/next/taskfile-babel.js
  packages/next/taskfile-typescript.js
  packages/next/taskfile.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Revert "Detect built ins in externals (#7083)" (#7107)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.2
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

More Specific Info on Script Loading Error (#7108)
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add Typescript compilation (#7110)
  packages/next-server/server/config.js
  packages/next/build/babel/preset.ts
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/basic/pages/typescript/hello.tsx
  test/integration/basic/test/hmr.js
  test/integration/basic/test/index.test.js
  test/integration/basic/test/typescript.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.3
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add declaration files to /dist (#7118)
  packages/next/build/webpack/loaders/next-minify-loader.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/chunk-names-plugin.ts
  packages/next/build/webpack/plugins/nextjs-ssr-import.ts
  packages/next/build/webpack/plugins/nextjs-ssr-module-cache.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.d.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/minify.ts
  packages/next/client/dev-error-overlay/format-webpack-messages.d.ts
  packages/next/export/index.d.ts
  packages/next/package.json
  packages/next/server/lib/start-server.ts
  packages/next/server/lib/utils.ts
  packages/next/server/next.d.ts
  packages/next/server/next.js
  packages/next/tsconfig.json
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Updated broken test in Windows (#7124)
  test/integration/client-navigation/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add AMP label to AMP only pages in build tree (#7123)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Server file inclusive Flying Shuttle (#7128)
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.4
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Upgrade amp-optimizer to 0.5.3 (#7134)
  packages/next-server/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.5
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Always use AllModulesIdentifiedPlugin after HashedModuleIdsPlugin (#7138)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

TypeScript preset should always be enabled (#7137)
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.6
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove old debugging logs (#7139)
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

A webpack bug is preventing us from hashing chunks (#7142)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Don't re-use the same page file for error-recovery tests (#7144)
  test/integration/basic/pages/hmr/about1.js
  test/integration/basic/pages/hmr/about2.js
  test/integration/basic/pages/hmr/about3.js
  test/integration/basic/pages/hmr/about4.js
  test/integration/basic/pages/hmr/about5.js
  test/integration/basic/pages/hmr/about6.js
  test/integration/basic/pages/hmr/about7.js
  test/integration/basic/test/error-recovery.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
