Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc

Remove components from client router (#7281)
  packages/next/client/router.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Integrate type checking into compilation pipeline (#7278)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/fork-ts-checker-watcher-hook.ts
  packages/next/package.json
  packages/next/server/hot-reloader.js
  test/integration/basic/pages/typescript/hello.tsx
  test/integration/basic/test/hmr.js
  test/integration/basic/test/index.test.js
  test/integration/basic/tsconfig.json
  test/integration/typescript/components/hello.ts
  test/integration/typescript/components/world.tsx
  test/integration/typescript/next.config.js
  test/integration/typescript/pages/hello.tsx
  test/integration/typescript/test/hmr.js
  test/integration/typescript/test/index.test.js
  test/integration/typescript/test/typescript.js
  test/integration/typescript/tsconfig.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add initial docs for TypeScript (#7169)
  packages/next/README.md
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Merged with-jest and with-flow examples into a new with-jest-flow example. (#7224)
  examples/with-jest-flow/.babelrc
  examples/with-jest-flow/.eslintrc.json
  examples/with-jest-flow/.flowconfig
  examples/with-jest-flow/README.md
  examples/with-jest-flow/__tests__/__snapshots__/index.test.js.snap
  examples/with-jest-flow/__tests__/index.test.js
  examples/with-jest-flow/components/Page.js
  examples/with-jest-flow/flow-typed/next.js.flow
  examples/with-jest-flow/jest.config.js
  examples/with-jest-flow/jest.setup.js
  examples/with-jest-flow/package.json
  examples/with-jest-flow/pages/index.js
Owners: @kheruc, @lfades

v8.1.1-canary.25
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Removed unusable React importing in _document.tsx and added esModuleInterop:true in tsconfig.json (#7232)
  examples/with-typescript-styled-components/pages/_document.tsx
  examples/with-typescript-styled-components/pages/index.tsx
  examples/with-typescript-styled-components/tsconfig.json
Owners: @kheruc, @lfades

Add automatic TypeScript setup (#7125)
  package.json
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/lib/recursive-readdir.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/server/next-dev-server.js
  test/integration/page-extensions/pages/hmr/some-page.tsx
  test/integration/tsconfig-verifier/pages/index.tsx
  test/integration/tsconfig-verifier/test/index.test.js
  test/lib/next-test-utils.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update styling of TypeScript config
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Format chunk graph plugin
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Separate shared shuttle modules (#7287)
  packages/next/build/flying-shuttle.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Store multiple flying shuttles (#7289)
  packages/next/build/flying-shuttle.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update readme to use @next/mdx (#7291)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Decommission old flying shuttles (#7299)
  packages/next/build/flying-shuttle.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

re-add prefetch prop type with deprecated (#7292)
  packages/next/client/link.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.26
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

fix:5049 Make Count in with-reasonml persist in runtime (#7302)
  examples/with-reasonml/components/Counter.re
Owners: @kheruc, @lfades

Experimental API support (#7296)
  package.json
  packages/next-server/server/load-components.ts
  packages/next-server/server/next-server.ts
  packages/next/server/next-dev-server.js
  test/integration/api-support/pages/api/posts/index.js
  test/integration/api-support/pages/api/users.js
  test/integration/api-support/pages/index.js
  test/integration/api-support/pages/user.js
  test/integration/api-support/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.27
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make sure API routes are built in production (#7306)
  packages/next/build/entries.ts
  test/integration/production/pages/api/hello.js
  test/integration/production/pages/api/index.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.28
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Demonstrate how to use kea actions in getInitialProps for server side rendering with state transferred to client-side (#7298)
  examples/with-kea/pages/index.js
  examples/with-kea/store.js
Owners: @kheruc, @lfades

fix:7271 with-rematch - make sever rendered user list persist (#7308)
  examples/with-rematch/pages/_app.js
  examples/with-rematch/pages/github-users.js
  examples/with-rematch/pages/index.js
  examples/with-rematch/shared/components/counter-display.js
  examples/with-rematch/shared/models/github.js
  examples/with-rematch/shared/store.js
  examples/with-rematch/shared/utils.js
  examples/with-rematch/shared/utils/withRematch.js
  examples/with-rematch/shared/withRematch.js
Owners: @kheruc, @lfades

Fix POST and PUT on api routes (#7319)
  packages/next-server/server/router.ts
  test/integration/api-support/pages/api/posts/index.js
  test/integration/api-support/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update the with-graphql-react example. (#7317)
  examples/with-graphql-react/package.json
  examples/with-graphql-react/pages/_app.js
  examples/with-graphql-react/pages/index.js
Owners: @kheruc, @lfades

Redesigned page output (#7324)
  packages/next/build/index.ts
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix windows backslashes not being replaced when identifying AMP pages (#7331)
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update with-styletron example, add debug mode and useStyletron (#7290)
  examples/with-styletron/package.json
  examples/with-styletron/pages/_app.js
  examples/with-styletron/pages/_document.js
  examples/with-styletron/pages/index.js
  examples/with-styletron/styletron.js
Owners: @kheruc, @lfades

Update typescript example to reflects out of box usage (#7235)
  examples/with-typescript/.babelrc
  examples/with-typescript/components/ListDetail.tsx
  examples/with-typescript/next.config.js
  examples/with-typescript/package.json
  examples/with-typescript/pages/detail.tsx
  examples/with-typescript/pages/index.tsx
  examples/with-typescript/pages/list-class.tsx
  examples/with-typescript/pages/list-fc.tsx
  examples/with-typescript/tsconfig.json
Owners: @kheruc, @lfades

Fix error overlay dismiss after fixing build error (#7335)
  packages/next/client/dev-error-overlay/hot-dev-client.js
  test/integration/typescript/pages/type-error-recover.tsx
  test/integration/typescript/test/hmr.js
  test/integration/typescript/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove `allowSyntheticDefaultImports` in favor of `esModuleInterop` (#7338)
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.29
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Anchor TypeScript check to fix invalid detection (#7349)
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Updated typescript examples (#7337)
  examples/with-typescript/components/Layout.tsx
  examples/with-typescript/components/List.tsx
  examples/with-typescript/components/ListDetail.tsx
  examples/with-typescript/components/ListItem.tsx
  examples/with-typescript/interfaces/index.ts
  examples/with-typescript/package.json
  examples/with-typescript/pages/detail.tsx
  examples/with-typescript/pages/initial-props.tsx
  examples/with-typescript/pages/list-class.tsx
  examples/with-typescript/tsconfig.json
  examples/with-typescript/utils/sample-api.ts
Owners: @kheruc, @lfades

[with-loading] changed non-existent-page link to <a> tag (#7350)
  examples/with-loading/pages/_app.js
Owners: @kheruc, @lfades

Update 8.Question_about_next.md (#7357)
  .github/ISSUE_TEMPLATE/8.Question_about_next.md
Owners: none

Show helpful warning when @types/react isn't found (#7345)
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

ncc Webpack build (#7301)
  packages/next/build/compiler.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/build/webpack/loaders/next-data-loader.ts
  packages/next/build/webpack/loaders/next-minify-loader.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/build/webpack/plugins/chunk-names-plugin.ts
  packages/next/build/webpack/plugins/hashed-chunk-ids-plugin.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/build/webpack/plugins/nextjs-ssr-import.ts
  packages/next/build/webpack/plugins/nextjs-ssr-module-cache.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/build/webpack/plugins/shared-runtime-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/build/webpack/plugins/unlink-removed-pages-plugin.ts
  packages/next/package.json
  packages/next/server/hot-reloader.js
  packages/next/server/on-demand-entry-handler.js
  packages/next/taskfile.js
  packages/next/types/loader-utils.d.ts
  packages/next/types/misc.d.ts
  packages/next/types/webpack.d.ts
  test/integration/config/next.config.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.30
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

[custom-server-typescript] remove outdir line from tsconfig.server.json (#7362)
  examples/custom-server-typescript/tsconfig.server.json
Owners: @kheruc, @lfades

Add `with-sentry-simple` example. (#7360)
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/package.json
  examples/with-sentry-simple/pages/_app.js
  examples/with-sentry-simple/pages/_document.js
  examples/with-sentry-simple/pages/index.js
Owners: @kheruc, @lfades
