Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc

Helpers update (#7686)
  examples/with-webassembly/Cargo.toml
  packages/next-server/server/api-utils.ts
  packages/next-server/server/load-components.ts
  packages/next-server/server/next-server.ts
  packages/next/types/index.d.ts
  test/integration/api-support/pages/api/no-parsing.js
  test/integration/api-support/pages/api/parsing.js
  test/integration/api-support/test/index.test.js
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Remove modules option from dynamic (#7688)
  packages/next-server/lib/dynamic.tsx
  test/integration/basic/pages/dynamic/bundle.js
  test/integration/basic/test/dynamic.js
  test/integration/production/pages/dynamic/bundle.js
  test/integration/production/test/dynamic.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove coveralls (#7689)
  .travis.yml
  README-zh-CN.md
  examples/with-jest-typescript/jest.config.js
  jest.config.js
  package.json
  packages/next/README.md
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Revert "Remove modules option from dynamic (#7688)" (#7701)
  packages/next-server/lib/dynamic.tsx
  test/integration/basic/pages/dynamic/bundle.js
  test/integration/basic/test/dynamic.js
  test/integration/production/pages/dynamic/bundle.js
  test/integration/production/test/dynamic.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Unflag Automatic Prerendering (#7666)
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/render.tsx
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml/next.config.js
  test/integration/auto-export-fs/next.config.js
  test/integration/auto-export-serverless/next.config.js
  test/integration/client-navigation/next.config.js
  test/integration/document-middleware/pages/another.js
  test/integration/document-middleware/pages/index.js
  test/integration/dynamic-routing/next.config.js
  test/integration/export-default-map/next.config.js
  test/integration/export-default-map/test/index.test.js
  test/integration/export/next.config.js
  test/integration/export/test/index.test.js
  test/integration/flying-shuttle/pages/about/index.js
  test/integration/flying-shuttle/pages/about/index.js2
  test/integration/flying-shuttle/pages/index.js
  test/integration/flying-shuttle/pages/other.js
  test/integration/invalid-page-autoExport/next.config.js
  test/integration/production/next.config.js
  test/integration/serverless-now/next.config.js
  test/integration/serverless/next.config.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Expand automatic pre-rendering docs (#7702)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Improve prefetch docs (#7692)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.62
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove `withAmp` and do not expose `isInAmpMode` (#7690)
  packages/next-server/amp.d.ts
  packages/next-server/amp.js
  packages/next-server/lib/amp.ts
  packages/next/build/babel/plugins/next-page-config.ts
  test/integration/export-default-map/pages/index.js
  test/integration/export-default-map/pages/just-amp/index.js
  test/integration/serverless/pages/some-amp.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Updated with-now-env example (#7694)
  examples/with-now-env/.env.build
  examples/with-now-env/README.md
  examples/with-now-env/next.config.js
  examples/with-now-env/now-secrets.json
  examples/with-now-env/now.json
  examples/with-now-env/package.json
  examples/with-now-env/pages/index.js
Owners: @kheruc, @lfades

Add updated de-duping logic for next/dynamic (#7705)
  packages/next-server/lib/utils.ts
  packages/next-server/server/get-dynamic-import-bundles.ts
  packages/next-server/server/render.tsx
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.63
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add path to exportPathMap query missing message (#7708)
  packages/next/server/next-dev-server.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix styled-jsx not rendering when used in node_modules (#7697)
  packages/next-server/package.json
  packages/next/build/webpack-config.ts
  test/integration/styled-jsx-module/app/node_modules/my-comps/button.js
  test/integration/styled-jsx-module/app/node_modules/my-comps/package.json
  test/integration/styled-jsx-module/app/package.json
  test/integration/styled-jsx-module/app/pages/amp.js
  test/integration/styled-jsx-module/app/pages/index.js
  test/integration/styled-jsx-module/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add back in second line of comment (#7718)
  examples/with-sentry/utils/sentry.js
Owners: @kheruc, @lfades

Remove "small" wording from runtime config overhead (#7715)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Upgrade `watchpack` to remove `eslint-config-prettier` (#7716)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Serverless build for API routes (#7649)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove Next.js debug mode (#7719)
  packages/next-server/lib/router/router.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Do not default TypeScript to `strict: true` (#7717)
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add `prerender` PageConfig option (#7699)
  packages/next-server/lib/router/router.ts
  packages/next-server/server/load-components.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/render.tsx
  packages/next-server/types/index.d.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/index.ts
  packages/next/build/static-checker.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/worker.js
  packages/next/types/index.d.ts
  test/integration/prerender/next.config.js
  test/integration/prerender/pages/another.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/nested/hello.js
  test/integration/prerender/pages/nested/old-school.js
  test/integration/prerender/pages/old-school.js
  test/integration/prerender/test/index.test.js
  test/integration/production/pages/something.js
  test/integration/production/pages/to-something.js
  test/integration/production/test/index.test.js
  test/integration/serverless/pages/something.js
  test/integration/serverless/pages/to-something.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update with-zones example and Multi Zones documentation (#7513)
  examples/with-zones/README.md
  examples/with-zones/blog/next.config.js
  examples/with-zones/blog/now.json
  examples/with-zones/blog/package.json
  examples/with-zones/home/next.config.js
  examples/with-zones/home/now.json
  examples/with-zones/home/package.json
  examples/with-zones/now.json
  examples/with-zones/package.json
  examples/with-zones/rules-dev.json
  packages/next/README.md
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

v8.1.1-canary.64
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Dynamic routing documentation (#7602)
  examples/dynamic-routing/README.md
  examples/dynamic-routing/components/header.js
  examples/dynamic-routing/now.json
  examples/dynamic-routing/package.json
  examples/dynamic-routing/pages/about.js
  examples/dynamic-routing/pages/index.js
  examples/dynamic-routing/pages/post/[id]/[comment].js
  examples/dynamic-routing/pages/post/[id]/index.js
  packages/next/README.md
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Nit: Change Pre-render to Prerender (#7733)
  packages/next-server/lib/router/router.ts
  packages/next/README.md
  packages/next/build/utils.ts
  test/integration/prerender/pages/another.js
  test/integration/prerender/test/index.test.js
  test/integration/production/test/index.test.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add initial static indicator (#7682)
  packages/next-server/lib/router/router.ts
  packages/next/client/dev/dev-build-watcher.js
  packages/next/client/dev/prerender-indicator.js
  packages/next/client/next-dev.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add router event note (#7736)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

[Refactor] Move context providers to AppContainer (#7737)
  packages/next-server/server/render.tsx
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.65
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Bring down bundle size (#7743)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.66
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add next-server/types to package.json files (#7740)
  packages/next-server/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add example route event code (#7745)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make `exportTrailingSlash` stable (#7746)
  packages/next-server/server/config.ts
  packages/next/README.md
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/export/index.js
  test/integration/export-subfolders/next.config.js
  test/integration/export-subfolders/test/index.test.js
  test/integration/export/next.config.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Clarify params and query merging (#7744)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.67
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Expose next function type (#7726)
  packages/next/types/index.d.ts
  test/integration/custom-server-types/.gitignore
  test/integration/custom-server-types/next-env.d.ts
  test/integration/custom-server-types/pages/index.tsx
  test/integration/custom-server-types/server.ts
  test/integration/custom-server-types/test/index.test.js
  test/integration/custom-server-types/tsconfig.json
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Http methods update for static files and pages (#7721)
  packages/next-server/server/next-server.ts
  packages/next/pages/_error.tsx
  test/integration/api-support/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

fix(Link): Set focus back to the body element (#7693)
  packages/next/client/link.tsx
  test/integration/client-navigation/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Revert "fix(Link): Set focus back to the body element (#7693)" (#7753)
  packages/next/client/link.tsx
  test/integration/client-navigation/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades
