Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

Make sure error isn't swallowed for production test on CircleCi (#6848)
  .circleci/config.yml
  test/lib/next-webdriver.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

buildId is not an ad (#6851)
  packages/next/build/generate-build-id.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Avoid "ad" anywhere in the buildId (#6854)
  packages/next/build/generate-build-id.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.4
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix adblock comment (#6859)
  packages/next/build/generate-build-id.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

added async-to-promises transform (#6797)
  packages/next/package.json
  packages/next/taskfile.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

amp-bind data injection (#6840)
  package.json
  packages/next-server/lib/data-manager-context.ts
  packages/next-server/lib/data-manager.ts
  packages/next-server/lib/router-context.ts
  packages/next-server/server/config.js
  packages/next-server/server/next-server.ts
  packages/next-server/server/render.tsx
  packages/next/build/babel/plugins/next-data.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/loaders/next-data-loader.ts
  packages/next/client/index.js
  packages/next/data.js
  packages/next/lib/data.ts
  packages/next/package.json
  packages/next/pages/_document.js
  packages/next/types/index.d.ts
  test/integration/data/data/get-uptime.js
  test/integration/data/next.config.js
  test/integration/data/pages/about.js
  test/integration/data/pages/index.js
  test/integration/data/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add optimizing AMP pages (#6835)
  packages/next-server/package.json
  packages/next-server/server/config.js
  packages/next-server/server/get-page-files.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/optimize-amp.ts
  packages/next-server/server/render.tsx
  packages/next/build/webpack-config.ts
  packages/next/export/index.js
  packages/next/export/worker.js
  packages/next/pages/_document.js
  test/integration/amp-export-validation/pages/first.amp.js
  test/integration/amp-export-validation/pages/second.amp.js
  test/integration/amp-export-validation/pages/third.amp.js
  test/integration/amp-export-validation/pages/third.js
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml/test/index.test.js
  test/lib/amp-test-utils.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.0
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Emit manifest of all page files (#6853)
  packages/next-server/lib/constants.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  test/integration/dist-dir/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add error message for AMP bind syntax (#6865)
  errors/amp-bind-jsx-alt.md
  packages/next-server/server/render.tsx
  packages/next/build/output/store.ts
  packages/next/package.json
  packages/next/pages/_document.js
  test/integration/amphtml/pages/amp-script.amp.js
  test/integration/amphtml/test/index.test.js
Owners: @kheruc, @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.1
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Refine selective page building (#6866)
  packages/next-server/server/config.js
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add an experimental debug mode to builds (#6870)
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.2
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add useRouter hook (#6869)
  packages/next/client/router.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Added an HTTP2 server example (#6856)
  examples/with-http2/.gitignore
  examples/with-http2/README.md
  examples/with-http2/package.json
  examples/with-http2/pages/about.js
  examples/with-http2/pages/index.js
  examples/with-http2/server.js
Owners: @kheruc, @lfades

Fastify example dep update (#6714)
  examples/custom-server-fastify/package.json
  examples/with-mobx-state-tree-typescript/stores/store.ts
Owners: @kheruc, @lfades

Update Sentry to v5 and add @sentry/integrations (#6873)
  examples/with-sentry/README.md
  examples/with-sentry/package.json
  examples/with-sentry/utils/sentry.js
Owners: @kheruc, @lfades

Added example with react-multi-carousel for rendering items on the server-side (#6820)
  examples/with-react-multi-carousel/README.md
  examples/with-react-multi-carousel/components/image.js
  examples/with-react-multi-carousel/next.config.js
  examples/with-react-multi-carousel/now.json
  examples/with-react-multi-carousel/package.json
  examples/with-react-multi-carousel/pages/_app.js
  examples/with-react-multi-carousel/pages/index.js
  examples/with-react-multi-carousel/src/getPageContext.js
  examples/with-react-multi-carousel/style.css
  examples/with-redux/components/clock.js
  packages/next/README.md
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Temporarily pass arguments directly (#6876)
  packages/next/lib/data.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.3
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Allow only values that can be serialized to key (#6881)
  packages/next/lib/data.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.4
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add RouterContext in production mode (#6883)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.5
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix serverless options (#6884)
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.6
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update to latest version of amp-toolbox-optimizer (#6885)
  packages/next-server/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.7
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Set buildId to a fixed value during debug build (#6886)
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.8
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

update docs for env variables (#6889)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Upgrade amp-toolbox-optimizer (#6890)
  packages/next-server/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add check for data in serverless-loader (#6893)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.9
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add test for AMP in serverless mode (#6894)
  packages/next-server/server/next-server.ts
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/lib/data.ts
  test/integration/data/test/index.test.js
  test/integration/serverless/next.config.js
  test/integration/serverless/pages/some.amp.js
  test/integration/serverless/server.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Dont prefetch with debug mode (#6895)
  packages/next-server/lib/router/router.ts
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.10
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Revert weird firefox workaround (#6896)
  packages/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
