Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens
/errors/                  @Timer

Avoid sending user errors to client (#8005)
  packages/next-server/server/api-utils.ts
  packages/next-server/server/next-server.ts
  test/integration/api-support/pages/api/user-error.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Replace fs.exists with fs.access (#7742)
  packages/next/build/flying-shuttle.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/lib/file-exists.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/server/hot-reloader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix children key in with-typescript-styled-components example (#8003)
  examples/with-typescript-styled-components/pages/_document.tsx
Owners: @lfades

Handle windows backslashes when checking ssr-prepass (#8016)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Create Next App package (#8018)
  package.json
  packages/create-next-app/LICENSE
  packages/create-next-app/README.md
  packages/create-next-app/cli.js
  packages/create-next-app/index.js
  packages/create-next-app/lib/index.js
  packages/create-next-app/lib/messages.js
  packages/create-next-app/lib/templates/default/README.md
  packages/create-next-app/lib/templates/default/components/head.js
  packages/create-next-app/lib/templates/default/components/nav.js
  packages/create-next-app/lib/templates/default/gitignore
  packages/create-next-app/lib/templates/default/next.config.js
  packages/create-next-app/lib/templates/default/package.json
  packages/create-next-app/lib/templates/default/pages/index.js
  packages/create-next-app/lib/templates/default/static/favicon.ico
  packages/create-next-app/lib/utils/copy-dir.js
  packages/create-next-app/lib/utils/get-install-cmd.js
  packages/create-next-app/lib/utils/install.js
  packages/create-next-app/lib/utils/load-example.js
  packages/create-next-app/lib/utils/output.js
  packages/create-next-app/package.json
  test/integration/create-next-app/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.3-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Reference correct repository
  packages/create-next-app/README.md
  packages/create-next-app/lib/messages.js
  packages/create-next-app/lib/templates/default/README.md
  packages/create-next-app/lib/templates/default/components/nav.js
  packages/create-next-app/lib/templates/default/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove old media images
  packages/create-next-app/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update CNA links to examples
  examples/with-rbx-bulma-pro/pages/index.js
  packages/create-next-app/README.md
  packages/create-next-app/lib/templates/default/pages/index.js
Owners: @lfades, @timneutkens, @Timer, @ijjk

Fix CNA README typo
  packages/create-next-app/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.3-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix syntax error in ie11 from next-server/amp (#8032)
  packages/next-server/amp.js
  test/integration/production/pages/some-amp.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Rewrite Create Next App (#8030)
  packages/create-next-app/@types/promisepipe.d.ts
  packages/create-next-app/@types/update-check.d.ts
  packages/create-next-app/@types/validate-npm-package-name.d.ts
  packages/create-next-app/LICENSE
  packages/create-next-app/README.md
  packages/create-next-app/cli.js
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/helpers/install.ts
  packages/create-next-app/helpers/is-folder-empty.ts
  packages/create-next-app/helpers/is-online.ts
  packages/create-next-app/helpers/should-use-yarn.ts
  packages/create-next-app/helpers/validate-pkg.ts
  packages/create-next-app/index.js
  packages/create-next-app/index.ts
  packages/create-next-app/lib/index.js
  packages/create-next-app/lib/messages.js
  packages/create-next-app/lib/templates/default/components/head.js
  packages/create-next-app/lib/templates/default/gitignore
  packages/create-next-app/lib/templates/default/package.json
  packages/create-next-app/lib/utils/copy-dir.js
  packages/create-next-app/lib/utils/get-install-cmd.js
  packages/create-next-app/lib/utils/install.js
  packages/create-next-app/lib/utils/load-example.js
  packages/create-next-app/lib/utils/output.js
  packages/create-next-app/package.json
  packages/create-next-app/templates/default/README.md
  packages/create-next-app/templates/default/components/nav.js
  packages/create-next-app/templates/default/gitignore
  packages/create-next-app/templates/default/next.config.js
  packages/create-next-app/templates/default/pages/index.js
  packages/create-next-app/templates/default/static/favicon.ico
  packages/create-next-app/tsconfig.json
  test/integration/create-next-app/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.3-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Comment out GIP in Custom <App> (#8055)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove public/ file example (#8056)
  examples/public-file-serving/README.md
  examples/public-file-serving/next.config.js
  examples/public-file-serving/now.json
  examples/public-file-serving/package.json
  examples/public-file-serving/pages/index.js
  examples/public-file-serving/public/favicon.ico
  examples/public-file-serving/public/robots.txt
  examples/public-file-serving/public/sitemap.xml
Owners: @lfades

Remove `now.json` from examples (#8057)
  examples/dynamic-routing/now.json
  examples/with-graphql-hooks/.nowignore
  examples/with-graphql-hooks/now.json
  examples/with-react-multi-carousel/now.json
  examples/with-semantic-ui/now.json
Owners: @lfades

Fix userAgent type error in README.md (#8048)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Modern JS for SSR Bundles (#7961)
  packages/next/build/babel/preset.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Apply missing formatting (#8079)
  UPGRADING.md
  errors/next-dynamic-modules.md
  examples/blog-starter/pages/about.mdx
  examples/custom-server-hapi/next-wrapper.js
  examples/custom-server-typescript/nodemon.json
  examples/with-rbx-bulma-pro/README.md
  examples/with-typescript/utils/sample-api.ts
  packages/next/build/babel/preset.ts
  test/integration/api-support/big.json
  test/integration/dynamic-routing/pages/[post]/[comment].js
  test/integration/export/pages/blog/[post]/comment/[id].js
Owners: @Timer, @lfades, @timneutkens, @ijjk

Updated "firebase-admin" module and added "firebase-functions-t… (#8078)
  examples/with-firebase-hosting/package.json
Owners: @lfades

Enable Kodiak bot (#8096)
  .kodiak.toml
Owners: none

Experimental module/nomodule support (#7704)
  packages/next-server/server/config.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/client/page-loader.js
  packages/next/export/index.js
  packages/next/export/worker.js
  packages/next/pages/_document.tsx
  packages/next/types/webpack.d.ts
  test/integration/modern-mode/next.config.js
  test/integration/modern-mode/pages/index.js
  test/integration/modern-mode/test/index.test.js
  test/integration/ondemand/test/index.test.js
  test/integration/production/pages/amp-hybrid.js
  test/integration/production/pages/amp.js
  test/integration/size-limit/next.config.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable notify on conflict
  .kodiak.toml
Owners: none

Improve types (#8097)
  packages/next-server/lib/utils.ts
  packages/next/client/router.ts
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Allow automatic static optimization in with-sentry-simple examp… (#8102)
  examples/with-sentry-simple/pages/_app.js
Owners: @lfades

Require label to merge for now
  .kodiak.toml
Owners: none

Revert "Improve type definitions" (#8098)
  packages/next-server/lib/utils.ts
  packages/next/client/router.ts
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

HTTP methods docs and REST example (#8108)
  examples/api-routes-rest/README.md
  examples/api-routes-rest/package.json
  examples/api-routes-rest/pages/api/user/[id].js
  examples/api-routes-rest/pages/api/users.js
  examples/api-routes-rest/pages/index.js
  examples/api-routes-rest/pages/user/[id].js
  packages/next/README.md
Owners: @lfades, @timneutkens, @Timer, @ijjk

Configuration for body parsing size limit (#7896)
  packages/next-server/server/api-utils.ts
  packages/next-server/types/index.d.ts
  packages/next/README.md
  test/integration/api-support/pages/api/big-parse.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add next-head-count & remove next-head class (#8020)
  packages/next-server/lib/head.tsx
  packages/next-server/server/render.tsx
  packages/next/client/head-manager.js
  packages/next/pages/_document.tsx
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix extension for module/nomodule
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Dynamic routes clarification (#8110)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix index.js for API routes (#8112)
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/lib/constants.ts
  test/integration/api-support/pages/api/index.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.3-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix onError prop-type warning in Link (#8021)
  packages/next/client/link.tsx
  test/integration/typescript/components/link.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Auth example with api routes (#8118)
  examples/with-cookie-auth/README.md
  examples/with-cookie-auth/api/login.js
  examples/with-cookie-auth/api/package.json
  examples/with-cookie-auth/api/profile.js
  examples/with-cookie-auth/components/header.js
  examples/with-cookie-auth/components/layout.js
  examples/with-cookie-auth/next.config.js
  examples/with-cookie-auth/now.json
  examples/with-cookie-auth/package.json
  examples/with-cookie-auth/pages/api/login.js
  examples/with-cookie-auth/pages/api/profile.js
  examples/with-cookie-auth/pages/index.js
  examples/with-cookie-auth/pages/login.js
  examples/with-cookie-auth/pages/profile.js
  examples/with-cookie-auth/utils/auth.js
  examples/with-cookie-auth/utils/get-host.js
  examples/with-cookie-auth/www/next.config.js
  examples/with-cookie-auth/www/package.json
  examples/with-cookie-auth/www/pages/login.js
Owners: @lfades

Fixes problem with API and wrong regex (#8126)
  packages/next/server/on-demand-entry-handler.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update example with firebase auth (#8127)
  examples/with-firebase-authentication/README.md
  examples/with-firebase-authentication/server.js
  examples/with-firebase-authentication/sessions/.gitkeep
Owners: @lfades

Improve type definitions (#8117)
  packages/next-server/lib/utils.ts
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades
