Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Fix `public/` file name encoding (#10022)
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/dynamic-routing/public/hello copy.txt
  test/integration/dynamic-routing/public/hello%20copy.txt
  test/integration/dynamic-routing/public/hello+copy.txt
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add Links to Global CSS Error (#10031)
  errors/css-global.md
  errors/global-css.md
  packages/next/build/webpack/config/blocks/css/messages.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

docs(errors): CSS Imported by a Dependency (#10032)
  errors/css-npm.md
  packages/next/build/webpack/config/blocks/css/messages.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add warning when API resolves without the request being finished (#9999)
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/pages/api/no-parsing.js
  test/integration/api-support/pages/api/test-no-end.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add `with-chakra-ui` example (#10033)
  examples/with-chakra-ui/README.md
  examples/with-chakra-ui/package.json
  examples/with-chakra-ui/src/components/CTA.js
  examples/with-chakra-ui/src/components/Container.js
  examples/with-chakra-ui/src/components/DarkModeSwitch.js
  examples/with-chakra-ui/src/components/Footer.js
  examples/with-chakra-ui/src/components/Hero.js
  examples/with-chakra-ui/src/components/Main.js
  examples/with-chakra-ui/src/pages/_app.js
  examples/with-chakra-ui/src/pages/index.js
  examples/with-chakra-ui/src/theme.js
Owners: @lfades, @Timer

docs(errors): CSS Modules Imported by a Dependency (#10034)
  errors/css-modules-npm.md
  packages/next/build/webpack/config/blocks/css/messages.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add refresh header for 308 redirect for IE11 compatibility (#10042)
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable New CSS For Sass, Less, and Stylus (#10043)
  packages/next/build/webpack-config.ts
  test/integration/legacy-sass/next.config.js
  test/integration/legacy-sass/pages/index.js
  test/integration/legacy-sass/styles/style.scss
  test/integration/legacy-sass/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix missing quotes around `in` operator check for PerformanceObserver (#10018)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Docs] Add missing import in custom App code example (#10047)
  docs/advanced-features/custom-app.md
Owners: @Timer

change "wil" to "will" (#10050)
  docs/basic-features/data-fetching.md
Owners: @Timer

Correct spelling: withApollo (#10055)
  examples/with-typescript-graphql/lib/with-apollo.tsx
Owners: @lfades, @Timer

Fix typo in API Routes documentation. (#10054)
  docs/api-routes/introduction.md
Owners: @Timer

Change example link to be equal to query property (#10052)
  docs/api-reference/next/link.md
Owners: @Timer

Update server.js (#10056)
  examples/with-firebase-authentication/server.js
Owners: @lfades, @Timer

Ignore CSS Ordering Warnings (#10068)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/helpers.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add New CSS Documentation (#10072)
  docs/basic-features/built-in-css-support.md
Owners: @Timer

Update basic-export to use zero config support (#10079)
  examples/basic-export/README.md
  examples/basic-export/package.json
Owners: @lfades, @Timer

chore: Minor code refactor to eliminate redundant code (#10051)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add more details to the deployment doc (#10085)
  docs/deployment.md
Owners: @Timer

Fix modern + granularChunk hydration failing (#9727)
  packages/next/build/webpack/plugins/next-esm-plugin.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Added with-styled-components-rtl example (#10074)
  examples/with-styled-components-rtl/.babelrc
  examples/with-styled-components-rtl/README.md
  examples/with-styled-components-rtl/package.json
  examples/with-styled-components-rtl/pages/_app.js
  examples/with-styled-components-rtl/pages/_document.js
  examples/with-styled-components-rtl/pages/index.js
Owners: @lfades, @Timer

Add required `permanent: boolean` field to redirect (#10044)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/invalid-custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

removes performance measures and marks for concurrent and blocking modes (#10088)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Replace __NEXT_SPR with __N_SSG Identifier (#10090)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
  test/unit/next-babel-loader.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Error on CSS in Custom Document (#10091)
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  test/integration/css-fixtures/invalid-module-document/pages/_document.js
  test/integration/css-fixtures/invalid-module-document/pages/index.js
  test/integration/css-fixtures/invalid-module-document/styles.module.css
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix reading Component.__N_SSG (#10037)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add Test for PR #10037 (#10093)
  test/integration/render-error-on-module-error/pages/_error.js
  test/integration/render-error-on-module-error/pages/index.js
  test/integration/render-error-on-module-error/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Apply some renames for SSG related code (#10099)
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/index.ts
  packages/next/export/worker.js
  packages/next/lib/constants.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Legacy CSS with Granular Chunks (#10101)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.16
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

fixing observing paint types in safari bug (#10076)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update readme to link to the new docs (#10096)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.17
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
