Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

v9.4.2-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove dead events (#13156)
  packages/next/client/index.js
  packages/next/client/next-dev.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove unnecessary loadGetInitialProps (#13159)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove old ErrorComponent global
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Load .env files before running Telemetry (#13173)
  packages/next/export/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Migrate PR stats action into Next.js repo (#13177)
  .eslintignore
  .github/actions/next-stats-action/.gitignore
  .github/actions/next-stats-action/Dockerfile
  .github/actions/next-stats-action/README.md
  .github/actions/next-stats-action/entrypoint.sh
  .github/actions/next-stats-action/package.json
  .github/actions/next-stats-action/src/add-comment.js
  .github/actions/next-stats-action/src/constants.js
  .github/actions/next-stats-action/src/index.js
  .github/actions/next-stats-action/src/prepare/action-info.js
  .github/actions/next-stats-action/src/prepare/load-stats-config.js
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  .github/actions/next-stats-action/src/run/benchmark-url.js
  .github/actions/next-stats-action/src/run/collect-diffs.js
  .github/actions/next-stats-action/src/run/collect-stats.js
  .github/actions/next-stats-action/src/run/get-dir-size.js
  .github/actions/next-stats-action/src/run/index.js
  .github/actions/next-stats-action/src/util/exec.js
  .github/actions/next-stats-action/src/util/glob.js
  .github/actions/next-stats-action/src/util/logger.js
  .github/workflows/pull_request_stats.yml
  .github/workflows/release_stats.yml
  .gitignore
  .prettierignore
  package.json
  yarn.lock
Owners: @Timer

chore(next/build/babel): missing types (#13189)
  packages/next/build/babel/plugins/amp-attributes.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

bug fixes for Lint routing (#13111)
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-html-link-for-pages.js
  packages/eslint-plugin-next/lib/utils/url.js
  test/eslint-plugin-next/no-html-link-for-pages.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Docs] Replace hot reloading with fast refresh (#13207)
  docs/deployment.md
  docs/getting-started.md
Owners: @Timer

Better formatted Sass errors (#13211)
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseScss.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  test/acceptance/ReactRefreshLogBox.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Updated docs (#13205)
  docs/advanced-features/automatic-static-optimization.md
  docs/advanced-features/custom-app.md
  docs/api-reference/next/router.md
Owners: @Timer

Move csp examples (#13221)
  examples/with-strict-csp-hash/README.md
  examples/with-strict-csp-hash/package.json
  examples/with-strict-csp-hash/pages/_document.js
  examples/with-strict-csp-hash/pages/index.js
  examples/with-strict-csp/README.md
  examples/with-strict-csp/csp.js
  examples/with-strict-csp/package.json
  examples/with-strict-csp/pages/_document.js
  examples/with-strict-csp/server.js
Owners: @lfades, @Timer

With reason relay example (#12080)
  examples/with-reason-relay/.babelrc
  examples/with-reason-relay/.env
  examples/with-reason-relay/.gitignore
  examples/with-reason-relay/.graphqlconfig
  examples/with-reason-relay/README.md
  examples/with-reason-relay/bsconfig.json
  examples/with-reason-relay/next.config.js
  examples/with-reason-relay/package.json
  examples/with-reason-relay/pages/App.re
  examples/with-reason-relay/pages/_app.js
  examples/with-reason-relay/relay.config.js
  examples/with-reason-relay/schema/init-schema.graphql
  examples/with-reason-relay/schema/schema.graphql
  examples/with-reason-relay/src/BlogPostPreview.re
  examples/with-reason-relay/src/BlogPosts.re
  examples/with-reason-relay/src/Query.re
  examples/with-reason-relay/src/RelayEnv.re
Owners: @lfades, @Timer

Fix formatting of older PR that passed tests
  examples/with-reason-relay/next.config.js
  examples/with-reason-relay/pages/_app.js
  examples/with-reason-relay/schema/init-schema.graphql
  examples/with-reason-relay/schema/schema.graphql
Owners: @lfades, @Timer

make .env clickable in terminal (#12210)
  packages/next/lib/load-env-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

chore: Remove react redundant imports on examples (#13169)
  examples/analyze-bundles/pages/index.js
  examples/api-routes-apollo-server-and-client-auth/apollo/client.js
  examples/api-routes-apollo-server-and-client-auth/pages/signin.js
  examples/api-routes-apollo-server-and-client-auth/pages/signout.js
  examples/api-routes-apollo-server-and-client-auth/pages/signup.js
  examples/custom-server-actionhero/pages/index.js
  examples/custom-server/pages/a.js
  examples/custom-server/pages/b.js
  examples/custom-server/pages/index.js
Owners: @lfades, @Timer

Use correct `chalk` import (#13235)
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/granular-chunks-conformance.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

chore: remove-redundant-example-import (#13175)
  examples/custom-server-express/pages/index.js
  examples/custom-server-fastify/pages/index.js
  examples/custom-server-hapi/pages/a.js
  examples/custom-server-hapi/pages/b.js
  examples/custom-server-hapi/pages/index.js
  examples/custom-server-koa/pages/index.js
  examples/custom-server-polka/pages/a.js
  examples/custom-server-polka/pages/b.js
  examples/custom-server-polka/pages/index.js
  examples/custom-server-typescript/pages/a.tsx
  examples/custom-server-typescript/pages/b.tsx
  examples/custom-server-typescript/pages/index.tsx
  examples/ssr-caching/pages/blog/[id].js
  examples/svg-components/pages/index.js
  examples/using-preact/pages/index.js
  examples/with-ant-design/pages/_app.js
  examples/with-ant-design/pages/index.js
  examples/with-zeit-fetch/pages/index.js
Owners: @lfades, @Timer

Fix ssr-caching example (#12180)
  examples/ssr-caching/server.js
Owners: @lfades, @Timer

Ignore nullish user configs (#10250)
  packages/next/next-server/server/config.ts
  test/integration/invalid-config-values/test/index.test.js
  test/integration/nullish-config/pages/index.js
  test/integration/nullish-config/test/index.test.js
  test/integration/page-extensions/test/index.test.js
  test/isolated/config.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add urql to the examples list (#13006)
  examples/with-urql/README.md
  examples/with-urql/graphql/client.js
  examples/with-urql/graphql/getPokemon.js
  examples/with-urql/graphql/getPokemons.js
  examples/with-urql/package.json
  examples/with-urql/pages/index.js
  examples/with-urql/pages/pokemon/[name].js
Owners: @lfades, @Timer

Fix dotenv file loading order (#13161)
  docs/basic-features/environment-variables.md
  packages/next/lib/load-env-config.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update custom server docs (#13172)
  docs/advanced-features/custom-server.md
Owners: @Timer

Created Expo TypeScript example project (#13182)
  examples/with-expo-typescript/.gitignore
  examples/with-expo-typescript/App.tsx
  examples/with-expo-typescript/README.md
  examples/with-expo-typescript/babel.config.js
  examples/with-expo-typescript/next-env.d.ts
  examples/with-expo-typescript/next.config.js
  examples/with-expo-typescript/package.json
  examples/with-expo-typescript/pages/_document.tsx
  examples/with-expo-typescript/pages/index.tsx
  examples/with-expo-typescript/public/demo.png
  examples/with-expo-typescript/tsconfig.json
Owners: @lfades, @Timer

Use memoizedPagechecker (#13191)
  packages/next/next-server/server/router.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade react-with-styles to version 4 (#13193)
  examples/with-react-with-styles/package.json
  examples/with-react-with-styles/pages/_app.js
  examples/with-react-with-styles/pages/index.js
  examples/with-react-with-styles/withStyles.js
Owners: @lfades, @Timer

with-monaco-editor-example-fix (#13186)
  examples/with-monaco-editor/next.config.js
Owners: @lfades, @Timer

Add example: with-mux-video (#13120)
  examples/with-mux-video/.env.local.example
  examples/with-mux-video/.gitignore
  examples/with-mux-video/README.md
  examples/with-mux-video/components/button.js
  examples/with-mux-video/components/error-message.js
  examples/with-mux-video/components/layout.js
  examples/with-mux-video/components/spinner.js
  examples/with-mux-video/components/upload-form.js
  examples/with-mux-video/components/upload-page.js
  examples/with-mux-video/components/video-player.js
  examples/with-mux-video/constants.js
  examples/with-mux-video/package.json
  examples/with-mux-video/pages/api/asset/[id].js
  examples/with-mux-video/pages/api/upload.js
  examples/with-mux-video/pages/api/upload/[id].js
  examples/with-mux-video/pages/asset/[id].js
  examples/with-mux-video/pages/index.js
  examples/with-mux-video/pages/v/[id].js
  examples/with-mux-video/public/favicon.ico
  examples/with-mux-video/public/mux.svg
  examples/with-mux-video/vercel.json
Owners: @lfades, @Timer

With mux video readme updates (#13253)
  examples/with-mux-video/README.md
Owners: @lfades, @Timer

Rename import to solve conflicting usage of Error constructor (#13256)
  examples/with-sentry-simple/pages/_error.js
Owners: @lfades, @Timer

docs(debugging): explain how to debug in Chrome DevTools/VS Code (#10807)
  docs/debugging.md
Owners: @Timer

Add support for sass-loader prependData option (#12277)
  packages/next/build/webpack/config/blocks/css/index.ts
  test/integration/scss-fixtures/basic-module-prepend-data/next.config.js
  test/integration/scss-fixtures/basic-module-prepend-data/pages/index.js
  test/integration/scss-fixtures/basic-module-prepend-data/pages/index.module.scss
  test/integration/scss/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Uncomment private key (#13277)
  examples/with-firebase-authentication/.env.example
Owners: @lfades, @Timer

Consolidate non-SSG branch in `renderToHTMLWithComponents` Cont. (#13274)
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Defer Page Registration (#11054)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update debugging docs (#13270)
  docs/advanced-features/debugging.md
  docs/debugging.md
  docs/manifest.json
Owners: @Timer

Fix linting
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Upgrade `react-refresh` (#13285)
  packages/next/package.json
  packages/react-refresh-utils/package.json
  test/integration/getserversideprops/pages/refresh.js
  test/integration/getserversideprops/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Wait for flush before firing routing event (#13287)
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades
