Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Add full-icu package (#9286)
  examples/with-react-intl/package.json
Owners: @lfades, @Timer

Implement custom routes RFC (#9157)
  packages/next/build/index.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  packages/next/server/hot-reloader.ts
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/hello-again.js
  test/integration/custom-routes/pages/hello.js
  test/integration/custom-routes/pages/multi-rewrites.js
  test/integration/custom-routes/pages/nav.js
  test/integration/custom-routes/pages/with-params.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/error-in-error/pages/_error.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Convert wrapper class to function component (#9095)
  packages/next/client/router.ts
  packages/next/client/with-router.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.4-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update routes-manifest and add tests (#9361)
  packages/next/build/index.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.4-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix `window.fetch` Polyfill (#9364)
  packages/next/build/polyfills/fetch.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Test CJS Import of `isomorphic-unfetch` (#9363)
  test/integration/serverless/pages/fetch-cjs.js
  test/integration/serverless/pages/index.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.4-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add routes-manifest test (#9365)
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix canonical rel link generation (#9357)
  packages/next/next-server/server/utils.ts
  test/unit/next-server-utils.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Bind `fetch` to `self` instead of `window` (#9368)
  packages/next/build/polyfills/fetch.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.4-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update `dotenv` example (#9372)
  examples/with-dotenv/.env
  examples/with-dotenv/next.config.js
  examples/with-dotenv/package.json
  examples/with-dotenv/pages/index.js
Owners: @lfades, @Timer

Update webpack config to also take next-stylus into account (#9277)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix typo in API routes documentation. (#9373)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Check formatting on build (#9375)
  examples/with-react-md/next.config.js
  examples/with-react-md/pages/_app.js
  examples/with-react-md/pages/index.js
  examples/with-react-md/public/react-md.light_blue-yellow.min.css
  package.json
Owners: @lfades, @Timer

Polyfill `Object.assign` by Default (#9369)
  packages/next/build/polyfills/object-assign.js
  packages/next/build/polyfills/object.assign/auto.js
  packages/next/build/polyfills/object.assign/implementation.js
  packages/next/build/polyfills/object.assign/index.js
  packages/next/build/polyfills/object.assign/polyfill.js
  packages/next/build/polyfills/object.assign/shim.js
  packages/next/build/webpack-config.ts
  packages/next/client/polyfills.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add AMP First example (#9109)
  examples/amp-first/README.md
  examples/amp-first/components/Layout.js
  examples/amp-first/components/amp/AmpCustomElement.js
  examples/amp-first/components/amp/AmpScript.js
  examples/amp-first/components/amp/AmpState.js
  examples/amp-first/package.json
  examples/amp-first/pages/_document.js
  examples/amp-first/pages/index.js
  examples/amp-first/pages/offline.js
  examples/amp-first/public/install-serviceworker.html
  examples/amp-first/public/manifest.json
  examples/amp-first/public/serviceworker.js
  examples/amp-first/public/static/amp-script/hello.js
  examples/amp-first/public/static/favicon.ico
  examples/amp-first/public/static/images/icons-192.png
  examples/amp-first/public/static/images/icons-512.png
Owners: @lfades, @Timer

Initialize Git repo on app creation (#9376)
  packages/create-next-app/@types/rimraf.d.ts
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/git.ts
  packages/create-next-app/package.json
  test/integration/create-next-app/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add extra step to contributing steps (#9377)
  contributing.md
Owners: @Timer

Decrease the load priority of client _buildManifest (#9167)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Replace historyId with initial page tracking (#9380)
  packages/next/next-server/lib/router/router.ts
  test/integration/client-navigation/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Dynamic `next export` Page Hydration Mismatch (#9388)
  packages/next/next-server/lib/router/router.ts
  test/integration/export-dynamic-pages/next.config.js
  test/integration/export-dynamic-pages/pages/regression/[slug].js
  test/integration/export-dynamic-pages/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

amp-first example: fix broken inline script (#9389)
  examples/amp-first/pages/index.js
Owners: @lfades, @Timer

Remove unused property `skeleton` (#9393)
  packages/next/client/index.js
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add test for internal url handling in render (#9396)
  test/integration/custom-server/server.js
  test/integration/custom-server/static/hello.txt
  test/integration/custom-server/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Don't treat static as an internal route when the folder is not provided (#9394)
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Test static folder (#9395)
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.4-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

with-graphql-faunadb (#9387)
  examples/with-graphql-faunadb/README.md
  examples/with-graphql-faunadb/components/Footer.js
  examples/with-graphql-faunadb/components/GuestbookEntry.js
  examples/with-graphql-faunadb/components/GuestbookEntryDivider.js
  examples/with-graphql-faunadb/components/Header.js
  examples/with-graphql-faunadb/components/Hero.js
  examples/with-graphql-faunadb/fetch/browser.js
  examples/with-graphql-faunadb/fetch/package.json
  examples/with-graphql-faunadb/fetch/server.js
  examples/with-graphql-faunadb/graphql/api.js
  examples/with-graphql-faunadb/next.config.js
  examples/with-graphql-faunadb/package.json
  examples/with-graphql-faunadb/pages/index.js
  examples/with-graphql-faunadb/public/static/fauna-logo-blue.png
  examples/with-graphql-faunadb/public/static/fauna-logo-white.png
  examples/with-graphql-faunadb/public/static/favicon.png
  examples/with-graphql-faunadb/public/static/twitter_icon_black.png
  examples/with-graphql-faunadb/public/static/twitter_icon_blue.png
  examples/with-graphql-faunadb/schema.gql
  examples/with-graphql-faunadb/styles/footer.js
  examples/with-graphql-faunadb/styles/guestbookentry.js
  examples/with-graphql-faunadb/styles/header.js
  examples/with-graphql-faunadb/styles/hero.js
Owners: @lfades, @Timer

Updated readme (#9405)
  examples/with-graphql-faunadb/README.md
Owners: @lfades, @Timer

Fix up errors in tests (#9407)
  test/integration/app-document/test/rendering.js
  test/integration/app-tree/test/index.test.js
  test/integration/custom-page-extension/test/index.test.js
  test/isolated/require-page.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Test segment-level exacts are preferred (#9408)
  test/unit/__snapshots__/page-route-sorter.test.js.snap
  test/unit/page-route-sorter.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix(9312) - Fix redirect logic for with-cookie-auth (#9413)
  examples/with-cookie-auth/utils/auth.js
Owners: @lfades, @Timer

refactor(router): extract handle slug method (#9414)
  packages/next/next-server/lib/router/utils/sorted-routes.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Improve route param error message
  packages/next/next-server/lib/router/utils/sorted-routes.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade TypeScript version (#9417)
  package.json
  yarn.lock
Owners: @Timer

Integration test case for fetch alias (#9391)
  packages/next/build/polyfills/fetch/index.js
  packages/next/build/polyfills/fetch/whatwg-fetch.js
  packages/next/build/webpack-config.ts
  test/integration/polyfills/pages/fetch.js
  test/integration/polyfills/pages/index.js
  test/integration/polyfills/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Linting should be strict (#9418)
  examples/with-graphql-faunadb/components/Footer.js
  examples/with-graphql-faunadb/components/GuestbookEntry.js
  examples/with-graphql-faunadb/components/Header.js
  package.json
Owners: @lfades, @Timer
