Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Update start script in preact example (#11763)
  examples/using-preact/package.json
Owners: @lfades, @Timer

chore(example): Update styled-components to v5 (#11765)
  examples/with-styled-components/package.json
Owners: @lfades, @Timer

Update to latest version of AMP optimizer (#11753)
  packages/next/package.json
  test/integration/amphtml-fragment-style/test/index.test.js
  test/integration/amphtml/test/index.test.js
  test/integration/styled-jsx-module/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix just headers not being applied in dev mode (#11755)
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove duplicate content (#11750)
  examples/with-iron-session/README.md
Owners: @lfades, @Timer

Upgrade `ci-info` (#11758)
  packages/next/compiled/ci-info/index.js
  packages/next/package.json
  test/integration/build-warnings/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.5-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

fix typo (#11786)
  examples/with-draft-js/README.md
Owners: @lfades, @Timer

Update CNA tests on windows for further investigating (#11779)
  test/integration/create-next-app/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Node.js version to Bug template (#11781)
  .github/ISSUE_TEMPLATE/1.Bug_report.md
Owners: @Timer

Update auto export opt-out warning and err.sh (#11801)
  errors/opt-out-auto-static-optimization.md
  packages/next/build/index.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Replace brackets in CSS classes for dynamic routes (#11795)
  packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts
  test/integration/css-fixtures/dynamic-route-module/pages/[post]/index.js
  test/integration/css-fixtures/dynamic-route-module/pages/[post]/index.module.css
  test/integration/css-modules/test/index.test.js
  test/integration/scss-fixtures/dynamic-route-module/pages/[post]/index.js
  test/integration/scss-fixtures/dynamic-route-module/pages/[post]/index.module.scss
  test/integration/scss-modules/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

update dev script in examples/using-preact (#11805)
  examples/using-preact/package.json
Owners: @lfades, @Timer

Handle more invalid CSS class characters (#11809)
  packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts
  test/integration/css-fixtures/catch-all-module/pages/[...post]/index.js
  test/integration/css-fixtures/catch-all-module/pages/[...post]/index.module.css
  test/integration/css-modules/test/index.test.js
  test/integration/scss-fixtures/catch-all-module/pages/[...post]/index.js
  test/integration/scss-fixtures/catch-all-module/pages/[...post]/index.module.scss
  test/integration/scss-modules/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.5-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Externalize `next-server` from Server Builds (#11819)
  packages/next/build/webpack-config.ts
  test/integration/externalize-next-server/app/node_modules/comps/index.js
  test/integration/externalize-next-server/app/node_modules/comps/package.json
  test/integration/externalize-next-server/app/package.json
  test/integration/externalize-next-server/app/pages/index.js
  test/integration/externalize-next-server/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.5-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Make sure to pass through query values for custom routes (#11812)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update dependencies (#11833)
  examples/custom-server-express/package.json
  examples/custom-server/package.json
  examples/with-dynamic-import/package.json
Owners: @lfades, @Timer

minor change in hello-world/package.json (#11830)
  examples/hello-world/package.json
Owners: @lfades, @Timer

Rename `functional component` -> `function component` (#11850)
  docs/api-reference/data-fetching/getInitialProps.md
  examples/with-electron-typescript/renderer/pages/initial-props.tsx
  test/integration/link-ref/pages/function.js
  test/integration/link-ref/test/index.test.js
Owners: @Timer, @lfades, @timneutkens, @ijjk

Add displayName property to React Context objects (#11829)
  packages/next/next-server/lib/amp-context.ts
  packages/next/next-server/lib/document-context.ts
  packages/next/next-server/lib/head-manager-context.ts
  packages/next/next-server/lib/loadable-context.ts
  packages/next/next-server/lib/request-context.ts
  packages/next/next-server/lib/router-context.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add gip identifiers to NEXT_DATA (#11835)
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  test/integration/gip-identifier/pages/index.js
  test/integration/gip-identifier/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[examples/custom-server-fastify] Fix ts(2341) (#11844)
  examples/custom-server-fastify/server.js
Owners: @lfades, @Timer

v9.3.5-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update @types in create-next-app (#11815)
  packages/create-next-app/@types/promisepipe.d.ts
  packages/create-next-app/@types/rimraf.d.ts
  packages/create-next-app/@types/validate-npm-package-name.d.ts
  packages/create-next-app/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

[examples/with-react-intl] Fix issues with Intl.js polyfill (#11806)
  examples/with-react-intl/package.json
  examples/with-react-intl/server.js
Owners: @lfades, @Timer

Update sentry example (#11701)
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/package.json
  examples/with-sentry-simple/pages/_app.js
Owners: @lfades, @Timer

Adds first input delay performance metric (#8884)
  packages/next/build/webpack-config.ts
  packages/next/client/index.js
  packages/next/next-server/lib/fid-measure.js
  packages/next/next-server/lib/fid.ts
  packages/next/next-server/server/config.ts
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove update-check.d.ts (#11858)
  packages/create-next-app/@types/update-check.d.ts
  packages/create-next-app/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Lockfile
  yarn.lock
Owners: @Timer

Update Serverless Note in Docs (#11861)
  docs/api-reference/next.config.js/build-target.md
Owners: @Timer

chore(example): Update styled-components to v5 in with-typescript-styled-components (#11766)
  examples/with-typescript-styled-components/package.json
Owners: @lfades, @Timer

feat(example): add CRUD example with next-connect and passport (#11359)
  examples/with-passport-and-next-connect/README.md
  examples/with-passport-and-next-connect/components/Navbar.js
  examples/with-passport-and-next-connect/lib/db.js
  examples/with-passport-and-next-connect/lib/hooks.jsx
  examples/with-passport-and-next-connect/lib/passport.js
  examples/with-passport-and-next-connect/lib/session.js
  examples/with-passport-and-next-connect/middleware/auth.js
  examples/with-passport-and-next-connect/package.json
  examples/with-passport-and-next-connect/pages/_app.js
  examples/with-passport-and-next-connect/pages/api/login.js
  examples/with-passport-and-next-connect/pages/api/logout.js
  examples/with-passport-and-next-connect/pages/api/user.js
  examples/with-passport-and-next-connect/pages/api/users.js
  examples/with-passport-and-next-connect/pages/index.js
  examples/with-passport-and-next-connect/pages/login.js
  examples/with-passport-and-next-connect/pages/profile.js
  examples/with-passport-and-next-connect/pages/signup.js
  examples/with-passport-and-next-connect/styles.css
Owners: @lfades, @Timer

Replaced express with next-connect (#11747)
  examples/with-passport/package.json
  examples/with-passport/pages/api/login.js
Owners: @lfades, @Timer

Update shallow routing docs (#11616)
  docs/routing/shallow-routing.md
Owners: @Timer

Add stats config for load tests (#11868)
  test/.stats-app/stats-config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add basePath in link component and add/remove it consistently (#9988)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/link.tsx
  packages/next/client/router.ts
  packages/next/export/index.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/basepath/pages/hello.js
  test/integration/basepath/test/index.test.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Revert "minor change in hello-world/package.json" (#11874)
  examples/hello-world/package.json
Owners: @lfades, @Timer

v9.3.5-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
