Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

v9.0.7-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix Experimental CSS Ordering (#8790)
  packages/next/build/webpack-config.ts
  packages/next/pages/_document.tsx
  test/integration/css/fixtures/with-styled-jsx/pages/_app.js
  test/integration/css/fixtures/with-styled-jsx/pages/index.js
  test/integration/css/fixtures/with-styled-jsx/styles/global.css
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update broken links (#8793)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Insert <style> tags after anchor element (#8795)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Experimental CSS Before Anchor (#8803)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update page sizes displayed on build (#8777)
  packages/next/build/index.ts
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enable Experimental CSS Source Maps (#8805)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Working with Ghost and Next.js to Recipes (#8800)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix using withRouter in _app opting out of auto-export (#8811)
  packages/next/client/with-router.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove useMemo from apollo examples (#8815)
  examples/api-routes-apollo-server-and-client/apollo/client.js
  examples/with-apollo-auth/lib/apollo.js
  examples/with-apollo/lib/apollo.js
Owners: @lfades, @Timer

Ghost URL Typo (#8828)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add experimental SPR support (#8832)
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/index.ts
  packages/next/build/static-checker.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/index.js
  packages/next/export/worker.js
  packages/next/lib/coalesced-function.ts
  packages/next/lib/constants.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/spr-cache.ts
  packages/next/package.json
  packages/next/server/next-dev-server.js
  packages/next/types/index.d.ts
  test/integration/prerender/next.config.js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Allow only JS files when loading dynamic chunks (#8831)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

TS / PnP compatibility (#8744)
  packages/next/build/webpack-config.ts
  packages/next/lib/verifyTypeScriptSetup.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add `src` directory support (#8735)
  errors/conflicting-public-file-page.md
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/pages/_error.js
  examples/with-sentry-simple/pages/client/test5.js
  examples/with-sentry-simple/pages/index.js
  packages/next/README.md
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/cli/next-build.ts
  packages/next/cli/next-dev.ts
  packages/next/cli/next-export.ts
  packages/next/lib/constants.ts
  packages/next/lib/find-pages-dir.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/hot-reloader.js
  packages/next/server/next-dev-server.js
  packages/next/server/on-demand-entry-handler.js
  test/integration/src-dir-support-double-dir/next.config.js
  test/integration/src-dir-support-double-dir/pages/index.js
  test/integration/src-dir-support-double-dir/src/pages/hello.js
  test/integration/src-dir-support-double-dir/src/pages/index.js
  test/integration/src-dir-support-double-dir/test/index.test.js
  test/integration/src-dir-support/next.config.js
  test/integration/src-dir-support/src/pages/[name]/[comment].js
  test/integration/src-dir-support/src/pages/[name]/comments.js
  test/integration/src-dir-support/src/pages/[name]/index.js
  test/integration/src-dir-support/src/pages/another.js
  test/integration/src-dir-support/src/pages/blog/[name]/comment/[id].js
  test/integration/src-dir-support/src/pages/index.js
  test/integration/src-dir-support/src/pages/on-mount/[post].js
  test/integration/src-dir-support/test/index.test.js
Owners: @Timer, @lfades, @timneutkens, @ijjk

Remove extra build logs (#8839)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

SPR follow ups (#8846)
  packages/next/build/index.ts
  packages/next/export/index.js
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add support for ZEIT Now CI detection (#8864)
  packages/next/telemetry/anonymous-meta.ts
  packages/next/telemetry/ci-info.ts
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix typo and wording in README.md (#8867)
  examples/with-dotenv/README.md
Owners: @lfades, @Timer

Remove `stale-if-error` header from SPR (#8866)
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Better test case for serverless export (#8865)
  test/integration/auto-export-serverless-error/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Favicon should have low importance (#8878)
  packages/create-next-app/templates/default/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enforce natural numbers for SPR (#8882)
  packages/next/next-server/server/render.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Configure the Default Revalidate (#8880)
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/default-revalidate.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add SPR Dynamic Routes to Manifest (#8885)
  packages/next/build/index.ts
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove React Suspense from Client Runtime (#8887)
  packages/next/client/index.js
  test/integration/data/pages/_app.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Don't remove path in page-config plugin (#8889)
  packages/next/build/babel/plugins/next-page-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add test case to prevent regression for page config (#8890)
  test/integration/page-config/lib/data.js
  test/integration/page-config/pages/blog/index.js
  test/integration/page-config/pages/blog/post.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

update package (#8906)
  examples/with-typescript/package.json
Owners: @lfades, @Timer

Don't run findPagesDir in production mode (#8896)
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
