Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Add Test Case for SSG Full Re-Export (#10864)
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Preview mode documentation (#10863)
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  docs/manifest.json
Owners: @Timer

Add TypeScript docs for SSG (#10865)
  docs/api-reference/data-fetching/getInitialProps.md
  docs/basic-features/data-fetching.md
  docs/basic-features/typescript.md
Owners: @Timer

v9.2.3-canary.26
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add identifier to NEXT_DATA when custom server is used (#10869)
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/server/lib/start-server.ts
  test/integration/custom-server/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Test child_process with API route (#10872)
  test/integration/api-support/pages/api/child-process.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Typo on preview mode documentation (#10892)
  docs/advanced-features/preview-mode.md
Owners: @Timer

Fix getStaticPaths example code (#10893)
  docs/basic-features/data-fetching.md
Owners: @Timer

v9.2.3-canary.27
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix linting of markdown documentation
  docs/basic-features/data-fetching.md
Owners: @Timer

v9.2.3-canary.28
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Upgrade webpack (#10895)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Azure Pipelines (#10896)
  test/integration/api-support/pages/api/child-process.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add demo URL for the DatoCMS example (#10901)
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  examples/cms-datocms/README.md
Owners: @Timer, @lfades

Verify GS(S)P Serializability (#10857)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/worker.js
  packages/next/lib/is-serializable-props.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/getserversideprops-preview/pages/index.js
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/getserversideprops/pages/index.js
  test/integration/getserversideprops/pages/non-json.js
  test/integration/getserversideprops/test/index.test.js
  test/integration/prerender-preview/pages/index.js
  test/integration/prerender-preview/test/index.test.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/non-json/[p].js
  test/integration/prerender/test/index.test.js
  test/unit/is-serializable-props.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.3-canary.29
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Correctly Count Object References (#10903)
  packages/next/lib/is-serializable-props.ts
  test/unit/is-serializable-props.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.1-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add warning when built-in CSS/SCSS support is disabled (#10942)
  errors/built-in-css-disabled.md
  packages/next/build/webpack-config.ts
  test/integration/css-customization/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add missing words in docs (#10941)
  docs/basic-features/data-fetching.md
Owners: @Timer

Update handling for patterns in custom routes (#10523)
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/invalid-custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove extra closing parenthesis (#10948)
  docs/basic-features/data-fetching.md
Owners: @Timer

fix paths.params.type in getStaticPaths(document) (#10959)
  docs/basic-features/data-fetching.md
Owners: @Timer

Check SSG Page via Route Lookup (#10971)
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender-no-revalidate/pages/index.js
  test/integration/prerender-no-revalidate/pages/named.js
  test/integration/prerender-no-revalidate/pages/nested/index.js
  test/integration/prerender-no-revalidate/pages/nested/named.js
  test/integration/prerender-no-revalidate/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.1-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Make sure to not show pages/404 GIP error from _app having GIP (#10974)
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  test/integration/404-page/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix examples with relay-compiler (#10976)
  examples/with-react-relay-network-modern/.babelrc
  examples/with-react-relay-network-modern/components/BlogPosts.js
  examples/with-react-relay-network-modern/package.json
  examples/with-react-relay-network-modern/pages/_app.js
  examples/with-relay-modern-server-express/.babelrc
  examples/with-relay-modern-server-express/package.json
  examples/with-relay-modern/package.json
Owners: @lfades, @Timer

Use core-js promise polyfill for nomodule browsers (#10985)
  .eslintignore
  .prettierignore
  .prettierignore_staged
  packages/next-polyfill-nomodule/package.json
  packages/next-polyfill-nomodule/src/index.js
  test/integration/production/pages/bad-promise.js
  test/integration/production/pages/regexp-polyfill.js
  test/integration/production/public/regexp-test.js
  test/integration/production/test/index.test.js
  test/integration/size-limit/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Improve Sass Error (#10982)
  errors/install-sass.md
  packages/next/client/dev/error-overlay/format-webpack-messages.js
  test/integration/scss-fixtures/webpack-error/mock.js
  test/integration/scss-fixtures/webpack-error/pages/_app.js
  test/integration/scss-fixtures/webpack-error/pages/index.js
  test/integration/scss-fixtures/webpack-error/styles/global.scss
  test/integration/scss/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add support for getStaticProps in pages/404 (#10984)
  packages/next/build/index.ts
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  test/integration/404-page-ssg/next.config.js
  test/integration/404-page-ssg/pages/404.js
  test/integration/404-page-ssg/pages/_app.js
  test/integration/404-page-ssg/pages/err.js
  test/integration/404-page-ssg/pages/index.js
  test/integration/404-page-ssg/test/index.test.js
  test/integration/404-page/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.1-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

cms-datocms SerializableError fixes (#10986)
  examples/cms-datocms/pages/index.js
  examples/cms-datocms/pages/posts/[slug].js
Owners: @lfades, @Timer

Fix Lint
  examples/cms-datocms/pages/index.js
Owners: @lfades, @Timer

Generic form of GetStaticProps and GetServerSideProps (#10856)
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Array.flat polyfill to nomodule-polyfills (#11004)
  packages/next-polyfill-nomodule/src/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add "noreferrer" to the prerender indicator doc link (#11005)
  packages/next/client/dev/prerender-indicator.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.1-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update RegExp test and remove extra script (#11006)
  .eslintignore
  .prettierignore
  .prettierignore_staged
  test/integration/production/pages/regexp-polyfill.js
  test/integration/production/public/regexp-test.js
  test/integration/production/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update data-fetch example to SSG (#11017)
  examples/data-fetch/README.md
  examples/data-fetch/package.json
  examples/data-fetch/pages/index.js
  examples/data-fetch/pages/preact.js
Owners: @lfades, @Timer
