Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Improve user errors for invalid `pageExtensions` (#10178)
  packages/next/next-server/server/config.ts
  test/integration/page-extensions/.babelrc
  test/integration/page-extensions/next.config.js
  test/integration/page-extensions/pages/hmr/some-page.tsx
  test/integration/page-extensions/pages/index.js
  test/integration/page-extensions/test/.babelrc
  test/integration/page-extensions/test/hmr.js
  test/integration/page-extensions/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.1-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Allow mismatching `href` and `as` when manually provided (#9837)
  packages/next/next-server/lib/router/router.ts
  test/integration/invalid-href/pages/[post].js
  test/integration/invalid-href/pages/dynamic-route-mismatch-manual.js
  test/integration/invalid-href/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.1-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test CSS/Media Caching in Production Suite (#10184)
  packages/next/next-server/server/next-server.ts
  test/integration/production/components/logo/dark.svg
  test/integration/production/components/logo/index.js
  test/integration/production/components/logo/logo.module.css
  test/integration/production/pages/css-modules.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Stabilize New Dev Test (#10188)
  test/integration/invalid-href/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Don't include core-js for default _document (#10187)
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Test Query String with + Sign (#10186)
  test/integration/query-with-encoding/pages/plus.js
  test/integration/query-with-encoding/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable core-js for server-side build (#10189)
  packages/next/build/babel/preset.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add hydration callback for testing (#10195)
  packages/next/client/index.js
  test/integration/auto-export/test/index.test.js
  test/integration/chunking/test/index.test.js
  test/integration/config/test/client.js
  test/integration/conflicting-public-file-page/test/index.test.js
  test/integration/css-client-nav/test/index.test.js
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/index.test.js
  test/integration/duplicate-pages/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/empty-object-getInitialProps/test/index.test.js
  test/integration/export-dynamic-pages-serverless/test/index.test.js
  test/integration/export-dynamic-pages/test/index.test.js
  test/integration/export-serverless/test/browser.js
  test/integration/export/test/browser.js
  test/integration/future/test/index.test.js
  test/integration/hydration/test/index.test.js
  test/integration/initial-ref/test/index.test.js
  test/integration/invalid-href/test/index.test.js
  test/integration/link-ref/test/index.test.js
  test/integration/next-dynamic/test/index.test.js
  test/integration/next-plugins/test/index.test.js
  test/integration/polyfills/test/index.test.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/integration/production/test/index.test.js
  test/integration/production/test/security.js
  test/integration/size-limit/test/index.test.js
  test/lib/next-test-utils.js
  test/lib/next-webdriver.d.ts
  test/lib/next-webdriver.js
  test/lib/wd-chain.js
  test/tsconfig.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update tsconfig for tests
  test/tsconfig.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.1-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update error for failing to parse custom-route source (#10197)
  packages/next/lib/check-custom-routes.ts
  test/integration/invalid-custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable core-js on Next.js core files as it's not transforming… (#10193)
  packages/next/client/index.js
  packages/next/taskfile-babel.js
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix ESLint Ignores and Extract Fn (#10205)
  .eslintrc.json
  package.json
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/overrideCssConfiguration.ts
  packages/next/build/webpack/loaders/error-loader.ts
  test/integration/typescript/components/router.tsx
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Dedupe CSS Regexes (#10206)
  packages/next/build/webpack/config/blocks/css/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Use builtins for React transform (#10207)
  packages/next/client/router.ts
  packages/next/taskfile-babel.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Extract CSS Loaders into Separate Files (#10210)
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/index.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.1-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Updated docs (#10213)
  docs/api-reference/next.config.js/runtime-configuration.md
  docs/api-reference/next/link.md
  docs/api-routes/introduction.md
Owners: @Timer

Let users define their own database as easily as possible. (#10209)
  examples/with-graphql-faunadb/README.md
  examples/with-graphql-faunadb/next.config.js
  examples/with-graphql-faunadb/package.json
  examples/with-graphql-faunadb/scripts/setup.js
Owners: @lfades, @Timer

v9.2.1-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Enable security tests cross browser (#10217)
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove unnecessary exportPathMap from examples (#10218)
  examples/gh-pages/next.config.js
  examples/with-dynamic-import/next.config.js
Owners: @lfades, @Timer

Disable invalid security tests for safari (#10221)
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update README.md for example project "form-handler" (#10224)
  examples/form-handler/README.md
Owners: @lfades, @Timer

Fix rewriting to API routes not including query (#10223)
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/api/hello.js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Improve Link documentation (#10225)
  docs/api-reference/next/link.md
Owners: @Timer

Add Bitbucket Pipelines to errors/no-cache.md (#10229)
  errors/no-cache.md
Owners: @Timer

Fix Linting
  errors/no-cache.md
Owners: @Timer

Revert "feat(build): Transpile assuming higher version of runt… (#10233)
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.1-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Customizing PostCSS Configuration (#10236)
  docs/advanced-features/customizing-postcss-config.md
Owners: @Timer

Check for invalid objects in rewrites/redirects/headers (#10238)
  packages/next/lib/check-custom-routes.ts
  test/integration/invalid-custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Check CSS Test Output (#10237)
  test/integration/css-customization/test/index.test.js
  test/integration/css-features/test/index.test.js
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/index.test.js
  test/integration/scss-modules/test/index.test.js
  test/integration/scss/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update tests running and add splitting by timings for Azure (#10214)
  azure-pipelines.yml
  run-tests.js
  test/integration/create-next-app/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add example with-xstate (#10234)
  examples/with-xstate/README.md
  examples/with-xstate/components/Counter.js
  examples/with-xstate/components/Toggle.js
  examples/with-xstate/components/index.js
  examples/with-xstate/machines/counterMachine.js
  examples/with-xstate/machines/toggleMachine.js
  examples/with-xstate/package.json
  examples/with-xstate/pages/index.js
Owners: @lfades, @Timer

Add PostCSS Configuration to Sidebar
  docs/manifest.json
Owners: @Timer

Fix a typo in docs (#10239)
  docs/advanced-features/custom-server.md
Owners: @Timer

Add Apollo Server and Client Auth Example (#9913)
  examples/api-routes-apollo-server-and-client-auth/README.md
  examples/api-routes-apollo-server-and-client-auth/apollo/client.js
  examples/api-routes-apollo-server-and-client-auth/apollo/resolvers.js
  examples/api-routes-apollo-server-and-client-auth/apollo/schema.js
  examples/api-routes-apollo-server-and-client-auth/apollo/type-defs.js
  examples/api-routes-apollo-server-and-client-auth/components/field.js
  examples/api-routes-apollo-server-and-client-auth/lib/form.js
  examples/api-routes-apollo-server-and-client-auth/next.config.js
  examples/api-routes-apollo-server-and-client-auth/package.json
  examples/api-routes-apollo-server-and-client-auth/pages/about.js
  examples/api-routes-apollo-server-and-client-auth/pages/api/graphql.js
  examples/api-routes-apollo-server-and-client-auth/pages/index.js
  examples/api-routes-apollo-server-and-client-auth/pages/signin.js
  examples/api-routes-apollo-server-and-client-auth/pages/signout.js
  examples/api-routes-apollo-server-and-client-auth/pages/signup.js
Owners: @lfades, @Timer

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
