Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens
/errors/                  @Timer

Remove accidental support for invalid JavaScript (#8077)
  packages/next/build/babel/preset.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix: Warn when user specifies prefetch option as `true` (#8233)
  errors/prefetch-true-deprecated.md
  packages/next/client/link.tsx
  test/integration/basic/pages/development-logs/index.js
  test/integration/basic/pages/development-logs/link-with-no-prefetch.js
  test/integration/basic/pages/development-logs/link-with-prefetch-false.js
  test/integration/basic/test/development-logs.js
  test/integration/production/pages/development-logs/index.js
  test/integration/production/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix TypeScript setup with empty file (#8332)
  packages/next/lib/verifyTypeScriptSetup.ts
  test/integration/tsconfig-verifier/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to use dynamic port for stats-app (#8336)
  .github/main.workflow
  test/.stats-app/stats-config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Detect @types/ package for compiled packages (#8340)
  packages/next/taskfile-ncc.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

🐛 Support multiple Next.js versions in one file (#8339)
  packages/next-server/taskfile-typescript.js
  packages/next/taskfile-babel.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add test for AMP errors during auto prerendering (#8335)
  test/integration/amp-export-validation/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Minify ncc'd packages for download speed (#8341)
  packages/next/taskfile-ncc.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Use 'initial' setting for SplitChunksPlugin (#8293)
  packages/next/build/webpack-config.ts
  test/integration/chunking/next.config.js
  test/integration/chunking/pages/index.js
  test/integration/chunking/pages/page1.js
  test/integration/chunking/pages/page2.js
  test/integration/chunking/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add warning for disabled minification during build (#8337)
  errors/minification-disabled.md
  packages/next/build/index.ts
  test/integration/build-warnings/next.config.js
  test/integration/build-warnings/pages/index.js
  test/integration/build-warnings/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Also provide AppTree in NextPageContext (#8223)
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/utils.ts
  packages/next-server/server/render.tsx
  packages/next/client/index.js
  test/integration/app-tree/pages/_app.js
  test/integration/app-tree/pages/hello.js
  test/integration/app-tree/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fixes nav start argument in user timing check (#8348)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add missing dependency "compression" to next-server (#8344)
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add note explaining empty query during prerendering (#8351)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove experimental async-to-promises code (#8353)
  packages/next-server/server/config.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix AppTree type not allowing extra props (#8352)
  packages/next-server/lib/utils.ts
  test/integration/app-tree/pages/_app.tsx
  test/integration/app-tree/tsconfig.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add a note for multiple dynamic route segments (#8359)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix chunking tests failing from timeout being too low (#8360)
  test/integration/chunking/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Define `typeof window` for application code only (#8355)
  package.json
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add tests for typeof window replacing (#8361)
  test/integration/typeof-window-replace/app/node_modules/comps/index.js
  test/integration/typeof-window-replace/app/node_modules/comps/package.json
  test/integration/typeof-window-replace/app/package.json
  test/integration/typeof-window-replace/app/pages/index.js
  test/integration/typeof-window-replace/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

updated links from #useRouter to #userouter (#8362)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.4-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Create a unique instance of transform-define (#8371)
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/integration/babel/.babelrc
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.4-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix(examples): correct the path in with-electron (#8370)
  examples/with-electron/main/index.js
Owners: @lfades

Update with-apollo example with hooks (#8363)
  examples/with-apollo/README.md
  examples/with-apollo/components/App.js
  examples/with-apollo/components/PostList.js
  examples/with-apollo/components/PostUpvoter.js
  examples/with-apollo/components/Submit.js
  examples/with-apollo/lib/with-apollo-client.js
  examples/with-apollo/package.json
  examples/with-apollo/pages/_app.js
  examples/with-apollo/pages/about.js
Owners: @lfades

Change componentWillMount to UNSAFE (#8357)
  packages/next-server/lib/loadable.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Expo] Updated React Native example (#8376)
  examples/with-react-native-web/.babelrc
  examples/with-react-native-web/app.json
  examples/with-react-native-web/next.config.js
  examples/with-react-native-web/package.json
  examples/with-react-native-web/pages/_document.js
  examples/with-react-native-web/pages/alternate.js
  examples/with-react-native-web/pages/index.js
Owners: @lfades

Reverting clear measure (#8373)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Don't look up for TS files in dev (#8374)
  packages/next/lib/verifyTypeScriptSetup.ts
  test/integration/tsconfig-verifier/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Use `data-next-page` instead of `id=__NEXT_PAGE__` (#8380)
  packages/next/client/page-loader.js
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Feature: Add transparent JSX optimization (#8350)
  packages/next/build/babel/plugins/jsx-pragma.ts
  packages/next/build/babel/preset.ts
  packages/next/package.json
  test/unit/next-babel.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Hook destructuring optimization (#8381)
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  packages/next/build/babel/preset.ts
  test/.stats-app/pages/hooks.js
  test/unit/next-babel.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Disable Travis CI
  .travis.yml
Owners: none

Update README.md (#8392)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove extra DOM method call (#8394)
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to replace asPath for static pages in dev mode (#8388)
  packages/next-server/server/render.tsx
  test/integration/auto-export/pages/[post]/[cmnt].js
  test/integration/auto-export/pages/[post]/index.js
  test/integration/auto-export/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.4-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Updated with-redux-thunk example using useSelector and useDispatch (#8396)
  examples/with-redux-thunk/README.md
  examples/with-redux-thunk/components/counter.js
  examples/with-redux-thunk/components/examples.js
  examples/with-redux-thunk/package.json
  examples/with-redux-thunk/store.js
Owners: @lfades

Fixed the docs. The real option is compress, not compression (#8409)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades
