Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

feat: optional chaining and nullish coalescing (#9615)
  packages/next/build/babel/preset.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Simplify config in with-jest-typescript example (#9664)
  examples/with-jest-typescript/jest.config.js
  examples/with-jest-typescript/package.json
Owners: @lfades, @Timer

v9.1.5-canary.16
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add tests for optional chaining and nullish coalescing (#9665)
  package.json
  packages/next/build/babel/preset.ts
  test/integration/optional-chaining-nullish-coalescing/pages/nullish-coalescing.js
  test/integration/optional-chaining-nullish-coalescing/pages/optional-chaining.js
  test/integration/optional-chaining-nullish-coalescing/test/index.test.js
  test/unit/next-babel-loader.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update example/with-dynamic-import (#9667)
  examples/with-dynamic-import/components/Counter.js
  examples/with-dynamic-import/components/hello6.js
  examples/with-dynamic-import/components/hello7.js
  examples/with-dynamic-import/package.json
  examples/with-dynamic-import/pages/about.js
  examples/with-dynamic-import/pages/index.js
Owners: @lfades, @Timer

v9.1.5-canary.17
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Refactor Webpack Configuration (#9651)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/build/webpack/config/blocks/experiment-data.ts
  packages/next/build/webpack/config/helpers.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update api-support test suite (#9673)
  test/integration/api-support/next.config.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Adding Router as an app level dep (#9675)
  packages/next/pages/_app.tsx
  test/integration/chunking/pages/page2.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add checking of custom routes for invalid fields (#9434)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/invalid-custom-routes/pages/index.js
  test/integration/invalid-custom-routes/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Refactor next-server some for easier page checking (#9671)
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix not detecting legacy getStaticParams in serverless mode (#9685)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/prerender-legacy/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Enable New Chunking for CSS (#9688)
  packages/next/next-server/server/config.ts
  test/integration/css/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Adjust Commit Linting Hook (#9694)
  .prettierignore_staged
  lint-staged.config.js
Owners: @Timer

Upgrade Jest (#9693)
  package.json
  yarn.lock
Owners: @Timer

[Experimental] CSS Module Support (#9686)
  packages/next/build/webpack/config/blocks/css/getCssModuleLocalIdent.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  packages/next/client/page-loader.js
  packages/next/package.json
  test/integration/css/fixtures/basic-module/pages/index.js
  test/integration/css/fixtures/basic-module/pages/index.module.css
  test/integration/css/fixtures/dev-module/pages/index.js
  test/integration/css/fixtures/dev-module/pages/index.module.css
  test/integration/css/fixtures/hmr-module/pages/index.js
  test/integration/css/fixtures/hmr-module/pages/index.module.css
  test/integration/css/fixtures/invalid-module/node_modules/example/index.js
  test/integration/css/fixtures/invalid-module/node_modules/example/index.mjs
  test/integration/css/fixtures/invalid-module/node_modules/example/index.module.css
  test/integration/css/fixtures/invalid-module/node_modules/example/package.json
  test/integration/css/fixtures/invalid-module/pages/index.js
  test/integration/css/fixtures/multi-module/pages/blue.js
  test/integration/css/fixtures/multi-module/pages/blue.module.css
  test/integration/css/fixtures/multi-module/pages/none.js
  test/integration/css/fixtures/multi-module/pages/red.js
  test/integration/css/fixtures/multi-module/pages/red.module.css
  test/integration/css/fixtures/nm-module/node_modules/example/index.js
  test/integration/css/fixtures/nm-module/node_modules/example/index.mjs
  test/integration/css/fixtures/nm-module/node_modules/example/index.module.css
  test/integration/css/fixtures/nm-module/node_modules/example/package.json
  test/integration/css/fixtures/nm-module/pages/index.js
  test/integration/css/fixtures/prod-module/pages/index.js
  test/integration/css/fixtures/prod-module/pages/index.module.css
  test/integration/css/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Adjust `postcss-modules` Message (#9703)
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Redesign PostCSS Configuration Loading (#9704)
  package.json
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css/fixtures/bad-custom-configuration-arr-1/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-1/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-1/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-1/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-2/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-2/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-2/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-2/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-3/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-3/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-3/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-3/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-4/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-4/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-4/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-4/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-5/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-5/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-5/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-5/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-6/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-6/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-6/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-6/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-7/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-7/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-7/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-7/styles/global.css
  test/integration/css/fixtures/custom-configuration-arr/.postcssrc.json
  test/integration/css/fixtures/custom-configuration-arr/pages/_app.js
  test/integration/css/fixtures/custom-configuration-arr/pages/index.js
  test/integration/css/fixtures/custom-configuration-arr/styles/global.css
  test/integration/css/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.6-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update Azure chromedriver version (#9708)
  azure-pipelines.yml
Owners: @Timer

Fix CSS Modules Relative Path on Windows (#9709)
  packages/next/build/webpack/config/blocks/css/getCssModuleLocalIdent.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix SSG tests failing on windows (#9710)
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Bump azure to windows 2019 image (#9711)
  azure-pipelines.yml
Owners: @Timer

Adjust return value (#9712)
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add More Configuration File Options (#9713)
  packages/next/lib/find-config.ts
  test/unit/find-config.test.js
  test/unit/fixtures/config-js/.testrc.js
  test/unit/fixtures/config-long-js/test.config.js
  test/unit/fixtures/config-long-json/test.config.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add Tailwind and PurgeCSS Test (#9714)
  package.json
  test/integration/css-fixtures/with-tailwindcss-and-purgecss/pages/_app.js
  test/integration/css-fixtures/with-tailwindcss-and-purgecss/pages/index.js
  test/integration/css-fixtures/with-tailwindcss-and-purgecss/postcss.config.js
  test/integration/css-fixtures/with-tailwindcss-and-purgecss/styles/global.css
  test/integration/css/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add CSS Module TypeScript Types (#9717)
  packages/next/types/global.d.ts
  test/integration/typescript/components/hello.module.css
  test/integration/typescript/components/hello.ts
  test/integration/typescript/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix TypeError in with-graphql-hooks example (#9658)
  examples/with-graphql-hooks/lib/with-graphql-client.js
Owners: @lfades, @Timer

Improve Build Output for SSG (#9719)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add CSS Resolve Test (#9724)
  package.json
  test/integration/css-fixtures/npm-import-bad/pages/_app.js
  test/integration/css-fixtures/npm-import-bad/pages/index.js
  test/integration/css-fixtures/npm-import-bad/styles/global.css
  test/integration/css-fixtures/npm-import/pages/_app.js
  test/integration/css-fixtures/npm-import/pages/index.js
  test/integration/css-fixtures/npm-import/styles/global.css
  test/integration/css/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Refine Pages Output (#9725)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/build-output/fixtures/basic-app/pages/index.js
  test/integration/build-output/fixtures/with-app/pages/_app.js
  test/integration/build-output/fixtures/with-app/pages/index.js
  test/integration/build-output/fixtures/with-error/pages/_error.js
  test/integration/build-output/fixtures/with-error/pages/index.js
  test/integration/build-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

New File Size Output (#9726)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/build-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.6-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Enable Page Symbol For `/_error` (#9730)
  packages/next/build/utils.ts
  test/integration/build-output/fixtures/with-error-static/pages/_error.js
  test/integration/build-output/fixtures/with-error-static/pages/index.js
  test/integration/build-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
