Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

`typeof window` is `object` on the client (#7606)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add error handling for `_error` page (#7608)
  packages/next-server/server/next-server.ts
  test/integration/error-in-error/pages/_error.js
  test/integration/error-in-error/pages/index.js
  test/integration/error-in-error/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Exit process after build (#7614)
  packages/next/cli/next-build.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.54
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

(example/with-react-relay-network-modern) Fix example (#7590)
  examples/with-react-relay-network-modern/package.json
  examples/with-react-relay-network-modern/pages/_app.js
Owners: @kheruc, @lfades

Extract isDynamicRoute helper (#7622)
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/router/utils/index.ts
  packages/next-server/lib/router/utils/is-dynamic.ts
  packages/next-server/server/next-server.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/index.js
  packages/next/server/next-dev-server.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Dynamic Routes: Change impl from $param to [param] (#7623)
  packages/next-server/lib/router/utils/is-dynamic.ts
  packages/next-server/lib/router/utils/route-regex.ts
  packages/next-server/lib/router/utils/sorted-routes.ts
  packages/next/client/index.js
  packages/next/server/next-dev-server.js
  test/integration/auto-export-serverless/pages/[post].js
  test/integration/dynamic-routing/pages/[post]/[comment].js
  test/integration/dynamic-routing/pages/[post]/comments.js
  test/integration/dynamic-routing/pages/[post]/index.js
  test/integration/dynamic-routing/pages/blog/[post]/comment/[id].js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/on-mount/[post].js
  test/integration/dynamic-routing/test/index.test.js
  test/unit/__snapshots__/page-route-sorter.test.js.snap
  test/unit/page-route-sorter.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

set __next-build-watcher width and height to 0 (#7618)
  packages/next/client/dev/dev-build-watcher.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fixes serverless target in development (#7619)
  packages/next-server/server/next-server.ts
  packages/next-server/server/require.ts
  test/integration/api-support/next.config.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

ncc Webpack build redux (#7628)
  packages/next/build/bundles/autodll-webpack-plugin.js
  packages/next/build/bundles/bundled-webpack.js
  packages/next/build/bundles/webpack-DynamicEntryPlugin.js
  packages/next/build/bundles/webpack-GraphHelpers.js
  packages/next/build/bundles/webpack-NodeOutputFileSystem.js
  packages/next/build/bundles/webpack.js
  packages/next/build/compiler.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/build/webpack/loaders/next-data-loader.ts
  packages/next/build/webpack/loaders/next-minify-loader.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/loaders/noop-loader.ts
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/build/webpack/plugins/chunk-names-plugin.ts
  packages/next/build/webpack/plugins/dll-import.ts
  packages/next/build/webpack/plugins/fork-ts-checker-watcher-hook.ts
  packages/next/build/webpack/plugins/hashed-chunk-ids-plugin.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/build/webpack/plugins/nextjs-ssr-import.ts
  packages/next/build/webpack/plugins/nextjs-ssr-module-cache.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/build/webpack/plugins/shared-runtime-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/build/webpack/plugins/unlink-removed-pages-plugin.ts
  packages/next/package.json
  packages/next/server/hot-reloader.js
  packages/next/server/on-demand-entry-handler.js
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
  packages/next/types/loader-utils.d.ts
  packages/next/types/misc.d.ts
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.55
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update example: with redux reselect recompose (#7624)
  examples/with-redux-reselect-recompose/.babelrc
  examples/with-redux-reselect-recompose/.eslintrc
  examples/with-redux-reselect-recompose/actions/index.js
  examples/with-redux-reselect-recompose/components/addCount.js
  examples/with-redux-reselect-recompose/components/clock.js
  examples/with-redux-reselect-recompose/components/page.js
  examples/with-redux-reselect-recompose/containers/page.js
  examples/with-redux-reselect-recompose/package.json
  examples/with-redux-reselect-recompose/pages/index.js
  examples/with-redux-reselect-recompose/pages/other.js
  examples/with-redux-reselect-recompose/reducers/count.js
  examples/with-redux-reselect-recompose/store.js
Owners: @kheruc, @lfades

Fix typo in with-redux-reselect-recompose example (#7642)
  examples/with-redux-reselect-recompose/reducers/index.js
Owners: @kheruc, @lfades

Revert "ncc Webpack build redux (#7628)"
  packages/next/build/bundles/autodll-webpack-plugin.js
  packages/next/build/bundles/bundled-webpack.js
  packages/next/build/bundles/webpack-DynamicEntryPlugin.js
  packages/next/build/bundles/webpack-GraphHelpers.js
  packages/next/build/bundles/webpack-NodeOutputFileSystem.js
  packages/next/build/bundles/webpack.js
  packages/next/build/compiler.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/build/webpack/loaders/next-data-loader.ts
  packages/next/build/webpack/loaders/next-minify-loader.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/loaders/noop-loader.ts
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/build/webpack/plugins/chunk-names-plugin.ts
  packages/next/build/webpack/plugins/dll-import.ts
  packages/next/build/webpack/plugins/fork-ts-checker-watcher-hook.ts
  packages/next/build/webpack/plugins/hashed-chunk-ids-plugin.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/build/webpack/plugins/nextjs-ssr-import.ts
  packages/next/build/webpack/plugins/nextjs-ssr-module-cache.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/build/webpack/plugins/shared-runtime-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/build/webpack/plugins/unlink-removed-pages-plugin.ts
  packages/next/package.json
  packages/next/server/hot-reloader.js
  packages/next/server/on-demand-entry-handler.js
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
  packages/next/types/loader-utils.d.ts
  packages/next/types/misc.d.ts
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

`_document` middleware is experimental (#7647)
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next-server/server/render.tsx
  test/integration/document-middleware/next.config.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Compile dependencies for IE11 (#7646)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Allow opting out of automatic prefetch for Link (#7532)
  packages/next/client/link.tsx
  test/integration/preload-viewport/pages/opt-out.js
  test/integration/preload-viewport/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix TypeScript typings (#7648)
  examples/with-typescript/next-env.d.ts
  packages/next/bin/next.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/package.json
  packages/next/types/global.d.ts
  packages/next/types/index.d.ts
  test/integration/typescript/pages/hello.tsx
  test/integration/typescript/tsconfig.json
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Avoid lambda nomenclature when `target != 'serverless'` (#7650)
  packages/next/build/index.ts
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove usage of `process.browser` (#7651)
  examples/with-apollo-and-redux-saga/lib/initApollo.js
  examples/with-apollo-and-redux-saga/lib/withApollo.js
  examples/with-apollo-and-redux/lib/initApollo.js
  examples/with-apollo-and-redux/lib/withApollo.js
  examples/with-apollo-auth/lib/initApollo.js
  examples/with-apollo-auth/lib/withApollo.js
  examples/with-apollo/lib/init-apollo.js
  examples/with-apollo/lib/with-apollo-client.js
  examples/with-cookie-auth/www/pages/profile.js
  examples/with-graphql-hooks/lib/init-graphql.js
  examples/with-graphql-hooks/lib/with-graphql-client.js
  examples/with-mobx-react-lite/store.js
  examples/with-mobx/pages/_app.js
  examples/with-mobx/store.js
  examples/with-overmind/pages/_app.js
  examples/with-portals-ssr/pages/_app.js
  examples/with-react-esi/src/components/BreakingNews.js
  examples/with-react-esi/src/components/Weather.js
  examples/with-react-multi-carousel/src/getPageContext.js
  examples/with-react-relay-network-modern/lib/createEnvironment/index.js
  examples/with-react-uwp/pages/index.js
  examples/with-relay-modern-server-express/lib/createRelayEnvironment.js
  examples/with-relay-modern/lib/createRelayEnvironment.js
  examples/with-sentry/utils/sentry.js
  examples/with-unstated/pages/_app.js
  packages/next/lib/data.ts
Owners: @kheruc, @lfades, @timneutkens, @Timer, @dav-is, @ijjk

Update prefetch check to prevent re-prefetching (#7654)
  packages/next/client/page-loader.js
  test/integration/flying-shuttle/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.56
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix missing .test(path) in webpack-config (#7655)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.57
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Unflag Dynamic Routing (#7663)
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next/server/next-dev-server.js
  test/integration/auto-export-serverless/next.config.js
  test/integration/dynamic-routing/next.config.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix memory leak from requiring pages (#7659)
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.58
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Parallelize requiring pages for static check (#7671)
  packages/next/build/index.ts
  packages/next/build/static-checker.ts
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.59
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix maxConcurrentCalls used instead of maxConcurrentWorkers (#7672)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.60
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Updating hapijs package name (#7664)
  examples/custom-server-hapi/package.json
  examples/custom-server-hapi/server.js
Owners: @kheruc, @lfades

Asynchronously check for type errors (#7668)
  packages/next/build/output/index.ts
  packages/next/build/output/store.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/fork-ts-checker-watcher-hook.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/server/hot-reloader.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Re-add require cache clearing (#7674)
  packages/next/build/static-checker.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.1.1-canary.61
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update typescript example (#7684)
  examples/with-typescript/next-env.d.ts
  examples/with-typescript/package.json
Owners: @kheruc, @lfades

Clean up AMP logic and naming (#7669)
  packages/next-server/lib/amp-context.ts
  packages/next-server/lib/amp.ts
  packages/next-server/lib/amphtml-context.ts
  packages/next-server/lib/head.tsx
  packages/next-server/lib/side-effect.tsx
  packages/next-server/lib/utils.ts
  packages/next-server/server/render.tsx
  packages/next/export/worker.js
  packages/next/pages/_document.tsx
  test/integration/amp-export-validation/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Dynamic routes for API (#7629)
  packages/next-server/server/next-server.ts
  packages/next-server/server/router.ts
  test/integration/api-support/next.config.js
  test/integration/api-support/pages/api/[post]/[comment].js
  test/integration/api-support/pages/api/[post]/comments.js
  test/integration/api-support/pages/api/[post]/index.js
  test/integration/api-support/pages/api/blog/[post]/comment/[id].js
  test/integration/api-support/pages/api/blog/index.js
  test/integration/api-support/pages/api/parse.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Make DefaultLoading return `null` (#7695)
  packages/next-server/lib/dynamic.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

refactor: default dynamic loading component to null (#7543)
  packages/next-server/lib/dynamic.tsx
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
