Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens
/errors/                  @Timer

Improve exported router types (#7853)
  .gitignore
  packages/next-server/lib/router-context.ts
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/utils.ts
  packages/next-server/server/render.tsx
  packages/next/client/router.ts
  packages/next/client/with-router.tsx
  packages/next/lib/data.ts
  test/integration/typescript/components/router.tsx
  test/integration/typescript/pages/hello.tsx
  test/integration/typescript/test/index.test.js
  test/integration/typescript/test/typescript.js
  test/integration/typescript/tsconfig.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Adding a note about babelrc (#7897)
  UPGRADING.md
Owners: none

Export types for link props (#7905)
  packages/next/client/link.tsx
  test/integration/typescript/components/link.tsx
  test/integration/typescript/pages/hello.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.1-canary.2
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Adjust README to mention Link
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.1
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove duplicated client code (#7907)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update docs for AMP export behavior (#7940)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Prevent blocking while hidden (#7930)
  packages/next/client/dev/prerender-indicator.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Added example for rbx and bulma-pro (#7728)
  examples/with-rbx-bulma-pro/README.md
  examples/with-rbx-bulma-pro/components/Layout.js
  examples/with-rbx-bulma-pro/next.config.js
  examples/with-rbx-bulma-pro/package.json
  examples/with-rbx-bulma-pro/pages/about.js
  examples/with-rbx-bulma-pro/pages/contact.js
  examples/with-rbx-bulma-pro/pages/index.js
Owners: @lfades

Checks if object is not empty instead of whether the reference (object) is truthy (#7911)
  packages/next-server/server/config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Replace windows backslashes with forward (#7942)
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update link ref handling to clean up previous listeners (#7943)
  packages/next/client/link.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Enhancement]: Refactor circleCI config (#7963)
  .circleci/config.yml
Owners: none

Check if dynamicOptions has the deprecated `method` property, (#7973)
  packages/next-server/lib/dynamic.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Don't externalize ssr-prepass if added by user (#7966)
  packages/next/build/webpack-config.ts
  test/integration/ssr-prepass/next.config.js
  test/integration/ssr-prepass/pages/index.js
  test/integration/ssr-prepass/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix example with-firebase-hosting-and-typescript (#7971)
  examples/with-firebase-hosting-and-typescript/package.json
  examples/with-firebase-hosting-and-typescript/src/app/next.config.js
Owners: @lfades

fix: Ensure ergonomic handling of non-page in `./pages/` (#7955)
  packages/next/build/index.ts
  test/integration/handle-non-page-in-pages/next.config.js
  test/integration/handle-non-page-in-pages/pages/invalid.tsx
  test/integration/handle-non-page-in-pages/pages/valid.tsx
  test/integration/handle-non-page-in-pages/test/index.test.js
  test/integration/handle-non-page-in-pages/tsconfig.json
  test/integration/invalid-page-automatic-static-optimization/pages/also-invalid.js
  test/integration/invalid-page-automatic-static-optimization/pages/also-valid.js
  test/integration/invalid-page-automatic-static-optimization/pages/invalid.js
  test/integration/invalid-page-automatic-static-optimization/pages/valid.js
  test/integration/invalid-page-automatic-static-optimization/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Example for API routes with middleware (#7958)
  examples/api-routes-middleware/README.md
  examples/api-routes-middleware/package.json
  examples/api-routes-middleware/pages/api/cookies.js
  examples/api-routes-middleware/pages/index.js
  examples/api-routes-middleware/utils/cookies.js
  packages/next/README.md
Owners: @lfades, @timneutkens, @Timer, @ijjk

Add empty publicRuntimeConfig to serverless tests (#7948)
  test/integration/serverless/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add handling for invalid page config (#7921)
  errors/invalid-page-config.md
  packages/next/build/babel/plugins/next-page-config.ts
  test/integration/page-config/pages/index.js
  test/integration/page-config/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix client-side hydration with dynamic routes (#7986)
  packages/next-server/lib/router/router.ts
  packages/next/client/index.js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/on-mount/[post].js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix GIP type in `/_error` page (#7952)
  packages/next-server/lib/dynamic.tsx
  packages/next/pages/_error.tsx
  test/integration/typescript/pages/_error.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Only copy `public/` directory if enabled (#7988)
  packages/next/export/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add default value for pageConfig for custom _error (#7984)
  packages/next-server/server/render.tsx
  test/integration/custom-error/pages/_error.js
  test/integration/custom-error/pages/index.js
  test/integration/custom-error/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.2-canary.0
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix build for API routes conflict pages (#7992)
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/api-support/pages/api-conflict.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add warning for experimental config usage (#7985)
  packages/next-server/lib/utils.ts
  packages/next-server/server/config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add support for 412 Precondition Failed status for static files (#7944)
  packages/next-server/server/next-server.ts
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

feat(web): Passing actual status code instead 200 (#7735)
  examples/custom-server-hapi/next-wrapper.js
Owners: @lfades

Correct info about export limitations (#7729)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add babel option to use styled-jsx/babel-test in the preset (#7747)
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Don’t add loadable if it’s not used (#7995)
  packages/next-server/lib/loadable.js
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.2-canary.1
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Adjust test names for `send` (#7996)
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.2
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add .gitignore (#7893)
  examples/with-typescript/.gitignore
Owners: @lfades

Import isomorphic-unfetch in data fetching example (#7895)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make tests for both async and sync GIP (#7999)
  test/integration/typescript/pages/_error.tsx
  test/integration/typescript/test/typescript.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Rework dynamic routing <Link> documentation (#8001)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades
