Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

[example-with-fela] CSS imports compatibility (#12237)
  examples/with-fela/package.json
  examples/with-fela/pages/_document.js
Owners: @lfades, @Timer

#12314 add auth to with-sentry-simple example (#12316)
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/package.json
Owners: @lfades, @Timer

fix lockfile
  yarn.lock
Owners: @Timer

Updated with-firebase-authentication to fix errors (#12204)
  examples/with-firebase-authentication/pages/index.js
  examples/with-firebase-authentication/server.js
Owners: @lfades, @Timer

Docs: Add req.body to custom express server example (#12211)
  examples/custom-server-express/README.md
Owners: @lfades, @Timer

Update with-emotion-11 example to use functional _app component (#12183)
  examples/with-emotion-11/pages/_app.js
Owners: @lfades, @Timer

Example: update netlify-cms to use SSG (#12072)
  examples/with-netlify-cms/README.md
  examples/with-netlify-cms/next.config.js
  examples/with-netlify-cms/pages/blog/index.js
  examples/with-netlify-cms/pages/blog/post/[slug].js
Owners: @lfades, @Timer

Fix preview mode expiration duration (#12118)
  packages/next/next-server/server/api-utils.ts
  test/integration/prerender-preview/pages/api/preview.js
  test/integration/prerender-preview/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Transpile packages in react-intl example (#11849)
  examples/with-react-intl/README.md
  examples/with-react-intl/next.config.js
  examples/with-react-intl/package.json
Owners: @lfades, @Timer

upgrade from deprecated url.parse() since Node 11 (#11825)
  examples/custom-server/server.js
Owners: @lfades, @Timer

Fix 'user undefined' error with ssr profile in auth0 example (#11934)
  examples/auth0/pages/advanced/ssr-profile.js
Owners: @lfades, @Timer

v9.3.7-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add name to component in with-tailwindcss example (#12417)
  examples/with-tailwindcss/pages/index.js
Owners: @lfades, @Timer

Add names to components in hello-world example (#12416)
  examples/hello-world/pages/about.js
  examples/hello-world/pages/day/index.js
  examples/hello-world/pages/index.js
Owners: @lfades, @Timer

Add names to components in amp example (#12415)
  examples/amp/components/Byline.js
  examples/amp/pages/dog.js
  examples/amp/pages/index.js
  examples/amp/pages/normal.js
Owners: @lfades, @Timer

Update lint-staged (#12225)
  lint-staged.config.js
  package.json
  packages/next/compiled/autodll-webpack-plugin/autodll-webpack-plugin.js
  packages/next/compiled/postcss-loader/index.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Fast Refresh] Add Titles for Click to Open Action (#12427)
  packages/react-dev-overlay/src/internal/components/CodeFrame/CodeFrame.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

docs(examples): with-iron-session update (#12418)
  examples/with-iron-session/components/Form.js
  examples/with-iron-session/components/Header.js
  examples/with-iron-session/components/Layout.js
  examples/with-iron-session/lib/fetchJson.js
  examples/with-iron-session/lib/session.js
  examples/with-iron-session/lib/useUser.js
  examples/with-iron-session/pages/_app.js
  examples/with-iron-session/pages/api/login.js
  examples/with-iron-session/pages/api/logout.js
  examples/with-iron-session/pages/index.js
  examples/with-iron-session/pages/login.js
  examples/with-iron-session/pages/profile-sg.js
  examples/with-iron-session/pages/profile-ssr.js
Owners: @lfades, @Timer

Remove __NEXT_DATA__ from production builds when runtime JS is disabled (#12406)
  packages/next/pages/_document.tsx
  test/integration/disable-js/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Clean up styles in with-tailwindcss example (#12458)
  examples/with-tailwindcss/components/nav.js
  examples/with-tailwindcss/styles/button.css
  examples/with-tailwindcss/styles/index.css
Owners: @lfades, @Timer

[Fast Refresh] Fix terminal editors on macOS (#12430)
  packages/react-dev-overlay/src/internal/helpers/launchEditor.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Support client-side code being ran in Node (#12426)
  packages/react-refresh-utils/ReactRefreshWebpackPlugin.ts
  packages/react-refresh-utils/internal/ReactRefreshModule.runtime.ts
  test/integration/legacy-sass/next.config.js
  test/integration/legacy-sass/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Unlock Focus on Disabled Element (#12425)
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/styles.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Use fs.promises in test files (#12432)
  test/integration/amp-export-validation/test/index.test.js
  test/integration/export-default-map-serverless/test/index.test.js
  test/integration/export-default-map/test/index.test.js
  test/integration/export-override-404/test/index.test.js
  test/integration/export-serverless/test/index.test.js
  test/integration/export-subfolders-serverless/test/index.test.js
  test/integration/export-subfolders/test/index.test.js
  test/integration/export/test/index.test.js
  test/integration/production/test/process-env.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix linting
  lerna.json
Owners: @Timer

v9.3.7-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Do not prettify `lerna.json`
  .prettierignore
  .prettierignore_staged
Owners: @Timer

v9.3.7-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Elements with `role=link` should open on [Enter] (#12460)
  packages/react-dev-overlay/src/internal/components/Dialog/Dialog.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add warning for non-standard NODE_ENV value (#12361)
  errors/non-standard-node-env.md
  packages/next/bin/next.ts
  packages/next/lib/constants.ts
  packages/next/server/next.ts
  test/integration/non-standard-node-env-warning/pages/index.js
  test/integration/non-standard-node-env-warning/server.js
  test/integration/non-standard-node-env-warning/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add additional file serving tests (#12479)
  packages/next/server/next-dev-server.ts
  test-file.txt
  test/integration/file-serving/pages/index.js
  test/integration/file-serving/public/hello world.txt
  test/integration/file-serving/static/hello world.txt
  test/integration/file-serving/test-file.txt
  test/integration/file-serving/test/index.test.js
  test/integration/test-file.txt
  test/lib/next-test-utils.js
  test/test-file.txt
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade Flexbugs Dependency (#12459)
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Don't generate fake cache keys for Preview Mode (#12487)
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

next/client/link: improve internal type annotation (#12468)
  packages/next/client/link.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] New Overlay for Prerender Error (#12485)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/index.js
  packages/next/server/next-dev-server.ts
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
  packages/react-dev-overlay/src/internal/helpers/getRawSourceMap.ts
  packages/react-dev-overlay/src/internal/helpers/getSourceMapUrl.ts
  packages/react-dev-overlay/src/internal/helpers/nodeStackFrames.ts
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[examples/with-typescript-graphql] Add "createResolverContext" hook, etc. (#11681)
  examples/with-typescript-graphql/.gitignore
  examples/with-typescript-graphql/.graphql-let.yml
  examples/with-typescript-graphql/lib/resolvers.ts
  examples/with-typescript-graphql/lib/with-apollo.tsx
  examples/with-typescript-graphql/next.config.js
  examples/with-typescript-graphql/package.json
  examples/with-typescript-graphql/pages/api/graphql.ts
Owners: @lfades, @Timer

Fixed typo (#12497)
  examples/with-userbase/components/modal/index.js
Owners: @lfades, @Timer

Add note about HoC possibly adding GIP to _app (#12491)
  errors/opt-out-auto-static-optimization.md
Owners: @Timer

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
