Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc

Upgrade Async to Promises (#6958)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.25
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Replace imurmurhash with string-hash (#6964)
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Moved NODE_ENV to our config (#6965)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Circleci filter PRs (#6961)
  .circleci/config.yml
Owners: none

Add Amp bind error message (#6962)
  packages/next/lib/data.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Do not clear the console (#6758)
  package.json
  packages/next/build/output/exit.ts
  packages/next/build/output/log.ts
  packages/next/build/output/store.ts
  packages/next/server/next-dev-server.js
  packages/next/server/on-demand-entry-handler.js
  test/integration/cli/test/index.test.js
  test/integration/custom-server/test/index.test.js
  test/integration/filesystempublicroutes/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.26
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove use of `Promise.finally` in polyfill (#6975)
  packages/next/client/event-source-polyfill.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Disabled performance config in webpack (#6976)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Brought escape-string-regexp source to next (#6979)
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Disabled the checkWasmTypes config in webpack (#6978)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix getSpecifiedPages on Windows (#6977)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Adjust flying shuttle minify (#6980)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-minify-loader.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Custom ReasonML Server (#6970)
  examples/custom-server-reasonml/.gitignore
  examples/custom-server-reasonml/README.md
  examples/custom-server-reasonml/bsconfig.json
  examples/custom-server-reasonml/package.json
  examples/custom-server-reasonml/pages/a.js
  examples/custom-server-reasonml/pages/b.js
  examples/custom-server-reasonml/pages/index.js
  examples/custom-server-reasonml/server/http.re
  examples/custom-server-reasonml/server/server.re
Owners: @kheruc, @lfades

v8.0.5-canary.27
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update README.md (#6749)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update no-document-title.md (#6832)
  errors/no-document-title.md
Owners: @kheruc

Custom hapi server example handle static files (#6822)
  examples/custom-server-hapi/server.js
Owners: @kheruc, @lfades

Added cross-env package for using on Windows (#6877)
  examples/custom-server-express/package.json
Owners: @kheruc, @lfades

Fix re-rendering on client after navigating back from external (#6652)
  .circleci/config.yml
  packages/next-server/lib/router/router.ts
  test/integration/production/pages/external-and-back.js
  test/integration/production/pages/query.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update root-static-files example (#6967)
  examples/root-static-files/README.md
  examples/root-static-files/next.config.js
  examples/root-static-files/now.json
  examples/root-static-files/server.js
Owners: @kheruc, @lfades

the externals option is undefined for client builds (#6983)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Adjust onFinishCallback polyfill (#6984)
  packages/next/client/event-source-polyfill.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add an experimental mode for flyingShuttle (#6985)
  packages/next-server/server/config.js
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Remove CLI and negative page building (#6986)
  packages/next/build/index.ts
  packages/next/cli/next-build.ts
  test/integration/flying-shuttle/next.config.js
  test/integration/flying-shuttle/pages/index.js
  test/integration/flying-shuttle/test/index.test.js
  test/integration/serverless-on-demand-pages/next.config.js
  test/integration/serverless-on-demand-pages/pages/abc.js
  test/integration/serverless-on-demand-pages/pages/fetch.js
  test/integration/serverless-on-demand-pages/pages/index.js
  test/integration/serverless-on-demand-pages/run-server.js
  test/integration/serverless-on-demand-pages/server.js
  test/integration/serverless-on-demand-pages/test/index.test.js
  test/unit/select-pages/__snapshots__/select-pages.test.js.snap
  test/unit/select-pages/select-pages.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Move build utils to their own file (#6990)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/unit/select-pages/select-pages.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix Chunk Graph Plugin hashes type (#6994)
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Use `chunkGroup` request over `rawRequest` for loadable manifest (#6993)
  packages/next/build/webpack/plugins/react-loadable-plugin.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Adjust all modules identified plugin output (#6995)
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Correct page search order (#6996)
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Disable `recordsPath` for selective page building (#6997)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Disable flying shuttle when building for `now dev` (#6998)
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/build/write-build-id.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add new getFileForPage helper to build utils (#6999)
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add Flying Shuttle v1 (#6991)
  packages/next/build/flying-shuttle.ts
  packages/next/build/index.ts
  packages/next/package.json
  test/integration/flying-shuttle/next.config.js
  test/integration/flying-shuttle/pages/index.js
  test/integration/flying-shuttle/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Use next.config env and packages to calculate hashes (#7001)
  packages/next/build/flying-shuttle.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add Flying Shuttle tests (#7000)
  package.json
  test/integration/flying-shuttle/components/head.js
  test/integration/flying-shuttle/components/nav.js
  test/integration/flying-shuttle/components/something.js
  test/integration/flying-shuttle/components/something2.js
  test/integration/flying-shuttle/next.config.js
  test/integration/flying-shuttle/pages/about/index.js
  test/integration/flying-shuttle/pages/about/index.js2
  test/integration/flying-shuttle/pages/index.js
  test/integration/flying-shuttle/pages/other.js
  test/integration/flying-shuttle/run-server.js
  test/integration/flying-shuttle/server.js
  test/integration/flying-shuttle/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.28
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Set custom cacheIdentifier for babel-loader (#6982)
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.5-canary.29
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades
