Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades, @kheruc

Replace `buildId` well known string during output (#6782)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.4-canary.23
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Pass mapDispatchToProps as an object (#6786)
  examples/with-redux/pages/index.js
Owners: @kheruc, @lfades

Removed the X-Powered-By header (#6789)
  packages/next-server/server/config.js
  packages/next-server/server/next-server.ts
  packages/next/README.md
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Use a shared module cache (#6791)
  packages/next-server/server/config.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/build/webpack/plugins/hashed-chunk-ids-plugin.ts
  packages/next/build/webpack/plugins/shared-runtime-plugin.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.4-canary.24
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add AMP validation on export (#6794)
  errors/amp-export-validation.md
  packages/next/build/output/index.ts
  packages/next/export/index.js
  packages/next/export/worker.js
  test/integration/amp-export-validation/next.config.js
  test/integration/amp-export-validation/pages/cat.amp.js
  test/integration/amp-export-validation/pages/dog-cat.amp.js
  test/integration/amp-export-validation/pages/dog.amp.js
  test/integration/amp-export-validation/test/index.test.js
Owners: @kheruc, @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update dependencies of various examples (#6731)
  .gitignore
  examples/custom-server-micro/package.json
  examples/custom-server-typescript/package.json
  examples/data-fetch/package.json
  examples/data-fetch/pages/preact.js
  examples/pass-server-data/package.json
  examples/using-with-router/package.json
  examples/with-aphrodite/package.json
  examples/with-dynamic-app-layout/package.json
  examples/with-electron/package.json
  examples/with-jest-typescript/package.json
Owners: @kheruc, @lfades

example with orbit-components (#6793)
  examples/with-orbit-components/.babelrc
  examples/with-orbit-components/README.md
  examples/with-orbit-components/package.json
  examples/with-orbit-components/pages/_app.js
  examples/with-orbit-components/pages/_document.js
  examples/with-orbit-components/pages/index.js
Owners: @kheruc, @lfades

Remove prop-types import in the build (#6798)
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Improve with-google-analytics example (#6787)
  examples/with-google-analytics/components/Page.js
  examples/with-google-analytics/lib/gtag.js
  examples/with-google-analytics/pages/_app.js
  examples/with-google-analytics/pages/_document.js
  examples/with-google-analytics/pages/contact.js
Owners: @kheruc, @lfades

[with-sentry] example: Make 'utils/sentry.js' more flexible (#6769)
  examples/with-sentry/pages/_app.js
  examples/with-sentry/server.js
  examples/with-sentry/utils/sentry.js
Owners: @kheruc, @lfades

Specified page builds (#6796)
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/cli/next-build.ts
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.4-canary.25
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add a viewport meta tag by default (#6754)
  packages/next-server/lib/head.tsx
  packages/next-server/lib/side-effect.tsx
  packages/next/pages/_error.js
  test/integration/client-navigation/pages/head.js
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Upgrade unfetch to v4.1.0 (#6807)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add a leading slash to passed pages (#6808)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.4-canary.26
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

with apollo and redux saga example: Update deps (#6734)
  examples/with-apollo-and-redux-saga/lib/clock/sagas.js
  examples/with-apollo-and-redux-saga/lib/placeholder/sagas.js
  examples/with-apollo-and-redux-saga/lib/rootSaga.js
  examples/with-apollo-and-redux-saga/lib/store.js
  examples/with-apollo-and-redux-saga/package.json
  examples/with-apollo-and-redux-saga/pages/_app.js
  examples/with-apollo-and-redux-saga/pages/blog/index.js
  examples/with-apollo-and-redux-saga/pages/index.js
Owners: @kheruc, @lfades

with apollo and redux example: Update deps and fix build (#6733)
  examples/with-apollo-and-redux/package.json
  examples/with-apollo-and-redux/pages/_app.js
  examples/with-apollo-and-redux/pages/index.js
  examples/with-apollo-and-redux/pages/redux.js
Owners: @kheruc, @lfades

The custom build test now runs in production mode (#6818)
  test/integration/production-build-dir/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add example with astroturf (Zero runtime CSS-in-JS) (#6821)
  examples/with-astroturf/README.md
  examples/with-astroturf/next.config.js
  examples/with-astroturf/package.json
  examples/with-astroturf/pages/index.js
  examples/with-astroturf/postcss.config.js
  examples/with-linaria/README.md
Owners: @kheruc, @lfades

NODE_ENV is set to undefined before running a test command (#6823)
  test/integration/production-build-dir/test/index.test.js
  test/integration/production-config/test/index.test.js
  test/integration/production/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix typo by replacing `compatability` with `compatibility` (#6831)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update tests for BrowserStack (#6810)
  .circleci/config.yml
  .gitignore
  jest.config.js
  package.json
  test/integration/amphtml/test/index.test.js
  test/integration/app-aspath/test/index.test.js
  test/integration/app-document/test/client.js
  test/integration/app-document/test/csp.js
  test/integration/basic/test/dynamic.js
  test/integration/basic/test/error-recovery.js
  test/integration/basic/test/hmr.js
  test/integration/basic/test/process-env.js
  test/integration/client-404/test/client-navigation.js
  test/integration/client-navigation/test/index.test.js
  test/integration/config/test/client.js
  test/integration/custom-server/test/index.test.js
  test/integration/export/test/browser.js
  test/integration/export/test/dev.js
  test/integration/ondemand/test/index.test.js
  test/integration/page-extensions/test/hmr.js
  test/integration/production-config/test/index.test.js
  test/integration/production/test/dynamic.js
  test/integration/production/test/index.test.js
  test/integration/production/test/process-env.js
  test/integration/production/test/security.js
  test/integration/serverless/test/index.test.js
  test/integration/with-router/test/index.test.js
  test/jest-environment.js
  test/jest-global-setup.js
  test/jest-global-teardown.js
  test/lib/next-webdriver.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add error catching to firefox url query workaround (#6833)
  packages/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Update env variables for CircleCi (#6834)
  .circleci/config.yml
Owners: none

Add dropping of custom scripts in AMP mode (#6830)
  packages/next/pages/_document.js
  test/integration/amphtml/pages/custom-scripts.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Added babel-plugin-dynamic-import-node (#6811)
  packages/next/build/babel/preset.ts
  packages/next/package.json
  test/lib/next-test-utils.js
  yarn.lock
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Exclude transform-typeof-symbol (#6812)
  packages/next/build/babel/preset.ts
  packages/next/taskfile.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Add workflow to generate stats for release (#6836)
  .github/main.workflow
Owners: none

v8.0.4-canary.27
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix typo in workflow (#6838)
  .github/main.workflow
Owners: none

v8.0.4-canary.28
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.4-canary.29
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.4-canary.30
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Added useBuiltIns to babel object-rest-spread (#6805)
  packages/next/build/babel/preset.ts
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

v8.0.4-canary.31
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Fix wrong anchors and add missing link (#6845)
  packages/next/README.md
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

Re-add chromedriver retrying from previous webdriver setup (#6846)
  test/integration/amphtml/test/index.test.js
  test/integration/app-aspath/test/index.test.js
  test/integration/app-document/test/client.js
  test/integration/app-document/test/csp.js
  test/integration/basic/test/dynamic.js
  test/integration/basic/test/error-recovery.js
  test/integration/basic/test/hmr.js
  test/integration/basic/test/process-env.js
  test/integration/client-404/test/client-navigation.js
  test/integration/client-navigation/test/index.test.js
  test/integration/config/test/client.js
  test/integration/custom-server/test/index.test.js
  test/integration/export/test/browser.js
  test/integration/export/test/dev.js
  test/integration/ondemand/test/index.test.js
  test/integration/page-extensions/test/hmr.js
  test/integration/production-config/test/index.test.js
  test/integration/production/test/dynamic.js
  test/integration/production/test/index.test.js
  test/integration/production/test/process-env.js
  test/integration/production/test/security.js
  test/integration/serverless/test/index.test.js
  test/integration/with-router/test/index.test.js
  test/jest-environment.js
  test/jest-global-teardown.js
  test/lib/next-webdriver.js
Owners: @timneutkens, @Timer, @dav-is, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @dav-is @ijjk @lfades
/examples/                @kheruc @lfades
/test/                    @timneutkens @Timer @dav-is @ijjk @lfades
/bench/                   @timneutkens @dav-is
/errors/                  @kheruc
