Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Mirror actual /_error behavior in documentation
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update Prerender Manifest (#8918)
  packages/next/build/index.ts
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Simplify with-redux example (#8875)
  examples/with-redux/README.md
  examples/with-redux/components/clock.js
  examples/with-redux/components/counter.js
  examples/with-redux/components/examples.js
  examples/with-redux/lib/redux.js
  examples/with-redux/lib/useInterval.js
  examples/with-redux/lib/with-redux-store.js
  examples/with-redux/package.json
  examples/with-redux/pages/_app.js
  examples/with-redux/pages/index.js
  examples/with-redux/store.js
Owners: @lfades, @Timer

v9.0.8-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Migrate auth0 example into Next.js repo (#8802)
  examples/auth0/.env.template
  examples/auth0/.gitignore
  examples/auth0/README.md
  examples/auth0/components/header.js
  examples/auth0/components/layout.js
  examples/auth0/lib/auth0.js
  examples/auth0/lib/user.js
  examples/auth0/next.config.js
  examples/auth0/now.json
  examples/auth0/package.json
  examples/auth0/pages/about.js
  examples/auth0/pages/advanced/ssr-profile.js
  examples/auth0/pages/api/callback.js
  examples/auth0/pages/api/login.js
  examples/auth0/pages/api/logout.js
  examples/auth0/pages/api/me.js
  examples/auth0/pages/index.js
  examples/auth0/pages/profile.js
Owners: @lfades, @Timer

Update to not copy static and public folders during auto export (#8923)
  packages/next/export/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add `srcRoute` attribute to SPRv2 Manifest (#8928)
  packages/next/build/index.ts
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.8-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Change default body display setting (#8941)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Do not mix `null` in `getCssLinks` return value (#8938)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

s/Automatic Prerendering/Automatic Static Optimization/ (#8940)
  errors/empty-object-getInitialProps.md
  errors/opt-out-auto-static-optimization.md
  packages/next/README.md
  packages/next/build/index.ts
  packages/next/client/dev/prerender-indicator.js
  packages/next/next-server/lib/utils.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove Recipes from Readme (#8939)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove `config` export (#8895)
  packages/next/build/babel/plugins/next-page-config.ts
  test/integration/page-config/next.config.js
  test/integration/page-config/pages/check-client-remove.js
  test/integration/page-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Reduce Timeframe That FOUC Styles Are Active (#8937)
  packages/next/build/webpack-config.ts
  packages/next/client/index.js
  packages/next/client/next-dev.js
  packages/next/pages/_document.tsx
  test/integration/css/fixtures/unused/pages/index.js
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.8-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Monkey patch `next-sass` and `next-less` (#8944)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Use Better Telemetry Directory (#8942)
  packages/next/build/index.ts
  packages/next/cli/next-build.ts
  packages/next/export/index.js
  packages/next/server/next-dev-server.js
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Also patch standalone usage of `@zeit/next-css` (#8950)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.8-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Removes importance link attribute (#8951)
  packages/create-next-app/templates/default/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add `unstable_onPerformanceData` helper for performance entries (#8480)
  packages/next/client/index.js
  packages/next/client/page-loader.js
  test/integration/relay-analytics/pages/_app.js
  test/integration/relay-analytics/pages/index.js
  test/integration/relay-analytics/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Inline `relayPaintMetrics` function (#8954)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add support for CSS Module patching (#8957)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.8-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Convert Export to TypeScript (#8965)
  packages/next/build/output/index.ts
  packages/next/export/index.d.ts
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Informative Error for Invalid Global CSS (#8958)
  errors/global-css.md
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/error-loader.ts
  test/integration/css/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Convert Dev Server to TypeScript (#8966)
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  packages/next/server/error-debug.tsx
  packages/next/server/hot-reloader.ts
  packages/next/server/lib/error-overlay-middleware.js
  packages/next/server/lib/error-overlay-middleware.ts
  packages/next/server/next-dev-server.ts
  packages/next/server/on-demand-entry-handler.ts
  packages/next/types/misc.d.ts
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Legacy CSS Modules on the Server (#8970)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.8-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Migrate AMP story example into Next.js repo (#8972)
  examples/amp-story/.gitignore
  examples/amp-story/README.md
  examples/amp-story/package.json
  examples/amp-story/pages/index.js
Owners: @lfades, @Timer

v9.0.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

De-experimentalize the `public/` folder (#8661)
  errors/can-not-output-to-public.md
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/basic/next.config.js
  test/integration/config-experimental-warning/test/index.test.js
  test/integration/errors-on-output-to-public/pages/index.js
  test/integration/errors-on-output-to-public/test/index.test.js
  test/integration/export/next.config.js
  test/integration/production/next.config.js
  test/integration/serverless-trace/next.config.js
  test/integration/serverless/next.config.js
  test/lib/next-test-utils.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add static directory deprecation warning (#8636)
  errors/static-dir-deprecated.md
  packages/next/README.md
  packages/next/server/next-dev-server.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.0.9-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove default export from constants.d.ts (#8979)
  packages/next/constants.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.9-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Revert "Remove `config` export (#8895)" (#8982)
  packages/next/build/babel/plugins/next-page-config.ts
  test/integration/page-config/next.config.js
  test/integration/page-config/pages/check-client-remove.js
  test/integration/page-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.9-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

with quilljs example (#8904)
  examples/with-quill-js/README.md
  examples/with-quill-js/next.config.js
  examples/with-quill-js/package.json
  examples/with-quill-js/pages/index.js
Owners: @lfades, @Timer
