Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @ijjk, @lfades

Remove previous cache logic (#7794)
  packages/next-server/lib/utils.ts
  test/integration/cache-header/pages/_app.js
  test/integration/cache-header/pages/index.js
  test/integration/cache-header/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Set `cancelled` property on routeChangeError error (#7790)
  packages/next-server/lib/router/router.ts
  test/integration/route-load-cancel/pages/index.js
  test/integration/route-load-cancel/pages/page1.js
  test/integration/route-load-cancel/pages/page2.js
  test/integration/route-load-cancel/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade to webpack with latest acorns (#7795)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Example for GraphQL server with API routes (#7804)
  examples/api-routes-graphql/README.md
  examples/api-routes-graphql/package.json
  examples/api-routes-graphql/pages/api/graphql.js
  examples/api-routes-graphql/pages/index.js
Owners: @lfades

Switch all examples to `next@latest` (#7806)
  examples/api-routes-micro/package.json
  examples/api-routes/package.json
  examples/blog-starter/package.json
  examples/custom-server-actionhero/package.json
  examples/dynamic-routing/package.json
  examples/public-file-serving/package.json
  examples/with-app-layout/package.json
  examples/with-sitemap-and-robots-express-server-typescript/package.json
  examples/with-sitemap-and-robots-express-server/package.json
  examples/with-typescript/package.json
Owners: @lfades

Add API tests to serverless (#7774)
  packages/next-server/server/next-server.ts
  test/integration/serverless/pages/api/hello.js
  test/integration/serverless/pages/api/posts/[id].js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.1-canary.0
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade next of with-typescript-styled-components sample (#7788)
  examples/with-typescript-styled-components/.babelrc
  examples/with-typescript-styled-components/next-env.d.ts
  examples/with-typescript-styled-components/next.config.js
  examples/with-typescript-styled-components/package.json
  examples/with-typescript-styled-components/pages/_document.tsx
  examples/with-typescript-styled-components/tsconfig.json
Owners: @lfades

Update remaining examples to latest Next.js
  examples/api-routes-graphql/package.json
  examples/custom-server-reasonml/package.json
  examples/custom-server-typescript/package.json
  examples/with-astroturf/package.json
  examples/with-cloud9/package.json
  examples/with-context-api/package.json
  examples/with-cookie-auth/www/package.json
  examples/with-draft-js/package.json
  examples/with-firebase-hosting-and-docker/package.json
  examples/with-firebase-hosting-and-typescript/package.json
  examples/with-firebase-hosting/package.json
  examples/with-graphql-hooks/package.json
  examples/with-graphql-react/package.json
  examples/with-http2/package.json
  examples/with-immutable-redux-wrapper/package.json
  examples/with-linaria/package.json
  examples/with-office-ui-fabric-react/package.json
  examples/with-overmind/package.json
  examples/with-react-css-modules/package.json
  examples/with-react-esi/package.json
  examples/with-react-jss/package.json
  examples/with-react-multi-carousel/package.json
  examples/with-refnux/package.json
  examples/with-rematch/package.json
  examples/with-semantic-ui/package.json
  examples/with-slate/package.json
  examples/with-ts-node/package.json
  examples/with-typescript-styled-components/package.json
  examples/with-webassembly/package.json
Owners: @lfades

Undocument the `public/` folder (#7810)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix package count being zero in some cases (#7812)
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  test/integration/build-stats-output/react-site/pages/something.js
  test/integration/build-stats-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make recursiveReadDir return sorted array (#7658)
  packages/next/lib/recursive-readdir.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade with-firebase-hosting-and-typescript example (#7815)
  examples/with-firebase-hosting-and-typescript/.babelrc
  examples/with-firebase-hosting-and-typescript/package.json
  examples/with-firebase-hosting-and-typescript/src/app/.babelrc
  examples/with-firebase-hosting-and-typescript/src/app/next-env.d.ts
  examples/with-firebase-hosting-and-typescript/src/app/next.config.js
  examples/with-firebase-hosting-and-typescript/src/app/tsconfig.json
  examples/with-firebase-hosting-and-typescript/src/functions/index.ts
  examples/with-firebase-hosting-and-typescript/src/functions/tsconfig.json
Owners: @lfades

Update docs about Automatic Prerendering (#7816)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix small typo in TypeScript documentation (#7820)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to always require next/config when setting config (#7822)
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Reduce confusion about passing an object to `push` (#7818)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Miscellaneous doc updates (#7831)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Improve NextApiResponse typing (#7841)
  packages/next-server/lib/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Note the `config` key is reserved (#7840)
  UPGRADING.md
Owners: none

Add a test for module.exports from a page (#7842)
  packages/next/build/utils.ts
  test/integration/auto-export/pages/[post].js
  test/integration/auto-export/pages/commonjs1.js
  test/integration/auto-export/pages/commonjs2.js
  test/integration/auto-export/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade next.js version in custom-typescript-server example (#7772)
  examples/custom-server-typescript/.babelrc
  examples/custom-server-typescript/next-env.d.ts
  examples/custom-server-typescript/next.config.js
  examples/custom-server-typescript/package.json
  examples/custom-server-typescript/tsconfig.json
Owners: @lfades

Upgrade Doc: Note to remove @types/next (#7830)
  UPGRADING.md
Owners: none

Add test for trailing slash on API route (#7851)
  test/integration/api-support/test/index.test.js
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix terminal links (cmd-click) on VSCode (#7849)
  packages/next/build/output/store.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add UrlObject to router methods (#7859)
  packages/next-server/lib/router/router.ts
  test/integration/typescript/pages/hello.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Allow React.Fragment for Document styles (#7863)
  packages/next-server/lib/utils.ts
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.1-canary.1
  lerna.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Title may be omitted (#7865)
  packages/next/pages/_error.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update typescript examples (#7867)
  examples/with-jest-typescript/.babelrc
  examples/with-jest-typescript/next-env.d.ts
  examples/with-jest-typescript/next.config.js
  examples/with-jest-typescript/package.json
  examples/with-jest-typescript/pages/cars.tsx
  examples/with-jest-typescript/pages/login.tsx
  examples/with-jest-typescript/src/modules/cars/Overview.tsx
  examples/with-jest-typescript/tsconfig.json
  examples/with-mobx-state-tree-typescript/.babelrc
  examples/with-mobx-state-tree-typescript/next-env.d.ts
  examples/with-mobx-state-tree-typescript/next.config.js
  examples/with-mobx-state-tree-typescript/package.json
  examples/with-mobx-state-tree-typescript/stores/store.ts
  examples/with-mobx-state-tree-typescript/tsconfig.json
  examples/with-mobx-state-tree-typescript/tslint.json
  examples/with-sitemap-and-robots-express-server-typescript/.babelrc
  examples/with-sitemap-and-robots-express-server-typescript/.gitignore
  examples/with-sitemap-and-robots-express-server-typescript/.npmignore
  examples/with-sitemap-and-robots-express-server-typescript/README.md
  examples/with-sitemap-and-robots-express-server-typescript/now.json
  examples/with-sitemap-and-robots-express-server-typescript/package.json
  examples/with-sitemap-and-robots-express-server-typescript/src/components/RobotsLink.tsx
  examples/with-sitemap-and-robots-express-server-typescript/src/components/SitemapLink.tsx
  examples/with-sitemap-and-robots-express-server-typescript/src/pages/index.tsx
  examples/with-sitemap-and-robots-express-server-typescript/src/public/robots.txt
  examples/with-sitemap-and-robots-express-server-typescript/src/server/app.ts
  examples/with-sitemap-and-robots-express-server-typescript/src/server/posts.ts
  examples/with-sitemap-and-robots-express-server-typescript/src/server/sitemap.ts
  examples/with-sitemap-and-robots-express-server-typescript/tsconfig.express.json
  examples/with-sitemap-and-robots-express-server-typescript/tsconfig.next.json
  examples/with-sitemap-and-robots-express-server-typescript/tslint.json
  examples/with-typings-for-css-modules/.babelrc
  examples/with-typings-for-css-modules/README.md
  examples/with-typings-for-css-modules/next-env.d.ts
  examples/with-typings-for-css-modules/next.config.js
  examples/with-typings-for-css-modules/package.json
  examples/with-typings-for-css-modules/tsconfig.json
Owners: @lfades

Remove with-styled-components Auto Prerendering warning (#7871)
  examples/with-styled-components/pages/_app.js
Owners: @lfades

Add default values for runtime config (#7847)
  packages/next-server/lib/utils.ts
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next/build/index.ts
  packages/next/client/index.js
  packages/next/export/index.js
  test/integration/production/pages/runtime-config.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add a dev2 command
  package.json
Owners: none

Handle empty directory (#7876)
  packages/next/server/next-dev-server.js
  test/integration/empty-project/next.config.js
  test/integration/empty-project/pages/.gitkeep
  test/integration/empty-project/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Test for <Document> fragment `styles` (#7875)
  test/integration/app-document-style-fragment/pages/_document.js
  test/integration/app-document-style-fragment/pages/index.js
  test/integration/app-document-style-fragment/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix placeholder values being added when exporting from serverless (#7883)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Stop PageConfig plugin from running on non-pages (#7884)
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/integration/page-config/config/index.js
  test/integration/page-config/pages/index.js
  test/integration/page-config/something.js
  test/integration/page-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

`exportPathMap` dynamic routes params fix (#7846)
  errors/export-path-mismatch.md
  packages/next/export/worker.js
  test/integration/export/next.config.js
  test/integration/export/pages/blog/[post]/comment/[id].js
  test/integration/export/test/dynamic.js
  test/integration/export/test/index.test.js
  test/integration/export/test/ssr.js
  test/lib/next-test-utils.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add declaration files to the contributing guide (#7885)
  contributing.md
  package.json
Owners: none

Add support for legacy server npm modules (#7898)
  package.json
  packages/next/build/webpack-config.ts
  test/integration/legacy-pkg-gently/next.config.js
  test/integration/legacy-pkg-gently/pages/api/hello.js
  test/integration/legacy-pkg-gently/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens
/errors/                  @Timer
