Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Add assetPrefix when fetching script and style dependencies (#9933)
  packages/next/client/page-loader.js
  test/integration/chunking/next.config.js
  test/integration/chunking/pages/page3.js
  test/integration/chunking/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Tests (#9963)
  package.json
  packages/next/next-server/lib/router/utils/route-matcher.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/router.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.8-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Allow libs that ends with `next/dist` such as `i18next`, `next-i18next`, `react-i18next` to be external (#9956)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Use `<script defer>` by default, matching `<script type=module>` (#9966)
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
  packages/next/pages/_document.tsx
  test/integration/defer-scripts/next.config.js
  test/integration/defer-scripts/pages/index.js
  test/integration/defer-scripts/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test strictly matching `next/dist` packages (#9968)
  test/integration/non-next-dist-exclude/app/node_modules/notnext/.gitignore
  test/integration/non-next-dist-exclude/app/node_modules/notnext/dist/index.js
  test/integration/non-next-dist-exclude/app/node_modules/notnext/package.json
  test/integration/non-next-dist-exclude/app/package.json
  test/integration/non-next-dist-exclude/app/pages/index.js
  test/integration/non-next-dist-exclude/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add docs for catch all routes (#9967)
  docs/routing/dynamic-routes.md
  docs/routing/introduction.md
Owners: @Timer

v9.1.8-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

docs: Fix imports in router API reference (#9977)
  docs/api-reference/next/router.md
Owners: @Timer

typo fix (#9979)
  docs/api-reference/data-fetching/getInitialProps.md
Owners: @Timer

Removed <br> from docs (#9972)
  docs/getting-started.md
Owners: @Timer

Fix Browserslist Integration for CSS (#9985)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/package.json
  packages/next/types/misc.d.ts
  test/integration/css-features/fixtures/browsers-new/package.json
  test/integration/css-features/fixtures/browsers-new/pages/_app.js
  test/integration/css-features/fixtures/browsers-new/pages/index.js
  test/integration/css-features/fixtures/browsers-new/pages/styles.css
  test/integration/css-features/fixtures/browsers-old/package.json
  test/integration/css-features/fixtures/browsers-old/pages/_app.js
  test/integration/css-features/fixtures/browsers-old/pages/index.js
  test/integration/css-features/fixtures/browsers-old/pages/styles.css
  test/integration/css-features/fixtures/next.config.js
  test/integration/css-features/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Simplify `<Link>` Prefetch Deduping (#9987)
  packages/next/client/link.tsx
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  test/integration/preload-viewport/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Updated docs for pathname (#9964)
  docs/api-reference/data-fetching/getInitialProps.md
  docs/api-reference/next/router.md
  packages/next/README.md
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test That Custom Properties Are Not Compiled (#9984)
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css-features/fixtures/cp-ie-11/package.json
  test/integration/css-features/fixtures/cp-ie-11/pages/_app.js
  test/integration/css-features/fixtures/cp-ie-11/pages/index.js
  test/integration/css-features/fixtures/cp-ie-11/pages/styles.css
  test/integration/css-features/fixtures/cp-modern/package.json
  test/integration/css-features/fixtures/cp-modern/pages/_app.js
  test/integration/css-features/fixtures/cp-modern/pages/index.js
  test/integration/css-features/fixtures/cp-modern/pages/styles.css
  test/integration/css-features/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Use optional chaining syntax (#9975)
  packages/create-next-app/index.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/babel/preset.ts
  packages/next/build/output/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/export/index.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/hot-reloader.ts
  packages/next/server/next-dev-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Don't prepend a slash on empty path (#9973)
  packages/next/next-server/lib/router/rewrite-url-for-export.ts
  test/integration/export/next.config.js
  test/integration/export/pages/hash-link.js
  test/integration/export/test/browser.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Proposing a new example "with-typescript-graphql" (#9803)
  examples/with-typescript-graphql/.gitignore
  examples/with-typescript-graphql/.graphql-let.yml
  examples/with-typescript-graphql/README.md
  examples/with-typescript-graphql/lib/resolvers.ts
  examples/with-typescript-graphql/lib/schema.ts
  examples/with-typescript-graphql/lib/type-defs.graphqls
  examples/with-typescript-graphql/lib/viewer.graphql
  examples/with-typescript-graphql/lib/with-apollo.tsx
  examples/with-typescript-graphql/next-env.d.ts
  examples/with-typescript-graphql/next.config.js
  examples/with-typescript-graphql/package.json
  examples/with-typescript-graphql/pages/about.tsx
  examples/with-typescript-graphql/pages/api/graphql.ts
  examples/with-typescript-graphql/pages/index.tsx
  examples/with-typescript-graphql/tsconfig.json
Owners: @lfades, @Timer

Update static-file-serving.md
  docs/basic-features/static-file-serving.md
Owners: @Timer

Update static-file-serving.md (#10006)
  docs/basic-features/static-file-serving.md
Owners: @Timer

Test Importing Global CSS in CSS Modules (#10008)
  test/integration/css-features/fixtures/module-import-global-invalid/package.json
  test/integration/css-features/fixtures/module-import-global-invalid/pages/index.js
  test/integration/css-features/fixtures/module-import-global-invalid/pages/styles.css
  test/integration/css-features/fixtures/module-import-global-invalid/pages/styles.module.css
  test/integration/css-features/fixtures/module-import-global/package.json
  test/integration/css-features/fixtures/module-import-global/pages/index.js
  test/integration/css-features/fixtures/module-import-global/pages/styles.css
  test/integration/css-features/fixtures/module-import-global/pages/styles.module.css
  test/integration/css-features/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

with cookie auth latest (#10005)
  examples/with-cookie-auth/components/header.js
  examples/with-cookie-auth/components/layout.js
  examples/with-cookie-auth/package.json
  examples/with-cookie-auth/pages/login.js
Owners: @lfades, @Timer

Add with redux wrapper hooks (#9954)
  examples/with-redux-wrapper/.npmrc
  examples/with-redux-wrapper/README.md
  examples/with-redux-wrapper/components/AddCount.js
  examples/with-redux-wrapper/components/Page.js
  examples/with-redux-wrapper/package.json
  examples/with-redux-wrapper/pages/_app.js
  examples/with-redux-wrapper/pages/index.js
  examples/with-redux-wrapper/pages/other.js
  examples/with-redux-wrapper/store.js
  examples/with-redux-wrapper/store/count/action.js
  examples/with-redux-wrapper/store/count/reducer.js
  examples/with-redux-wrapper/store/store.js
  examples/with-redux-wrapper/store/tick/action.js
  examples/with-redux-wrapper/store/tick/reducer.js
Owners: @lfades, @Timer

Fix typo on code comment for pages docs (#10011)
  docs/basic-features/pages.md
Owners: @Timer

docs: Fix Some Syntax Highlighting (#10013)
  docs/deployment.md
Owners: @Timer

Separate Self Size and First Load Size (#10014)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/build-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test Custom Properties in CSS Modules (#10007)
  test/integration/css-features/fixtures/cp-el-modules/pages/index.js
  test/integration/css-features/fixtures/cp-el-modules/pages/styles.module.css
  test/integration/css-features/fixtures/cp-global-modules/pages/index.js
  test/integration/css-features/fixtures/cp-global-modules/pages/styles.module.css
  test/integration/css-features/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

switches analytics relay test from dev to prod (#10017)
  test/integration/relay-analytics/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enable New CSS Support by Default (#9927)
  packages/next/client/dev/amp-dev.js
  packages/next/client/dev/fouc.js
  packages/next/client/next-dev.js
  packages/next/next-server/server/config.ts
  packages/next/pages/_document.tsx
  packages/next/taskfile-babel.js
  test/integration/chunking-minimal/next.config.js
  test/integration/chunking/next.config.js
  test/integration/css-fixtures/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Back Comments (#10019)
  packages/next/taskfile-babel.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Keep Chunk Hash in Build Output (#10020)
  packages/next/build/utils.ts
  test/integration/build-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.8-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Ensure Build Output Does Not Contain `<buildId>` (#10021)
  packages/next/build/utils.ts
  test/integration/build-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

example: fix npm/yarn install/run instructions (#10023)
  examples/with-higher-order-component/README.md
Owners: @lfades, @Timer

v9.1.8-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
