Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Adjust SSG Loading Behavior (#10510)
  packages/next/build/index.ts
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  test/integration/dynamic-routing/test/index.test.js
  test/integration/prerender-preview/test/index.test.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.17
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update wording for custom server (#10512)
  docs/deployment.md
Owners: @Timer

Retry Static Data Fetch on Hydration (#10513)
  packages/next/next-server/lib/router/router.ts
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove with-data-prefetch Example (#10514)
  examples/with-data-prefetch/README.md
  examples/with-data-prefetch/components/link.js
  examples/with-data-prefetch/package.json
  examples/with-data-prefetch/pages/article.js
  examples/with-data-prefetch/pages/index.js
Owners: @lfades, @Timer

Clean up async in next-server (#10476)
  packages/next/next-server/server/next-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Improve error for invalid page configurations (#10441)
  packages/next/build/babel/plugins/next-page-config.ts
  test/integration/page-config/pages/index.js
  test/integration/page-config/pages/invalid/invalid-property.js
  test/integration/page-config/pages/invalid/invalid-value.js
  test/integration/page-config/pages/invalid/no-init.js
  test/integration/page-config/pages/invalid/spread-config.js
  test/integration/page-config/pages/invalid/string-config.js
  test/integration/page-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add handling for default as named export in SSG transform (#10486)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update withApollo example (#10451)
  examples/with-apollo/apolloClient.js
  examples/with-apollo/lib/apollo.js
  examples/with-apollo/package.json
  examples/with-apollo/pages/about.js
  examples/with-apollo/pages/client-only.js
  examples/with-apollo/pages/index.js
Owners: @lfades, @Timer

v9.2.2-canary.18
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add global CSS styles to example/with-stripe-typescript (#10520)
  examples/with-stripe-typescript/README.md
  examples/with-stripe-typescript/components/CheckoutForm.tsx
  examples/with-stripe-typescript/components/CustomDonationInput.tsx
  examples/with-stripe-typescript/components/ElementsForm.tsx
  examples/with-stripe-typescript/components/Layout.tsx
  examples/with-stripe-typescript/package.json
  examples/with-stripe-typescript/pages/_app.tsx
  examples/with-stripe-typescript/pages/api/checkout_sessions/[id].ts
  examples/with-stripe-typescript/pages/api/checkout_sessions/index.ts
  examples/with-stripe-typescript/pages/api/payment_intents/index.ts
  examples/with-stripe-typescript/pages/api/webhooks/index.ts
  examples/with-stripe-typescript/pages/donate-with-checkout.tsx
  examples/with-stripe-typescript/pages/donate-with-elements.tsx
  examples/with-stripe-typescript/pages/index.tsx
  examples/with-stripe-typescript/pages/result.tsx
  examples/with-stripe-typescript/public/checkout-one-time-payments.svg
  examples/with-stripe-typescript/public/checkout_demo.gif
  examples/with-stripe-typescript/public/elements-card-payment.svg
  examples/with-stripe-typescript/public/elements_demo.gif
  examples/with-stripe-typescript/public/logo.png
  examples/with-stripe-typescript/public/social_card.png
  examples/with-stripe-typescript/styles.css
Owners: @lfades, @Timer

Remove `native-url` Again (#10526)
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.19
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Make sure to encode pathname for custom-route destination (#10536)
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/production/next.config.js
  test/integration/production/test/security.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.20
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Check next.config.js settings (#10425)
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
  packages/next/server/next-dev-server.ts
  packages/next/telemetry/events/version.ts
  test/integration/telemetry/.babelrc.default
  test/integration/telemetry/.babelrc.plugin
  test/integration/telemetry/.babelrc.preset
  test/integration/telemetry/next.config.target
  test/integration/telemetry/next.config.webpack
  test/integration/telemetry/package.babel
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Migrate to AMP Optimizer 2.0 (#10535)
  docs/advanced-features/amp-support/adding-amp-components.md
  packages/next/package.json
  test/integration/amp-export-validation/pages/cat.js
  test/integration/amp-export-validation/pages/dog-cat.js
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml/pages/auto-import.js
  test/integration/amphtml/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Implement `isFallback` Router Property (#10539)
  packages/next/client/index.js
  packages/next/client/router.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.21
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Simplify create-next-app README (#10545)
  packages/create-next-app/create-app.ts
  packages/create-next-app/templates/default/README-template.md
  packages/create-next-app/templates/default/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Speculate Navigations for Client-Side JS (#10560)
  packages/next/client/link.tsx
  packages/next/next-server/lib/router/router.ts
  test/integration/preload-viewport/pages/index.js
  test/integration/preload-viewport/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.22
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove ts-ignore where possible (#10541)
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/build/compiler.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/index.ts
  packages/next/client/link.tsx
  packages/next/lib/resolve-request.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/next-server/lib/loadable-context.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/misc.d.ts
  packages/next/types/webpack.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove react import in create-next-app template (#10564)
  .eslintrc.json
  packages/create-next-app/templates/default/pages/index.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add extra profiling app (#10568)
  test/integration/bundle-size-profiling/next.config.js
  test/integration/bundle-size-profiling/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.23
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Adds a missing dependency (#10570)
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enable pages/404.js support (#10572)
  packages/next/next-server/server/config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enable scss/sass support (#10571)
  packages/next/next-server/server/config.ts
  test/integration/scss-fixtures/next.config.js
  test/integration/typescript/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add missin create permission for faunadb example (#10575)
  examples/with-graphql-faunadb/scripts/setup.js
Owners: @lfades, @Timer

v9.2.3-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Re-add Sass Docs (#10364)
  docs/basic-features/built-in-css-support.md
Owners: @Timer

Enable polyfillsOptimization (#10574)
  packages/next/build/babel/preset.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/client/index.js
  packages/next/client/polyfills-nomodule.js
  packages/next/client/polyfills.js
  packages/next/package.json
  packages/next/taskfile-babel.js
  test/integration/bundle-size-profiling/next.config.js
  test/integration/modern-mode/test/index.test.js
  test/integration/polyfilling-minimal/next.config.js
  test/integration/size-limit/test/index.test.js
  test/unit/next-babel.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Revert "Re-add Sass Docs (#10364)" (#10577)
  docs/basic-features/built-in-css-support.md
Owners: @Timer

v9.2.3-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Decrease number of expected preloads in safari (#10578)
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make sure to handle rejection when prefetching pages (#10579)
  packages/next/client/link.tsx
  test/integration/preload-viewport/pages/invalid-prefetch.js
  test/integration/preload-viewport/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add NextApiHandler type (#10573)
  packages/next/next-server/lib/utils.ts
  packages/next/types/index.d.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update error message for invalid return value from getStaticPaths (#10580)
  packages/next/build/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
