Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

sort posts by date in descending order (#12303)
  examples/blog-starter/lib/api.js
Owners: @lfades, @Timer

Add contentful as a related example link to each CMS example (#12796)
  examples/blog-starter/README.md
  examples/cms-contentful/README.md
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-takeshape/README.md
Owners: @lfades, @Timer

Make fetch polyfill work with ky-universal (#12804)
  package.json
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/worker.js
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/node-polyfill-fetch.js
  packages/next/server/static-paths-worker.ts
  test/integration/fetch-polyfill-ky-universal/api-server.js
  test/integration/fetch-polyfill-ky-universal/api/api-route.js
  test/integration/fetch-polyfill-ky-universal/pages/getinitialprops.js
  test/integration/fetch-polyfill-ky-universal/pages/ssr.js
  test/integration/fetch-polyfill-ky-universal/pages/static.js
  test/integration/fetch-polyfill-ky-universal/serverless-server.js
  test/integration/fetch-polyfill-ky-universal/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.1-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

docs: redirect error to the correct url (#12813)
  packages/next/export/worker.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

docs(ssr-caching): remove link to react-esi example (#12789)
  examples/ssr-caching/README.md
Owners: @lfades, @Timer

Bump Babel cache key (#12822)
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Run all logbox tests (#12825)
  test/acceptance/ReactRefreshLogBox.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix edge case in fetch polyfill (#12832)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/fetch-polyfill/api-server.js
  test/integration/fetch-polyfill/pages/user/[username].js
  test/integration/fetch-polyfill/serverless-server.js
  test/integration/fetch-polyfill/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.1-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

chore(deps): upgrade url-polyfill (#12829)
  packages/next-polyfill-nomodule/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Better Babel syntax errors (#12821)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/index.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseBabel.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/simpleWebpackError.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  test/acceptance/ReactRefreshLogBox.test.js
  test/integration/custom-error/test/index.test.js
  test/integration/typescript-numeric-sep-exclusive/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix up CMS examples (#12840)
  examples/cms-contentful/pages/posts/[slug].js
  examples/cms-datocms/pages/index.js
  examples/cms-datocms/pages/posts/[slug].js
  examples/cms-prismic/pages/index.js
  examples/cms-prismic/pages/posts/[slug].js
  examples/cms-sanity/pages/posts/[slug].js
  examples/cms-takeshape/pages/index.js
  examples/cms-takeshape/pages/posts/[slug].js
Owners: @lfades, @Timer

Simplify CSS Errors (#12852)
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseCss.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  test/acceptance/ReactRefreshLogBox.test.js
  test/integration/css-features/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.1-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add example with-hls-js (#12723)
  examples/with-hls-js/.gitignore
  examples/with-hls-js/README.md
  examples/with-hls-js/components/video-player.js
  examples/with-hls-js/package.json
  examples/with-hls-js/pages/index.js
  examples/with-hls-js/public/favicon.ico
  examples/with-hls-js/public/mux.svg
  examples/with-hls-js/public/vercel.svg
Owners: @lfades, @Timer

Eliminate 404s from internal requests (#12871)
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update styled-jsx to 3.3.0 (#12870)
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove `isInitialRender` usage for overlay (#12872)
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Warn users about migrating to 9.4 from dotenv (#12859)
  docs/basic-features/environment-variables.md
Owners: @Timer

Explicit header for SSR error (#12880)
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/helpers/nodeStackFrames.ts
  test/integration/basic/test/error-recovery.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Scroll entire content instead of only header (#12881)
  packages/react-dev-overlay/src/internal/components/Dialog/styles.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.1-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update package.json (#12865)
  examples/with-lingui/package.json
Owners: @lfades, @Timer

add Expo example (#12805)
  examples/with-expo/.gitignore
  examples/with-expo/App.js
  examples/with-expo/README.md
  examples/with-expo/babel.config.js
  examples/with-expo/next.config.js
  examples/with-expo/package.json
  examples/with-expo/pages/_document.js
  examples/with-expo/pages/index.js
  examples/with-expo/public/demo.png
Owners: @lfades, @Timer

`sync` and `built` are identical commands (#12908)
  packages/next/client/dev/dev-build-watcher.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update module-path-aliases.md (#12900)
  docs/advanced-features/module-path-aliases.md
Owners: @Timer

[Fast Refresh] Improve responsiveness on Windows (#12909)
  packages/next/build/webpack/config/blocks/base.ts
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/helpers/getRawSourceMap.ts
  packages/react-dev-overlay/src/internal/helpers/parseStack.ts
  test/acceptance/ReactRefreshLogBox.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.4.1-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Stop tracking changes in .next folder (#12924)
  examples/with-expo/.gitignore
Owners: @lfades, @Timer

[Examples] Fix active-class-name (#12931)
  examples/active-class-name/components/ActiveLink.js
Owners: @lfades, @Timer

Correct multi-match param behavior (#12930)
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Strip out dead code for `ignoreDevErrors` (#12941)
  docs/api-reference/next.config.js/ignoring-typescript-errors.md
  packages/next/build/output/index.ts
  packages/next/build/webpack-config.ts
  packages/next/server/hot-reloader.ts
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove `react-error-overlay` (#12942)
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/dev/error-overlay/source-map-support.ts
  packages/next/client/index.js
  packages/next/next-server/server/config.ts
  packages/next/package.json
  packages/next/server/error-debug.tsx
  packages/next/server/hot-reloader.ts
  packages/next/server/next-dev-server.ts
  packages/next/server/on-demand-entry-handler.ts
  packages/next/taskfile.js
  test/integration/client-navigation/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enable .env support by default (#12911)
  docs/basic-features/environment-variables.md
  errors/env-loading-disabled.md
  packages/next/lib/load-env-config.ts
  test/integration/env-config-disable/app/package.json
  test/integration/env-config-disable/app/packages/sub-app/.env/.env.development
  test/integration/env-config-disable/app/packages/sub-app/package.json
  test/integration/env-config-disable/app/packages/sub-app/pages/index.js
  test/integration/env-config-disable/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.4.1-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add retrying to cross browser tests (#12946)
  .github/workflows/build_test_deploy.yml
Owners: @Timer

Remove `isomorphic-unfetch` from examples (#12948)
  examples/auth0/lib/user.js
  examples/auth0/package.json
  examples/blog-starter/package.json
  examples/cms-datocms/lib/api.js
  examples/cms-datocms/package.json
  examples/cms-prismic/lib/api.js
  examples/cms-prismic/package.json
  examples/cms-takeshape/lib/api.js
  examples/cms-takeshape/package.json
  examples/custom-server-actionhero/package.json
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo-and-redux/package.json
  examples/with-apollo/apolloClient.js
  examples/with-apollo/package.json
  examples/with-docker/package.json
  examples/with-firebase-authentication/package.json
  examples/with-firebase-authentication/utils/auth/firebaseSessionHandler.js
  examples/with-graphql-hooks/lib/init-graphql.js
  examples/with-graphql-hooks/package.json
  examples/with-react-relay-network-modern/lib/createEnvironment/index.js
  examples/with-react-relay-network-modern/package.json
  examples/with-redux-saga/package.json
  examples/with-redux-saga/saga.js
  examples/with-relay-modern/lib/createRelayEnvironment.js
  examples/with-relay-modern/package.json
  examples/with-rematch/package.json
  examples/with-rematch/shared/models/github.js
  examples/with-static-export/package.json
  examples/with-static-export/pages/index.js
  examples/with-static-export/pages/post/[id].js
  examples/with-typescript/package.json
Owners: @lfades, @Timer

Elimination has to run before other plugins (#12949)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/next-babel-loader.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Support eliminating memoized functions (#12953)
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades
