Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

v9.1.7-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update error checking for AMP validator tests (#9817)
  test/integration/amp-export-validation/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Optimize Prefetching (#9818)
  packages/next/build/webpack-config.ts
  packages/next/client/page-loader.js
  test/integration/css-client-nav/test/index.test.js
  test/integration/link-ref/test/index.test.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix/improve test for deduplication of tags with same key (#9793)
  test/integration/client-navigation/pages/head-duplicate-default-keys.js
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Experimental] Move Babel transpile into a cached thread pool (#9331)
  packages/next/build/webpack-config.ts
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix IE11 Prefetching (#9823)
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix Chrome-Only Tests (#9825)
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update yarn.lock
  yarn.lock
Owners: @Timer

Allow Empty API Body (#9838)
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add selenium-webdriver and testing cross-browser in PRs (#9821)
  .circleci/config.yml
  azure-pipelines.yml
  package.json
  test/integration/client-navigation/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/integration/production/pages/prefetch.js
  test/integration/production/test/index.test.js
  test/jest-environment.js
  test/jest-global-setup.js
  test/lib/next-webdriver.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Allow Boolean API Response (#9842)
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/pages/api/bool.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Do Not Run File Loader on Server (#9843)
  packages/next/build/webpack/config/blocks/css/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Special Global CSS Error within `node_modules` (#9849)
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  test/integration/css-fixtures/invalid-global-module/node_modules/example/index.css
  test/integration/css-fixtures/invalid-global-module/node_modules/example/index.js
  test/integration/css-fixtures/invalid-global-module/node_modules/example/index.mjs
  test/integration/css-fixtures/invalid-global-module/node_modules/example/package.json
  test/integration/css-fixtures/invalid-global-module/pages/index.js
  test/integration/css-modules/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Expose CSS Issuer When Error (#9850)
  packages/next/build/webpack/loaders/error-loader.ts
  packages/next/taskfile.js
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test Nested CSS Imports (#9855)
  test/integration/css-fixtures/nm-module-nested/node_modules/example/index.js
  test/integration/css-fixtures/nm-module-nested/node_modules/example/index.mjs
  test/integration/css-fixtures/nm-module-nested/node_modules/example/index.module.css
  test/integration/css-fixtures/nm-module-nested/node_modules/example/other.css
  test/integration/css-fixtures/nm-module-nested/node_modules/example/other2.css
  test/integration/css-fixtures/nm-module-nested/node_modules/example/other3.css
  test/integration/css-fixtures/nm-module-nested/node_modules/example/package.json
  test/integration/css-fixtures/nm-module-nested/pages/index.js
  test/integration/css-fixtures/npm-import-nested/node_modules/example/index.js
  test/integration/css-fixtures/npm-import-nested/node_modules/example/index.mjs
  test/integration/css-fixtures/npm-import-nested/node_modules/example/other.css
  test/integration/css-fixtures/npm-import-nested/node_modules/example/package.json
  test/integration/css-fixtures/npm-import-nested/node_modules/example/test.css
  test/integration/css-fixtures/npm-import-nested/pages/_app.js
  test/integration/css-fixtures/npm-import-nested/pages/index.js
  test/integration/css-fixtures/npm-import-nested/styles/global.css
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Register Created Bindings (#9864)
  packages/next/build/babel/plugins/jsx-pragma.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix bug in data-fetching.md's example (#9868)
  docs/basic-features/data-fetching.md
Owners: @Timer

Refactor Router#getInitialProps (#9853)
  packages/next/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add basePath support (#9872)
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/basepath/components/hello-chunkfilename.js
  test/integration/basepath/components/hello-context.js
  test/integration/basepath/components/hello1.js
  test/integration/basepath/components/hello2.js
  test/integration/basepath/components/hello3.js
  test/integration/basepath/components/hello4.js
  test/integration/basepath/components/hmr/dynamic.js
  test/integration/basepath/components/nested1.js
  test/integration/basepath/components/nested2.js
  test/integration/basepath/components/welcome.js
  test/integration/basepath/next.config.js
  test/integration/basepath/pages/hello.js
  test/integration/basepath/pages/hmr/about.js
  test/integration/basepath/pages/hmr/about1.js
  test/integration/basepath/pages/hmr/about2.js
  test/integration/basepath/pages/hmr/about3.js
  test/integration/basepath/pages/hmr/about4.js
  test/integration/basepath/pages/hmr/about5.js
  test/integration/basepath/pages/hmr/about6.js
  test/integration/basepath/pages/hmr/about7.js
  test/integration/basepath/pages/hmr/contact.js
  test/integration/basepath/pages/hmr/counter.js
  test/integration/basepath/pages/hmr/error-in-gip.js
  test/integration/basepath/pages/hmr/index.js
  test/integration/basepath/pages/hmr/style-dynamic-component.js
  test/integration/basepath/pages/hmr/style-stateful-component.js
  test/integration/basepath/pages/hmr/style.js
  test/integration/basepath/pages/other-page.js
  test/integration/basepath/pages/ssr.js
  test/integration/basepath/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add basePath to routes-manifest (#9875)
  packages/next/build/index.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update native-url for peerdep (#9882)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update yarn.lock
  yarn.lock
Owners: @Timer

v9.1.7-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update testing notes in contributing doc (#9878)
  contributing.md
Owners: @Timer

Refactor SSG Data Fetching (#9884)
  packages/next/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add test ensuring basePath is added to routes-manifest (#9885)
  test/integration/basepath/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add error for rewrite to auto-exported dynamic page (#9816)
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/another/[id].js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Removed the custom configuration page (#9886)
  docs/advanced-features/custom-configuration.md
  docs/manifest.json
Owners: @Timer

Use Cached SSG Data on History Navigation (#9887)
  packages/next/next-server/lib/router/router.ts
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Defer Loading CSS Configuration (#9889)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css-customization/test/index.test.js
  test/integration/css-fixtures/custom-configuration-legacy/next.config.js
  test/integration/css-fixtures/custom-configuration-legacy/pages/_app.js
  test/integration/css-fixtures/custom-configuration-legacy/pages/index.js
  test/integration/css-fixtures/custom-configuration-legacy/postcss.config.js
  test/integration/css-fixtures/custom-configuration-legacy/styles/global.css
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.7-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Support static export and server hosted build and update docs (#9783)
  examples/with-next-offline/README.md
  examples/with-next-offline/next.config.js
  examples/with-next-offline/package.json
Owners: @lfades, @Timer

Fix Potential Duplication of Page Loading (#9894)
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Ensure params in query are updated for custom-routes (#9797)
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
