Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Avoid bugs with native Date class (#12098)
  examples/blog-starter/components/date-formater.js
  examples/blog-starter/components/hero-post.js
  examples/blog-starter/components/post-header.js
  examples/blog-starter/components/post-preview.js
Owners: @lfades, @Timer

Update Code of Conduct email address (#12108)
  CODE_OF_CONDUCT.md
Owners: @Timer

Make sure to handle // during hydration (#11788)
  packages/next/next-server/lib/router/router.ts
  test/integration/hydration/pages/404.js
  test/integration/hydration/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update TypeScript API routes tests (#12112)
  test/integration/typescript/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

fix variable (#12114)
  examples/with-iron-session/pages/login.js
Owners: @lfades, @Timer

Add example with Magic authentication (#11810)
  examples/with-magic/.env.example
  examples/with-magic/.gitignore
  examples/with-magic/README.md
  examples/with-magic/components/form.js
  examples/with-magic/components/header.js
  examples/with-magic/components/layout.js
  examples/with-magic/lib/auth-cookies.js
  examples/with-magic/lib/hooks.js
  examples/with-magic/lib/iron.js
  examples/with-magic/lib/magic.js
  examples/with-magic/next.config.js
  examples/with-magic/now.json
  examples/with-magic/package.json
  examples/with-magic/pages/api/login.js
  examples/with-magic/pages/api/logout.js
  examples/with-magic/pages/api/user.js
  examples/with-magic/pages/index.js
  examples/with-magic/pages/login.js
  examples/with-magic/pages/profile.js
  examples/with-magic/public/favicon.ico
  examples/with-magic/public/vercel.svg
Owners: @lfades, @Timer

Improve Server Lib Utilities (#12119)
  packages/next/next-server/server/normalize-page-path.ts
  packages/next/next-server/server/utils.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove @types/find-up (#12120)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add tests for dotenv-expand behavior (#12140)
  packages/next/lib/load-env-config.ts
  test/integration/env-config/app/.env
  test/integration/env-config/app/pages/api/all.js
  test/integration/env-config/app/pages/index.js
  test/integration/env-config/app/pages/some-ssg.js
  test/integration/env-config/app/pages/some-ssp.js
  test/integration/env-config/app/pages/ssp.js
  test/integration/env-config/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Ensure modern AMP client page bundles are removed (#12138)
  packages/next/build/index.ts
  test/integration/amphtml/next.config.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to match log style for new env loading (#12137)
  packages/next/lib/load-env-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add userbase example (#12150)
  .github/ISSUE_TEMPLATE/1.Bug_report.md
  .github/ISSUE_TEMPLATE/2.Feature_request.md
  examples/with-next-less/README.md
  examples/with-next-less/next.config.js
  examples/with-next-less/pages/_document.js
  examples/with-next-less/pages/index.js
  examples/with-userbase/.env.example
  examples/with-userbase/.gitignore
  examples/with-userbase/README.md
  examples/with-userbase/components/layout/index.js
  examples/with-userbase/components/modal/index.js
  examples/with-userbase/components/nav/index.js
  examples/with-userbase/components/todo-form/index.js
  examples/with-userbase/next.config.js
  examples/with-userbase/now.json
  examples/with-userbase/package.json
  examples/with-userbase/pages/_app.js
  examples/with-userbase/pages/index.js
  examples/with-userbase/postcss.config.js
  examples/with-userbase/styles/button.css
  examples/with-userbase/styles/index.css
Owners: @Timer, @lfades

Added a link to the next.config.js docs for the with-env-next-… (#12153)
  examples/with-env-from-next-config-js/README.md
Owners: @lfades, @Timer

Update snapshot in with-jest example (#12157)
  examples/with-jest/__tests__/__snapshots__/snapshot.js.snap
Owners: @lfades, @Timer

Remove unnecessary export to make usage clearer. (#12167)
  examples/with-mobx/store.js
Owners: @lfades, @Timer

Add quotes to static paths in fallback section (#12170)
  docs/basic-features/data-fetching.md
Owners: @Timer

Run tsconfig paths resolver before PnP (#12104)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fast Refresh: test cyclic dependencies (#12161)
  test/acceptance/ReactRefresh.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Link to CLI doc from getting started doc / link to Telemetry doc from CLI doc (#12181)
  docs/api-reference/cli.md
  docs/getting-started.md
Owners: @Timer

v9.3.6-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Example] update with-tailwindcss-emotion to tailwind 1.3.3 and emotion 11 + tailwind-ui plugin (#11611)
  examples/with-tailwindcss-emotion/.babelrc
  examples/with-tailwindcss-emotion/README.md
  examples/with-tailwindcss-emotion/babel-plugin-macros.config.js
  examples/with-tailwindcss-emotion/components/ButtonCss.js
  examples/with-tailwindcss-emotion/components/ButtonReact.js
  examples/with-tailwindcss-emotion/components/ButtonStyled.js
  examples/with-tailwindcss-emotion/next.config.js
  examples/with-tailwindcss-emotion/package.json
  examples/with-tailwindcss-emotion/pages/_app.js
  examples/with-tailwindcss-emotion/pages/_document.js
  examples/with-tailwindcss-emotion/pages/index.js
  examples/with-tailwindcss-emotion/styles/base.css
  examples/with-tailwindcss-emotion/styles/tailwind.base.css
  examples/with-tailwindcss-emotion/tailwind.config.js
  examples/with-tailwindcss-emotion/tailwind.js
Owners: @lfades, @Timer

Fix CSS Module HMR (#12177)
  packages/next/compiled/cssnano-simple/index.js
  packages/next/package.json
  test/integration/css-modules/test/index.test.js
  test/integration/scss-modules/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove launched experimental options (#12197)
  examples/with-carbon-components/next.config.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/index.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
Owners: @lfades, @Timer, @timneutkens, @ijjk

Fix basePath not being applied for GS(S)P data routes (#12200)
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/gsp.js
  test/integration/basepath/pages/gssp.js
  test/integration/basepath/pages/hello.js
  test/integration/basepath/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update node-notifier (#12205)
  package.json
  yarn.lock
Owners: @Timer

Downgrade terser to fix invalid minifying (#12178)
  packages/next/build/webpack-config.ts
  packages/next/compiled/terser/bundle.min.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update size-limit to reflect Terser downgrade
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix CSS Identifier Cleaning (#12239)
  packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts
  test/integration/css-fixtures/catch-all-module/pages/[...post]/55css.module.css
  test/integration/css-fixtures/catch-all-module/pages/[...post]/index.js
  test/integration/css-modules/test/index.test.js
  test/integration/scss-modules/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix ncc'd version of terser not being used by terser webpack plugin (#12252)
  packages/next/compiled/terser-webpack-plugin/worker.js
  packages/next/taskfile-ncc.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add namedRegex and routeKeys to routes manifest (#12250)
  packages/next/build/index.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/getserversideprops/test/index.test.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.6-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Downgrade node-notifier to fix Azure tests (#12261)
  package.json
  yarn.lock
Owners: @Timer

Update built-in-css-support.md (#12268)
  docs/basic-features/built-in-css-support.md
Owners: @Timer

v9.3.6-canary.16
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove documentMiddleware experimental option (#12218)
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/document-middleware/next.config.js
  test/integration/document-middleware/pages/_document.js
  test/integration/document-middleware/pages/another.js
  test/integration/document-middleware/pages/index.js
  test/integration/document-middleware/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
