Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

updating min nodejs requirement (#11181)
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

docs(ssr): req is an IncomingMessage instance, not HttpRequest (#11194)
  docs/basic-features/data-fetching.md
Owners: @Timer

Add support for baseUrl option in tsconfig and jsconfig (#11203)
  packages/next/build/webpack-config.ts
  test/integration/jsconfig-baseurl/components/world.js
  test/integration/jsconfig-baseurl/jsconfig.json
  test/integration/jsconfig-baseurl/next.config.js
  test/integration/jsconfig-baseurl/pages/hello.js
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/typescript-baseurl/components/world.tsx
  test/integration/typescript-baseurl/next.config.js
  test/integration/typescript-baseurl/pages/hello.tsx
  test/integration/typescript-baseurl/test/index.test.js
  test/integration/typescript-baseurl/tsconfig.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Example] with-passport (#10529)
  examples/with-passport/README.md
  examples/with-passport/components/form.js
  examples/with-passport/components/header.js
  examples/with-passport/components/layout.js
  examples/with-passport/lib/auth-cookies.js
  examples/with-passport/lib/hooks.js
  examples/with-passport/lib/iron.js
  examples/with-passport/lib/password-local.js
  examples/with-passport/lib/user.js
  examples/with-passport/package.json
  examples/with-passport/pages/api/login.js
  examples/with-passport/pages/api/logout.js
  examples/with-passport/pages/api/signup.js
  examples/with-passport/pages/api/user.js
  examples/with-passport/pages/index.js
  examples/with-passport/pages/login.js
  examples/with-passport/pages/profile.js
  examples/with-passport/pages/signup.js
Owners: @lfades, @Timer

Ensure hybrid AMP works correctly with SSG (#11205)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  test/integration/amphtml-ssg/pages/amp.js
  test/integration/amphtml-ssg/pages/hybrid.js
  test/integration/amphtml-ssg/pages/index.js
  test/integration/amphtml-ssg/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

update mocha example with yml configuration. (#11214)
  examples/with-mocha/.mocharc.yml
  examples/with-mocha/package.json
  examples/with-mocha/test/mocha.opts
Owners: @lfades, @Timer

Fix with-firebase-cloud-messaging example setup code (#10686)
  examples/with-firebase-cloud-messaging/static/firebase-messaging-sw.js
  examples/with-firebase-cloud-messaging/utils/webPush.js
Owners: @lfades, @Timer

Update wording of new data fetching methods recommendation (#11221)
  docs/api-reference/data-fetching/getInitialProps.md
Owners: @Timer

v9.3.2-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Updated Api Routes Middleware example to use getServerSideProps (#11128)
  examples/api-routes-middleware/pages/index.js
Owners: @lfades, @Timer

With Firebase Client-Side example (#11053)
  examples/with-firebase/.env.example
  examples/with-firebase/.gitignore
  examples/with-firebase/README.md
  examples/with-firebase/context/userContext.js
  examples/with-firebase/firebase/clientApp.js
  examples/with-firebase/next.config.js
  examples/with-firebase/now.json
  examples/with-firebase/package.json
  examples/with-firebase/pages/_app.js
  examples/with-firebase/pages/index.js
  examples/with-firebase/public/favicon.ico
  examples/with-firebase/public/zeit.svg
Owners: @lfades, @Timer

docs(example): Load basic-css example on codesandbox (#11227)
  examples/basic-css/README.md
Owners: @lfades, @Timer

remove mkdirp, bump fs-extra to 9.0.0 (#11251)
  package.json
  packages/next/build/index.ts
  packages/next/build/profiler/profiler.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/export/index.ts
  packages/next/export/worker.js
  packages/next/next-server/server/spr-cache.ts
  packages/next/package.json
  test/integration/create-next-app/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add support for paths in tsconfig.json and jsconfig.json (#11293)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
  packages/next/next-server/server/config.ts
  test/integration/jsconfig-paths/components/world.js
  test/integration/jsconfig-paths/jsconfig.json
  test/integration/jsconfig-paths/lib/a/api.js
  test/integration/jsconfig-paths/lib/b/api.js
  test/integration/jsconfig-paths/lib/b/b-only.js
  test/integration/jsconfig-paths/next.config.js
  test/integration/jsconfig-paths/pages/basic-alias.js
  test/integration/jsconfig-paths/pages/resolve-fallback.js
  test/integration/jsconfig-paths/pages/resolve-order.js
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/typescript-baseurl/components/hi.tsx
  test/integration/typescript-paths/components/world.tsx
  test/integration/typescript-paths/lib/a/api.ts
  test/integration/typescript-paths/lib/b/api.ts
  test/integration/typescript-paths/lib/b/b-only.ts
  test/integration/typescript-paths/next.config.js
  test/integration/typescript-paths/pages/basic-alias.tsx
  test/integration/typescript-paths/pages/resolve-fallback.tsx
  test/integration/typescript-paths/pages/resolve-order.tsx
  test/integration/typescript-paths/test/index.test.js
  test/integration/typescript-paths/tsconfig.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.2-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add test for single alias (#11296)
  test/integration/jsconfig-paths/components/hello.js
  test/integration/jsconfig-paths/jsconfig.json
  test/integration/jsconfig-paths/pages/single-alias.js
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/typescript-paths/components/hello.tsx
  test/integration/typescript-paths/pages/single-alias.tsx
  test/integration/typescript-paths/test/index.test.js
  test/integration/typescript-paths/tsconfig.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Numeric Separator Support for TypeScript (#11308)
  packages/next/build/babel/preset.ts
  packages/next/package.json
  test/integration/typescript-numeric-sep-exclusive/pages/index.js
  test/integration/typescript-numeric-sep-exclusive/test/index.test.js
  test/integration/typescript/pages/hello.tsx
  test/integration/typescript/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.2-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update GIP docs (#11303)
  docs/api-reference/data-fetching/getInitialProps.md
Owners: @Timer

Add custom amp optimizer and skip validation mode (#10705)
  packages/next/export/index.ts
  packages/next/export/worker.js
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/optimize-amp.ts
  packages/next/next-server/server/render.tsx
  packages/next/server/next-dev-server.ts
  test/integration/amphtml-custom-optimizer/next.config.js
  test/integration/amphtml-custom-optimizer/pages/dynamic.js
  test/integration/amphtml-custom-optimizer/pages/index.js
  test/integration/amphtml-custom-optimizer/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update handling for ENOENT from GSSP methods (#11302)
  packages/next/lib/coalesced-function.ts
  packages/next/next-server/server/render.tsx
  test/integration/getserversideprops/pages/enoent.js
  test/integration/getserversideprops/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

docs: clarify how to customize next/babel presets (#11316)
  docs/advanced-features/customizing-babel-config.md
Owners: @Timer

Fix assignment of props in WithApollo.getInitialProps (#11236)
  examples/with-apollo/lib/apollo.js
Owners: @lfades, @Timer

fix: typo in `isStaging` in `with-env` example (#11305)
  examples/with-env-from-next-config-js/next.config.js
Owners: @lfades, @Timer

Skip paths that are routed to a .d.ts file (#11322)
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
  test/integration/typescript-paths/components/alias-to-d-ts.d.ts
  test/integration/typescript-paths/components/alias-to-d-ts.tsx
  test/integration/typescript-paths/pages/alias-to-d-ts.tsx
  test/integration/typescript-paths/test/index.test.js
  test/integration/typescript-paths/tsconfig.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.2-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Upgrade loader-utils (#11324)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix warning for API routes with next export (#11330)
  errors/api-routes-static-export.md
  packages/next/export/index.ts
  test/integration/api-support/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.3.2-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Make sure to copy AMP SSG files during export (#11331)
  packages/next/export/index.ts
  test/integration/amphtml-ssg/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Just a small typo I think, right? (#11344)
  packages/next/next-server/lib/head.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

[docs] Mention our channels (#11336)
  docs/getting-started.md
Owners: @Timer

use records to init store (#11343)
  examples/with-react-relay-network-modern/lib/createEnvironment/client.js
  examples/with-react-relay-network-modern/lib/createEnvironment/server.js
  examples/with-react-relay-network-modern/pages/_app.js
Owners: @lfades, @Timer

Update data-fetching.md
  docs/basic-features/data-fetching.md
Owners: @Timer

Fix preview-mode docs/examples typo (#11345)
  docs/advanced-features/preview-mode.md
  examples/cms-datocms/pages/api/preview.js
  examples/cms-sanity/pages/api/preview.js
  examples/cms-takeshape/pages/api/preview.js
Owners: @Timer, @lfades

Update to prevent re-using workers for getStaticPaths in dev mode (#11347)
  packages/next/server/static-paths-worker.ts
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.2-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update AMP docs (#11353)
  docs/advanced-features/amp-support/introduction.md
Owners: @Timer

Add docs for multi zones (#11348)
  docs/advanced-features/multi-zones.md
  docs/manifest.json
  examples/with-zones/.gitignore
  examples/with-zones/README.md
  examples/with-zones/blog/now.json
  examples/with-zones/blog/public/static/nextjs2.png
  examples/with-zones/home/.gitignore
  examples/with-zones/home/now.json
  examples/with-zones/home/package.json
  examples/with-zones/home/public/static/nextjs.png
  examples/with-zones/home/public/static/zeit.png
  examples/with-zones/now.json
Owners: @Timer, @lfades

v9.3.2-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
