Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

v9.1.2-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix SPR always revalidating in production (#9091)
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Optimize script tags (#9048)
  packages/next/build/webpack-config.ts
  packages/next/pages/_document.tsx
  test/integration/chunking/test/index.test.js
  test/integration/css/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[using-preact] Update example to Preact X (#9079)
  examples/using-preact/README.md
  examples/using-preact/next.config.js
  examples/using-preact/package.json
  examples/using-preact/server.js
Owners: @lfades, @Timer

Fix language fallback in with-react-intl example (#8894)
  examples/with-react-intl/server.js
Owners: @lfades, @Timer

Update legacy _app context (#9083)
  packages/next/client/router.ts
  packages/next/client/with-router.tsx
  packages/next/pages/_app.tsx
  test/integration/build-stats-output/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Simplify with-noscript example (#9094)
  examples/with-noscript/components/Noscript.js
  examples/with-noscript/next.config.js
  examples/with-noscript/package.json
  examples/with-noscript/pages/index.js
  examples/with-noscript/public/static/img/angular.jpg
  examples/with-noscript/public/static/img/nextjs.png
  examples/with-noscript/public/static/img/reactjs.png
  examples/with-noscript/public/static/img/vuejs.png
Owners: @lfades, @Timer

Update with-react-toolbox example to use /public (#9099)
  examples/with-react-toolbox/README.md
  examples/with-react-toolbox/package.json
  examples/with-react-toolbox/pages/index.js
  examples/with-react-toolbox/public/theme.css
  examples/with-react-toolbox/theme.js
Owners: @lfades, @Timer

[using-inferno] Update inferno to v7.3, fix missing React.createContext function (#9038)
  examples/using-inferno/README.md
  examples/using-inferno/lib/inferno-compat.js
  examples/using-inferno/next.config.js
  examples/using-inferno/package.json
  examples/using-inferno/server.js
Owners: @lfades, @Timer

[with-typescript] Updated TypeScript example to use API routes (#9073)
  examples/with-typescript/components/Layout.tsx
  examples/with-typescript/components/ListItem.tsx
  examples/with-typescript/package.json
  examples/with-typescript/pages/api/users/[id].ts
  examples/with-typescript/pages/api/users/index.ts
  examples/with-typescript/pages/users/[id].tsx
  examples/with-typescript/pages/users/index.tsx
  examples/with-typescript/utils/sample-api.ts
  examples/with-typescript/utils/sample-data.ts
Owners: @lfades, @Timer

Fix SPR header name (#9104)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.2-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update to return JSON if data request (#9106)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/prerender/server.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.2-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add the example of Tailwind CSS with emotion (#8931)
  examples/with-tailwindcss-emotion/.babelrc
  examples/with-tailwindcss-emotion/README.md
  examples/with-tailwindcss-emotion/babel-plugin-macros.config.js
  examples/with-tailwindcss-emotion/next.config.js
  examples/with-tailwindcss-emotion/package.json
  examples/with-tailwindcss-emotion/pages/index.js
  examples/with-tailwindcss-emotion/tailwind.js
Owners: @lfades, @Timer

Remove inferno example (#9108)
  examples/using-inferno/README.md
  examples/using-inferno/lib/inferno-compat.js
  examples/using-inferno/next.config.js
  examples/using-inferno/package.json
  examples/using-inferno/pages/about.js
  examples/using-inferno/pages/index.js
  examples/using-inferno/server.js
Owners: @lfades, @Timer

Don't mark page as nextExport if it's SPR (#9113)
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.2-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update with-prefetching example (#9101)
  examples/with-prefetching/README.md
  examples/with-prefetching/components/Header.js
  examples/with-prefetching/components/Nav.js
  examples/with-prefetching/pages/_app.js
  examples/with-prefetching/pages/about.js
  examples/with-prefetching/pages/contact.js
  examples/with-prefetching/pages/features.js
  examples/with-prefetching/pages/index.js
Owners: @lfades, @Timer

Dedupe meta tags (#8960)
  packages/next/next-server/lib/head.tsx
  test/integration/client-navigation/pages/head-duplicate-default-keys.js
  test/integration/client-navigation/pages/head.js
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Refactor with-modal example (#9097)
  examples/with-portals/components/ClientOnlyPortal.js
  examples/with-portals/components/Modal.js
  examples/with-portals/components/Portal.js
  examples/with-portals/pages/_document.js
  examples/with-portals/pages/index.js
Owners: @lfades, @Timer

Refactor with-context-api example to use functional components (#9092)
  examples/with-context-api/README.md
  examples/with-context-api/components/Counter.js
  examples/with-context-api/components/CounterProvider.js
  examples/with-context-api/pages/_app.js
  examples/with-context-api/pages/about.js
  examples/with-context-api/pages/index.js
Owners: @lfades, @Timer

Make sure to update scope for page export declaration (#9115)
  packages/next/build/babel/plugins/next-page-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Allow manually setting amphtml (#9098)
  packages/next/pages/_document.tsx
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Support Concurrent Mode in Loadable (#9026)
  packages/next/build/webpack-config.ts
  packages/next/next-server/lib/loadable.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Warn on No Cache in CI (#9116)
  errors/no-cache.md
  packages/next/build/index.ts
  test/integration/build-warnings/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Update granular chunks to produce up to 25 chunks per entrypoint on high-complexity apps (#9129)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.1.2-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Netlify cms example (#8949)
  examples/with-netlify-cms/components/layout.js
  examples/with-netlify-cms/content/about.md
  examples/with-netlify-cms/content/blogPosts/2019-09-06_its_not_the_problem_you_want_to_solve_boiiiiii.md
  examples/with-netlify-cms/content/blogPosts/2019-09-06_why_did_the_chicken_cross_the_road.md
  examples/with-netlify-cms/content/home.md
  examples/with-netlify-cms/next.config.js
  examples/with-netlify-cms/package.json
  examples/with-netlify-cms/pages/about.js
  examples/with-netlify-cms/pages/blog/index.js
  examples/with-netlify-cms/pages/blog/post/[slug].js
  examples/with-netlify-cms/pages/index.js
  examples/with-netlify-cms/public/static/admin/config.yml
  examples/with-netlify-cms/public/static/admin/index.html
  examples/with-netlify-cms/public/static/img/1200px-whio_blue_duck_at_staglands_akatarawa_new_zealand.jpg
  examples/with-netlify-cms/public/static/img/puppy-and-adult-dog.jpg
  examples/with-netlify-cms/readme.md
Owners: @lfades, @Timer

Update Prerender Error Message (#9143)
  packages/next/export/worker.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade React dependencies (#9152)
  package.json
  packages/next/package.json
  test/integration/data/test/index.test.js
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test `react(-dom)@canary` Every 12 Hours (#9151)
  .circleci/config.yml
Owners: @Timer

fix apollo server initialization in api-routes-apollo-server-and-client example (#9137)
  examples/api-routes-apollo-server-and-client/pages/api/graphql.js
Owners: @lfades, @Timer

Upgrade Lockfile (#9158)
  package.json
  packages/next/package.json
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml-fragment-style/test/index.test.js
  test/integration/amphtml/test/index.test.js
  test/integration/styled-jsx-module/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Test React integration using `next` dist-tag (#9165)
  .circleci/config.yml
Owners: @Timer

Cache No-Revalidate Pages (#9170)
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add yarn check to tests (#9163)
  .circleci/config.yml
  package.json
  packages/next/package.json
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add WSL to Metadata (#9171)
  packages/next/package.json
  packages/next/telemetry/anonymous-meta.ts
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Record src directory usage with version (#9023)
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/server/next-dev-server.ts
  packages/next/telemetry/events/version.ts
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Purgecss to with-tailwindcss example (#9145)
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/postcss.config.js
  examples/with-tailwindcss/styles/index.css
Owners: @lfades, @Timer
