Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer

Remove `builds` from examples (#10417)
  examples/blog-starter/now.json
  examples/with-now-env/now.json
  examples/with-stencil/README.md
  examples/with-stencil/now.json
  examples/with-yarn-workspaces/README.md
  examples/with-yarn-workspaces/now.json
  examples/with-zones/blog/.gitignore
  examples/with-zones/blog/now.json
  examples/with-zones/home/.gitignore
  examples/with-zones/home/now.json
  examples/with-zones/now.json
  examples/z-experimental-next-news/now.json
Owners: @lfades, @Timer

Detect Invalid Pages Before Optimize (#10418)
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add support for rewriting to external resources (#10041)
  package.json
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/invalid-custom-routes/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

Modify splitChunksPlugin to give shared CSS chunks different names (#10408)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Re-enable `native-url` (#10419)
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update optimize event with static 404 status (#10420)
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

De-dupe paths returned in getStaticPaths (#10423)
  packages/next/build/utils.ts
  test/integration/prerender/pages/blog/[post]/index.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Make apollo HOC composable (#10422)
  examples/with-apollo/lib/apollo.js
  examples/with-apollo/pages/client-only.js
  examples/with-apollo/pages/index.js
Owners: @lfades, @Timer

Adjust README of example (#10426)
  examples/with-zones/README.md
Owners: @lfades, @Timer

Remove old ts-ignores and extra value in routeInfo (#10429)
  packages/next/next-server/lib/router/router.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to use existing util to de-dupe path check (#10431)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/export/worker.js
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/normalize-page-path.ts
  packages/next/next-server/server/require.ts
  packages/next/next-server/server/spr-cache.ts
  packages/next/server/on-demand-entry-handler.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make missing param error message more specific (#10433)
  packages/next/build/utils.ts
  test/integration/prerender-invalid-catchall-params/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update size-limit test to be more fine grained (#10434)
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update utm links in create-next-app (#10442)
  packages/create-next-app/templates/default/README.md
  packages/create-next-app/templates/default/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove unused dependency @types/babel-types (#10448)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add initial SSG fallback handling (#10424)
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/spr-cache.ts
  test/integration/dynamic-routing/test/index.test.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Redesign custom-routes output and show headers in output (#10444)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Make withApollo work with _app.js components (#8801)
  examples/with-apollo/lib/apollo.js
Owners: @lfades, @Timer

With threejs example (#10301)
  examples/with-three-js/README.md
  examples/with-three-js/package.json
  examples/with-three-js/pages/_app.js
  examples/with-three-js/pages/birds.js
  examples/with-three-js/pages/boxes.js
  examples/with-three-js/pages/index.css
  examples/with-three-js/pages/index.js
  examples/with-three-js/public/glb/flamingo.glb
  examples/with-three-js/public/glb/parrot.glb
  examples/with-three-js/public/glb/stork.glb
Owners: @lfades, @Timer

v9.2.2-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add paths field for unstable_getStaticPaths (#10454)
  packages/next/build/utils.ts
  packages/next/next-server/server/load-components.ts
  test/integration/catches-missing-getStaticProps/pages/[slug].js
  test/integration/dynamic-routing/pages/p1/p2/predefined-ssg/[...rest].js
  test/integration/prerender-invalid-catchall-params/pages/[...slug].js
  test/integration/prerender-invalid-paths/pages/[foo]/[post].js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/pages/user/[user]/profile.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add error message when rewriting to dynamic SSG page (#10458)
  packages/next/next-server/server/render.tsx
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.2.2-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Upgrade koa router in example (#10469)
  examples/custom-server-koa/package.json
  examples/custom-server-koa/server.js
Owners: @lfades, @Timer

get the http2 example to work (#10470)
  examples/with-http2/next.config.js
Owners: @lfades, @Timer

Make Missing Prerender Manifest Fatal (#10485)
  packages/next/build/index.ts
  packages/next/next-server/server/spr-cache.ts
  test/integration/error-in-error/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update next-server routes order for expected priority (#10326)
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/redirect-override.js
  test/integration/custom-routes/test/index.test.js
  test/integration/invalid-multi-match/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add Stripe TypeScript Example (#10482)
  examples/with-stripe-typescript/.env.example
  examples/with-stripe-typescript/.gitignore
  examples/with-stripe-typescript/README.md
  examples/with-stripe-typescript/components/CheckoutForm.tsx
  examples/with-stripe-typescript/components/CustomDonationInput.tsx
  examples/with-stripe-typescript/components/ElementsForm.tsx
  examples/with-stripe-typescript/components/Layout.tsx
  examples/with-stripe-typescript/components/PrintObject.tsx
  examples/with-stripe-typescript/config/index.ts
  examples/with-stripe-typescript/next-env.d.ts
  examples/with-stripe-typescript/next.config.js
  examples/with-stripe-typescript/now.json
  examples/with-stripe-typescript/package.json
  examples/with-stripe-typescript/pages/api/checkout_sessions/[id].ts
  examples/with-stripe-typescript/pages/api/checkout_sessions/index.ts
  examples/with-stripe-typescript/pages/api/payment_intents/index.ts
  examples/with-stripe-typescript/pages/api/webhooks/index.ts
  examples/with-stripe-typescript/pages/donate-with-checkout.tsx
  examples/with-stripe-typescript/pages/donate-with-elements.tsx
  examples/with-stripe-typescript/pages/index.tsx
  examples/with-stripe-typescript/pages/result.tsx
  examples/with-stripe-typescript/tsconfig.json
  examples/with-stripe-typescript/utils/api-helpers.ts
  examples/with-stripe-typescript/utils/stripe-helpers.ts
Owners: @lfades, @Timer

Update README.md (#10487)
  examples/with-stripe-typescript/README.md
Owners: @lfades, @Timer

Use filter for create-next-app template (#10496)
  packages/create-next-app/templates/default/pages/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade next-transpile-modules in workspace examples (#10492)
  examples/with-yarn-workspaces/packages/web-app/next.config.js
  examples/with-yarn-workspaces/packages/web-app/package.json
Owners: @lfades, @Timer

Builds with Warnings Still Complete (#10498)
  packages/next/build/index.ts
  test/integration/telemetry/pages/warning.skip
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update deploy doc to surface ZEIT Now / DPS (#10412)
  docs/deployment.md
Owners: @Timer

SSG Preview Mode (#10459)
  package.json
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/crypto-utils.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/spr-cache.ts
  packages/next/package.json
  packages/next/server/hot-reloader.ts
  packages/next/server/next-dev-server.ts
  test/integration/prerender-preview/pages/api/preview.js
  test/integration/prerender-preview/pages/api/reset.js
  test/integration/prerender-preview/pages/index.js
  test/integration/prerender-preview/test/index.test.js
  yarn.lock
Owners: @Timer, @timneutkens, @ijjk, @lfades

v9.2.2-canary.16
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix typo in ignoring-typescript-errors.md (#10499)
  docs/api-reference/next.config.js/ignoring-typescript-errors.md
Owners: @Timer

[Docs] Apply updates based on feedback (#10352)
  docs/advanced-features/custom-document.md
  docs/advanced-features/dynamic-import.md
  docs/api-reference/next.config.js/build-target.md
  docs/api-reference/next/link.md
  docs/api-routes/dynamic-api-routes.md
  docs/getting-started.md
  docs/routing/dynamic-routes.md
Owners: @Timer
