Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @Timer, @ijjk, @lfades

Make Azure CI (sometimes) work (#8230)
  package.json
  yarn.lock
Owners: none

Update README.md
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Enhancement]: Update README buttons (#8235)
  README-zh-CN.md
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update to check browserName instead of browser.log (#8234)
  test/integration/app-document/test/csp.js
  test/integration/basic/test/dynamic.js
  test/integration/production/test/index.test.js
  test/jest-environment.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

[WIP] Add temp secret for PR Stats Action (#8248)
  .github/main.workflow
Owners: none

Experimental: Serverless Trace target (#8246)
  package.json
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/export/index.js
  test/integration/external-assets/next.config.js
  test/integration/external-assets/pages/about/history.js
  test/integration/external-assets/test/index.test.js
  test/integration/serverless-trace/components/hello.js
  test/integration/serverless-trace/next.config.js
  test/integration/serverless-trace/pages/abc.js
  test/integration/serverless-trace/pages/api/hello.js
  test/integration/serverless-trace/pages/api/posts/[id].js
  test/integration/serverless-trace/pages/dynamic-two.js
  test/integration/serverless-trace/pages/dynamic.js
  test/integration/serverless-trace/pages/fetch.js
  test/integration/serverless-trace/pages/index.js
  test/integration/serverless-trace/pages/some-amp.js
  test/integration/serverless-trace/public/hello.txt
  test/integration/serverless-trace/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add warning for API export (#8250)
  packages/next/export/index.js
  test/integration/api-support/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.4-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Define generic for _app state (#8256)
  packages/next/pages/_app.tsx
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Compression documentation (#8247)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove propertyFields from the client router (#8219)
  packages/next/client/router.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Swallow test process kill errors on win32 (#8260)
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Implement `experimentalPrerender` option (#7983)
  packages/next-server/lib/constants.ts
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/utils.ts
  packages/next-server/server/render.tsx
  packages/next-server/types/index.d.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/flying-shuttle.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/client/index.js
  packages/next/export/index.js
  packages/next/export/worker.js
  test/integration/prerender/next.config.js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/normal.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/test/index.test.js
  test/integration/size-limit/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add warning for invalid href being passed to router (#8231)
  errors/invalid-href-passed.md
  packages/next-server/lib/router/router.ts
  packages/next/client/link.tsx
  test/integration/invalid-href/pages/first.js
  test/integration/invalid-href/pages/index.js
  test/integration/invalid-href/pages/second.js
  test/integration/invalid-href/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Migrate amp-toolbox-optimizer to @ampproject/toolbox-optimizer (#8275)
  packages/next-server/package.json
  packages/next-server/server/optimize-amp.ts
  packages/next/build/webpack-config.ts
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Handle backslashes in exportedFiles (#8277)
  packages/next/build/index.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update README.md (#8282)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Bugfix: Babel targets value can be a String (#8268)
  packages/next/build/babel/preset.ts
  test/integration/babel-custom/fixtures/targets-browsers/.babelrc
  test/integration/babel-custom/fixtures/targets-browsers/pages/index.js
  test/integration/babel-custom/fixtures/targets-string/.babelrc
  test/integration/babel-custom/fixtures/targets-string/pages/index.js
  test/integration/babel-custom/test/.babelrc
  test/integration/babel-custom/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Experimental: Granular build chunking (#7696)
  packages/next-server/server/config.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/client/page-loader.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update handling of ref in next/link (#8254)
  packages/next/README.md
  packages/next/client/link.tsx
  test/integration/link-ref/pages/child-ref-func.js
  test/integration/link-ref/pages/child-ref.js
  test/integration/link-ref/pages/class.js
  test/integration/link-ref/pages/functional.js
  test/integration/link-ref/pages/index.js
  test/integration/link-ref/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.0.4-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Simplify mobx example (#8269)
  examples/with-mobx/pages/_app.js
  examples/with-mobx/store.js
Owners: @lfades

Remove cache clearing from static-checker (#8290)
  packages/next/build/static-checker.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Run migration script for GitHub Actions (#8305)
  .github/main.workflow
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Owners: none

Revert "Run migration script for GitHub Actions (#8305)" (#8307)
  .github/main.workflow
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Owners: none

Adds user timing marks and measures for hydration/render (#8069)
  package.json
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/utils.ts
  packages/next/client/index.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Document poweredByHeader option
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add info about removing @zeit/next-typescript on .babelrc (#8321)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Remove 405 from render method (#8323)
  packages/next-server/server/next-server.ts
  test/integration/api-support/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix layout example building (#8326)
  examples/with-dynamic-app-layout/pages/_app.js
Owners: @lfades

v9.0.4-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-server/package.json
  packages/next/package.json
Owners: @timneutkens, @Timer, @ijjk, @lfades

Only add flying-shuttle code when enabled (#8330)
  packages/next-server/lib/router/router.ts
  packages/next/build/webpack-config.ts
  packages/next/client/index.js
  packages/next/client/page-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update custom app example in README (#8320)
  packages/next/README.md
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add config/test app for new PR stats set-up (#8317)
  test/.stats-app/package.json
  test/.stats-app/pages/index.js
  test/.stats-app/pages/link.js
  test/.stats-app/pages/routerDirect.js
  test/.stats-app/pages/withRouter.js
  test/.stats-app/stats-config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Show warning if next export detects an API route (#8257)
  errors/api-routes-static-export.md
  packages/next/export/index.js
  test/integration/api-support/test/index.test.js
  test/integration/export/next.config.js
  test/integration/export/pages/api/data.js
  test/integration/export/test/api-routes.js
  test/integration/export/test/index.test.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Remove extra variable (#8329)
  packages/next-server/lib/amp.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Followup optimizations for new experimentalPrerender (#8287)
  packages/next-server/lib/router/router.ts
  packages/next-server/server/render.tsx
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/client/index.js
  test/.stats-app/stats-config.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Prevent false positive experimental warning (#8284)
  packages/next-server/server/config.ts
  test/integration/config-experimental-warning/pages/index.js
  test/integration/config-experimental-warning/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add warning for missing <Head> (#8276)
  errors/next-head-count-missing.md
  packages/next/client/head-manager.js
Owners: @Timer, @timneutkens, @ijjk, @lfades

Escape output names for modern bundles to prevent replacing (#8232)
  packages/next/build/webpack-config.ts
  test/integration/dynamic-routing/next.config.js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens
/errors/                  @Timer
