Repository FukudaYoshiro/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Timer, @timneutkens, @ijjk, @lfades

Update preview-mode.md (#12287)
  docs/advanced-features/preview-mode.md
Owners: @Timer

New logging output (#12169)
  packages/next/build/output/log.ts
  packages/next/build/output/store.ts
  packages/next/cli/next-start.ts
  packages/next/next-server/server/config.ts
  test/integration/cli/test/index.test.js
  test/integration/config-experimental-warning/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Enable NEXT_PUBLIC_ env var support (#12283)
  packages/next/next-server/server/config.ts
  test/integration/process-env-stub/next.config.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Fix wildcard paths causing infinite resolving (#12318)
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
  packages/next/compiled/compression/index.js
  packages/next/compiled/debug/LICENSE
  packages/next/compiled/debug/index.js
  packages/next/compiled/debug/package.json
  packages/next/compiled/http-proxy/index.js
  packages/next/compiled/send/index.js
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/jsconfig-paths/.gitignore
  test/integration/jsconfig-paths/jsconfig.json
  test/integration/jsconfig-paths/node_modules/mypackage/myfile.js
  test/integration/jsconfig-paths/pages/wildcard-alias.js
  test/integration/jsconfig-paths/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

Fix typo (#12224)
  examples/with-firebase-authentication-serverless/utils/auth/user.js
Owners: @lfades, @Timer

Update jsconfig paths fix for windows (#12328)
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update with-tailwindcss to use Tailwind CSS v1.4.0's new built-in purge option (#12327)
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/postcss.config.js
  examples/with-tailwindcss/styles/index.css
  examples/with-tailwindcss/tailwind.config.js
Owners: @lfades, @Timer

[Docs] Add link to relative title in postcss docs (#12330)
  docs/advanced-features/customizing-postcss-config.md
Owners: @Timer

v9.3.7-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Polyfill fetch by default (#12353)
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/worker.js
  packages/next/next-server/server/next-server.ts
  packages/next/server/static-paths-worker.ts
  test/integration/fetch-polyfill/api-server.js
  test/integration/fetch-polyfill/pages/getinitialprops.js
  test/integration/fetch-polyfill/pages/ssr.js
  test/integration/fetch-polyfill/pages/static.js
  test/integration/fetch-polyfill/serverless-server.js
  test/integration/fetch-polyfill/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Skip LogBox tests to fix CI
  test/acceptance/ReactRefresh.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

[Fast Refresh] Skip Environment Check (#12359)
  packages/next/build/webpack/loaders/next-babel-loader.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Upgrade `source-map` package (#12355)
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/middleware.ts
  packages/react-refresh-utils/internal/helpers.ts
  test/acceptance/ReactRefresh.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

Add URL escaping for custom headers (#12031)
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

Rectified typo (#12366)
  examples/with-userbase/README.md
Owners: @lfades, @Timer

Only monospace numbers for new overlay (#12394)
  packages/react-dev-overlay/src/internal/container/Errors.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Fast Refresh] Click to open in editor (#12397)
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/internal/components/CodeFrame/CodeFrame.tsx
  packages/react-dev-overlay/src/internal/components/CodeFrame/styles.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
  packages/react-dev-overlay/src/internal/helpers/launchEditor.ts
  packages/react-dev-overlay/src/middleware.ts
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

v9.3.7-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-mdx/package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @Timer, @timneutkens, @ijjk, @lfades

docs(examples): upgrade next-iron-session to v4 (#12398)
  examples/with-iron-session/README.md
  examples/with-iron-session/lib/session/index.js
  examples/with-iron-session/package.json
Owners: @lfades, @Timer

Add docs for next dev and next start (#12392)
  docs/api-reference/cli.md
Owners: @Timer

Add cors example and update API routes docs (#12390)
  docs/api-routes/api-middlewares.md
  docs/api-routes/dynamic-api-routes.md
  docs/api-routes/introduction.md
  docs/api-routes/response-helpers.md
  examples/api-routes-cors/README.md
  examples/api-routes-cors/lib/init-middleware.js
  examples/api-routes-cors/package.json
  examples/api-routes-cors/pages/api/cors.js
  examples/api-routes-cors/pages/index.js
Owners: @Timer, @lfades

Use fs.promises instead of promisify (#12026)
  packages/next/build/index.ts
  packages/next/build/is-writeable.ts
  packages/next/build/plugins/collect-plugins.ts
  packages/next/build/webpack/plugins/unlink-removed-pages-plugin.ts
  packages/next/build/write-build-id.ts
  packages/next/export/index.ts
  packages/next/export/worker.js
  packages/next/lib/file-exists.ts
  packages/next/lib/recursive-copy.ts
  packages/next/lib/recursive-delete.ts
  packages/next/lib/recursive-readdir.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/next-server/server/require.ts
  packages/next/next-server/server/spr-cache.ts
  packages/next/server/next-dev-server.ts
Owners: @timneutkens, @Timer, @ijjk, @lfades

Add docs for Router.back and Router.reload (#12396)
  docs/api-reference/next/router.md
Owners: @Timer

Minor docs edits for router API (#12404)
  docs/api-reference/next/router.md
Owners: @Timer

Document persisting cache with Netlify Plugin (#12242)
  errors/no-cache.md
Owners: @Timer

Support distDir with trailing slash for static files (#10592)
  test/integration/trailing-slash-dist/next.config.js
  test/integration/trailing-slash-dist/pages/index.js
  test/integration/trailing-slash-dist/test/index.test.js
Owners: @timneutkens, @Timer, @ijjk, @lfades

example: new with-stitches (#11924)
  examples/with-stitches/.gitignore
  examples/with-stitches/README.md
  examples/with-stitches/package.json
  examples/with-stitches/pages/_app.js
  examples/with-stitches/pages/_document.js
  examples/with-stitches/pages/css.js
  examples/with-stitches/pages/index.js
  examples/with-stitches/public/favicon.ico
  examples/with-stitches/public/zeit.svg
Owners: @lfades, @Timer

Update @ampproject/toolbox-optimizer to v2.3.0 (#12039)
  packages/next/package.json
  test/integration/amphtml-custom-optimizer/next.config.js
  test/integration/amphtml-custom-optimizer/test/index.test.js
  yarn.lock
Owners: @timneutkens, @Timer, @ijjk, @lfades

[Docs] Add documentation for Router.prefetch (#12333)
  docs/api-reference/next/router.md
Owners: @Timer

Updated example template in contributing.md (#11968)
  contributing.md
Owners: @Timer

gitignore graphql-let generated .d.ts files (#12381)
  examples/with-typescript-graphql/.gitignore
Owners: @lfades, @Timer

[Examples] Improve Contentful example starter and docs (#12351)
  examples/cms-contentful/README.md
  examples/cms-contentful/contentful/export.json
  examples/cms-contentful/contentful/setup.js
  examples/cms-contentful/docs/content-entry-preview.jpg
  examples/cms-contentful/docs/content-entry-publish.jpg
  examples/cms-contentful/docs/content-model-overview.jpg
  examples/cms-contentful/docs/content-preview-setup.jpg
  examples/cms-contentful/package.json
Owners: @lfades, @Timer

Improve code quality of _document (#12342)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @Timer, @ijjk, @lfades

Update `with-firebase-hosting[-and-typescript]` examples (#11685)
  examples/with-firebase-hosting-and-typescript/.firebaserc
  examples/with-firebase-hosting-and-typescript/.gitignore
  examples/with-firebase-hosting-and-typescript/README.md
  examples/with-firebase-hosting-and-typescript/firebase.json
  examples/with-firebase-hosting-and-typescript/package.json
  examples/with-firebase-hosting-and-typescript/src/app/components/App.tsx
  examples/with-firebase-hosting-and-typescript/src/app/components/Header.tsx
  examples/with-firebase-hosting-and-typescript/src/app/next-env.d.ts
  examples/with-firebase-hosting-and-typescript/src/app/next.config.js
  examples/with-firebase-hosting-and-typescript/src/app/pages/about.tsx
  examples/with-firebase-hosting-and-typescript/src/app/pages/index.tsx
  examples/with-firebase-hosting-and-typescript/src/app/tsconfig.json
  examples/with-firebase-hosting-and-typescript/src/app/tslint.json
  examples/with-firebase-hosting-and-typescript/src/functions/index.ts
  examples/with-firebase-hosting-and-typescript/src/functions/tsconfig.json
  examples/with-firebase-hosting-and-typescript/src/functions/tslint.json
  examples/with-firebase-hosting/.gitignore
  examples/with-firebase-hosting/README.md
  examples/with-firebase-hosting/firebase.json
  examples/with-firebase-hosting/firebaseFunctions.js
  examples/with-firebase-hosting/package.json
  examples/with-firebase-hosting/public/.gitignore
  examples/with-firebase-hosting/src/app/next.config.js
  examples/with-firebase-hosting/src/app/public/placeholder.html
  examples/with-firebase-hosting/src/components/App.jsx
  examples/with-firebase-hosting/src/components/Header.jsx
  examples/with-firebase-hosting/src/functions/.babelrc
  examples/with-firebase-hosting/src/functions/index.js
  examples/with-firebase-hosting/src/next.config.js
  examples/with-firebase-hosting/src/pages/about.jsx
  examples/with-firebase-hosting/src/pages/index.jsx
Owners: @lfades, @Timer

example: antd-4 with built-in css support (#11837)
  examples/with-ant-design/.babelrc
  examples/with-ant-design/next.config.js
  examples/with-ant-design/package.json
  examples/with-ant-design/pages/_app.js
  examples/with-ant-design/pages/index.js
  examples/with-ant-design/styles/global.css
  examples/with-ant-design/styles/vars.css
Owners: @lfades, @Timer

[Docs] Move example links (#12326)
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
Owners: @Timer

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                         @Timer
/packages/                @timneutkens @Timer @ijjk @lfades
/examples/                @lfades @Timer
/test/                    @timneutkens @Timer @ijjk @lfades
/bench/                   @timneutkens @Timer
/errors/                  @Timer
